<% 
  currentAgent = @agent
  if currentAgent.present?
    agentID = currentAgent.id
    agentName = "(" + Utility.getAgentFullName(currentAgent) + ")"
  else
    agentID = Constants::BLANK_VALUE
    agentName = Constants::BLANK_VALUE
  end  
%>
<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%=Constants::CREDIT_FEE_SETUP_ROLE%> <%= agentName %></h3></div></div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
         <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
          <div class="x_content" style="padding: 0px!important;">
            <div class="col-md-12 col-sm-12 col-xs-12"> 
              
              <%= form_tag("/CreditSetupDetails", method: "post", :id => "CreditSetupDetails", :name => "CreditSetupDetails") do %>
                <div class="search">
                  <div class="searchbox" style="width: 200px;">
                    <%= select_tag "whichMF", options_for_select(Constants::CREDIT_FEE_SEL_USER_TYPE_OPT, params[:whichMF]),:class=>'form-control'%>
                  </div>
                  <div class="searchbox" style="width: 200px;">
                    <%= text_field_tag :mfPhone, params[:mfPhone], :class =>'form-control number', :maxlength => 9, :placeholder => "Phone number" %>
                  </div>
                  <div class="searchbox">
                    <%= submit_tag "Get Details", :onclick => "return validateFeeDetailsForm()", class: 'btn btn-success btn-round', style: "margin: 0px;" %>
                  </div>
                </div>  
              <% end %>

              <% if @availableCredits.present? %>

                <%= form_tag("/CreditSetupConfirm", method: "post", id: 'creditSetupForm', :name => "creditSetupForm", :style => "margin-top: 20px;") do %>
                  
                  <%= hidden_field_tag "whichMF" %>
                  <%= hidden_field_tag "agentID", agentID %>

                  <div  class="table-responsive" id="parent" style="height: 330px;">
                    <table id="fixTable" class="table">

                      <thead>
                        <tr>
                          <th class="text-left">Credit Amount</th>
                          <th class="text-center">Approval Required</th>
                          <th class="text-center">Credit Fee</th>
                        </tr>
                      </thead>
                    
                      <tbody>
                        <% count = 0 %>
                        <% @availableCredits.each do |credit| %>
                          <% count = count + 1 %>
                          <tr>
                            <td class="text-left" style="width: 50%"><%= hidden_field_tag "amount"+count.to_s, credit.amount %><%= Utility.getFormatedAmount(credit.amount)%></h5></td>
                            <td class="text-left" style="width: 20%"><%= select_tag "approvalReq"+count.to_s, options_for_select(Constants::CREDIT_FEE_SETUP_SELECT_OPT,credit.approval_req), :class=>'form-control approval', :style=>CreditFeeConfig.getColor(credit.approval_req)%></h5></td>
                            <td class="text-center" style="width: 20%"><%= text_field_tag 'creditFee'+count.to_s, nil,:class=>'form-control decimal',:maxlength=>"9",:value =>TxnHeader.my_money(credit.fee), :style=>'text-align: right', :required => true%></td>
                          </tr>
                        <% end %>
                        <%= hidden_field_tag "count",count%>
                      </tbody>
                    
                    </table>
                  </div>
                
                  <div class="col-md-12 text-center">
                    <%= submit_tag Constants::SAVE_BTN_LABEL, :onclick => "return validate()" , class: 'btn btn-success btn-round' %>
                  </div> 
              
                <% end %>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>  
  
  </div>
</div>

<script type="text/javascript">
  var detailsFormObj  = document.CreditSetupDetails;
  var feeFormObj = document.creditSetupForm;

  function validate(){
    if(!formValidation('creditSetupForm')){
      return false;
    } else {
      feeFormObj.whichMF.value = detailsFormObj.whichMF.value;
    }
  }

  function validateFeeDetailsForm(){
    if(!formValidation('CreditSetupDetails'))return false;
  }
  
  function setDefaultValue(){
    var userType = $("#whichMF").val();    
    managerMfPhoneDiv(userType);
  }

  $("#whichMF").change(function(e){
    var userType = $(this).val();    
    managerMfPhoneDiv(userType);
  });

  function managerMfPhoneDiv(userType){
    if( userType == "<%=Constants::SINGLE_MF_RADIO_LABEL%>" ){
        $('#mfPhone').prop('required', 'true');
        $('#mfPhone').removeAttr('disabled');
    } else {
        $('#mfPhone').removeAttr('required');
        $('#mfPhone').prop('disabled', 'true');
    }
  }
  setDefaultValue();
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>