

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
       
        <h3>List of Applicants Questions</h3>

      </div>
      <div class="title_right">
      </div>
    </div>

<style type="text/css">
#parent1 {
    height: 760px;
}
</style>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <div  class="table-responsive" id="parent1">           
              <table id="fixTable" class="table">
                <thead>
                  <tr>
                   <th class="text-left">Question</th>
                   <th class="text-left">Response</th>
				   <th class="text-left">Score</th>
                  </tr>
                </thead>
                
                <tbody>

                        <tr>
                        <td class="text-left">1.Are you a self-starter?</h5></td>
                         <td class="text-left"><%= @questions.qns1 %></td>
						 <td class="text-left">5</td>
                       </tr>
                      <tr>
                        <td class="text-left">2.Do you understand this is a commission based business and not a salary?</h5></td>
                        <td class="text-left"><%= @questions.qns2 %></td>
						<td class="text-left">5</td>
                      </tr>

                      <tr>
                        <td class="text-left">3.Do you understand that in this business the harder you work, the more you qill earn?</h5></td>
                         <td class="text-left"><%= @questions.qns3 %></td>
						 <td class="text-left">5</td>
                        </tr>

                      <tr>
                        <td class="text-left">4.Are you ready to make tough decisions on your own?</h5></td>
                        <td class="text-left"><%= @questions.qns4 %></td>
						<td class="text-left">5</td>
                      </tr>

                      <tr>
                          <td class="text-left">5..Do you know when you're in over your head and need outside help?</h5></td>
                         <td class="text-left"><%= @questions.qns5 %></td>
						 <td class="text-left">5</td>
                      </tr>

                        <tr>
                        <td class="text-left">6.Are you willing to seek outside help? Do you know where to find it</h5></td>
                         <td class="text-left"><%= @questions.qns6 %></td>
						 <td class="text-left">5</td>
                       </tr>


                       <tr>
                          <td class="text-left">7.Can you deal effectively with other people?</h5></td>
                         <td class="text-left"><%= @questions.qns7 %></td>
						 <td class="text-left">5</td>
                        </tr>

                    <tr>
                        <td class="text-left">8.Are you an effective leader, motivator, and communicator?</h5></td>
                         <td class="text-left"><%= @questions.qns8 %></td>
						 <td class="text-left">5</td>
                    </tr>


                      <tr>
                          <td class="text-left">9.Are you willing to delegate authority and responsibility to others?</h5></td>
                         <td class="text-left"><%= @questions.qns9 %></td>
						 <td class="text-left">5</td>
                       </tr>

                      <tr>
                        <td class="text-left">10.Can you deal effectively with other people?</h5></td>
                         <td class="text-left"><%= @questions.qns10 %></td>
						 <td class="text-left">5</td>
                       </tr>

                      <tr>
                          <td class="text-left">11.Do you project a professional image to your clients and customers?</h5></td>
                         <td class="text-left"><%= @questions.qns11 %></td>
						 <td class="text-left">5</td>
                      </tr>

                      <tr>
                        <td class="text-left">12.Can people trust what you say?</h5></td>
                         <td class="text-left"><%= @questions.qns12 %></td>
						 <td class="text-left">5</td>
                      </tr>

                      <tr>
                          <td class="text-left">13.Can people trust you to do what you say you will do?</h5></td>
                         <td class="text-left"><%= @questions.qns13 %></td>
						 <td class="text-left">5</td>
                       </tr>

                      <tr>
                        <td class="text-left">14.Do you have managerial experience?</h5></td>
                         <td class="text-left"><%= @questions.qns1 %></td>
						 <td class="text-left">5</td>
                       </tr>

                      <tr>
                          <td class="text-left">15.Do you have the technical skills you will need to operate your particular business?</h5></td>
                         <td class="text-left"><%= @questions.qns15 %></td>
						 <td class="text-left">5</td>
                       </tr>

                      <tr>
                        <td class="text-left">16.Do you have the business skills you need to run a business?</h5></td>
                        <td class="text-left"><%= @questions.qns16 %></td>
						<td class="text-left">5</td>
                      </tr>

                      <tr>
                          <td class="text-left">17.Do you know your strengths and weaknesses?</h5></td>
                         <td class="text-left"><%= @questions.qns17 %></td>
						 <td class="text-left">5</td>
                       </tr>

                      <tr>
                        <td class="text-left">18.Do you have business partners or advisors who can compensate for your weaknesses?</h5></td>
                         <td class="text-left"><%= @questions.qns18 %></td>
						 <td class="text-left">5</td>
                       </tr>

                         <tr>
                          <td class="text-left">19.Have you worked in a business like the one you want to start?</h5></td>
                         <td class="text-left"><%= @questions.qns19 %></td>
						 <td class="text-left">5</td>
                        </tr>

                         <tr>
                        <td class="text-left">20.Have you researched your business thoroughly?</h5></td>
                         <td class="text-left"><%= @questions.qns20 %></td>
						 <td class="text-left">5</td>
                         </tr>

                         <tr>
                          <td class="text-left">21.Are you a good listener?</h5></td>
                         <td class="text-left"><%= @questions.qns21 %></td>
						 <td class="text-left">5</td>
                        
                      </tr>
             
                </tbody>
              </table>
            </div>  
            <!-- </form> -->

         <div class="text-center">
            <%= link_to 'Back', applicants_show_path , class: "btn btn-success btn-round" %>
          
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  $(document).ready(function() {
    $(":input").inputmask();
  });
  //jquery.inputmask

</script>
<footer>
  <div class="pull-right">

  </div>
  <div class="clearfix"></div>
</footer>

