<div class="right_col" role="main">
  <div class="">
   
    <div class="page-title">
      <div class="title_left"><h3>Service Fee</h3></div>
      <div class="title_right"><div class="text-right"><%= link_to 'New Service Fee', 'ServiceFeesNew', class: "btn btn-success btn-round"%></div></div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="table-responsive" id="parent">
               
              <table id="fixTable" class="table">
                
                <thead>
                  <tr>
                    <th class="text-left">Service</th>
                    <th class="text-left">Company</th>
                    <th class="text-left">Commission Payer</th>
                    <th class="text-center">Applicable From</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <% if @serviceFeesList.present? %>
                    
                    <% @serviceFeesList.each do |serviceFee| %>
                      <tr>
                        <td class="text-left"><%= Utility.getServiceTypeDisplayValue(serviceFee.service_type)%></h5></td>
                        <td class="text-left"><%= Utility.getServiceTypeDisplayValue(serviceFee.sub_type) %></td>
                        <td class="text-left"><%= ServiceFeesMaster.getCommPayer(serviceFee.comm_payer) %></td>
                        <td class="text-center"><%= Utility.getFormatedDate(serviceFee.effective_date.to_s) %></td>
                        <td class="text-center"><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, "#", onclick: "showDetails(#{serviceFee.id})"%></td>
                      </tr>
                    <% end %>

                  <% else %>  
                    <tr><td colspan="4" class="text-left"><%= Constants::NO_RECORD_FOUND_LABEL %></h5></td></tr>
                  <% end %>
                </tbody>

              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  function showDetails(serviceFeesMasterID){
    var name = ["isUpdate",  "showDetails", "serviceFeesMasterID"];
    var values = ["true", "true", serviceFeesMasterID];
    openWindowWithPost("/ServiceFeesDetails", name, values);
  }
</script>