<% aggregatorTotalSlabs = params[Constants::AGGREGATOR_HTML_NAME_LABEL.to_s + "TotalSlabs"] %>
<% endUserTotalSlabs = params[Constants::END_USER_HTML_NAME_LABEL.to_s + "TotalSlabs"] %>
<% isFormDisable = ServiceFeesMaster.isFormDisable(params) %>

<style type="text/css">
  .serviceFeeTable {
    width: 100%; margin: 0 auto;
  }

  .serviceFeeTable tr th {
    background: #1abb9c;
    padding: 10px 15px;
    color: #fff
  }

  .tableinttitle {
    font-size: 16px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .serviceFeeTable tr td {
    padding: 5px 15px; 
    background: #eee;
    border-bottom: 1px solid #ddd; }

  .serviceFeeTable tr td:hover {
    background: transparent;
  }

  .selectTag {
    width: 117px;
  }

  .slab {
    background: rgba(38, 185, 154, .7)!important; 
    color: #fff!important;
  }
  
  .removeIcon{
    color: red;
    margin: 0;
    font-size: 22px;
  }
  .searchbox{
    width: 168px;
  }
</style>

<div class="right_col" role="main">
  <div class="">
   
    <div class="page-title">
      <div class="title_left"><h3><%= Constants::SERVICE_FEE_ROLE %></h3></div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
          <div class="x_content" style="padding: 0px!important;">

            <%= form_tag("/ServiceFeesSetup", method: "post", id: 'serviceFeesSetupForm', name: 'serviceFeesSetupForm') do %>

              <%= hidden_field_tag "userAction"%>
              <%= hidden_field_tag Constants::AGGREGATOR_HTML_NAME_LABEL.to_s + "TotalSlabs"%>
              <%= hidden_field_tag Constants::END_USER_HTML_NAME_LABEL.to_s + "TotalSlabs"%>
              <%= hidden_field_tag "isUpdate"%>
              <%= hidden_field_tag "serviceFeesMasterID"%>
              
              <div class="search" style="background: #1abb9c!important; color: #fff;">

                <div class="searchbox">
                  <label>Service Type</label>
                  <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %> 
                    <%= select_tag "serviceType", options_for_select(Constants::SERVICE_FEE_SETUP_SER_TYPE_OPT, params[:serviceType]),:class=>'form-control' %>
                  <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>
                    <%= select_tag "serviceType", options_for_select(UgandaConstants::SERVICE_FEE_SETUP_SER_TYPE_OPT, params[:serviceType]),:class=>'form-control' %>
                  <% end %>  
                </div>
                  
                <div class="searchbox">
                  <label>Sub Type</label>
                  <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %> 
                    <%= select_tag "subType", options_for_select(Constants::SERVICE_FEE_SETUP_SUB_TYPE_OPT, params[:subType]), :class=>'form-control' %>
                  <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>
                    <%= select_tag "subType", options_for_select(UgandaConstants::SERVICE_FEE_SETUP_SUB_TYPE_OPT, params[:subType]), :class=>'form-control' %>
                  <% end %>   
                </div>

                <div class="searchbox">
                  <label>Commission Payer</label>
                  <%= select_tag "commPayer", options_for_select(Constants::SERVICE_FEE_SETUP_COMM_PAYER_OPT, params[:commPayer]), :class=>'form-control' %>
                </div>
                
                <div class="searchbox">
                  <label>VAT Type </label>
                  <%= select_tag "vatType", options_for_select(Constants::SERVICE_FEE_SETUP_VAT_TYPE_OPT, params[:vatType]), :class=>'form-control' %>
                </div>

                <div class="searchbox">
                  <label>Effective Date</label>
                  <%= date_field_tag :effectiveDate, params[:effectiveDate], :class=>'form-control', :required => true %>
                </div>

                <div class="searchbox">
                  <label>Effective Time</label>
                  <%= text_field_tag :effectiveTime, params[:effectiveTime], :class=>'form-control timepicker', :required => true %>
                </div>

              </div> 
              
              <div id="aggregatorTableDiv">
                <p class="tableinttitle"><%= Constants::AGGREGATOR_COMM_PAYER_VIEW_LABEL %></p>
                
                <table class="serviceFeeTable" id="aggregatorTable">

                  <thead>
                    <tr>
                      <th width="75px">Slab</th>
                      <th>Min-Amount</th>
                      <th>Max-Amount</th>
                      <th>Type</th>
                      <th>Total Comm</th>
                      <th>ARED Comm</th>
                      <th>MF Comm</th>
                      <th>Aggregator Comm</th>
                    </tr>
                  </thead>
                  
                  <tbody>  
                    
                    <% for i in 0..aggregatorTotalSlabs.to_i - 1%>
                      
                      <tr>
                        
                        <td class="slab">Slab <%= i.to_i + 1 %></td>
                        
                        <td><%= text_field_tag Constants::AGGREGATOR_HTML_NAME_LABEL+"MinAmount"+i.to_s, params[Constants::AGGREGATOR_HTML_NAME_LABEL+"MinAmount"+i.to_s], :class =>'form-control decimal', :maxlength => 9 %></td>

                        <td><%= text_field_tag Constants::AGGREGATOR_HTML_NAME_LABEL+"MaxAmount"+i.to_s, params[Constants::AGGREGATOR_HTML_NAME_LABEL+"MaxAmount"+i.to_s], :class =>'form-control decimal', :maxlength => 9 %></td>

                        <td><%= select_tag Constants::AGGREGATOR_HTML_NAME_LABEL+"CommType"+i.to_s, options_for_select(Constants::SERVICE_FEE_SETUP_TYPE_OPT, params[Constants::AGGREGATOR_HTML_NAME_LABEL+"CommType"+i.to_s]),:class=>'form-control selectTag' %></td>

                        <td><%= text_field_tag Constants::AGGREGATOR_HTML_NAME_LABEL+"TotalComm"+i.to_s, params[Constants::AGGREGATOR_HTML_NAME_LABEL+"TotalComm"+i.to_s], :class =>'form-control decimal', :maxlength => 9 %></td>
                        
                        <td><%= text_field_tag Constants::AGGREGATOR_HTML_NAME_LABEL+"OurComm"+i.to_s, params[Constants::AGGREGATOR_HTML_NAME_LABEL+"OurComm"+i.to_s], :class =>'form-control decimal', :maxlength => 9 %></td>
                        
                        <td><%= text_field_tag Constants::AGGREGATOR_HTML_NAME_LABEL+"AgentComm"+i.to_s, params[Constants::AGGREGATOR_HTML_NAME_LABEL+"AgentComm"+i.to_s], :class =>'form-control decimal', :maxlength => 9 %></td>

                        <td><%= text_field_tag Constants::AGGREGATOR_HTML_NAME_LABEL+"AggregatorComm"+i.to_s, params[Constants::AGGREGATOR_HTML_NAME_LABEL+"AggregatorComm"+i.to_s], :class =>'form-control decimal', :maxlength => 9 %></td>

                      </tr>

                    <% end %>  
                   
                  </tbody> 
                     
                </table>
                
                <% if !isFormDisable %>
                  <p class="pull-right" style="margin-right: 15px;"><a href="#" onclick="addRow(<%=Constants::SERVICE_FEE_AGG_ADD_ROW_USER_ACTION%>)"><u>Add row</u></a></p>
                <% end %>  

              </div>

              <div id="endUserTableDiv">
                <p class="tableinttitle"><%= Constants::END_USER_COMM_PAYER_VIEW_LABEL %></p>
               
                <table class="serviceFeeTable" id="endUserTable">
                  
                  <thead>
                    <tr>
                      <th width="75px">Slab</th>
                      <th>Min-Amount</th>
                      <th>Max-Amount</th>
                      <th>Type</th>
                      <th>Total Comm</th>
                      <th>ARED Comm</th>
                      <th>MF Comm</th>
                      <th>Aggregator Comm</th>
                    </tr>
                  </thead>
                  
                  <tbody>  

                    <% for i in 0..endUserTotalSlabs.to_i - 1%>

                      <tr>
                        
                        <td class="slab">Slab <%= i.to_i + 1 %></td>
                        
                        <td><%= text_field_tag Constants::END_USER_HTML_NAME_LABEL+"MinAmount"+i.to_s, params[Constants::END_USER_HTML_NAME_LABEL+"MinAmount"+i.to_s], :class =>'form-control decimal', :maxlength => 9 %></td>

                        <td><%= text_field_tag Constants::END_USER_HTML_NAME_LABEL+"MaxAmount"+i.to_s, params[Constants::END_USER_HTML_NAME_LABEL+"MaxAmount"+i.to_s], :class =>'form-control decimal', :maxlength => 9 %></td>

                        <td><%= select_tag Constants::END_USER_HTML_NAME_LABEL+"CommType"+i.to_s, options_for_select(Constants::SERVICE_FEE_SETUP_TYPE_OPT, params[Constants::END_USER_HTML_NAME_LABEL+"CommType"+i.to_s]),:class=>'form-control selectTag' %></td>

                        <td><%= text_field_tag Constants::END_USER_HTML_NAME_LABEL+"TotalComm"+i.to_s, params[Constants::END_USER_HTML_NAME_LABEL+"TotalComm"+i.to_s], :class =>'form-control decimal', :maxlength => 9 %></td>
                        
                        <td><%= text_field_tag Constants::END_USER_HTML_NAME_LABEL+"OurComm"+i.to_s, params[Constants::END_USER_HTML_NAME_LABEL+"OurComm"+i.to_s], :class =>'form-control decimal', :maxlength => 9 %></td>
                        
                        <td><%= text_field_tag Constants::END_USER_HTML_NAME_LABEL+"AgentComm"+i.to_s, params[Constants::END_USER_HTML_NAME_LABEL+"AgentComm"+i.to_s], :class =>'form-control decimal', :maxlength => 9 %></td>

                        <td><%= text_field_tag Constants::END_USER_HTML_NAME_LABEL+"AggregatorComm"+i.to_s, params[Constants::END_USER_HTML_NAME_LABEL+"AggregatorComm"+i.to_s], :class =>'form-control decimal', :maxlength => 9 %></td>

                      </tr>

                    <% end %>  

                  </tbody> 
                   
                </table>
                
                <% if !isFormDisable %>
                  <p class="pull-right" style="margin-right: 15px;"><a href="#" onclick="addRow(<%=Constants::SERVICE_FEE_END_ADD_ROW_USER_ACTION%>)"><u>Add row</u></a></p>
                <% end %>  

              </div>

              <div class="form-group" style="margin-top: 30px;">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <%= submit_tag "Submit", onclick: 'return validateServiceFeesForm()', class: 'btn btn-success btn-round'%>
                  <%= link_to 'Back', 'ServiceFees', class: "btn btn-default btn-round"%>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%= javascript_include_tag('wickedpicker.js') %>
<script type="text/javascript">
  var options = { 
    <% if params[:effectiveTime].present? %>
      now: "<%= params[:effectiveTime] %>",
    <% else %>
      now: "<%= Utility.getCurrentActualTime %>", 
    <% end %>  
    twentyFour: true,
    upArrow: 'wickedpicker__controls__control-up',
    downArrow: 'wickedpicker__controls__control-down',
    close: 'wickedpicker__close',
    hoverState: 'hover-state',
    title: '', 
    showSeconds: true, 
    secondsInterval: 1, 
    minutesInterval: 1,
    beforeShow: null,
    show: null,
    clearable: false,
  }; 
  $('.timepicker').wickedpicker(options);
</script>

<script type="text/javascript">
  var formObject = document.serviceFeesSetupForm;

  var commPayer = $("#commPayer").val();
  setSlabs(commPayer);

  $("#commPayer").change(function(e) {
    commPayer = $(this).val()
    setSlabs(commPayer);
  });

  var service = $("#serviceType").val();
  setData(service);
  
  $("#serviceType").change(function(e) {
    setData($(this).val());
  });

  function validateServiceFeesForm(){
    
    var isFormValidate;  
      
    if(commPayer == "<%= Constants::AGGREGATOR_COMM_PAYER_DB_LABEL %>"){
      
      isFormValidate = validateSlabsData("<%=Constants::AGGREGATOR_HTML_NAME_LABEL%>", "<%=aggregatorTotalSlabs%>");
    
    } else if (commPayer == "<%= Constants::END_USER_COMM_PAYER_DB_LABEL %>") {

      isFormValidate = validateSlabsData("<%=Constants::END_USER_HTML_NAME_LABEL%>", "<%=endUserTotalSlabs%>");

    } else if (commPayer == "<%= Constants::BOTH_COMM_PAYER_DB_LABEL %>") {

      isFormValidate = validateSlabsData("<%=Constants::AGGREGATOR_HTML_NAME_LABEL%>", "<%=aggregatorTotalSlabs%>")

      if (isFormValidate){
        isFormValidate = validateSlabsData("<%=Constants::END_USER_HTML_NAME_LABEL%>", "<%=endUserTotalSlabs%>");
      } else {
        isFormValidate = false;
      }  

    }

    if (!isFormValidate){
      return false;
    } else {  
      formObject.userAction.value = "<%= Constants::SERVICE_FEE_SAVE_USER_ACTION %>"; 
      formObject.<%=Constants::AGGREGATOR_HTML_NAME_LABEL.to_s + "TotalSlabs"%>.value = "<%= params[Constants::AGGREGATOR_HTML_NAME_LABEL.to_s + "TotalSlabs"] %>";
      formObject.<%=Constants::END_USER_HTML_NAME_LABEL.to_s + "TotalSlabs"%>.value = "<%= params[Constants::END_USER_HTML_NAME_LABEL.to_s + "TotalSlabs"] %>";
      formObject.isUpdate.value = "<%= params[:isUpdate] %>";
      formObject.serviceFeesMasterID.value = "<%= params[:serviceFeesMasterID] %>";
      return true;
    }
  }
  
  function addRow(userAction){
    formObject.userAction.value = userAction; 
    formObject.<%=Constants::AGGREGATOR_HTML_NAME_LABEL.to_s + "TotalSlabs"%>.value = "<%= params[Constants::AGGREGATOR_HTML_NAME_LABEL.to_s + "TotalSlabs"] %>";
    formObject.<%=Constants::END_USER_HTML_NAME_LABEL.to_s + "TotalSlabs"%>.value = "<%= params[Constants::END_USER_HTML_NAME_LABEL.to_s + "TotalSlabs"] %>";
    formObject.isUpdate.value = "<%= params[:isUpdate] %>";
    formObject.serviceFeesMasterID.value = "<%= params[:serviceFeesMasterID] %>";
    formObject.submit();
  }

  function setData(service){
    if(service == "<%= Constants::MTOPUP_LABEL %>"){
      
      $("#subType").removeAttr('disabled');
      $('#subType').prop('required', 'true');

      // $("#rate").prop('disabled', 'true');
      // $('#rate').removeAttr('required');
        
    // } else if (service == "<%=Constants::INTERNET_LABEL%>"){
        
    //   $("#rate").removeAttr('disabled');
    //   $('#rate').prop('required', 'true');

    //   $("#subType").prop('disabled', 'true');
    //   $('#subType').removeAttr('required');
      
    } else {
      
      $("#subType").prop('disabled', 'true');
      $('#subType').removeAttr('required');

      // $("#rate").prop('disabled', 'true');
      // $('#rate').removeAttr('required');
        
    }
  }
  
  function setSlabs(commPayer){
    if(commPayer == "<%= Constants::AGGREGATOR_COMM_PAYER_DB_LABEL %>") {
      
      $("#aggregatorTableDiv").show();
      $("#endUserTableDiv").hide();

    } else if (commPayer == "<%= Constants::END_USER_COMM_PAYER_DB_LABEL %>") {
      
      $("#endUserTableDiv").show();
      $("#aggregatorTableDiv").hide();

    } else {

      $("#aggregatorTableDiv").show();
      $("#endUserTableDiv").show();

    }
  }

  function applyRequired(divID){
    $("#"+divID).find('input').each(function(){
      $(this).prop('required', 'true');
    });
  }

  function removeRequired(divID){
    $("#"+divID).find('input').each(function(){
      $(this).removeAttr('required');
    });
  }

  <% if isFormDisable %>
    formDisbale("serviceFeesSetupForm");
  <% end %>

  function validateSlabsData(slabsFor, totalSlabs){

      for(i=0;i<parseInt(totalSlabs);i++){
          
        var minValue = $("#"+slabsFor+"MinAmount"+i).val();
        var maxValue = $("#"+slabsFor+"MaxAmount"+i).val();
        var commType = $("#"+slabsFor+"CommType"+i).val();
        var totalComm = $("#"+slabsFor+"TotalComm"+i).val();
        var ourComm = $("#"+slabsFor+"OurComm"+i).val();
        var agentComm = $("#"+slabsFor+"AgentComm"+i).val();
        var aggregatorComm = $("#"+slabsFor+"AggregatorComm"+i).val();
        var slabNum = parseInt(i) + 1;
        
        // This is for the First Slab
        if (i == 0) {
          if (minValue == "" || maxValue == "") {
              getWarningAlert("<%=(I18n.t :FIRST_SLAB_NOT_EMPTY_MSG)%>" + slabsFor);
            return false;
          }
        }

        if (minValue != "") {
          
          if (maxValue == "") {
              getWarningAlert("<%=(I18n.t :MAX_AMT_NOT_EMPTY_MSG)%>" + slabNum + ".");
            return false;
          }

          if (parseFloatJS(maxValue) < parseFloatJS(minValue)) {
              getWarningAlert("<%=(I18n.t :MAX_AMT_NOT_LESS_MIN_AMT_MSG)%> " + slabNum + ".");
            return false;
          }

          if (i >= 1) {
            var n = i-1;
            var prevMaxValue = $("#"+slabsFor+"MaxAmount"+n).val();
            
            //Check if any slab left blank in between
            if (minValue.length != 0 && prevMaxValue.length == 0){
                getWarningAlert("<%=(I18n.t :SALB_NOT_EMPTY_MSG)%>");
              return false;
            }
            
            if (parseFloatJS(minValue) <= parseFloatJS(prevMaxValue)){
                getWarningAlert("<%=(I18n.t :MIN_AMT_NOT_LESS_LAST_MAX_AMT_MSG)%> " + slabNum + ".");
              return false;
            }
            
          }

        } else if (maxValue != ""){

          if (minValue == "") {
              getWarningAlert("<%=(I18n.t :MIN_AMT_NOT_EMPTY_MSG)%>" + slabNum + ".");
            return false;
          }

        }

        if (minValue.length != 0 && maxValue.length != 0) {
          
          if(totalComm == "") {
              getWarningAlert("<%=(I18n.t :TOTAL_COMM_NOT_EMPTY_MSG)%>" + slabNum + ".");
            return false;
          }

          if(ourComm == "") {
              getWarningAlert("<%=(I18n.t :OUR_COMM_NOT_EMPTY_MSG)%>" + slabNum + ".");
            return false;
          }

          if(agentComm == "") {
              getWarningAlert("<%=(I18n.t :AGENT_COMM_NOT_EMPTY_MSG)%>" + slabNum + ".");
            return false;
          }

          if(aggregatorComm == "") {
              getWarningAlert("<%=(I18n.t :AGGREGATOR_COMM_NOT_EMPTY_MSG)%>" + slabNum + ".");
            return false;
          }

          if(commType == "<%= Constants::PERCENTAGE_DB_LABEL %>"){
            
            if (parseFloatJS(totalComm) > 100){
                getWarningAlert("<%=(I18n.t :TOTAL_COMM_NOT_MORE_HUNDRED_MSG)%>" + slabNum + ".");
              return false;  
            }

          } 

          if (parseFloatJS(totalComm) != parseFloatJS(parseFloatJS(ourComm) + parseFloatJS(agentComm) + parseFloatJS(aggregatorComm))) {
              getWarningAlert("<%=(I18n.t :SUM_ARED_OUR_COMM_NOT_SAME_MSG)%>" + slabNum + ".");
            return false;  
          }

        }

      }

    return true;
  }
  
  
</script>