<style>
  #commReportForm, #revenueReportForm, #creditReportForm {
    left: 146px;
    display: inline-block;
    position: absolute;
    top: 11px;
    width: calc(100% - 146px);
  }

  .searchboxClass {
    width: 96px;
  }
</style>

<div class="right_col" role="main">
  
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3><%=Constants::MF_COMM_REPORT_LABEL%></h3></div>
      <div class="title_right"><h3 style="font-size: 16px; float: right"><%= params[:monthCommReport].to_s + ", " + params[:yearCommReport].to_s %></h3></div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
        <div class="x_content" style="padding: 0px!important;">

          <%= render file: "/mf_commission_report/menu.html.erb"%>

          <% if @txnHeader.present? %>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title" style="padding: 0px!important;">
                    <div class="table-responsive" id="parent2" style="margin-top: 15px;">

                      <% totalTurnover = 0 %>
                      <% totalMFComm = @totalComm %>

                      <% if params[:viewTypeCommReport].eql? Constants::VIEW_TABLE_LABEL %> <!-- if view in the form of table -->

                        <table id="fixTable" class="table">
                          <thead>
                            <tr>
                              <th class="text-left rowClass">MF Name</th>
                              <th class="text-left rowClass">Gender</th>
                              <th class="text-center rowClass">MF Phone</th>
                              <th class="text-right rowClass">Turnover (<%= Utility.getCurrencyLabel %>)</th>
                              <th class="text-right rowClass">MF Commission (<%= Utility.getCurrencyLabel %>)</th>
                            </tr>
                          </thead>
                          
                          <tbody>
                              <% counter = 0 %>

                              <% @txnHeader.each do |txn|%>     
                                
                                <% counter = counter + 1 %>
                                <% agent = Utility.getCurrentAgent(txn['agent_id']) %>   
                                <% agnetPhone = Utility.getAgentPhone(agent) %>
                                
                                <tr onclick="setDataForNextDetails('<%=counter%>')">
                                  <td class="text-left rowClass"><%= Utility.getAgentFullName(agent)%></td>

                                  <td class="text-left rowClass"><%= Utility.getAgentGender(agent)%></h5></td>

                                  <td class="text-center rowClass"><%= agnetPhone %><input type="hidden" id="phone<%=counter%>" value = "<%=agnetPhone%>"></td>
                                  
                                  <td class="text-right rowClass"><%= Utility.getFormatedAmount(txn['turnover']) %></td>
                                
                                  <td class="text-right rowClass"><%= Utility.getFormatedAmount(txn['commission']) %></td>
                                </tr>

                                <% totalTurnover = totalTurnover.to_f + txn['turnover'].to_f %>

                              <%end%>  
                          </tbody>

                          <tfoot style="position: relative; top: 20px;">
                            <tr >
                              <th>Total</th>
                              <th class="text-center"></th>
                              <th class="text-center"></th>
                              <th class="text-right rowClass"><%= Utility.getFormatedAmount(totalTurnover) %></th>
                              <th class="text-right rowClass"><%= Utility.getFormatedAmount(totalMFComm) %></th>
                            </tr>
                          </tfoot>
                        </table>

                      <% elsif params[:viewTypeCommReport].eql? Constants::VIEW_GRAPH_LABEL %>  
                       
                        <div class="col-md-6 col-xs-6 col-sm-6"><h4>MF Name </h4></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 text-right"><h4 style="margin-right:25px;">Commission (<%= Utility.getCurrencyLabel %>)</h4></div>  

                        <% @txnHeader.each do |txn|%>
                          <% agent = Utility.getCurrentAgent(txn['agent_id']) %> 
                          <% percentage = (txn['commission'].to_f * 100)/totalMFComm %>

                          <div class="widget_summary" style="padding: 0 15px;">
                            <div class="w_left w_20"><span style="color:#77879C;"><%= Utility.getAgentFullName(agent) %></span></div>
                            <div class="w_center w_55">
                              <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=percentage%>%;">
                                </div>
                              </div>
                            </div>
                            <div class="w_right w_20"><span style="color:#77879C;"><%= Utility.getFormatedAmount(txn['commission']) %></span></div>
                            <div class="clearfix"></div>
                          </div>
                        <% end %>
                        
                      <% end %>  
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>  
            
        </div>
      </div>
    </div>
  </div>

</div> 

<script type="text/javascript">
  function setDataForNextDetails(counter){

    var phone = $('#phone'+counter).val();
  
    var name = ["reportType", "serviceTypeCommReport", "subTypeCommReport", "userTypeCommReport","phoneCommReport", "viewTypeCommReport", "monthCommReport", "yearCommReport"];
    
    var values = ["<%=Constants::MF_COMM_REPORT_LABEL%>", "<%=params[:serviceTypeCommReport]%>", "<%=params[:subTypeCommReport]%>", "<%=Constants::SINGLE_USER_RADIO_LABEL%>", phone, "<%=params[:viewTypeCommReport]%>", "<%=params[:monthCommReport]%>", "<%=params[:yearCommReport]%>"];
    
    openWindowWithPost("/SingleMFCommissionReport", name,values);
    
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>