          <%= javascript_include_tag('analytics.js') %>
          
          <div class="search"> 
            
            <div class="searchbox">
              <label>Report</label>
              <%= select_tag "reportType", options_for_select(Constants::ANALYTIC_REPORTS_SEL_OPT,params[:reportType]),:class=>'form-control' %>
            </div>

            <%= form_tag '/MFCommissionReport', :method => 'post', :id=>"commReportForm", :name=>"commReportForm" do %>

              <%= hidden_field_tag "reportType", Constants::MF_COMM_REPORT_LABEL %> <!-- This is used when goto the next page then auto populate the value -->
              
              <div class="searchbox">
                <label>Service</label>
                <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %>
                  <%= select_tag "serviceTypeCommReport", options_for_select(Constants::ANALYTIC_REPORTS_SEL_SERVICE_OPT, params[:serviceTypeCommReport]),:class=>'form-control' %>
                <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>
                  <%= select_tag "serviceTypeCommReport", options_for_select(UgandaConstants::ANALYTIC_REPORTS_SEL_SERVICE_OPT, params[:serviceTypeCommReport]),:class=>'form-control' %>
                <% end %>
              </div>
            
              <div class="searchbox searchboxClass">
                <label>Company</label>
                <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %>
                  <%= select_tag "subTypeCommReport", options_for_select(Constants::ANALYTIC_REPORTS_SEL_SUB_TYPE_OPT, params[:subTypeCommReport]),:class=>'form-control', :id =>"subTypeDiv" %>
                <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>
                  <%= select_tag "subTypeCommReport", options_for_select(UgandaConstants::ANALYTIC_REPORTS_SEL_SUB_TYPE_OPT, params[:subTypeCommReport]),:class=>'form-control', :id =>"subTypeDiv" %>
                <% end %>
              </div>
        
              <div class="searchbox searchboxClass">
                <label>User Type</label>
                <%= select_tag "userTypeCommReport", options_for_select(Constants::ANALYTIC_REPORTS_SEL_USER_TYPE_OPT, params[:userTypeCommReport]),:class=>'form-control' %>
              </div>

              <div class="searchbox searchboxClass">
                <label>Phone</label>
                <%= text_field_tag :phoneCommReport, params[:phoneCommReport], :class =>'form-control number', :maxlength => 9, :placeholder => "Phone number", :id => "phoneDivCommReport" %>
              </div>

              <div class="searchbox searchboxClass" id="viewDiv">
                <label>View Type</label>
                <%= select_tag "viewTypeCommReport", options_for_select(Constants::ANALYTIC_REPORTS_SEL_VIEW_OPT, params[:viewTypeCommReport]),:class=>'form-control' %>
              </div>

              <div class="searchbox searchboxClass">
                <label>Month</label>
                <%= select_tag "monthCommReport", options_for_select(Constants::MONTH_LIST, params[:monthCommReport]),:class=>'form-control' %>
              </div>

              <div class="searchbox searchboxClass">
                <label>Year</label>
                <%= select_tag "yearCommReport", options_for_select(TxnHeader.getYearsList, params[:yearCommReport]),:class=>'form-control' %>
              </div>
            
              <div class="searchbox searchboxClass" style="width: 62px;">
                <%= submit_tag "Show", class: 'btn btn-success btn-round', onclick: "return validateForm('commReportForm')", :style => "margin: 0px;" %>
              </div>

            <% end %>

            <%= form_tag '/AredRevenueReport', :method => 'post', :id=>"revenueReportForm", :name=>"revenueReportForm" do %>

              <%= hidden_field_tag "reportType", Constants::REVENUE_REPORT_LABEL %>
              
              <div class="searchbox">
                <label>Service</label>
                <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %>
                  <%= select_tag "serviceTypeRevReport", options_for_select(Constants::ANALYTIC_REPORTS_SEL_SERVICE_OPT, params[:serviceTypeRevReport]),:class=>'form-control' %>
                <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>
                  <%= select_tag "serviceTypeRevReport", options_for_select(UgandaConstants::ANALYTIC_REPORTS_SEL_SERVICE_OPT, params[:serviceTypeRevReport]),:class=>'form-control'%>
                <% end %>  
              </div>
            
              <div class="searchbox">
                <label>Company</label>
                <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %>
                  <%= select_tag "subTypeRevReport", options_for_select(Constants::ANALYTIC_REPORTS_SEL_SUB_TYPE_OPT, params[:subTypeRevReport]),:class=>'form-control', :id => "subTypeRevDiv"%>
                <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>
                  <%= select_tag "subTypeRevReport", options_for_select(UgandaConstants::ANALYTIC_REPORTS_SEL_SUB_TYPE_OPT, params[:subTypeRevReport]),:class=>'form-control', :id => "subTypeRevDiv"%>
                <% end %>  
              </div>
              
               <div class="searchbox" id="viewRevDiv">
                <label>View Type</label>
                <%= select_tag "viewTypeRevReport", options_for_select(Constants::ANALYTIC_REPORTS_SEL_VIEW_OPT, params[:viewTypeRevReport]),:class=>'form-control col-md-7 col-xs-12'%>
              </div>

              <div class="searchbox">
                <label>Month</label>
                <%= select_tag "monthRevReport", options_for_select(Constants::MONTH_LIST, params[:monthRevReport]),:class=>'form-control'%>
              </div>

              <div class="searchbox">
                <label>Year</label>
                <%= select_tag "yearRevReport", options_for_select(TxnHeader.getYearsList, params[:yearRevReport]),:class=>'form-control'%>
              </div>
            
              <div class="searchbox">
                <%= submit_tag "Show", class: 'btn btn-success btn-round', onclick: "return validateForm('revenueReportForm')", :style => "margin: 0px;" %>
              </div>
              
            <% end %>

            <%= form_tag("/CreditReport", method: "post", id: "creditReportForm") do %>
           
              <%= hidden_field_tag "reportType", Constants::MF_CREDIT_REPORT_LABEL%>
              
              <div class="searchbox">
                <label>User</label>
                <%= select_tag "userType", options_for_select(Constants::CREDIT_REPORT_USER_TYPE_OPT,params[:userType]), :class=>'form-control', :required => true%>
              </div>
        
              <div class="searchbox">
                <label>Phone</label>
                <%= text_field_tag :phoneCreditReport, params[:phoneCreditReport], class: 'form-control col-md-7 col-xs-12 number', :maxlength => 9, :id => "phoneDiv" %>
              </div>
             
              <div class="searchbox">
                <%= submit_tag "Show", class: 'btn btn-success btn-round', onclick: "return validateForm('creditReportForm')", :style => "margin: 0px;" %>
              </div>
            
            <% end %>

          </div>