<style>
  #commReportForm, #revenueReportForm, #creditReportForm {
    display: inline-block;
    position: absolute;
    top: 11px;
    width: 80%;
    left: 146px;
  }

  .searchboxClass {
    width: 96px;
  }
</style>

<div class="right_col" role="main">
  
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3><%=Constants::MF_COMM_REPORT_LABEL%></h3></div>
      <div class="title_right"><h3 style="font-size: 16px; float: right"><%= params[:monthCommReport].to_s + ", " + params[:yearCommReport].to_s %></h3></div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
        <div class="x_content" style="padding: 0px!important;">

          <%= render file: "/mf_commission_report/menu.html.erb"%>
          
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title" style="padding: 0px!important;">

                  <% totalTurnover = 0 %>
                  <% totalMFComm = 0 %>

                  <% if params[:viewTypeCommReport].eql? Constants::VIEW_TABLE_LABEL %> <!-- if view in the form of table -->
                    <div class="table-responsive" id="parent2" style="margin-top: 15px;">
                      <table id="fixTable" class="table">
                        
                        <thead>
                          <tr>
                            <th class="text-left rowClass">Service Type</th>
                            <th class="text-right rowClass">Turnover (<%= Utility.getCurrencyLabel %>)</th>
                            <th class="text-right rowClass">MF Commission (<%= Utility.getCurrencyLabel %>)</th>
                          </tr>
                        </thead>
                        
                        <tbody>
                            <% counter = 0 %>

                            <% @txnHeader.each do |header|%>     

                              <% counter = counter + 1 %>
                              
                              <tr onclick="setDataForNextDetails('<%=counter%>','<%=params[:serviceTypeCommReport]%>')">

                                <td class="text-left rowClass"><%=Utility.getServiceTypeDisplayValue(header['service_type'])%><input type="hidden" id="serviceType<%=counter%>" value = "<%=header['service_type']%>" > </td>

                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(header['turnover']) %></td>
                              
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(header['commission']) %></td>
                              
                              </tr>

                              <% totalTurnover = totalTurnover.to_f + header['turnover'].to_f %>
                              <% totalMFComm = totalMFComm.to_f + header['commission'].to_f %>

                            <%end%>  

                        </tbody>

                        <tfoot style="position: relative; top: 20px;">
                          <tr >
                            <th class="rowClass">Total</th>
                            <th class="text-right rowClass"><%= Utility.getFormatedAmount(totalTurnover) %></th>
                            <th class="text-right rowClass"><%= Utility.getFormatedAmount(totalMFComm) %></th>
                          </tr>
                        </tfoot>

                      </table>
                    </div>  
                  <% elsif params[:viewTypeCommReport].eql? Constants::VIEW_GRAPH_LABEL %>  

                    <div id="singleUserAllServiceGraph" style="height:505px!important;"></div>

                  <% end %>  
                
                </div>
              </div>
            </div>  
          </div>

        </div>
      </div>
    </div>
  </div>

</div>  

<script type="text/javascript">
  function setDataForNextDetails(counter, serviceType){
    var currentServiceType = $('#serviceType'+counter).val();
  
    if(serviceType == "<%=Constants::ANY_SERVICE_LABEL%>" && currentServiceType == "<%=Constants::MTOPUP_LABEL%>"){
      
      var name = ["reportType", "serviceTypeCommReport", "subTypeCommReport", "userTypeCommReport","phoneCommReport", "viewTypeCommReport", "monthCommReport", "yearCommReport"];
      
      var values = ["<%=Constants::MF_COMM_REPORT_LABEL%>", currentServiceType, "", "<%=params[:userTypeCommReport]%>", "<%=params[:phoneCommReport]%>", "<%=params[:viewTypeCommReport]%>", "<%=params[:monthCommReport]%>", "<%=params[:yearCommReport]%>"];
      
      openWindowWithPost("/SingleMFCommissionReport", name,values);
    
    }
  }
</script>

<script type="text/javascript">

  var graphNames = [];
  var graphValues = [];
  "<%counter = 0%>";

  if("<%=@txnHeader.present?%>"){

    "<%@txnHeader.each do |header|%>"
      "<% counter = counter + 1%>"
      graphNames["<%=counter%>"] = "<%=Utility.getServiceTypeDisplayValue(header['service_type'])%>";
      graphValues["<%=counter%>"] = "<%=header['commission']%>";
    "<% end %>"

    var echartPieCollapse = echarts.init(document.getElementById('singleUserAllServiceGraph'));
   
    echartPieCollapse.setOption({

      color: [
          '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
          '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
      ],

      tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
      },
      legend: {
        x: 'center',
        y: 'top',
        data: graphNames
      },
      toolbox: {
        show: true,
        feature: {
          magicType: {
            show: true,
            type: ['pie', 'funnel']
          },
          restore: {
            show: true,
            title: "Restore"
          },
          saveAsImage: {
            show: true,
            title: "Save Image"
          }
        }
      },
      calculable: true,
      series: [{
        name: "<%=Utility.getServiceTypeDisplayValue(params[:serviceTypeCommReport])%>",
        type: 'pie',
        radius: [20, 120],
        center: ['50%', 200],
        roseType: 'area',
        x: '50%',
        max: 40,
        sort: 'ascending',
        data:
        [
          <%for i in 1..counter%>  
            {
              value: graphValues[<%=i%>],
              name: graphNames[<%=i%>]
            },
          <%end%> 
        ]
      }]
    });
  }
</script> 

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>
