<div class="right_col" role="main">
  
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3><%=Constants::ANNOUNCEMENTS_ROLE%></h3></div>
    </div>
  </div>

  
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="x_panel ">
        <div class="x_content">
         
          <%= form_tag("/CreateAnnouncement", method: "post", id: 'announcementForm' , class: 'form-horizontal form-label-left', :style => "margin-bottom: -4px;") do %>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Announcement</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= text_area_tag :announcement, params[:announcement], class: 'form-control', :required => true %>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                <%= submit_tag "Create" , class: 'btn btn-success btn-round pull-left',:onclick => "return validate()" %>
              </div>
            </div>
          <% end %>

        </div>  
      </div>  

      <% if @announcement.present? %>
      
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="table-responsive" id="parent2">
                    <table id="fixTable" class="table">
                      <thead>
                        <tr>
                          <th class="text-left">Date</th>
                          <th class="text-left">Announcement</th>
                        </tr>
                      </thead>
                                  
                      <tbody>
                        <% @announcement.each do |announce|%> 
                          <tr>
                            <td class="text-left"><%= Utility.getFormatedDate(announce.txn_date.to_s) %></td>
                            <td class="text-left"><%= announce.announcement %></td>
                          </tr>
                        <% end %>  
                      </tbody>
                    
                    </table>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%> 

    </div>
  </div>

</div>

<script type="text/javascript">
  
  function validate(){
    if(!formValidation('announcementForm'))return false;
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>
