<%= form_for(@officer, html: { class: "form-horizontal", role: "form",multipart: true }) do |f| %>
  <% if @officer.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@officer.errors.count, "error") %> prohibited this officer from being saved:</h4>

      <ul>
      <% @officer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label :middle_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :middle_name, class: "form-control" %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label :last_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :birth,"Birth Date", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_field :birth, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :country_id,"Country", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:country_id, Country.all, :id, :name, {:prompt => true },{class: 'form-control'})  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :district_id,"District", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:district_id, District.all, :id, :name, {:prompt => true },{class: 'form-control'} )  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :town_id,"Town", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:town_id, Town.all, :id,:name, {:prompt => true },{class: 'form-control'} ) %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label :gender,"Gender", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
     <%= f.select :gender, Officer.genders.keys,{},{class: 'form-control'} %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label :photo, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.file_field :photo, class: "form-control" %>
    </div>
  </div>
 
  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :password, class: "form-control" %>
    </div>
  </div>
  <% if false %>
  <div class="form-group">
    <%= f.label :photo, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= image_tag(@officer.photo_url) if @officer.photo_url? %>
      <%= f.file_field :photo, class: "form-control"  %>
      <%= f.hidden_field :photo_cache %>
    </div>
  </div>
  <%end%>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
      $("#officer_country_id").change(function(){
        $.ajax({
          url: '/listingdistricts',
          type: "GET",
          data: {id: $('#officer_country_id option:selected').val()},
            })
      });
  });
</script>


<script type="text/javascript">
    $(document).ready(function(){
       $("#officer_district_id").change(function(){
        $.ajax({
          url: '/listingtowns',
          type: "GET",
          data: {id: $('#officer_district_id option:selected').val()},
            })
      });
    });
</script>
