<div class="nav-tabs-navigation cover">
    <div class="nav-tabs-wrapper">
	<%= tabs_tag(:builder => OfficersHelper::MenuTabBuilder,:open_tabs => {:id => "tabs" ,:class => "nav nav-tabs cover", 'data-tabs'.to_s => "tabs"}) do |tab| %>

	  <%= tab.new_officer "New Officers", officers_path %>
	  <%= tab.deployed "Deployed",deployed_officers_path %>
	  <%= tab.suspended "Suspended", suspended_officers_path %>
	  <%= tab.terminated "Terminated", terminated_officers_path %>

	  <% if current_tab == :new_officer %>
		   <%= link_to new_officer_path, class: 'btn btn-success pull-right' do %>
	                <span class="glyphicon glyphicon-plus"></span>
	                New Officer
	       <% end %>
       <%end%>

	<% end %>
	</div>
</div>

<br/>





