<div class="right_col" role="main">
   <div class="">
    <div class="page-title">
      <div class="title_left"><h3><%= @officer.name %> Reviews</h3></div>
      <div class="title_right">
        <div class="col-md-12  form-group">
          <div class="input-group pull-right" style="margin: 0px;"><%= link_to 'Back', @officer, class: "btn btn-default btn-round", style: "margin: 0px;" %>
          </div>
        </div>
      </div>
    </div>
  </div>  


  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>

           <div class="row">
            </div>
            
            <div  action="" method="post" name="" id="" class="form-horizontal form-label-left">

              <div align="center" class="row" >
                <h3 id="op"></h3>
              </div>

              <div>
             
                
              </div>

                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover reviews officers">
                      <thead>
                        <tr>
                          <th></th>
	                          <td>Koisk ID</td>
	                          <td>Assigned To</td>
                              <th>Agent Present</th>
                              <th>Uniform Worn</th>
                              <th>Wifi</th>
                              <th>Replaced</th>
                              <th>Clean</th>
                              <th>Issue</th>
                              <th>Summary Type</th>
                              <th>Summary Text</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @reviews.each_with_index do |review,index| %>
	                         <% kiosk = KioskMaster.find(review.kiosk_master_id) %>
	                         <% koiskAssignedResponse = KioskAgent.getAssignedAgent(review.kiosk_master_id) %>
	                         <% currentAgent = koiskAssignedResponse.user %>

                             <tr>   
                                 <td><%= index + 1%></td>
                                 <td><%= kiosk.model_no %>-<%= kiosk.serial_no %></td>
	                             <td><%= Utility.getAgentFullName(currentAgent) %></td>

	                             <td><%= review.agent_present %></td>
	                             <td><%= review.uniform %></td>
	                             <td><%= review.wifi %></td>
	                             <td><%= review.replaced %></td>
	                             <td><%= review.clean %></td>
	                             <td><%= review.issue %></td>
	                             <td><%= review.summary_type %></td>
	                             <td><%= review.summary_text %></td>
	                         </tr>
	                            
	                            
                        <% end %>
                      </tbody>
                    </table>
                  </div>

              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</div>

