
<div class="right_col" role="main">
  
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Officer Profile</h3></div>
      <div class="title_right">
        <div class="col-md-12  form-group">
          <div class="input-group pull-right" style="margin: 0px;"><%= link_to 'Back', deployed_officers_path, class: "btn btn-default btn-round", style: "margin: 0px;" %></div>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox profle">
             
            </ul>
          <div class="clearfix"></div>
        </div>

        

        <div class="x_content">
           <% flash.each do |name, msg| %>
                  <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <%= msg %>
                  <% end %>
                <% end %>
              </div>

          <div class="col-md-3 col-sm-3 col-xs-12 text-center">

            <div class="profile_img">
              <div id="crop-avatar">
                <% if  @officer.photo_url.present?%>
                   <%= image_tag( @officer.photo_url :alt => "Picture",size: '200X200',:class => 'user-profile img-responsive avatar-view userProfile')%>
                <% else %>
                   <%= image_tag('user.png', :alt => "Picture",:class => 'user-profile img-responsive avatar-view userProfile')%>
                <% end%>
              </div>
            </div>

            <h4><strong><%= @officer.name.titleize %></strong></h4>
              
            <ul class="list-unstyled user_data">
              <table class="table">
                <tr><td style="text-align: left;">Email:</td><td style="text-align: left;"><%= @officer.email %></td></tr>
                <tr><td style="text-align: left;">Phone:</td><td style="text-align: left;"><%= @officer.phone %></td></tr>
                <tr><td style="text-align: left;">Account:</td><td style="text-align: left;"><%= @officer.account %></td></tr>
                <tr><td style="text-align: left;">Password:</td><td style="text-align: left;"><%= @officer.password %></td></tr>
                <tr><td style="text-align: left;">Location:</td><td style="text-align: left;"><%= @officer.location %></td></tr>
                <tr><td style="text-align: left;">Deployed</td><td style="text-align: left;"><%= @officer.deployments.last.location %></td></tr>
              </table>



              
              <div class="row">
                <div class="col-md-6">
                  <%=link_to  'Edit',edit_officer_path(@officer),class: "btn btn-success btnprofile col-md-12" %>
                </div>
                <div class="col-md-6">
                  <%= link_to "Delete", @officer,class: "btn btn-danger btnprofile col-md-12", method: :delete, data: { confirm: "You sure?" } %>
                </div>
              </div>

              <div class="row">
                <%=link_to  'Reset Password',password_reset_officer_path(@officer),class: "btn btn-success btnprofile col-md-12" %>
              </div>





                 
            
          </div>


          <div class="col-md-9 col-sm-9 col-xs-12">
            
            <div class="x_panel">
              <div class="profile_title">
                <div class="col-md-6"><h2>Visited Agents</h2></div>
              </div>
              <div class="x_content">
                
                <div class="table-responsive">
                   <table id="fixTable" class="table">
                
                <thead>
                  <tr>

                    <th class="text-left">Koisk ID</th>
                    <th class="text-left">Purchase Date</th>
                    <th class="text-left">Assigned To</th>
                    <th class="text-center">Assigned Date</th>
                    <th class="text-center">Action</th>
                  
                  </tr>
                </thead>

                <tbody>

              


                  <% if @kiosksList.present? %>
                    
                    <% @kiosksList.each do |koisk| %>
                      <% koiskAssignedResponse = KioskAgent.getAssignedAgent(koisk.id) %>
                      <tr>
                        <td class="text-left"><%= koisk.model_no %>-<%= koisk.serial_no %></h5></td>
                        <td class="text-left"><%= Utility.getFormatedDateNoTime(koisk.purchase_date.to_s) %></td>
                        
                        <% if koiskAssignedResponse.Response_Code == Constants::SUCCESS_RESPONSE_CODE %>
                          <% currentAgent = koiskAssignedResponse.user %>
                          <td class="text-left"><%= Utility.getAgentFullName(currentAgent) %></td>
                          <td class="text-center"><%= Utility.getFormatedDateNoTime(koiskAssignedResponse.date.to_s) %></td>
                        <td class="text-center">
                            <%= link_to "Review",show_review_path(koisk.id,@officer.id),:class => "btn btn-success btn-round btn-new" %></td></td>
                        <% else %>
                          <td class="text-left">N/A</td>
                          <td class="text-center">N/A</td>
                          <td class="text-center">
                            <%= link_to "Review",show_review_path(koisk.id, @officer.id),:class => "btn btn-success btn-round btn-new" %></td>
                        <% end %> 


                      
                      </tr>
                    <% end %>

                  <% else %>  
                    <tr><td colspan="6" class="text-left"><%= Constants::NO_RECORD_FOUND_LABEL %></h5></td></tr>
                  <% end %>
                </tbody>

              </table>

                </div>

              </div></div>
            </div>

            <div class="row">
              
             

             
              

            </div> <!-- end of <div class="row"> -->

          </div> <!-- end of <div class="col-md-9 col-sm-9 col-xs-12"> -->
      
        </div> <!-- end of <div class="x_content"> -->
                
      </div> 
    </div>
  </div>

</div>


