<div class="right_col" role="main">
  
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Change Password</h3></div>
    </div>
  </div>

  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <%= form_tag("/ChangePassword", method: "post", id: "changePasswordForm") do %> 
           
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="email"><!-- Old Password -->
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= password_field :old_password, params[:old_password], :class=>'form-control col-md-7 col-xs-12', required: true,
                id: 'old_pass',:placeholder=>'Current password',:maxlength => 30%>
              </div>
            </div>

            <br><br><br>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="email"><!-- New Password -->
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= password_field :new_password, params[:new_password], :class=>'form-control col-md-7 col-xs-12',required: true, id: 'new_pass',:placeholder=>'New password',:maxlength => 30%>
              </div>
            </div>

            <br><br><br>
          
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="email"><!-- Re-enter Password -->
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
  			       <%= password_field :re_password, params[:re_password], :class=>'form-control col-md-7 col-xs-12',required: true,id: 're_pass', :placeholder=>'Confirm password',:maxlength => 30%>
              </div>
            </div>
            
            <br><br><br>
           

            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 text-center" style="margin-top: 10px">
                <%= submit_tag "Change", class: 'btn btn-success btn-round',  onclick: "return check();" %> 
              </div>
            </div>
         
          <% end %> 
        </div>
      </div>
    </div>
 	</div>

</div>

<script type="text/javascript">

  function check(){

    if(!formValidation('changePasswordForm'))return false;
    
    var old_pass = document.getElementById("old_pass").value;
    var new_pass = document.getElementById("new_pass").value;
    pass_exp1 = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/
    var re_pass = document.getElementById("re_pass").value;
    
    if(new_pass.length < 8){
      getWarningAlert("Password should contain atleast eight characters");
      document.getElementById("new_pass").focus();
      return false;
    } 

    if(!pass_exp1.test(new_pass)){
      getWarningAlert("Password should contain atleast one number, one letter and one special character");
      document.getElementById("new_pass").focus();
      return false;
    }
    
    if(new_pass != re_pass){
      getWarningAlert("Password and Confirm-password does not match.");
      document.getElementById("re_pass").focus();
      return false;

    }
    return true;
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>