<% soldServicesResponse = DashboardManager.serviceSoldDetails %>
<% topAgentsCollectionHeader = DashboardManager.getTopAgentsCollection %>

<style type="text/css">
  table .fe {
      width: 100%;
      display:block;
  }
  .fe thead {
      display: inline-block;
      width: 100%;
      height: 20px;
  }
  .fe tbody {
      height: 200px;
      display: inline-block;
      width: 100%;
      overflow: auto;
  }
  .fe tbody tr {
    border-bottom: 1px solid #ddd;
    
  }
  .fe tbody tr td{
    
    padding: 5px 0;
  }
  .bgc {
    background: #ddd;
    padding: 18px;
    border-radius: 5px;
    color:#fff;
  }
  .mfCount{
    position: absolute;
    top: 0px;
    right: -19px;
  }
  h3{
    margin-top: 0px!important;
    margin-bottom: 0px!important;
  }
</style>

<div class="right_col" role="main">
  <div class="">
    
    <div class="row top_tiles" style="margin: 10px 0;">

      <div class="col-md-3 col-sm-3 col-xs-6 tile">
        <div class="bgc" style="background: #00C0EF">  
          <span>Today's Total Commission Amount</span>
            <h3><%= Utility.getCurrencyLabel %> <%= Utility.getFormatedAmount(DashboardManager.getTodayTotalCommissionAmount) %></h3>
            <span class="sparkline_one" style="height: 160px;">
            <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
          </span>
        </div>  
      </div>

      <div class="col-md-3 col-sm-3 col-xs-6 tile">
        <div class="bgc" style="background: #00A65A">
          <span>Today's Ared Commission Amount</span>
          <h3><%= Utility.getCurrencyLabel %> <%= Utility.getFormatedAmount(DashboardManager.getTodayTotalAredCommissionAmount) %></h3>
          <span class="sparkline_two" style="height: 160px;">
            <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
          </span>
        </div>  
      </div>

      <div class="col-md-3 col-sm-3 col-xs-6 tile">
        <div class="bgc" style="background: #F39C12"> 
          <span>Today's M F Commission Amount</span>
          <h3><%= Utility.getCurrencyLabel %> <%= Utility.getFormatedAmount(DashboardManager.getTodayMFCommissionAmount) %></h3>
          <span class="sparkline_three" style="height: 160px;">
            <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
          </span>
        </div>  
      </div>
      
      <div class="col-md-3 col-sm-3 col-xs-6 tile">
        <div class="bgc" style="background: #DD4B39">
          <span>Today's Turnover Amount</span>
          <h3><%= Utility.getCurrencyLabel %> <%= Utility.getFormatedAmount(DashboardManager.getTodayTotalTransactionAmount) %></h3>
          <span class="sparkline_four" style="height: 160px;">
            <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
          </span>
        </div>  

        <ul class="nav navbar-nav navbar-right mfCount">
          <li class="">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class=" fa fa-angle-down" style="display: inline-block;"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
              <li><h5>Current MF Count: <%=DashboardManager.getTotalMicroFranchisee%></h5></li>
              <li><h5>Today's Transaction Count: <%=DashboardManager.getTodayTotalTransactions%></h5></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph x_panel">
          <div class="row x_title">
            <div class="col-md-6"><h3>Daily Turnover</h3></div>
          </div>
          <div class="x_content">
            <div id="dailyTurnoverGraph" class="demo-placeholder" style="width: 100%; height:250px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-7 col-sm-6 col-xs-12">
        <div class="x_panel fixed_height_320">
          
          <div class="x_title">
            <h2>Top Users <small>Collection</small></h2>
            <ul class="nav navbar-right panel_toolbox" style="min-width: 0px !important;">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if topAgentsCollectionHeader.present? %>
              
              <h4>Turnover (<%= Utility.getCurrencyLabel %>)</h4>
              
              <% totalAmount = DashboardManager.getTopAgentsCollectionsTotal(topAgentsCollectionHeader)%>
              
              <% topAgentsCollectionHeader.each do |header| %>  
                
                <div class="widget_summary">
                  <div class="w_left w_25"><span><%= Utility.getAgentFullName(Utility.getCurrentAgent(header['agent_id'])) %></span></div>
                  
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" style="width:<%=DashboardManager.getTopAgentBarPerValue(header['sum'], totalAmount)%>%;" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="w_right w_20"><span><%= Utility.getFormatedAmount(header['sum']) %></span></div>
                  <div class="clearfix"></div>
                </div>

              <% end %>  

            <% end %>      
          </div>

        </div>
      </div> 

      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="x_panel fixed_height_320">
          
          <div class="x_title">
            <h2>Services <small>Sold</small></h2>
            <ul class="nav navbar-right panel_toolbox" style="min-width: 0px !important;">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <% if soldServicesResponse.serviceSoldNameArray.size > 0 %>  
              <table class="" style="width:100%">
                <tr>
                  <th style="width:37%;"></th>
                  <th>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><p class="text-left">Name</p></div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><p class="text-center">Sold (<%=Utility.getCurrencyLabel%>)</p></div>
                  </th>
                </tr>
                
                <tr>
                  <td><canvas id="serviceSoldGraph" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas></td>
                  <td>
                    <table class="tile_info">
                      
                      <% for i in 0..soldServicesResponse.serviceSoldNameArray.size.to_i - 1 %>
                        <tr>
                          <td style="width: 30px;" ><p><i class="fa fa-square" style="color: <%=Constants::DASHBOARD_AVAILABLE_SERVICES_COLOR_CODES[i]%>"></i><%= soldServicesResponse.serviceSoldNameArray[i] %></p></td>
                          <td style="width: 70px; text-align: right;"><%= Utility.getFormatedAmount(soldServicesResponse.serviceSoldValueArray[i]) %></td>
                        </tr>
                      <% end %>  

                    </table>
                  </td>
                </tr>
              </table>
            <% end %>
          </div>

        </div>
      </div>

    </div>
 
    
    <% if Role.isSuperAdminRoleAssign(current_user.id) %>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
           
            <div class="x_title">
              <h2>Recent SMS</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <div class="table-responsive" style="height: 300px;">
                <table id="fixTable" class="table">
                  <thead>
                    <tr>
                      <th class="text-left rowClass" style="width:15%">MSISDN</th>
                      <th class="text-left rowClass" style="width:75%">Message</th>
                      <th class="text-center rowClass" style="width:10%">Sent Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% smsList = SmsRegistration.last(Constants::MAX_SMS_DISPLAY).reverse
                      if smsList.present? 
                        smsList.each do |sms| %>
                          <tr>
                            <td class="text-left rowClass" style="width:15%"><%=sms.mobile_no%></td>
                            <td class="text-left rowClass" style="width:65%"><%=sms.message%></td>
                            <td class="text-center rowClass" style="width:30%"><%=DashboardManager.getSMSStatus(sms.status)%></td>
                          </tr>
                        <%end%>
                    <% end %>
                  </tbody>
                </table>
              </div>  
            </div>

          </div>
        </div>
      </div>
    <%end%>  

  </div>
</div>

<!-- This is used to draw the spark line on the dashboard i .e total commission    -->
<script>
  $(document).ready(function() {

    $(".sparkline_one").sparkline(<%= DashboardManager.getTodayTotalCommission %>, {
      type: 'bar',
      height: '50',
      barWidth: 6,
      colorMap: {'7': '#a1a1a1'},
      barSpacing: 1,
      barColor: 'rgba(223, 223, 223, 0.8)'
    });

    $(".sparkline_two").sparkline(<%= DashboardManager.getTodayTotalAredCommission %>, {
      type: 'bar',
      height: '50',
      barWidth: 6,
      colorMap: {'7': '#a1a1a1'},
      barSpacing: 1,
      barColor: 'rgba(223, 223, 223, 0.8)'
    });

    $(".sparkline_three").sparkline(<%= DashboardManager.getTodayTotalMFCommission %>, {
      type: 'bar',
      height: '50',
      barWidth: 6,
      colorMap: {'7': '#a1a1a1'},
      barSpacing: 1,
      barColor: 'rgba(223, 223, 223, 0.8)'
    });

    $(".sparkline_four").sparkline(<%= DashboardManager.getTodayTotalTurnover %>, {
      type: 'bar',
      height: '50',
      barWidth: 6,
      colorMap: {'7': '#a1a1a1'},
      barSpacing: 1,
      barColor: 'rgba(223, 223, 223, 0.8)'
    });
    
  });
</script>

<!-- THis is used to draw the daily turnover graph on the dashboard   -->  
<script>
  $(document).ready(function() {

    var options = {
      series: { 
        curvedLines: {
          apply: true,
          active: true,
          monotonicFit: true
        }
      },
      colors: ["#26B99A"],
      grid: {
        borderWidth: {
          top: 0,
          right: 0,
          bottom: 1,
          left: 1
        },
        borderColor: {
          bottom: "#7F8790",
          left: "#7F8790"
        }
      }
    };

    var plot = $.plot($("#dailyTurnoverGraph"), [{
      label: "Daily Turnover",
      data:  <%=DashboardManager.dailyTurnover%>,
      lines: {
        show: true,
        fill: true,
        fillColor: { colors: [{opacity: 0.0}, {opacity: 0.5}]}
      },
      points: {
        fillColor: "#2A3F54"
      }
    }], options);

  });
</script>

<!--This is scripting for the Services Sold graph at admin dashboar-->

<script>
  $(document).ready(function() {
   
    var options = {
      legend: false,
      responsive: false
    };
  
    new Chart(document.getElementById("serviceSoldGraph"), {
      type: 'doughnut',
      data: {
        
        labels: <%= raw soldServicesResponse.serviceSoldNameArray %>,
        
        datasets: [{
          data: <%= soldServicesResponse.serviceSoldValueArray %>,
          backgroundColor: <%= raw Constants::DASHBOARD_AVAILABLE_SERVICES_COLOR_CODES %>
        }]

      },
      options: options
    });

  });
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>
