<body role="login">

  <div class="container" >
    
    <div class="text-center" style="color:red">
      <p id="notice"><%= notice %></p>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  vertical-center-row">
        <div class="panel panel-default login">
          <div class="panel-body">
           
            <form action="" method="post" name="loginForm" id="loginForm">
                <fieldset>
                
                  <div class="row">
                    <div class="center-block"> <%= image_tag "toplogo.png", class: 'profile-img img-responsive' %></div><hr>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                     
                      <div class="form-group">
                        <label><%=Constants::EMAIL_LABEL%>:</label>
                        <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
                          <%= text_field_tag :email, params[:email], class: 'form-control', :maxlength => 35, :required => true%>
                        </div>
                      </div>

                      <div class="form-group">
                        <label><%=Constants::PASSWORD_LABEL%>:</label>
                        <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
                          <%= password_field_tag :password, params[:password], class: 'form-control' , :maxlength => 35, :required => true%>
                        </div>
                      </div>

                      <div class="form-group">
                        <label><%=Constants::COUNTRY_LABEL%>:</label>
                        <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-globe"></i> </span>
                          <%= select_tag "country", options_for_select(Constants::LOGIN_COUNTRY_LIST),:class=>'form-control col-md-7 col-xs-12'%>
                        </div>
                      </div>

                      <div style="line-height: 34px;">
                        <%= link_to Labels::FORGOT_PASSWORD_LABEL, 'ForgotPassword', :style => "color: #4d554f;" %>
                        <%= submit_tag Constants::LOGIN_BUTTON_LABEL, :onclick => "return setFormAction()", class: 'btn btn-success' %>
                      </div>

                    </div>
                  </div>

                </fieldset>
            </form>

          </div>
        </div>
      </div>
    </div>
    
  </div>

  <script type="text/javascript">
    var formObject = document.loginForm
    
    function setFormAction(){
      
      if(!formValidation('loginForm'))return false;
      
      var country = formObject.country.value;

      if(country == "<%=Constants::LOGIN_COUNTRY_LIST[0]%>"){
        
        formObject.action = "<%=Properties::KENYA_APP_ACTION_PATH%>";
      
      } else if(country == "<%=Constants::LOGIN_COUNTRY_LIST[1]%>"){
        
        formObject.action = "<%=Properties::RWANDA_APP_ACTION_PATH%>";
      
      } else if(country == "<%=Constants::LOGIN_COUNTRY_LIST[2]%>"){
      
        formObject.action = "<%=Properties::UGANDA_APP_ACTION_PATH%>";
      
      }

    }

    function setDefaultCountry(){
      var hostName = window.location.hostname;
      if (hostName == "<%=Properties::RWANDA_WEB_HOST_NAME%>"){
        formObject.country.value = "<%=Constants::LOGIN_COUNTRY_LIST[1]%>"
      } else if (hostName == "<%=Properties::UGANDA_WEB_HOST_NAME%>"){
        formObject.country.value = "<%=Constants::LOGIN_COUNTRY_LIST[2]%>"
      }
    }

    setDefaultCountry();
  </script>

</body>