<body role="login">

  <div class="container" >
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  vertical-center-row">
        <div class="panel panel-default login">
          <div class="panel-body">
           
            <form action="/ValidateOTP" method="post" name="OTPForm" id="OTPForm">

                <input type="hidden" name="email" value="">
                <input type="hidden" name="password" value="">
                <input type="hidden" name="otpID" value="">
            
                <fieldset>
                
                  <div class="row">
                    <div class="center-block"> <%= image_tag "toplogo.png", class: 'profile-img img-responsive' %></div><hr>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                     
                      <div class="form-group">
                        <label><%=Constants::OTP_LABEL%>:</label>
                        <div class="input-group"> 
                          <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
                          <%= text_field_tag :otp, params[:otp], class: 'form-control number', :maxlength => 6, :required => true%>
                        </div>
                      </div>

                      <div class="form-group">
                        <button class="btn btn-success" onclick="return validateForm()"><%=Constants::LOGIN_BUTTON_LABEL%></button>
                      </div>

                    </div>
                  </div>

                </fieldset>
            </form>

          </div>
        </div>
      </div>
    </div>
    
  </div>

  <script type="text/javascript">
    function validateForm(){
      if(!formValidation('OTPForm'))return false;

      var formObj = document.OTPForm
      formObj.email.value = "<%=params[:email]%>";
      formObj.password.value = "<%=params[:password]%>";
      formObj.otpID.value = "<%=params[:otpID]%>";
      formObj.submit();

    }
  </script>

</body>