<% 
  currentAgent = @user
  if currentAgent.present?
    agentName = "(" + Utility.getAgentFullName(currentAgent) + ")"
  else
    agentName = Constants::BLANK_VALUE
  end  
%>

<style type="text/css">
  .userProfile {
    width: 160px!important;
    height: 160px!important;
  }
  
  #searchUserForm input[type=radio] {
    display: none;
  }
  
  #searchUserForm input[type="radio"]:checked + label {
     background-color: #1ABB9C;
  }
  
  .labelClass {
    cursor:pointer;
    display: block;
    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
    -ms-appearance: button;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #CCC;
    background-color: rgb(221, 221, 221);
    -webkit-background-color: rgb(221, 221, 221);
    font-size: 1.6rem;
    color: #111111;
    border: 2px solid #ddd;
    -webkit-border: 2px solid #ddd;
    padding: 21px;
    width: 100px;
    height: 100px;
    margin: auto auto;
    text-align: center;
    border-radius: 5px;
  }
  
</style>

<div class="right_col" role="main">
  
  <div class="">
    <div class="page-title"><div class="title_left"><h3><%=Constants::MF_DEPOSIT_ROLE%> <%=agentName%></h3></div></div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <% unless @user.present? %>
        <div class="x_panel">
          <div class="x_content">
            <%= form_tag("/MFCashDepositSearch", method: "post", :name => "searchUserForm", :id => 'searchUserForm') do %>
              
              <div class="form-group">  
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 text-center" style="margin-bottom: 20px;">
                  <label style="font-size: 16px;">Select the deposit option</label>
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3 col-sm-offset-3 text-center">
                  <%= radio_button_tag :userAccType, Constants::M_SHIRIKI_ACC_LABEL %>
                  <label class="labelClass" for="userAccType_M-SHIRIKI_Account"><%= image_tag "Logo.png", :style => "width: 100%;" %></label>
                  <label style="margin-top: 10px;"><%=Constants::M_SHIRIKI_ACC_LABEL%></label>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                  <%= radio_button_tag :userAccType, Constants::GOVT_FUND_ACC_LABEL%>
                  <label class="labelClass" for="userAccType_Govt._Fund_Account"><%= image_tag "Bank.png", :style => "width: 100%;"%></label>
                  <label style="margin-top: 10px;"><%=Constants::GOVT_FUND_ACC_LABEL%></label>
                </div>  
              </div>  

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3" style="margin-top: 20px;">
                  <%= text_field_tag :phoneOrName, params[:phoneOrName], class: 'form-control', :placeholder=>'Phone or name to search', :required => true, :list => 'activeAgentsList' %>
                  <datalist id="activeAgentsList">
                    <% activeUsers = Utility.getAllActiveMF %>
                    <% activeUsers.each do |activeUser| %>
                      <option value="<%=User.getNameDisValue(activeUser)%> - <%=activeUser.phone%>">
                    <% end %> 
                  </datalist>
                </div>
              </div>  
              
              <div class="form-group">  
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 text-center" style="margin-top: 20px;">
                  <%= submit_tag "Search", :onclick => "return phoneCheck()" , class: 'btn btn-success btn-round' %>
                </div>
              </div>  

            <% end %>
          </div>
        </div>
      <% end %>  

      <% if @user.present? %>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                  
                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                  <div class="profile_img">
                    <div id="crop-avatar">
                      <%= image_tag(Utility.getAgentImage(@user), :class => 'img-responsive avatar-view userProfile')%>
                    </div>
                  </div>
                  <h4><strong><%= Utility.getAgentFullName(@user) %></strong></h4>
                  <p> <i class="fa fa-phone user-profile-icon"></i> <%= @user.phone %></p>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="profile_title">
                    <div class="col-md-12">

                      <% if params[:userAccType].eql? Constants::M_SHIRIKI_ACC_LABEL %>
                        <h4 class="showbalance">Current account balance :<strong> <%=Utility.getCurrencyLabel%> <%=Utility.getFormatedAmount(Utility.getAgentAccountBalance(@user))%></strong></h4>
                        <h4 class="showbalance">Credit balance : <strong> <%=Utility.getFormatedAmount(Utility.getAgentLoanBalance(@user))%> </strong></h4>
                        <h4 class="showbalance">Penalty charges : <strong> <%=Utility.getFormatedAmount(Utility.getAgentPenaltyBalance(@user))%> </strong></h4>
                      <% elsif params[:userAccType].eql? Constants::GOVT_FUND_ACC_LABEL %>
                        <h4 class="showbalance">Current Govt account balance :<strong> <%=Utility.getCurrencyLabel%> <%=Utility.getFormatedAmount(Utility.getAgentGovtAccountBalance(@user))%></strong></h4>
                      <% end %>  

                      <div class="clearfix"></div>
                      <div class="ln_solid" style="margin-top: 0px"></div>
                      
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                          
                          <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                            <% if params[:userAccType].eql? Constants::M_SHIRIKI_ACC_LABEL %>
                              <label class="labelClass" style="background-color: #1ABB9C"><%= image_tag "Logo.png", :style => "width: 100%;"%></label>
                              <label style="margin-top: 10px;"><%=Constants::M_SHIRIKI_ACC_LABEL%></label>
                            <% elsif params[:userAccType].eql? Constants::GOVT_FUND_ACC_LABEL %>
                              <label class="labelClass" style="background-color: #1ABB9C"><%= image_tag "Bank.png", :style => "width: 100%;"%></label>
                              <label style="margin-top: 10px;"><%=Constants::GOVT_FUND_ACC_LABEL%></label>
                            <% end %>  
                          </div>
                      
                          <div class="col-md-9 col-sm-9 col-xs-12">
                            <%= form_tag("/MFCashDepositConfirm", method: "post", id: 'depositForm', class: 'form-horizontal form-label-left') do %>

                              <%= hidden_field_tag "agentID", @user.id %>
                              <%= hidden_field_tag "userAccType", params[:userAccType] %>
                              
                              <div class="form-group form-horizontal col-xs-12">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left" >Amount (<%=Utility.getCurrencyLabel%>)</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                  <%= text_field_tag :amount, params[:amount], class: 'form-control decimal',:placeholder=>'Amount', id: 'amount', :required => true, :maxlength => 8 %>
                                </div>
                              </div>

                              <div class="form-group form-horizontal col-xs-12">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left" >Payment mode</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                  <%=select_tag "description", options_for_select(PaymentMode.getPaymentModes, params[:description]), class: 'form-control', id: 'payment_mode', :required => true%>  
                                </div>
                              </div>

                              <div class="form-group form-horizontal col-xs-12">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left" >Reference no.</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                  <%= text_field_tag :externalRef, params[:externalRef], class: 'form-control',:placeholder=>'Reference number', id: 'ext_ref', :maxlength => 70 , :required => true%>
                                </div>
                              </div>
                              <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 "></div>

                              <div class="col-md-4 col-sm-4 col-xs-12  ">
                                <%= submit_tag "Submit", class: 'btn btn-success btn-round',  onclick: "return depositFormCheck();"%>
                                <a href="#" onclick="cancelPage()" class="btn btn-default btn-round">Cancel</a>
                              </div>

                            <% end %>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      <%end %>

    </div>
  </div>
</div>  

<script type="text/javascript">
  var mfMShirikiAcc = document.getElementById('userAccType_M-SHIRIKI_Account');
  var mfGovtAcc = document.getElementById('userAccType_Govt._Fund_Account'); 
  autoSelectRadio("<%=params[:userAccType]%>");

  function phoneCheck(){
      if(!formValidation('searchUserForm')){
        return false;
      } else if(!(mfMShirikiAcc.checked) && !(mfGovtAcc.checked)){
        getWarningAlert("<%=(I18n.t :NOT_ANY_MF_ACCOUNT_SELECT)%>")
        return false;
      } else {
        return true;
      }  
  }

  function autoSelectRadio(userAccType){
    if(userAccType == "<%=Constants::M_SHIRIKI_ACC_LABEL%>"){
      mfMShirikiAcc.checked = true;
    } else if(userAccType == "<%=Constants::GOVT_FUND_ACC_LABEL%>"){
      mfGovtAcc.checked = true;
    }
  }

  function depositFormCheck(){
    if(!formValidation('depositForm'))return false; 

    var amount = $("#amount").val();
    if(amount == 0 || amount < 0){
      getWarningAlert("Amount Can't be -ve and zero");
      $("#amount").focus();
      return false;
    }
    return true;
  }

  function cancelPage(){
    var name = ["userAccType", "phoneOrName"];
    var values = ["<%=params[:userAccType]%>", "<%=params[:phoneOrName]%>"];
    openWindowWithPost("/MFCashDeposit", name, values);
  }

</script>