<%
	txnID = params[:txnID] # This is id of the TRANSACTION_ROLLBACK entry 
	txnDate = params[:txnDate]
	rolledBackTxnId = params[:rolledBackTxnId] # This is the id of that transaction that will br roll back
	agentName = params[:agentName]
	agentPhone = params[:agentPhone]
	serviceType = params[:serviceType]
	subType = params[:subType]
	amount = params[:amount]
	adminEmail = params[:adminEmail]
	description = params[:description]
	doneTxnDate = params[:doneTxnDate]
	clientPhone = params[:clientPhone]
	infoIcon = "<a class=\"pull-right\" onclick=\"showModel()\" style=\"cursor:pointer; color:#D84F48;\">"
	infoIcon << "<i class=\"fa fa-info-circle\" style=\"margin:5px;\"></i><u>Click here for more info</u></a>"
%>
<style type="text/css">
	.lineHt{
		line-height: 1.5;
		word-wrap: break-word;
	}
</style>
<div class="right_col" role="main">

	<div class=""><div class="page-title"><div class="title_left"><h3><%=Constants::TXN_ROLLBACK_APPROVE_ROLE%></h3></div></div></div>
	<div class="clearfix"></div>

    <div class="row">
      	<div class="col-md-12 col-sm-12 col-xs-12">
        	<div class="x_panel">
          		<div class="x_content">
            		<!-- <div class="col-md-6 col-md-offset-3 col-sm-3 col-xs-12 "> -->
                
	                  	<form action="/ApprovedTxnRollbackConfirm" method="post" name="approveTxnForm" class="form-horizontal form-label-left">

	                    	<input type="hidden" name="userAction" value="">
		                    <input type="hidden" name="txnID" value="">
		                    <input type="hidden" name="rolledBackTxnId" value="">
		                    <input type="hidden" name="amount" value="">
		                    <input type="hidden" name="serviceType" value="">
  
		                    <table class="table">
		                      <thead>
		                        <tr>
		                          <th colspan=2 style="color : #fff; background-color: rgb(26, 187, 156); position: relative; top: 0px; font-size: 15px;">Transaction Detail</th>
		                        </tr>
		                      </thead>
		                              
		                      <tbody>
		                        <tr><td>Initiate Date</td><td><%= Utility.getFormatedDate(txnDate) %></td></tr>
		                        <tr><td>Transaction ID</td><td><%= rolledBackTxnId %> <%= infoIcon.html_safe %></td></tr>
		                        <tr><td>Transaction Date</td><td><%= Utility.getFormatedDate(doneTxnDate) %></td></tr>
		                        <tr><td>Micro Franchise Name</td><td><%=agentName%></td></tr>
		                        <tr><td>Micro Franchise Phone</td><td><%=agentPhone%></td></tr>
		                        <tr><td>Transaction Type</td><td><%=Utility.getServiceTypeDisplayValue(serviceType)%></td></tr>
		                        <tr><td>Transaction Sub Type</td><td><%=Utility.getServiceTypeDisplayValue(subType)%></td></tr>
		                        <tr><td>Amount</td><td><%=TxnHeader.my_money(amount)%></td></tr>
		                        <tr><td>Client Phone</td><td><%=clientPhone%></td></tr>
		                        <tr><td>Initiated By (Name / Phone)</td><td><%=adminEmail%></td></tr>
		                        <tr><td>Description</td><td><%=description%></td></tr>
		                      </tbody>
		                    </table>

		                    <div class="col-md-12 text-center">
		                        <button onclick="return approveTxn()" id="approveBtn" class="btn btn-success btn-round"><%=Constants::APPROVE_BTN_LABEL%></button>
			                    <button onclick="return rejectTxn()" id="rejectBtn" class="btn btn-danger btn-round"><%=Constants::REJECT_BTN_LABEL%></button>
			                    <a href="/ApproveTxnRollback" class="btn btn-default btn-round"><%=Constants::CANCEL_BTN_LABEL%></a>
		                    </div> 
		                    
	                  	</form>

            		<!-- </div> -->
          		</div>
        	</div>
      	</div>
    </div>
</div>

<% if !serviceType.eql? Constants::IREMBO_TAX_PAYMENT_DB_LABEL %>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="vertical-alignment-helper">
		    <div class="modal-dialog modal-lg  vertical-align-center">
		      <div class="modal-content">
		          
		        <div class="modal-header">
		          	<h4 class="modal-title" id="myModalLabel">Gateway Log</h4>
		        </div>
		        
		        <div class="modal-body">
		          	<div class="" role="tabpanel" data-example-id="togglable-tabs">
			            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
			                <li role="presentation" class=""><a href="#previous" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Previous</a></li>
			                <li role="presentation" class="active"><a href="#current" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Current</a></li>
			                <li role="presentation" class=""><a href="#next" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Next</a></li>
			            </ul>

		              	<div id="myTabContent" class="tab-content">
		                	<div role="tabpanel" class="tab-pane fade" id="previous" aria-labelledby="home-tab">
		                  		<% previousGatewayLog = GatewayLog.getPreviousGatewayLog(AppUtility.getAggregatorName(subType), rolledBackTxnId) %>
		                  		<% if previousGatewayLog.present? %>
									<% requestData = previousGatewayLog.request %>
									<% responseData = previousGatewayLog.response %>
									<% response = GatewayLog.getFormalRqstResData(requestData, responseData) %>
									<% if response.present? %>
										<div class="row">
											<div class="col-md-6 lineHt">	
												<h5>Request Data</h5>
												System Transaction ID: <%= previousGatewayLog.header_id %><br>
												Transaction Reference: <%=response.requestTxnID%><br>
												Amount: <%=response.txnAmount%><br>
												Client Phone: <%=response.clientNo%><br>
												Time: <%=response.requestTime%><br>
											</div>
										
											<div class="col-md-6 lineHt">
												<h5>Response Data</h5>	
												Aggregator Txn ID: <%=response.serviceTxnID%><br>
												Aggregator Balance: <%=response.serviceBalance%><br>
												Response Code: <%=response.serviceResponseCode%><br>
												Response Message: <%=response.serviceResponseMsg%><br>
											</div>			
										
											<div class="col-md-12 lineHt">	
												<h5>Code</h5>
												<b>Request</b>: <%= requestData %><br />
												<b>Response</b>: <%= responseData %>
											</div>		
										</div>
									<% end %>	

		                  		<% else %>
		                  			<span>No transaction occur</span>
		                  		<% end %>
		                	</div>
		                
		                	<div role="tabpanel" class="tab-pane fade active in" id="current" aria-labelledby="profile-tab">
		                  		<% currentGatewayLog = GatewayLog.getCurrentGatewayLog(AppUtility.getAggregatorName(subType), rolledBackTxnId) %>
		                  		<% if currentGatewayLog.present? %>
									<% requestData = currentGatewayLog.request %>
									<% responseData = currentGatewayLog.response %>
									<% response = GatewayLog.getFormalRqstResData(requestData, responseData) %>
									<% if response.present? %>
										<div class="row">
											<div class="col-md-6 lineHt">	
												<h5>Request Data</h5>
												System Transaction ID: <%= currentGatewayLog.header_id %><br>
												Transaction Reference: <%=response.requestTxnID%><br>
												Amount: <%=response.txnAmount%><br>
												Client Phone: <%=response.clientNo%><br>
												Time: <%=response.requestTime%><br>
											</div>
										
											<div class="col-md-6 lineHt">
												<h5>Response Data</h5>	
												Aggregator Txn ID: <%=response.serviceTxnID%><br>
												Aggregator Balance: <%=response.serviceBalance%><br>
												Response Code: <%=response.serviceResponseCode%><br>
												Response Message: <%=response.serviceResponseMsg%><br>
											</div>			
										
											<div class="col-md-12 lineHt">	
												<h5>Code</h5>
												<b>Request</b>: <%= requestData %><br />
												<b>Response</b>: <%= responseData %>
											</div>		
										</div>
									<% end %>	
		                  		<% end %>
		                	</div>
		                
		                	<div role="tabpanel" class="tab-pane fade" id="next" aria-labelledby="profile-tab">
		                  		<% nextGatewayLog = GatewayLog.getNextGatewayLog(AppUtility.getAggregatorName(subType), rolledBackTxnId) %>
		                  		<% if nextGatewayLog.present? %>
									<% requestData = nextGatewayLog.request %>
									<% responseData = nextGatewayLog.response %>
									<% response = GatewayLog.getFormalRqstResData(requestData, responseData) %>
									<% if response.present? %>
										<div class="row">
											<div class="col-md-6 lineHt">	
												<h5>Request Data</h5>
												System Transaction ID: <%= nextGatewayLog.header_id %><br>
												Transaction Reference: <%=response.requestTxnID%><br>
												Amount: <%=response.txnAmount%><br>
												Client Phone: <%=response.clientNo%><br>
												Time: <%=response.requestTime%><br>
											</div>
										
											<div class="col-md-6 lineHt">
												<h5>Response Data</h5>	
												Aggregator Txn ID: <%=response.serviceTxnID%><br>
												Aggregator Balance: <%=response.serviceBalance%><br>
												Response Code: <%=response.serviceResponseCode%><br>
												Response Message: <%=response.serviceResponseMsg%><br>
											</div>			
										
											<div class="col-md-12 lineHt">	
												<h5>Code</h5>
												<b>Request</b>: <%= requestData %><br />
												<b>Response</b>: <%= responseData %>
											</div>		
										</div>
									<% end %>	
		                  		<% else %>
		                  			<span>No transaction occur</span>
		                  		<% end %>
		                	</div>
		              	</div>

		            </div>
		        </div>

		        <div class="modal-footer">
		          	<button type="button" class="btn btn-round btn-success" data-dismiss="modal" onclick=confirmDialogClicked(false)>OK</button>
		        </div>

		      </div>
		    </div>
	  	</div>
	</div>

<% end %>	

<script type="text/javascript">
	var formObject = document.approveTxnForm;
	
	formObject.txnID.value = "<%=txnID%>";
	formObject.rolledBackTxnId.value = "<%=rolledBackTxnId%>";
	formObject.amount.value = "<%=amount%>";
	formObject.serviceType.value = "<%=serviceType%>";

	
	function approveTxn(){
		document.getElementById("approveBtn").disabled = true;
		document.getElementById("rejectBtn").disabled = true;
		formObject.userAction.value = "<%=Constants::APPROVE_TXN_USER_ACTION_VALUE%>";
		formObject.submit();
	}

	function rejectTxn(){
		document.getElementById("approveBtn").disabled = true;
		document.getElementById("rejectBtn").disabled = true;
		formObject.userAction.value = "<%=Constants::REJECT_TXN_USER_ACTION_VALUE%>";
		formObject.submit();
	}
	
	function showModel(){
    	$("#myModal").modal(); 
  	}
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>