<div class="right_col" role="main">

	<div class=""><div class="page-title"><div class="title_left"><h3><%=Constants::TXN_ROLLBACK_APPROVE_ROLE%></h3></div></div></div>
	<div class="clearfix"></div>

	<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="">
                <div class="x_title" style="padding: 0px!important;">
                    <div class="table-responsive" id="parent2">
                        
                        <table id="fixTable" class="table">
                          	<thead>
                            	<tr>
		                            <th class="text-left">Date</th>
		                            <th class="text-left">Transaction ID</th>
		                            <th class="text-left">M F Name</th>
		                            <th class="text-left">M F Phone</th>
		                            <th class="text-center">Service Type</th>
		                            <th class="text-center">Sub Type</th>
		                            <th class="text-center">Amount</th>
		                            <th class="text-center">Initiated By (Name / Phone)</th>
		                            <th class="text-center">Description</th>
	                            </tr>
                          	</thead>
                                      
                            <tbody>
                            	<% if @initatedTxns.present? %> 
                            		<% rowNumber = 0 %>
	                                
	                                <% @initatedTxns.each do |txn|%>
	                                
	                                	<% rowNumber = rowNumber + 1 %>

											<tr onclick="setDetails('<%=rowNumber%>')">
												<input type="hidden" value="<%=txn['id']%>" id="txnID<%=rowNumber%>">
												<input type="hidden" value="<%=txn['done_txn_date']%>" id="doneTxnDate<%=rowNumber%>">
												<input type="hidden" value="<%=txn['client_phone']%>" id="clientPhone<%=rowNumber%>">

											    <td class="text-left"><input type="hidden" value="<%=txn['txn_date']%>" id="txnDate<%=rowNumber%>"><%=Utility.getFormatedDate(txn['txn_date'])%></td>
											    <td class="text-center"><input type="hidden" value="<%=txn['external_reference']%>" id="rolledBackTxnId<%=rowNumber%>"><%=txn['external_reference']%></td>
											    <td class="text-left"><input type="hidden" value="<%=txn['name']%> <%=txn['last_name']%>" id="agentName<%=rowNumber%>"><%=txn['name']%> <%=txn['last_name']%></td>
											    <td class="text-center"><input type="hidden" value="<%=txn['phone']%>" id="agentPhone<%=rowNumber%>"><%=txn['phone']%></td>
											    <td class="text-center"><input type="hidden" value="<%=txn['service_type']%>" id="serviceType<%=rowNumber%>"><%=Utility.getServiceTypeDisplayValue(txn['service_type'])%></td>
											    <td class="text-center"><input type="hidden" value="<%=txn['sub_type']%>" id="subType<%=rowNumber%>"><%=Utility.getServiceTypeDisplayValue(txn['sub_type'])%></td>
											    <td class="text-center"><input type="hidden" value="<%=txn['amount']%>" id="amount<%=rowNumber%>"><%=TxnHeader.my_money(txn['amount'])%></td>
											    <td class="text-center"><input type="hidden" value="<%=txn['initatorfname']%> <%=txn['initatorlname']%> <%='/'%> <%=txn['initatorphone']%>" id="adminEmail<%=rowNumber%>"><%=txn['initatorfname']%> <%=txn['initatorlname']%> / <%=txn['initatorphone']%></td>
											    <td class="text-center"><input type="hidden" value="<%=txn['description']%>" id="description<%=rowNumber%>"><%=txn['description']%></td>
											</tr>

	                                <% end %>

	                            <% else %>
	                            	<tr>
		                                <td class="text-left" colspan="9"><%=Constants::NO_RECORD_FOUND_LABEL%></td>
		                            </tr>
	                            <% end %>    
                            </tbody>
                        
                        </table>
                        
                  	</div>
                </div>
	      	</div>
	    </div>
  	</div>

</div>

<script type="text/javascript">
	function setDetails(rowNumber){

		var txnID = $('#txnID'+rowNumber).val();
		var txnDate = $('#txnDate'+rowNumber).val();
		var doneTxnDate = $('#doneTxnDate'+rowNumber).val();
		var clientPhone = $('#clientPhone'+rowNumber).val();
		var rolledBackTxnId = $('#rolledBackTxnId'+rowNumber).val();
		var agentName = $('#agentName'+rowNumber).val();
		var agentPhone = $('#agentPhone'+rowNumber).val();
		var serviceType = $('#serviceType'+rowNumber).val();
		var subType = $('#subType'+rowNumber).val();
		var amount = $('#amount'+rowNumber).val();
		var adminEmail = $('#adminEmail'+rowNumber).val();
		var description = $('#description'+rowNumber).val();

		var name = ["isDataPresent", "txnID", "txnDate", "rolledBackTxnId", "agentName", "agentPhone", "serviceType", "subType", "amount", "adminEmail", "description", "doneTxnDate", "clientPhone"];
		var values = [true, txnID, txnDate, rolledBackTxnId, agentName, agentPhone, serviceType, subType, amount, adminEmail, description, doneTxnDate, clientPhone];
		openWindowWithPost("/ApproveSingleTxnRollback", name,values);
	}
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>