<style type="text/css">
  .user-profile.img-responsive.avatar-view{
    width: 50px!important;
    height: 50px!important;
  }
  .userProfile {
    width: 160px!important;
    height: 160px!important;
  }
</style>

<div class="right_col" role="main">
  
  <div class=""><div class="page-title"><div class="title_left"><h3><%=Constants::MF_PENALTY_ROLE%></h3></div></div></div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content">
            
            <%= form_tag("/MFPenaltiesPhone", method: "post", id: 'searchByPhoneForm') do %>
              <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 col-sm-offset-3">
                <%= text_field_tag :phone, params[:phone], class: 'form-control number',:placeholder=>'Phone',:maxlength => 15, :required => true %>
                <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <%= submit_tag "Search", :onclick => "return phoneCheck()" , class: 'btn btn-success btn-round pull-left' %>
              </div>
            <% end %>

            <div class="col-md-1 text-center col-md-offset-5"> <p> OR </p> </div>
          
            <%= form_tag("/MFPenaltiesName", method: "post", id: 'searchByNameForm') do %>
              <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 col-sm-offset-3">
                <%= text_field_tag :name, params[:name], class: 'form-control alpha',:placeholder=>'Name',:maxlength => 50, :required => true %>
                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <%= submit_tag "Search" ,:onclick => "return nameCheck()", class: 'btn btn-success btn-round pull-left' %>
              </div>
            <% end %>

        </div>
      </div>

      <%if @user.present? %>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">

                <% if @isSearchViewDisplay %>
                 
                  <div class="x_title">
                    <div  class="table-responsive" id="parent">
                      <div class="col-md-12 col-sm-12 col-xs-12"> 
                        <table id="fixTable" class="table">
                          <thead>
                            <tr>
                              <th class="text-left"></th>
                              <th class="text-left">Full Name</th>
                              <th class="text-center">Phone Number</th>
                              <th class="text-right">TIN</th>
                              <th class="text-right"></th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @user.each do |agent| %>
                              <tr>
                                  <% if !agent.image.present?%>
                                    <td class="text-left"><%= image_tag('user.png', :alt => "Picture", :class => 'user-profile img-responsive avatar-view') %></td> 
                                  <% else%>
                                    <td class="text-left"><%= image_tag(agent.image, :alt => "Picture", :class => 'user-profile img-responsive avatar-view') %></td>
                                  <% end%> 
                                  <td class="text-left"><%=agent.name%> <%=agent.last_name%></td>
                                  <td class="text-center"><%=agent.phone %></td>
                                  <td class="text-right"><%=agent.tin_no%></td>
                                  <td class="text-right"><%=link_to 'Select',{:controller => "mf_penalty", :action => "index", :user => agent },class: "btn btn-success btn-round" %></td> 
                              </tr>
                            <% end %> <!-- This end is of for loop -->
                          </tbody>
                        </table>
                      </div>
                    </div>   
                  </div>  

                <% else %> 

                  <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="profile_img">
                      <div id="crop-avatar">
                        <% if !@user.image.present?%>
                          <%= image_tag('user.png', :class => 'img-responsive avatar-view userProfile')%>
                        <% else%>
                          <%= image_tag(@user.image, :class => 'img-responsive avatar-view userProfile') %>
                        <% end%> 
                      </div>
                    </div>
                    <h4><strong><%=@user.name%> <%=@user.last_name%></strong></h4>
                    <p> <i class="fa fa-phone user-profile-icon"></i> <%=@user.phone%></p>
                  </div>

                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="profile_title">
                      <div class="col-md-12">

                        <h4 class="showbalance">Current account balance :<strong> <%= Utility.getCurrencyLabel %> <%= Utility.getFormatedAmount(Utility.getAgentAccountBalance(@user)) %></strong></h4>
                        <h4 class="showbalance">Credit balance : <strong> <%= Utility.getFormatedAmount(Utility.getAgentLoanBalance(@user)) %> </strong></h4>
                        <h4 class="showbalance">Penalty charges : <strong> <%= Utility.getFormatedAmount(Utility.getAgentPenaltyBalance(@user)) %> </strong></h4>

                        <div class="clearfix"></div>

                        <div class="ln_solid" style="margin-top: 0px"></div>

                        <%= hidden_field_tag "agentID", @user.id%>
                          
                        <div class="form-group form-horizontal col-xs-12">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left">Select Penalty</label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                            <p><span id="penaltyTypes" class="selectivity-input" style="width: 100%; border: 1px solid #ccc; padding: 6px 12px;"></span></p>
                          </div>
                        </div>
                       
                        <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 "></div>

                        <div class="col-md-4 col-sm-4 col-xs-12  ">
                          <%= button_tag "Submit", class: 'btn btn-success btn-round',  onclick: "return savePenalty()", id: "submitButton"%>
                          <a href="/MFPenalties" class="btn btn-default btn-round">Cancel</a>
                        </div>

                      </div>
                    </div>
                  </div>

                <% end %>  

              </div>
            </div>
          </div>
        </div>
      <%end %>

    </div>
  </div>
</div>  

<script type="text/javascript">
  function phoneCheck(){
    if(!formValidation('searchByPhoneForm'))return false;
  }

  function nameCheck(){ 
    if(!formValidation('searchByNameForm'))return false;
  }
  
  $(document).ready(function() {
    var penalties = <%= raw MfPenaltyFee.getAllPenaltyTypes%>;
    var transformText = $.fn.selectivity.transformText;

    function queryFunction(query) {
      var selectivity = query.selectivity;
      var term = query.term;
      var offset = query.offset || 0;
      var results;
      
      results = penalties.filter(function(penalty) {
          return transformText(penalty).indexOf(transformText(term)) > -1;
      });
  
      results.sort(function(a, b) {
        a = transformText(a);
        b = transformText(b);
        var startA = (a.slice(0, term.length) === term),
            startB = (b.slice(0, term.length) === term);
        if (startA) {
            return (startB ? (a > b ? 1 : -1) : -1);
        } else {
            return (startB ? 1 : (a > b ? 1 : -1));
        }
      });

      setTimeout(function() {
        query.callback({
            more: results.length > offset + 10,
            results: results.slice(offset, offset + 10)
        });
      }, 0);
    }

    $('#penaltyTypes').selectivity({
      multiple: true,
      placeholder: 'Select Penalty',
      query: queryFunction
    });
  
  });

  function savePenalty(){
    var applyPenalties = getApplyPenalties();
    
    if(applyPenalties.length <= 0){
      getWarningAlert("<%=(I18n.t :PENALTY_NOT_SELECT_MSG)%>");
      return false;
    } else {
      $("#submitButton").prop('disabled', true);
      var agentID = $("#agentID").val();
      var name = ["agentID", "applyPenalties"];
      var values = [agentID, applyPenalties];
      openWindowWithPost("/MFAddPenalties", name,values);
    }
  }

  function getApplyPenalties(){
    var penaltyList = $('#penaltyTypes').selectivity('data');
    var applyPenalties = [];
    for(i=0;i<penaltyList.length;i++){
      var value = Object.values(penaltyList[i]['text']).toString();
      applyPenalties[i] = value.replace(/,?/g, "");
    }
    return applyPenalties;
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>