<style type="text/css">
  .userProfile {
    width: 160px!important;
    height: 160px!important;
  }
</style>

<div class="right_col" role="main">
  
  <div class=""><div class="page-title"><div class="title_left"><h3><%=Constants::MF_REMBURSE_ROLE%></h3></div></div></div>
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content">
          <%= form_tag("/cash_payment", method: "post", id: 'searchForm') do %>
            
            <div class="form-group">
              
              <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 col-sm-offset-3" >
                <%= text_field_tag :phoneOrName, params[:phoneOrName], class: 'form-control', :placeholder=>'Phone or Name to search', :required => true, :list => 'activeAgentsList' %>
                <datalist id="activeAgentsList">
                  <% activeUsers = Utility.getAllActiveMF %>
                  <% activeUsers.each do |activeUser| %>
                    <option value="<%=User.getNameDisValue(activeUser)%> - <%=activeUser.phone%>">
                  <% end %> 

                  <% suspendUsers = Utility.getAllSuspendMF %>
                  <% suspendUsers.each do |suspendUser| %>
                    <option value="<%=User.getNameDisValue(suspendUser)%> - <%=suspendUser.phone%>">
                  <% end %> 
                </datalist>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12">
                <%= submit_tag "Search", :onclick => "return validateForm()", class: 'btn btn-success btn-round pull-left' %>
              </div>

            </div>  

          <% end %>
        </div>
      </div>

      <% if @user.present? %>

        <%
          agent = @user
          accBalance = TxnHeader.my_money(Utility.getAgentAccountBalance(agent))
          govtAccBalance = TxnHeader.my_money(Utility.getAgentGovtAccountBalance(agent))
          loanBalance = TxnHeader.my_money(Utility.getAgentLoanBalance(agent))
          penaltyBalance = TxnHeader.my_money(Utility.getAgentPenaltyBalance(agent))
          commissionBalance = TxnHeader.my_money(Utility.getAgentCommissionBalance(agent))
          totalPayableAmount = Utility.getTotalPayableAmount(accBalance, commissionBalance, govtAccBalance, loanBalance, penaltyBalance)
        %>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                          
                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                  
                  <div class="profile_img">
                    <div id="crop-avatar">
                      <%= image_tag(User.getUserImage(agent), :alt => "Picture",:class => 'img-responsive avatar-view userProfile')%>
                    </div>
                  </div>
                  
                  <h4><strong><%= Utility.getAgentFullName(agent) %></strong></h4>
                  
                  <p><i class="fa fa-phone user-profile-icon"></i> <%=agent.phone%></p>
                
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="profile_title">
                    <div class="col-md-12">
                     
                      <h4 class="showbalance">Total Payable Amount : <strong> <%= Utility.getCurrencyLabel %> <%= Utility.getFormatedAmount(totalPayableAmount)%> </strong></h4>
                      <a class="pull-right" onclick="getInfo();" style="cursor:pointer; color:#D84F48;"><i class="fa fa-info-circle" style="margin:5px;"></i><u>More info</u></a>

                      <div class="clearfix"></div><div class="ln_solid" style="margin-top: 0px"></div>

                      <%= form_tag("/Reimbursement", method: "post", id: 'reimbursementForm', class: 'form-horizontal form-label-left') do %>
                        
                        <%= hidden_field_tag "user_id", agent.id %>
                          
                        <% if totalPayableAmount > 0 %>   
                         
                          <div class="form-group form-horizontal col-xs-12">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left" >Payment amount (RWF)</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <%= text_field_tag :amount, params[:amount], class: 'form-control decimal',:placeholder=>'Amount', id: 'amount', :maxlength => 8, :required => true %>
                            </div>
                          </div>

                          <div class="form-group form-horizontal col-xs-12">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left" >Payment mode</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <%=select_tag "payment_mode", options_for_select(PaymentMode.getPaymentModes, params[:description]), class: 'form-control', id: 'payment_mode', required: true%>  
                            </div>
                          </div>

                          <div class="form-group form-horizontal col-xs-12">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 text-left" >Reference number</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <%= text_field_tag :ext_ref, params[:ext_ref], class: 'form-control',:placeholder=>'Reference number', id: 'ext_ref', :maxlength => 70, required: true %>
                            </div>
                          </div>

                        <% end %> 

                        <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 "></div>
                        <div class="col-md-4 col-sm-4 col-xs-12  ">
                          <%= submit_tag "Submit", class: 'btn btn-success btn-round',  onclick: "return check();",id: 'submit_button' %>
                          <%= link_to "Cancel", new_cash_payment_path , class: "btn btn-default btn-round" %>
                        </div>

                      <% end %> 

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      <%end %>

    </div>
  </div>
</div>  

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  vertical-align-center">
      <div class="modal-content">
          
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Account information as on <%=Date.today.strftime("%d-%m-%C%y")%></h4>
        </div>
        
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 ">
              <div class="col-sm-4 text-left"><h5>M-Shiriki Acc balance</h5></div>
              <div class="col-sm-2 text-right"><h5><%=Utility.getFormatedAmount(accBalance)%></h5></div>
              <div class="col-sm-3 text-left"><h5>Credit balance </h5></div>
              <div class="col-sm-3 text-right"><h5><%=Utility.getFormatedAmount(loanBalance)%></h5></div>
            </div>     
          </div>

          <div class="row">
             <div class="col-sm-12 ">
              <div class="col-sm-4 text-left"><h5>Govt Acc Balance</h5></div>
              <div class="col-sm-2 text-right"><h5><%=Utility.getFormatedAmount(govtAccBalance)%></h5></div>
              <div class="col-sm-3 text-left"><h5>Penalty balance </h5></div>
              <div class="col-sm-3 text-right"><h5><%=Utility.getFormatedAmount(penaltyBalance)%></h5></div>
            </div>     
          </div>

          <div class="row">
            <div class="col-sm-12 ">
              <div class="col-sm-4 text-left"><h5>Commission balance</h5></div>
              <div class="col-sm-2 text-right"><h5><%=Utility.getFormatedAmount(commissionBalance)%></h5></div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 ">
              <div class="col-sm-3 text-left"><h4>Total payable</h4></div>
              <div class="col-sm-3 text-right"><h4><%=Utility.getFormatedAmount(totalPayableAmount)%></h4></div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-round btn-success" data-dismiss="modal" onclick=confirmDialogClicked(false)>OK</button>
        </div>

      </div>
    </div>
  </div>
</div>
   

<script type="text/javascript">

  $(document).ready(function(){
    if("<%=accBalance%>" == 0 && "<%=commissionBalance%>" == 0 && "<%=penaltyBalance%>" == 0 && "<%=loanBalance%>" == 0){
      $('#submit_button').prop("disabled", true);
    } else {
      $('#submit_button').prop("disabled", false);
    }
  });

  
  function validateForm(){ 
    if(!formValidation('searchForm')){
      return false;
    } else {
      return true;
    } 
  }

  function check(){
    if(!formValidation('reimbursementForm'))return false; 

    var amount = $("#amount").val();
    var total_amount = "<%=totalPayableAmount%>";
   
    if(amount == 0 || amount < 0){
      getWarningAlert("Amount Can't be -ve and zero");
      $("#amount").focus();
      return false;
    }

    if(parseFloat(amount) > parseFloat(total_amount)){
      getWarningAlert("Amount can not be more than total payable amount");
      $("#amount").focus();
      return false;
    }
    return true;
  }
 
  function getInfo(){
    $("#myModal").modal(); 
  }

</script>