<style type="text/css">
  .user-profile.img-responsive.avatar-view{
    width: 50px;
  }
</style>

<div class="right_col" role="main">

  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Reset password</h3></div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="form-group text-center">
           
            <%= form_tag("/reset_password", method: "post", id: "searchByPhoneForm") do %>
              <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 col-sm-offset-3">
                <%= text_field_tag :phone, params[:phone], class: 'form-control number',:placeholder=>'Phone',:maxlength => 15, :required => true %>
                <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <%= submit_tag "Search", :onclick => "return phoneCheck()" , class: 'btn btn-success btn-round pull-left' %>
              </div>
            <% end %>
          
            <div class="col-md-1 text-center col-md-offset-5"> <p> OR </p> </div>
          
            <%= form_tag("/CheckUserName", method: "post", id: "searchByNameForm") do %>
              <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 col-sm-offset-3">
                <%= text_field_tag :name, params[:name], class: 'form-control alpha',:placeholder=>'Name',:maxlength => 55, :required => true %>
                <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <%= submit_tag "Search" ,:onclick => "return nameCheck()", class: 'btn btn-success btn-round pull-left' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%if @user.present?%>
	    <div class="">
	      <div class="col-md-12 col-sm-12 col-xs-12">
	        <div class="x_panel">
            <div class="x_title">
              <div  class="table-responsive" id="parent2">
                <table id="fixTable" class="table">
                  <thead>
                    <tr>
                      <th class="text-left"></th>
                      <th class="text-left">User Name</th>
                      <th class="text-left">User Type</th>
                      <th class="text-center">Phone Number</th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @user.each do |u| %>
                    
                      <tr>
        		      	    <% if !u.image.present?%>
        		            	<td class="text-left"><%= image_tag('user.png', :alt => "Picture",:class => 'user-profile img-responsive avatar-view')%></td> 
        		            <%else%>
        		            	<td class="text-left"><%= image_tag(u.image, :alt => "Picture",:class => 'user-profile img-responsive avatar-view')%></td>
        		            <% end%> 
        		            
                        <td class="text-left"><%=u.name%> <%=u.last_name%></td>
                        <td class="text-left"><%=TxnManager.getUserRole(u)%></td>
                        <td class="text-center"><%=u.phone %></td>
            		     		<td class="text-right"><%=link_to  'Reset',{:controller => "reset_password", :action => "reset", :user => u },class: "btn btn-success btn-round" %></td>	
                      </tr>

                    <% end %>
                  </tbody>
                </table>
              </div>  
            </div>
	        </div>
	      </div>
	    </div>
    <%end%>

  </div>
</div>

<script>

  function phoneCheck(){
    if(!formValidation('searchByPhoneForm')){
      return false;
    } else {
      return true;
    }  
  }

  function nameCheck(){ 
    if(!formValidation('searchByNameForm')){
      return false;
    } else {
      return true;
    } 
  }

</script>
<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>