<%
  aggregatorDisVal = Constants::BLANK_VALUE
  unless params[:aggregatorName].eql? Constants::SELECT_AGGREGATOR_LABEL
    aggregatorDisVal = "( " + params[:aggregatorName].to_s + " )"
  end
%>
<style type="text/css">
  .searchboxAddClass{
    width: 164px!important;
  }
</style>

<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%= Constants::AGGREGATOR_REPORT_ROLE %> <%= aggregatorDisVal %></h3></div></div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
          <div class="x_content" style="padding: 0px!important;">

            <div class="search">
              <%= form_tag("/AggregatorReport", method: "post", id: 'aggregatorReportForm', class: 'form-horizontal form-label-left') do %>
              
                <div class="searchbox searchboxAddClass">
                  <label>Select</label>
                  <%= select_tag "aggregatorName", options_for_select(AggregatorManager.getAllAggregatorName,params[:aggregatorName]),:class=>'form-control', :required => true %>
                </div>

                <div class="searchbox searchboxAddClass">
                  <label>Select</label>
                  <%= select_tag "reportType", options_for_select(Constants::AGGREGATOR_REPORT_TYPE_SEL_OPT,params[:reportType]),:class=>'form-control', :required => true %>  
                </div>

                <div class="searchbox searchboxAddClass">
                  <label>From</label>
                  <%= date_field :from_date, params[:from_date1], :class=>'form-control', :value => params[:from_date], :required => true %>
                </div>

                <div class="searchbox searchboxAddClass">
                  <label>To</label>
                  <%= date_field :to_date, params[:to_date1], :class=>'form-control', :value => params[:to_date], :required => true %>
                </div>
               
                <div class="searchbox">
                  <%= submit_tag "Submit" , class: 'btn btn-success btn-round', :onclick => "return validate()", style: "margin: 0px;" %>
                </div>

              <% end %>
            </div>

            <% if @txnHeader.present? %>
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="">
                    <div class="x_title" style="padding: 0px!important;">
                      <div class="table-responsive" id="parent2" style="margin-top: 15px;">
                          
                        <table id="fixTable" class="table">
                            
                          <thead>
                            <tr>
                              <th class="text-left rowClass">Transaction Date</th>

                              <% if params[:aggregatorName].eql? Constants::FDI_AGGREGATOR or Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>
                                <th class="text-left rowClass">Service</th>
                              <% end %>  

                              <% if params[:reportType].eql? Constants::AGGREGATOR_SALES_REPORT_LABEL %>
                                <th class="text-left rowClass">MF Phone</th>
                                <th class="text-left rowClass">Client Phone</th>
                              <% end %>  
                              
                              <th class="text-right rowClass">Amount</th>
                              <th class="text-right rowClass">Previous Balance</th>
                              <th class="text-right rowClass">Post Balance</th>
                            </tr>
                          </thead>
                                
                          <tbody>
                            <% @txnHeader.each do |header| %>
                              <tr>
                                <td class="text-left rowClass"><%= Utility.getFormatedDateWithoutSec(header['txn_date'].to_s) %></td>

                                <% if params[:aggregatorName].eql? Constants::FDI_AGGREGATOR or Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>
                                  <td class="text-left rowClass"><%= Utility.getServiceTypeDisplayValue(header['service_type']) %></td>
                                <% end %>  
                                
                                <% if params[:reportType].eql? Constants::AGGREGATOR_SALES_REPORT_LABEL %>
                                
                                  <td class="text-left rowClass"><%= header['mfphone'] %></td>
                                  <td class="text-left rowClass"><%= header['account_id'] %></td>
                                <% end %>  
                                
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(header['amount']) %></td>
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(header['previous_balance']) %></td>
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(header['post_balance']) %></td>
                              </tr>
                            <% end %>
                          </tbody>
                           
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <% end %> 

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  function validate(){
    if(!formValidation('aggregatorReportForm'))return false; // form does not submit
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>