<div class="right_col" role="main">
  <div class="">

    <div class="page-title">
      <div class="title_left"><h3><%=Constants::MF_PENALTY_SETUP_ROLE%></h3></div>
      <div class="text-right"><a href="/NewPenaltySetup" class="btn btn-success btn-round">New Penalty Setup</a></div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="x_title">
              <div  class="table-responsive" id="parent">
                <table id="fixTable" class="table">

                  <thead>
                    <tr>
                      <th class="text-left">Penalty ID</th>
                      <th class="text-left">Type of Penalty</th>
                      <th class="text-left">Charges(<%= Utility.getCurrencyLabel%>)</th>
                      <th class="text-left">Active</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                
                  <tbody>
                    <% if @penaltiesList.present? %>
                      <% count = 0 %>
                      <% @penaltiesList.each do |penalty| %>
                        <% count = count + 1 %>
                        <tr>

                          <td class="text-left"> <%= penalty.id %></h5>
                            <%= hidden_field_tag "penaltyID"+count.to_s, penalty.id %>
                          </td>
                          
                          <td class="text-left"> <%= penalty.penalty_type %></h5>
                            <%= hidden_field_tag "penaltyType"+count.to_s, penalty.penalty_type %>
                          </td>

                          <td class="text-left"> <%= Utility.getFormatedAmount(penalty.charges) %></h5>
                            <%= hidden_field_tag "penaltyCharges"+count.to_s, penalty.charges %>
                          </td>

                          <td class="text-left"> <%= Utility.getYesNoLabel(penalty.is_active) %></h5>
                            <%= hidden_field_tag "isPenaltyActive"+count.to_s, penalty.is_active %>
                          </td>
                          
                          <td class="text-center">
                            <button class="btn btn-warning btn-round" onclick="editPenalty(<%=count%>)">Edit</button>
                            <button class="btn btn-danger btn-round" onclick="deletePenalty(<%=count%>)">Delete</button>
                          </td>

                        </tr>
                      <% end %>
                    <% else %>  
                      <tr>
                        <td class="text-left" colspan="4"><%=Constants::NO_RECORD_FOUND_LABEL%></td>
                      </tr>
                    <% end %>  
                  </tbody>
                
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

<script>
  var penaltyRef;
  function editPenalty(counter){
    var penaltyID = $('#penaltyID'+counter).val();
    var penaltyType = $('#penaltyType'+counter).val();
    var penaltyCharges = $('#penaltyCharges'+counter).val();
    var isPenaltyActive = $('#isPenaltyActive'+counter).val();
    
    var name = ["penaltyID", "penaltyType", "penaltyCharges", "isPenaltyActive"];
    var values = [penaltyID, penaltyType, penaltyCharges, isPenaltyActive];
    openWindowWithPost("/NewPenaltySetup", name,values);
  }

  function deletePenalty(counter){
    penaltyRef = counter
    getConfirmAlert("<%=(I18n.t :PENALTY_DELETE_CONF_MSG)%>", nextAction);
    return false;
  }

  function nextAction(userAnswer){
    if(userAnswer == true){
      var penaltyID = $('#penaltyID'+penaltyRef).val();
      var name = ["penaltyID"];
      var values = [penaltyID];
      openWindowWithPost("/DeletePenaltySetup", name,values);
    }
  }
</script> 

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>