<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%=Constants::MF_PENALTY_SETUP_ROLE%></h3></div></div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
                
            <%= form_tag("/CreatePenalty", method: "post", id: 'penaltyFeeSetupForm' , class: 'form-horizontal form-label-left') do %>
              
              <%= hidden_field_tag :penaltyID, params[:penaltyID] %>
              
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :penaltyType, params[:penaltyType], class: 'form-control', :required => true, :maxlength => 70 %>
                </div>
              </div>
             
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Charges(<%= Utility.getCurrencyLabel%>)</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :penaltyCharges, params[:penaltyCharges], class: 'form-control decimal', :required => true, :maxlength => 8 %>
                </div> 
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Active</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= select_tag "isPenaltyActive", options_for_select(Constants::PENALTY_FEE_SETUP_IS_ACTIVE_SELECT_OPT, params[:isPenaltyActive]), :class=>'form-control' %>
                </div> 
              </div>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <%= submit_tag "Save" , class: 'btn btn-success btn-round pull-left',:onclick => "return validate()" %>
                  <%= link_to 'Back', 'PenaltySetup', class: "btn btn-default btn-round"%>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function validate(){
    if(!formValidation('penaltyFeeSetupForm'))return false;
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>