<div class="right_col" role="main">

	<div class=""><div class="page-title"><div class="title_left"><h3><%=Constants::CREDIT_APPROVAL_ROLE%></h3></div></div></div>
	<div class="clearfix"></div>

	<div class="row">

	    <div class="col-md-12 col-sm-12 col-xs-12">
	      	<div class="x_panel">
	        	<div class="x_content">
	          		<div class="x_title">
                      	<div class="table-responsive">
	                        <table id="fixTable" class="table">
	                          	<thead>
	                            	<tr>
			                            <th class="text-left">Date</th>
			                            <th class="text-left">M F Name</th>
			                            <th class="text-left">M F Phone</th>
			                            <th class="text-left">M F TIN</th>
			                            <th class="text-center">Credit Request</th>
		                            </tr>
	                          	</thead>
	                                      
	                            <tbody>
	                            	<% if @pendingCredits.present? %> 
	                            		<% rowNumber = 0 %>
		                                
		                                <% @pendingCredits.each do |credit|%>
		                                
		                                	<% rowNumber = rowNumber + 1 %>
			                            
												<tr onclick="setDetails('<%=rowNumber%>')">

													<input type="hidden" value="<%=credit['id']%>" id="txnID<%=rowNumber%>">
												    <input type="hidden" value="<%=credit['agent_id']%>" id="agentID<%=rowNumber%>">
												    <input type="hidden" value="<%=credit['app_unique_id']%>" id="appTxnUniqueID<%=rowNumber%>">

												    <td class="text-left"><input type="hidden" value="<%=credit['txn_date']%>" id="txnDate<%=rowNumber%>"><%=Utility.getFormatedDate(credit['txn_date'])%></td>
												    
												    <td class="text-left"><input type="hidden" value="<%=credit['name']%> <%=credit['last_name']%>" id="agentName<%=rowNumber%>"><%=credit['name']%> <%=credit['last_name']%></td>
												    
												    <td class="text-center"><input type="hidden" value="<%=credit['phone']%>" id="agentPhone<%=rowNumber%>"><%=credit['phone']%></td>
												   
												    <td class="text-center"><input type="hidden" value="<%=credit['tin_no']%>" id="agentTIN<%=rowNumber%>"><%=credit['tin_no']%></td>

												    <td class="text-center"><input type="hidden" value="<%=credit['amount']%>" id="amount<%=rowNumber%>"><%=Utility.getFormatedAmount(credit['amount'])%></td>

												</tr>

		                                <% end %>

		                            <% else %>
		                            	<tr>
			                                <td class="text-left" colspan="9"><%=Constants::NO_RECORD_FOUND_LABEL%></td>
			                            </tr>
		                            <% end %>    
	                            </tbody>
	                        
	                        </table>
                      	</div>
                    </div>
	        	</div>
	      	</div>
	    </div>

  	</div>

</div>

<script type="text/javascript">
	function setDetails(rowNumber){

		var txnID = $('#txnID'+rowNumber).val();
		var agentID = $('#agentID'+rowNumber).val();
		var txnDate = $('#txnDate'+rowNumber).val();
		var agentName = $('#agentName'+rowNumber).val();
		var agentPhone = $('#agentPhone'+rowNumber).val();
		var agentTIN = $('#agentTIN'+rowNumber).val();
		var amount = $('#amount'+rowNumber).val();
		var appTxnUniqueID = $('#appTxnUniqueID'+rowNumber).val();
		
		var name = ["isDataPresent", "txnID", "agentID", "txnDate", "agentName", "agentPhone", "agentTIN", "amount", "appTxnUniqueID"];
		var values = [true, txnID, agentID, txnDate, agentName, agentPhone, agentTIN, amount, appTxnUniqueID];
		openWindowWithPost("/ViewCredit", name,values);
	}
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>