<%	
	txnID = params[:txnID]
	agentID = params[:agentID]
	currentAgent = Utility.getCurrentAgent(agentID)
	txnDate = params[:txnDate]
	agentName = params[:agentName]
	agentPhone = params[:agentPhone]
	agentTIN = params[:agentTIN]
	amount = params[:amount]
	appTxnUniqueID = params[:appTxnUniqueID]

    totalSell = PendingCredit.getAgentTotalSell(currentAgent)
    totalRegDays = PendingLeasingFee.getAgentRegDaysDiff(currentAgent)
    regMonth = (totalRegDays/30).to_i
    regDays = TxnHeader.my_money(totalRegDays%30).to_i
%>

<div class="right_col" role="main">

	<div class=""><div class="page-title"><div class="title_left"><h3><%=Constants::CREDIT_APPROVAL_ROLE%></h3></div></div></div>
	<div class="clearfix"></div>

    <div class="row">
      	<div class="col-md-12 col-sm-12 col-xs-12">
        	<div class="x_panel">
          		<div class="x_content">
            		<!-- <div class="col-md-6 col-md-offset-3 col-sm-3 col-xs-12 "> -->
                
	                  	<form action="/ApprovedCredit" method="post" name="approveCredit" class="form-horizontal form-label-left">

	                    	<input type="hidden" name="userAction" value="">
		                    <input type="hidden" name="agentID" value="">
		                    <input type="hidden" name="txnID" value="">
		                    <input type="hidden" name="amount" value="">
		                    <input type="hidden" name="appTxnUniqueID" value="">
  
		                    <table class="table">
		                      <thead>
		                        <tr>
		                          <th colspan=2 style="color : #fff; background-color: rgb(26, 187, 156); position: relative; top: 0px; font-size: 15px;">Transaction Detail</th>
		                        </tr>
		                      </thead>
		                              
		                      <tbody>
		                        <tr><td>Transaction Date</td><td><%= Utility.getFormatedDate(txnDate) %></td></tr>
		                        
		                        <tr><td>Micro Franchisee Name</td><td><%= agentName %></td></tr>
		                        
		                        <tr><td>Micro Franchisee Phone</td><td><%= agentPhone %></td></tr>
		                        
		                        <tr><td>Micro Franchisee TIN</td><td><%= agentTIN %></td></tr>

		                        <tr><td>Joined M-SHIRIKI</td><td><%= regMonth %> Months <%= regDays %> Days</td></tr>
		                        
		                        <tr><td>Total Sell</td><td><%= Utility.getFormatedAmount(totalSell) %></td></tr>
		                        
		                        <tr><td>Average Sell</td><td><%= Utility.getFormatedAmount(PendingCredit.getAgentAvgSell(totalSell, totalRegDays)) %></td></tr>
		                        
		                        <tr><td>Current Credit Limit</td><td><%=  Utility.getFormatedAmount(Utility.getAgentMaxLoanCapacity(currentAgent)) %></td></tr>
		                        
		                        <tr><td>Account Balance</td><td><%= Utility.getFormatedAmount(Utility.getAgentAccountBalance(currentAgent)) %></td></tr>
		                        
		                        <tr><td>Commission Balance</td><td><%= Utility.getFormatedAmount(Utility.getAgentCommissionBalance(currentAgent)) %></td></tr>
		                        
		                        <tr><td>Credit Balance</td><td><%= Utility.getFormatedAmount(Utility.getAgentLoanBalance(currentAgent)) %></td></tr>
		                        
		                        <tr><td>Penalty Balance</td><td><%= Utility.getFormatedAmount(Utility.getAgentPenaltyBalance(currentAgent)) %></td></tr>
		                        
		                        <tr><td>Requested Amount</td><td><%= Utility.getFormatedAmount(amount) %></td></tr>
		                      </tbody>
		                    </table>

		                    <div class="col-md-12 text-center">
		                        <button onclick="return approveTxn()" id="approveBtn" class="btn btn-success btn-round"><%=Constants::APPROVE_BTN_LABEL%></button>
			                    <button onclick="return rejectTxn()" id="rejectBtn" class="btn btn-danger btn-round"><%=Constants::REJECT_BTN_LABEL%></button>
			                    <a href="/CreditApproval" class="btn btn-default btn-round"><%=Constants::CANCEL_BTN_LABEL%></a>
		                    </div> 
		                    
	                  	</form>

            		<!-- </div> -->
          		</div>
        	</div>
      	</div>
    </div>
</div>

<script type="text/javascript">
	
	var formObject = document.approveCredit;
	
	formObject.agentID.value = "<%=agentID%>";
	formObject.txnID.value = "<%=txnID%>";
	formObject.amount.value = "<%=amount%>";
	formObject.appTxnUniqueID.value = "<%=appTxnUniqueID%>";
	
	function approveTxn(){
		document.getElementById("approveBtn").disabled = true;
		document.getElementById("rejectBtn").disabled = true;
		formObject.userAction.value = "<%=Constants::APPROVE_TXN_USER_ACTION_VALUE%>";
		formObject.submit();
	}

	function rejectTxn(){
		document.getElementById("approveBtn").disabled = true;
		document.getElementById("rejectBtn").disabled = true;
		formObject.userAction.value = "<%=Constants::REJECT_TXN_USER_ACTION_VALUE%>";
		formObject.submit();
	}
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>