<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Surveys</h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>
            
            <div  action="" method="post" name="" id="" class="form-horizontal form-label-left">

              <div align="center" class="row" >
                <h3 id="op"></h3>
              </div>

              <div>
                <button id="" class="btn btn-round btn-success pull-left" data-toggle="modal" data-target="#responsive">New Survey</button>
                
              </div>

              <!-- ard modal -->
              <div class="margin-bottom-40">
                  
                  <!-- modal button -->
                      <!-- <button class="btn-u" data-toggle="modal" data-target="#responsive">Modal Button</button> -->
              
                  <!-- modal section -->
                  <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
              
                                  <!-- modal close button -->
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              
                                  <!-- modal header -->
                                  <h4 class="modal-title" id="myModalLabel">New Survey</h4>
              
                              </div>
                              <div class="modal-body">
                                  <!-- modal row 1 -->
                                  <div class="row">

                                      <!-- title -->
                                      <div class="col-md-12">
                                          <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Title</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                              <input name="" id="" class="form-control col-md-7 col-xs-12">
                                            </div>
                                          </div>
                                      </div>


                                      <!-- area -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Area</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <select name="" id="" class="form-control col-md-7 col-xs-12">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                          </select>
                                        </div>
                                      </div>

                                      <!-- language -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Language</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <select name="" id="" class="form-control col-md-7 col-xs-12">
                                            <option value="">English</option>
                                            <option value="">French</option>
                                            <option value="">Rwandan</option>
                                            
                                          </select>
                                        </div>
                                      </div>

                                     
                                      <!-- start date -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Start Date</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input name="" id="" class="form-control col-md-7 col-xs-12">
                                        </div>
                                      </div>

                                      <!-- end date -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">End Date</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input name="" id="" class="form-control col-md-7 col-xs-12">
                                        </div>
                                      </div>

                                     
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" id="" class="btn btn-rounded-danger" data-dismiss="modal">Close</button>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End ard modal  -->

              <div class="row">
                
                <!-- from -->
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for=""><h3>View Surveys</h3> </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- <input name="" id="date_from" class="form-control col-md-7 col-xs-12"> -->
                  </div>
                </div>

                <!-- from -->
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">From : </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input name="" id="date_from" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <!-- to -->
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">To : </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input name="" id="date_to" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <!-- by (user) -->
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">By (User) : </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input name="" id="" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

              </div>

              <div  class="table-responsive" id="table_container">
                <table id="fixTable" class="table">
              
                  <thead>
                    <tr>
                      <th class="text-left">#</th>
                      <th class="text-center">Title</th>
                      <th class="text-center">Area</th>
                      <th class="text-center">Language</th>
                      <th class="text-center">Start Date</th>
                      <th class="text-center">End Date</th>
                      <th class="text-center">Category</th>
                      <th class="text-center">Participants</th>
                      <th class="text-center">Active</th>
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                    </tr>
                  </thead>
              
                  <tbody>
                    <tr>
                      <th class="text-left">1</th>
                      <th class="text-center">Health </th>
                      <th class="text-center">Kigali</th>
                      <th class="text-center">Rwandan</th>
                      <th class="text-center">1-Jan-2018</th>
                      <th class="text-center">10-Jan-2018</th>
                      <th class="text-center">Health</th>
                      <th class="text-center">20</th>
                      <th class="text-center">50</th>
                      <th class="text-center"><button class="btn btn-success">View</button></th>
                      <th class="text-center"><button class="btn btn-danger">Delete</button></th>
                    </tr>

                    

                    <tr>
                      <th class="text-left">2</th>
                      <th class="text-center">Education</th>
                      <th class="text-center">Kigali</th>
                      <th class="text-center">Rwandan</th>
                      <th class="text-center">1-Jan-2018</th>
                      <th class="text-center">10-Jan-2018</th>
                      <th class="text-center">Education</th>
                      <th class="text-center">32</th>
                      <th class="text-center">12</th>
                      <th class="text-center"><button class="btn btn-success">View</button></th>
                      <th class="text-center"><button class="btn btn-danger">Delete</button></th>
                    </tr>
                   
                  </tbody>
              
                </table>
              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

    // datepickers
      $('#date_from').datepicker();
      $('#date_to').datepicker();


      // $('#update').click(function(){
      //   var type = 'bandwidth';
      //   var action = 'set';
      //   var val = $("#val").val();

      //   if (val == "") {
      //     $('#op').html("Please enter a value");  
      //   } else {
      //     $.ajax({  
      //       url:"http://139.162.142.226/ard/script.php",  
      //       method:"post",  
      //       data:{type:type, action:action, val:val},  
      //       dataType:"text",  
      //       success:function(data)  
      //       {  
      //             $('#op').html(data);  
      //             $("#val").val("");
      //       },
      //       error: function (jqXhr, textStatus, errorThrown) {
      //           // console.log(data);
      //           $('#op').html(jqXhr + textStatus + errorThrown);
      //       } 
      //     });  
      //   }
        

      //   // alert("hey");  
      //   return false;
      // });
  });

</script>


