<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Client Feedback</h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>
            
            <div  action="" method="post" name="" id="" class="form-horizontal form-label-left">

              <div align="center" class="row" >
                <h3 id="op"></h3>
              </div>

              <div>
                <!-- <button id="" class="btn btn-round btn-success pull-left" data-toggle="modal" data-target="#responsive">New Category</button> -->
                
              </div>

              <!-- ard modal -->
              <div class="margin-bottom-40">
                  
                  <!-- modal button -->
                      <!-- <button class="btn-u" data-toggle="modal" data-target="#responsive">Modal Button</button> -->
              
                  <!-- modal section -->
                  <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
              
                                  <!-- modal close button -->
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              
                                  <!-- modal header -->
                                  <h4 class="modal-title" id="myModalLabel">Client Feedback</h4>
              
                              </div>
                              <div class="modal-body">

                                  <div class="row">
                                    <div>
                                      <b>From : </b> Joan Mary
                                    </div>
                                    <div>
                                      <b>Message : </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                    </div>
                                  </div>
                                  <!-- modal row 1 -->
                                  <div class="row">


                                      <!-- message -->
                                      <div class="col-md-12">
                                          <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Reply Message</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                              <textarea name="" id="" row="3" class="form-control col-md-7 col-xs-12"></textarea>
                                            </div>
                                          </div>
                                      </div>

                                      <button id="" class="btn btn-round btn-success pull-left">Send Reply</button>

                                      

                                     
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" id="" class="btn btn-rounded-danger" data-dismiss="modal">Close</button>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End ard modal  -->

              
              <div class="row">
                
                <!-- from -->
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for=""><h3>View Client Feedback</h3> </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- <input name="" id="date_from" class="form-control col-md-7 col-xs-12"> -->
                  </div>
                </div>

                <!-- from -->
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">From : </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input name="" id="date_from" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <!-- to -->
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">To : </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input name="" id="date_to" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <!-- by (user) -->
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">By (User) : </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input name="" id="" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

              </div>

              <div  class="table-responsive" id="table_container">
                <table id="fixTable" class="table">
              
                  <thead>
                    <tr>
                      <th class="text-left">#</th>
                      <th class="text-center">From</th>
                      <th class="text-center">Message</th>
                      <th class="text-center">Date</th>
                      <th class="text-center">Time</th>
                      <th class="text-center"></th>
                    </tr>
                  </thead>
              
                  <tbody>
                    <tr>
                      <th class="text-left">1</th>
                      <th class="text-center">Joan Mary</th>
                      <th class="text-center">Lorem ipsum dolor sit amet...</th>
                      <th class="text-center">3-Jan-2018</th>
                      <th class="text-center">1600hrs</th>
                      <th class="text-center"><button class="btn btn-success" data-toggle="modal" data-target="#responsive">View</button></th>
                      
                    </tr>

                    

                    
                   
                  </tbody>
              
                </table>
              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

    // datepickers
      $('#date_from').datepicker();
      $('#date_to').datepicker();


      // $('#update').click(function(){
      //   var type = 'bandwidth';
      //   var action = 'set';
      //   var val = $("#val").val();

      //   if (val == "") {
      //     $('#op').html("Please enter a value");  
      //   } else {
      //     $.ajax({  
      //       url:"http://139.162.142.226/ard/script.php",  
      //       method:"post",  
      //       data:{type:type, action:action, val:val},  
      //       dataType:"text",  
      //       success:function(data)  
      //       {  
      //             $('#op').html(data);  
      //             $("#val").val("");
      //       },
      //       error: function (jqXhr, textStatus, errorThrown) {
      //           // console.log(data);
      //           $('#op').html(jqXhr + textStatus + errorThrown);
      //       } 
      //     });  
      //   }
        

      //   // alert("hey");  
      //   return false;
      // });
  });

</script>


