<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Content Uploader</h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>
            
            <div  action="" method="post" name="" id="" class="form-horizontal form-label-left">

              <div align="center" class="row" >
                <h3 id="op"></h3>
              </div>

              <div>
                <button id="" class="btn btn-round btn-success pull-left" data-toggle="modal" data-target="#responsive">New Content</button>
                
              </div>

              <!-- ard modal -->
              <div class="margin-bottom-40">
                  
                  <!-- modal button -->
                      <!-- <button class="btn-u" data-toggle="modal" data-target="#responsive">Modal Button</button> -->
              
                  <!-- modal section -->
                  <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
              
                                  <!-- modal close button -->
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              
                                  <!-- modal header -->
                                  <h4 class="modal-title" id="myModalLabel">Upload New Content</h4>
              
                              </div>
                              <div class="modal-body">
                                  <!-- modal row 1 -->
                                  <div class="row">

                                      <!-- title -->
                                      <div class="col-md-12">
                                          <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Title</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                              <input name="" id="" class="form-control col-md-7 col-xs-12">
                                            </div>
                                          </div>
                                      </div>

                                      <!-- content type -->
                                      <div class="form-group row">
                                        <div class="form-group">
                                          <label class="control-label col-md-3 col-sm-3 col-xs-12">Content Type : <font color = "red">*</font></label>
                                          <div class="radio col-md-3 col-sm-6 col-xs-12">
                                            <label style="margin-right:50px"><input type="radio" value="" name="content_type" id="" />Video</label>
                                            <label><input type="radio" value="" name="content_type" id="" />Audio</label>
                                            <label><input type="radio" value="" name="content_type" id="" />Ardicle</label>
                                            <label><input type="radio" value="" name="content_type" id="" />Advert</label>
                                          </div>
                                        </div>
                                      </div>

                                      <!-- file -->
                                      <div class="form-group text-center">
                                        <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                          <input type="text" name="" required="required" maxlength="10" class="form-control number" placeholder="File">
                                          <span class="fa fa-upload form-control-feedback right" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                          <button id="update" class="btn btn-round btn-success pull-left">Upload</button>
                                        </div>
                                      </div>

                                      <!-- description -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Description</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <textarea name="" id="" rows="4" class="form-control col-md-7 col-xs-12"></textarea>
                                        </div>
                                      </div>

                                      <!-- region -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Region</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <select name="" id="" class="form-control col-md-7 col-xs-12">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                          </select>
                                        </div>
                                      </div>

                                      <!-- language -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Language</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <select name="" id="" class="form-control col-md-7 col-xs-12">
                                            <option value="">English</option>
                                            <option value="">French</option>
                                            <option value="">Rwandan</option>
                                            
                                          </select>
                                        </div>
                                      </div>

                                      <!-- clicks -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Clicks</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input name="" id="" class="form-control col-md-7 col-xs-12">
                                        </div>
                                      </div>

                                      <!-- start date -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Start Date</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input name="" id="" class="form-control col-md-7 col-xs-12">
                                        </div>
                                      </div>

                                      <!-- end date -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">End Date</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input name="" id="" class="form-control col-md-7 col-xs-12">
                                        </div>
                                      </div>

                                      <!-- Category -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Create</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <select name="" id="" class="form-control col-md-7 col-xs-12">
                                            <option value="">News</option>
                                            <option value="">Entertainment</option>
                                            <option value="">health</option>
                                            <option value="">Education</option>
                                            <option value="">Sports</option>
                                          </select>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" id="" class="btn btn-rounded-danger" data-dismiss="modal">Close</button>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End ard modal  -->

              <div class="row">
                
                <!-- from -->
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for=""><h3>View Content</h3> </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- <input name="" id="date_from" class="form-control col-md-7 col-xs-12"> -->
                  </div>
                </div>

                <!-- from -->
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">From : </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input name="" id="date_from" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <!-- to -->
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">To : </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input name="" id="date_to" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <!-- by (user) -->
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">By (User) : </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input name="" id="" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

              </div>

              <div  class="table-responsive" id="table_container">
                <table id="fixTable" class="table">
              
                  <thead>
                    <tr>
                      <th class="text-left">#</th>
                      <th class="text-center">Title</th>
                      <th class="text-center">Content Type</th>
                      <th class="text-center">File</th>
                      <th class="text-center">Description</th>
                      <th class="text-center">Region</th>
                      <th class="text-center">Languages</th>
                      <th class="text-center">Clicks</th>
                      <th class="text-center">Start Date</th>
                      <th class="text-center">End Date</th>
                      <th class="text-center">Category</th>
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                    </tr>
                  </thead>
              
                  <tbody>
                    <tr>
                      <th class="text-left">1</th>
                      <th class="text-center">Health minister cautions pharmacies on...</th>
                      <th class="text-center">Article</th>
                      <th class="text-center">news/articles</th>
                      <th class="text-center">The Minister for Health, Dr. Diane Gashumba has warned pharmacies ...</th>
                      <th class="text-center">Kigali</th>
                      <th class="text-center">English</th>
                      <th class="text-center">45</th>
                      <th class="text-center">3-Jan-2018</th>
                      <th class="text-center">13-Jan-2018</th>
                      <th class="text-center">News</th>
                      <th class="text-center"><button class="btn btn-success">View</button></th>
                      <th class="text-center"><button class="btn btn-danger">Delete</button></th>
                    </tr>

                    
                   
                  </tbody>
              
                </table>
              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

    // datepickers
      $('#date_from').datepicker();
      $('#date_to').datepicker();


      // $('#update').click(function(){
      //   var type = 'bandwidth';
      //   var action = 'set';
      //   var val = $("#val").val();

      //   if (val == "") {
      //     $('#op').html("Please enter a value");  
      //   } else {
      //     $.ajax({  
      //       url:"http://139.162.142.226/ard/script.php",  
      //       method:"post",  
      //       data:{type:type, action:action, val:val},  
      //       dataType:"text",  
      //       success:function(data)  
      //       {  
      //             $('#op').html(data);  
      //             $("#val").val("");
      //       },
      //       error: function (jqXhr, textStatus, errorThrown) {
      //           // console.log(data);
      //           $('#op').html(jqXhr + textStatus + errorThrown);
      //       } 
      //     });  
      //   }
        

      //   // alert("hey");  
      //   return false;
      // });
  });

</script>


