<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Kiosks </h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>
            
            <div  action="" method="post" name="" id="" class="form-horizontal form-label-left">

              <div align="center" class="row" >
                <h3 id="op"></h3>
              </div>

              <div class="row">
                <button id="" class="btn btn-round btn-success pull-left" data-toggle="modal" data-target="#responsive">New Kiosk</button>
                
              </div>

              <!-- ard modal -->
              <div class="margin-bottom-40">
                  
                  <!-- modal button -->
                      <!-- <button class="btn-u" data-toggle="modal" data-target="#responsive">Modal Button</button> -->
              
                  <!-- modal section -->
                  <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
              
                                  <!-- modal close button -->
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              
                                  <!-- modal header -->
                                  <h4 class="modal-title" id="myModalLabel">New Kiosk</h4>
              
                              </div>
                              <div class="modal-body">
                                  <!-- modal row 1 -->
                                  <div class="row">

                                      <!-- kiosk name -->
                                      <div class="col-md-12">
                                          <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Kiosk Name</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                              <input name="" id="" class="form-control col-md-7 col-xs-12">
                                            </div>
                                          </div>
                                      </div>

                                      <!-- agent name -->
                                      <div class="col-md-12">
                                          <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Agent Name</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                              <input name="" id="" class="form-control col-md-7 col-xs-12">
                                            </div>
                                          </div>
                                      </div>

                                      <!-- region / area -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Region / Area</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <select name="" id="" class="form-control col-md-7 col-xs-12">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                          </select>
                                        </div>
                                      </div>

                                      <!-- router id -->
                                      <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Router Id</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <select name="" id="" class="form-control col-md-7 col-xs-12">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                          </select>
                                        </div>
                                      </div>

                                      
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" id="" class="btn btn-rounded-danger" data-dismiss="modal">Close</button>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End ard modal  -->

              <div class="row">
                
               <div class="form-group text-center">
                 <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 col-sm-offset-3">
                   <input type="text" name="" required="required" maxlength="10" class="form-control number" placeholder="">
                   <span class="fa fa-search form-control-feedback right" aria-hidden="true"></span>
                 </div>
                 <div class="col-md-4 col-sm-4 col-xs-12">
                   <button id="update" class="btn btn-round btn-success pull-left">Search</button>
                 </div>
               </div>

              </div>

              <div  class="table-responsive" id="table_container">
                <table id="fixTable" class="table">
              
                  <thead>
                    <tr>
                      <th class="text-left">#</th>
                      <th class="text-center">kiosk Id</th>
                      <th class="text-center">kiosk Name</th>
                      <th class="text-center">Agent Id</th>
                      <th class="text-center">Agent Name</th>
                      <th class="text-center">Area / Region</th>
                      <th class="text-center">Last Online at</th>
                      <th class="text-center">Online Status</th>
                      <th class="text-center">Internet Users</th>
                      <th class="text-center">Router Id</th>
                      
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                    </tr>
                  </thead>
              
                  <tbody>
                    <tr>
                      <th class="text-left">1</th>
                      <th class="text-center">k-4578</th>
                      <th class="text-center">Alpha</th>
                      <th class="text-center">agnt-6548</th>
                      <th class="text-center">Joseph</th>
                      <th class="text-center">Kigali</th>
                      <th class="text-center">3-Jan-2018</th>
                      <th class="text-center">Online</th>
                      <th class="text-center">rt-2345</th>
                      <th class="text-center"></th>
                      
                      <th class="text-center"><button class="btn btn-success">Edit</button></th>
                      <th class="text-center"><button class="btn btn-danger">Remove</button></th>
                    </tr>

                    <tr>
                      <th class="text-left">2</th>
                      <th class="text-center">k-3576</th>
                      <th class="text-center">Beta</th>
                      <th class="text-center">agnt-675</th>
                      <th class="text-center">Joseph</th>
                      <th class="text-center">Kigali</th>
                      <th class="text-center">6-Jan-2018</th>
                      <th class="text-center">Offline</th>
                      <th class="text-center">rt-6587</th>
                      <th class="text-center"></th>
                      
                      <th class="text-center"><button class="btn btn-success">Edit</button></th>
                      <th class="text-center"><button class="btn btn-danger">Remove</button></th>
                    </tr>

                    
                   
                   
                  </tbody>
              
                </table>
              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

    // datepickers
      $('#date_from').datepicker();
      $('#date_to').datepicker();


      // $('#update').click(function(){
      //   var type = 'bandwidth';
      //   var action = 'set';
      //   var val = $("#val").val();

      //   if (val == "") {
      //     $('#op').html("Please enter a value");  
      //   } else {
      //     $.ajax({  
      //       url:"http://139.162.142.226/ard/script.php",  
      //       method:"post",  
      //       data:{type:type, action:action, val:val},  
      //       dataType:"text",  
      //       success:function(data)  
      //       {  
      //             $('#op').html(data);  
      //             $("#val").val("");
      //       },
      //       error: function (jqXhr, textStatus, errorThrown) {
      //           // console.log(data);
      //           $('#op').html(jqXhr + textStatus + errorThrown);
      //       } 
      //     });  
      //   }
        

      //   // alert("hey");  
      //   return false;
      // });
  });

</script>


