<% 
  shownDate = "( From " + Utility.getFormatedDateNoTime(params[:from_date].to_s) + " To " + Utility.getFormatedDateNoTime(params[:to_date].to_s) + " )"
%>

<div class="right_col" role="main">
  
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3><%= Constants::PENALTY_REPORT_LABEL %></h3></div>
      <div class="title_right"><h3 style="font-size: 16px; float: right"><%= shownDate %></h3></div>
    </div>
  </div>
  
  <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel ">
          <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 bgx">

              <%= form_tag("/PenaltyDetails", method: "post", id:"pReportForm", class: 'form-horizontal form-label-left') do %> 

                <%= hidden_field_tag "transactionType", Constants::PENALTY_REPORT_LABEL%>

                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">From</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <%= date_field :from_date,params[:from_date_new],:class=>'form-control col-md-7 col-xs-12', :required => true, :value => params[:from_date] %>
                  </div>
                </div>
      
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">To</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <%= date_field :to_date, params[:to_date_new], :class=>'form-control col-md-7 col-xs-12', :required => true, :value => params[:to_date] %>
                  </div>
                </div>
            
                <div class="form-group">
                  <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-0 text-center" style="margin-top: 10px">
                    <%= submit_tag "Show", class: 'btn btn-success btn-round', :onclick => "return validateOtherForm('pReportForm')" %> 
                     <a class='btn btn-success btn-round' href="/TransactionHistory">Back</a>
                  </div>
                </div>

              <% end %> 
            </div>

            <%if @penalty_list.present?%>

              <%totalPenaltyReceived = 0%>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <div class="table-responsive" id="parent1">

                          <table id="fixTable" class="table">

                            <thead>
                              <tr>
                                <th class="text-left">M F Name</th>
                                <th class="text-left">M F Phone</th>
                                <th class="text-center">Penalty Received</th>
                              </tr>
                            </thead>
                                        
                            <tbody>

                              <%@penalty_list.each do |penalty|%>
                                <%totalPenaltyReceived = totalPenaltyReceived.to_f + (-(penalty[:penalty])).to_f%>
                                <tr>
                                    <td class="text-left"><%= penalty[:name] %>  <%= penalty[:last_name] %></td>
                                    <td class="text-left"><%= penalty[:phone] %></td>
                                    <td class="text-center"><%= Utility.getFormatedAmount(-(penalty[:penalty])) %></td>
                                </tr>
                              <%end%>   
                              
                            </tbody>

                            <tfoot style="position: relative; top: 20px;">
                              <tr>
                                <th>Total</th>
                                <th class="text-left"></th>
                                <th class="text-center"><%= Utility.getFormatedAmount(totalPenaltyReceived) %></th>
                              </tr>
                            </tfoot>
                          
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <%end%> 

          </div>
        </div>
      </div>  
    </div>
</div>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>
