<style type="text/css">
  .searchbox{
    width: 115px!important;
  }
</style>
<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%= Constants::AUDIT_LOGS_ROLE %></h3></div></div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
          <div class="x_content" style="padding: 0px!important;">
            
            <div class="search">
              <%= form_tag("/AuditLogs", method: "post", id: 'auditLogsForm', class: 'form-horizontal form-label-left') do %>

                <div class="searchbox" style="width: 150px!important;">
                 <label>Log Type</label>
                  <%= select_tag "reportType", options_for_select(Constants::AUDIT_LOGS_REPORT_TYPE, params[:reportType]), :class=>'form-control', :required => true %>
                </div>

                <div class="searchbox">
                  <label>User</label>
                  <%= select_tag "user", options_for_select(Constants::AUDIT_LOGS_USER_OPT, params[:user]),:class=>'form-control', :required => true %>  
                </div>

                <div class="searchbox">
                  <label>User Type</label>
                  <%= select_tag "userType", options_for_select(Constants::ANALYTIC_REPORTS_SEL_USER_TYPE_OPT, params[:userType]), :class=>'form-control', :required => true %>  
                </div>

                <div class="searchbox">
                  <label>Phone</label>
                  <%= text_field_tag :userPhone, params[:userPhone], class: 'form-control col-md-7 col-xs-12 number', :maxlength => 9 %>
                </div>

                <div class="searchbox">
                  <label>From</label>
                  <%= date_field :from_date, params[:from_date1], :class=>'form-control', :value => params[:from_date], :required => true %>
                </div>

                <div class="searchbox">
                  <label>To</label>
                  <%= date_field :to_date, params[:to_date1], :class=>'form-control', :value => params[:to_date], :required => true %>
                </div>
               
                <div class="searchbox">
                  <%= submit_tag "Submit" , class: 'btn btn-success btn-round', :onclick => "return validate()", style: "margin: 0px;" %>
                </div>

              <% end %>
            </div> 

            <% if @detailsHash.present? %>
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="">
                    <div class="x_title" style="padding: 0px!important;">
                      <div class="table-responsive" id="parent2" style="margin-top: 15px;">
                        
                        <table id="fixTable" class="table"> 
                        
                          <% if params[:reportType].eql? Constants::ACCESS_LOGS_REPORT_LABEL %>
                            
                            <thead>
                              <tr>
                                <th class="text-left rowClass">Login Date</th>
                                <th class="text-left rowClass">Name</th>
                                <th class="text-left rowClass">Phone</th>
                                <th class="text-left rowClass">Role</th>
                                <th class="text-left rowClass">Login Status</th>
                                <th class="text-left rowClass">Remote IP</th>
                                <th class="text-left rowClass">Platform</th>
                              </tr>
                            </thead>
                                  
                            <tbody>
                              <% @detailsHash.each do |access| %>
                                <tr>
                                  <td class="text-left rowClass"><%= Utility.getFormatedDateWithoutSec(access['created_at'].to_s) %></td>
                                  <td class="text-left rowClass"><%= access['name'] %> <%= access['last_name'] %></td>
                                  <td class="text-left rowClass"><%= access['phone'] %></td>
                                  <td class="text-left rowClass"><%= User.getUserRole(access['role']) %></td>
                                  <% txnStatus = AccessLog.getLoginStatus(access['is_successful']) %>
                                  <td class="text-left rowClass" style="color: <%=Utility.getTxnColor(txnStatus)%>"><%= txnStatus %></td>
                                  <td class="text-left rowClass"><%= access['remote_ip'] %></td>
                                  <td class="text-left rowClass"><%= AccessLog.getPlatform(access['use_web']) %></td>
                                </tr>
                              <% end %>
                            </tbody>

                          <% elsif params[:reportType].eql? Constants::ACTIVITY_LOG_REPORT_LABEL %>  

                            <thead>
                              <tr>
                                <th class="text-left rowClass">Date</th>
                                <th class="text-left rowClass">User Name</th>
                                <th class="text-left rowClass">User Phone</th>
                                <th class="text-left rowClass">Activity</th>
                              </tr>
                            </thead>
                                  
                            <tbody>
                              <% @detailsHash.each do |activity| %>
                                <tr>
                                  <td class="text-left rowClass"><%= Utility.getFormatedDateWithoutSec(activity['activitydate'].to_s) %></td>
                                  <td class="text-left rowClass"><%= activity['whodidfname'] %> <%= activity['whodidlname'] %></td>
                                  <td class="text-left rowClass"><%= activity['whodidphone'] %></td>
                                  <td class="text-left rowClass"><%= activity['action'] %> <%= AccessLog.getSubUserDetails(activity) %></td>
                                </tr>
                              <% end %>
                            </tbody>

                          <% else %>

                            <thead>
                              <tr>
                                <th class="text-left rowClass">Txn Date</th>
                                <th class="text-left rowClass">User Name</th>
                                <th class="text-left rowClass">User Phone</th>
                                <th class="text-left rowClass">Role</th>
                                <th class="text-left rowClass">Service</th>
                                <th class="text-left rowClass">Client Phone</th>
                                <th class="text-right rowClass">Amount</th>
                                <th class="text-left rowClass">Status</th>
                                <th class="text-left rowClass">Remote IP</th>
                              </tr>
                            </thead>
                                  
                            <tbody>
                              <% @detailsHash.each do |txnReq| %>
                                <tr>
                                  <td class="text-left rowClass"><%= Utility.getFormatedDateWithoutSec(txnReq['txn_date'].to_s) %></td>
                                  <td class="text-left rowClass"><%= txnReq['name'] %> <%= txnReq['last_name'] %></td>
                                  <td class="text-left rowClass"><%= txnReq['phone'] %></td>
                                   <td class="text-left rowClass"><%= User.getUserRole(txnReq['role']) %></td>
                                  <td class="text-left rowClass"><%= Utility.getTxnhisSubtypeDetails(txnReq) %></td>
                                  <td class="text-left rowClass"><%= txnReq['client_number'] %></td>
                                  <td class="text-right rowClass"><%= Utility.getFormatedAmount(txnReq['amount']) %></td>
                                  <% txnStatus = Utility.getTxnStatus(txnReq['status']) %>
                                  <td class="text-left rowClass" style="color: <%=Utility.getTxnColor(txnStatus)%>"><%= txnStatus %></td>
                                  <td class="text-left rowClass"><%= txnReq['remote_ip'] %></td>
                                </tr>
                              <% end %>
                            </tbody>

                          <% end %>  

                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <% end %> 

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function validate(){
    if(!formValidation('auditLogsForm'))return false; // form does not submit
  }

  hidePhoneDiv($('#userType').val(), true);
  hideUserTypeDiv($('#user').val());
 
  $('#user').change(function(){
     hideUserTypeDiv($(this).val());
  });

  $('#userType').change(function(){
     hidePhoneDiv($(this).val(), true);
  });

  function hidePhoneDiv(userType, status){
    if(userType == "<%=Constants::SINGLE_USER_RADIO_LABEL%>" && status) {

      $("#userPhone").removeAttr('disabled');
      $('#userPhone').prop('required', 'true');

    } else {

      $("#userPhone").prop('disabled', 'true');
      $('#userPhone').removeAttr('required');

    }
  }

  function hideUserTypeDiv(user){
    var userType = $('#userType').val();

    if(user == "<%= Constants::ALL_USER_LABEL %>") {
      hidePhoneDiv(userType, false);
      $("#userType").prop('disabled', 'true');
    } else {
      hidePhoneDiv(userType,true);
      $("#userType").removeAttr('disabled');
    }
  }

</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>