<div class="page-header">
  <%= link_to new_visit_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Visit
  <% end %>
  <h1>Listing visits</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Agent</th>
            <th>Maintenance officer</th>
            <th>Reason</th>
            <th>Fixed</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @visits) do |visit| %>
            <td><%= visit.agent %></td>
            <td><%= visit.maintenance_officer %></td>
            <td><%= visit.reason %></td>
            <td><%= visit.fixed %></td>
            <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
        <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
