<div class="page-header">
  <%= link_to visits_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_visit_path(@visit), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show visit</h1>
</div>

<dl class="dl-horizontal">
  <dt>Agent:</dt>
  <dd><%= @visit.agent %></dd>

  <dt>Maintenance officer:</dt>
  <dd><%= @visit.maintenance_officer %></dd>

  <dt>Reason:</dt>
  <dd><%= @visit.reason %></dd>

  <dt>Fixed:</dt>
  <dd><%= @visit.fixed %></dd>

</dl>
