/* line 1, /Users/apple/Ard_New/ard/app/assets/stylesheets/layout.sass */
body {
  padding-top: 70px;
}

/* line 4, /Users/apple/Ard_New/ard/app/assets/stylesheets/layout.sass */
.logo {
  height: 30px;
}
