/* line 1, /home/micheal/aredproject/ared_backend_repository/app/assets/stylesheets/layout.sass */
body {
  padding-top: 70px;
}

/* line 4, /home/micheal/aredproject/ared_backend_repository/app/assets/stylesheets/layout.sass */
.logo {
  height: 30px;
}
