.page-title .title_left{
    color: #1ABB9C;
}
/*************login page****************/

body[role="login"] {
    font-family: 'Roboto', sans-serif;
    background: #065c1f;
    background-size: cover;
    color: #EFEFEF
}
[role="login"] .container {
    margin-top: 0px
}
[role="login"] .btn-success {
    background: #065c1f;
    border: 1px solid #679F2C;
    float: right
}
[role="login"] label {
    font-weight: normal;
    color: #065c1f
}
.panel-heading {
    padding: 5px 15px;
}
.form-inline {
    margin: 5px
}
.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #065c1f, rgba(0, 0, 0, 0));
    margin: 5px
}
.profile-img {
    margin: 0 auto 10px;
    display: block;
    width:44%;
}
.panel-default {
    opacity: .9;
    box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45);
    background: #bde4c9;
}
.vertical-center-row {
  
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}
  .modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}

.modal-header
{
    background:#1ABB9C;  
    color:white;
    border-radius: 4px; 
}
.modal-body p {
    color: #454545;
}

.modal-footer .btn {
    padding: 6px 30px;
}

/************* end login page*************/


/***************Dashboard *******************/
.site_title > img {
    position: relative;
    right: -15px;
    top: -8px;
    width: 32px;
}
.site_title > span {
    position: relative;
    text-transform: uppercase;
    top: 17px;
}
.dashboard_graph{
     border: 1px solid #e6e9ed;
}
/***********end dashboard ***********/


/************search form************/
.formimg{
     vertical-align :middle!important;
}
.formimg > img {
    border-radius: 50%;
    width: 21%;
    float: left;
    margin-right: 10px;
   
}
.formimg h5 {
    line-height: 36px;
    font-weight: 600;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    vertical-align :middle!important;
}
thead {
    background: #1ABB9C none repeat scroll 0 0;
    color: #fff;
}
thead tr:first-child:hover{
    background: #1ABB9C none repeat scroll 0 0!important;
    color: #fff!important; 
}



/*tr:nth-child(even){background-color: #f3f3f3}
*/

/******************** end search form*********************/

/*************Tooltip css********/
.tp
{
    background: #333333 none repeat scroll 0 0;
    border: 1px solid #333333;
    border-radius: 4px;
    color: #cccccc;
    left: 515px;
    padding: 5px;
    position: absolute;
    top: -36px;
    visibility: hidden;
    width: 260px;
    text-align: justify;
    z-index: 999;
}
/*.tp::before {
    background: #333 none repeat scroll 0 0;
    border: 5px none;
    color: #333;
    content: ".";
    display: block;
    left: -5px;
    position: absolute;
    top: 42px;
    transform: rotate(45deg);
    width: 24px;
    z-index: 0;
}*/

/****************add user**********************/
.form-group.text-center > img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 14%;
    margin-bottom: 10px;
}
#fileselector {
    margin: 10px; 
}
#upload-file-selector {
    display:none;   
}
.margin-correction {
    margin-right: 10px;   
}
/**************end add user******************/


/**************user profile******************/
.nav.navbar-right.panel_toolbox.profle > li {
    margin-left: 25px;
}
.nav.navbar-right.panel_toolbox.profle span {
    background: #73879C;
    padding: 2px 7px;
    border-radius: 50%;
    color: white;
}
.btnprofile{
    text-align: left;
}
.fa.m-right-xs {
    margin-right: 10px;
}
.img-responsive.avatar-view {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
   width:60%;
   margin:auto;
    
}
.subamount{
    font-size: 15px;
    color: #408829!important;
}
/***************end user profile*******************/

/***************cash deposit***********/
.showbalance{
        float: left;
        margin-right: 15px;
}

/***************end cash deposit***********/

.bss {
    border: 1px solid;
    border-color:  #CCCCCC;
}

/************* Analytics ***************/
.text {
    float: right;
    left: 225px;
    position: absolute;
    top: -5px;
}
/************* end Analytics***************/

/************* Analytics Graph ***************/
.bgx{
    background: #eee!important;
    border: 1px solid #E6E9ED;
}
.bgx1{
    border: 1px solid #E6E9ED;
    position: relative;
}
.pdf{
    position: absolute;
    right: 10px;
    top: -62px;
    width: 15%;
}


/************* End Analytics Graph ***************/

/************ analytics graph ****************/
tr:hover{
    cursor: pointer;
    background-color: #eee;
}
#parent tr:hover{
    cursor: pointer;
    background-color: #eee;
}
#parent {
    height: 478px;
}
#parent1 {
    height: 350px;
}
#parent2 {
    height: 390px;
}

/************ analytics graph ****************/
/*alert*/
.alert-group>.alert:first-child:not(:last-child){
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -moz-border-radius-topleft:0px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    margin-bottom:0
}
.alert-group>.alert:not(:first-child):not(:last-child){
    border-radius:0;
    border-top:0;
    margin-bottom:0
}
.alert-group>.alert:last-child:not(:first-child){
    -webkit-border-top-left-radius:0;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:0px;
    -moz-border-radius-bottomleft:0px;
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    border-top:0
}
.alert{
    margin-bottom: 0!important;

}
/*end of alert*/

.search {
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
    display: table;
    width: 100%;
    background: #eee;
}

.searchbox {
    width: 127px;
    display: inline-table;
    margin-left: 5px;
    vertical-align: bottom;
}

.rowClass{
    padding: 3px 6px!important;
    font-size: 13px!important;
}

.overflowClass{
    max-width: 138px!important; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.noBreak{
    white-space: nowrap
}

table > thead > tr > th {
    font-weight: normal;
}
