/* line 2, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree li {
  position: relative;
  list-style-type: none;
  margin: 10px;
}
/* line 6, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree li::before {
  position: absolute;
  top: -7px;
  left: -20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 0 0 0 0px;
  width: 20px;
  height: 15px;
  content: "";
}
/* line 16, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree li::after {
  position: absolute;
  top: 8px;
  left: -20px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 0px 0 0 0;
  width: 20px;
  height: 100%;
  content: "";
}
/* line 27, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree li:last-child::after {
  display: none;
}
/* line 29, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree li:last-child:before {
  border-radius: 0 0 0 5px;
}

/* line 33, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
ul.tree > li:first-child::before {
  display: none;
}
/* line 35, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
ul.tree > li:first-child::after {
  border-radius: 5px 0 0 0;
}

/* line 38, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree li span {
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 2px 5px;
}
/* line 42, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree li span:hover, .tree li span:focus {
  border: 1px solid #000;
  background: #ccc;
  color: #000;
}
/* line 46, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree li span:hover + ul li span, .tree li span:focus + ul li span {
  border: 1px solid #000;
  background: #ccc;
  color: #000;
}
/* line 50, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree li span:hover + ul li::after, .tree li span:focus + ul li::after, .tree li span:hover + ul li::before {
  border-color: #000;
}
/* line 54, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree li span:focus + ul li::before .tree li a:hover + ul::before, .tree li span:focus + ul::before .tree li a:hover + ul ul::before, .tree li span:focus + ul ul::before {
  border-color: #000;
}

/* line 57, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree-new-area {
  margin-left: 5px;
  cursor: pointer;
  line-height: 13px;
}

/* line 63, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree-input {
  border: 0;
  border-bottom: 1px solid grey;
}
/* line 66, /Users/apple/Ard_New/ard/app/assets/stylesheets/tree.sass */
.tree-input:focus {
  outline: none;
}
