<div class="right_col" role="main">
  <div class="">

    <div class="page-title">
      <div class="title_left"><h3><%= Constants::PAYMENT_MODES_SETUP_ROLE %></h3></div>
      <div class="text-right"><a href="/AddPaymentMode" class="btn btn-success btn-round"><%= Labels::ADD_NEW_PAYMENT_MODE_LABEL %></a></div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="x_title">
              <div  class="table-responsive" id="parent">
                <table id="fixTable" class="table">

                  <thead>
                    <tr>
                      <th class="text-left">Payment Mode</th>
                      <th class="text-left">Created At</th>
                      <th class="text-left">Status</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                
                  <tbody>

                    <% if @paymentModesList.present? %>
                      
                      <% @paymentModesList.each do |paymentMode| %>

                        <% colorValue =  PaymentMode.isDeleteBtnEnable(paymentMode.status) ? "green" : "red" %>
                        
                        <tr>

                          <td class="text-left"> <%= paymentMode.payment_mode_type %></h5></td>
                          
                          <td class="text-left"> <%= Utility.getFormatedDate(paymentMode.created_at.to_s) %></h5></td>

                          <td class="text-left" style="color: <%=colorValue%>"> <%= PaymentMode.getPaymentModeStatus(paymentMode.status) %></h5></td>
                          
                          <td class="text-center">
                            <% if PaymentMode.isDeleteBtnEnable(paymentMode.status) %>
                              <i onclick="deletePaymentMode(<%=paymentMode.id%>)" title = "Delete" class="fa fa-trash" aria-hidden="true"></i>
                            <% end %>
                          </td>

                        </tr>

                      <% end %>

                    <% else %>  
                      <tr>
                        <td class="text-left" colspan="4"><%=Constants::NO_RECORD_FOUND_LABEL%></td>
                      </tr>
                    <% end %>  

                  </tbody>
                
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

<script>
  var paymentModeIDNew;

  function deletePaymentMode(paymentModeID){
      paymentModeIDNew = paymentModeID
      getConfirmAlert("<%=(I18n.t :PAYMENT_MODE_DELETE_CONF_MSG)%>", nextAction);
    return false;
  }

  function nextAction(userAnswer){
    if(userAnswer == true){
      var name = ["paymentModeID"];
      var values = [paymentModeIDNew];
      openWindowWithPost("/DeletePaymentMode", name, values);
    }
  }
</script> 