<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%= Labels::ADD_NEW_PAYMENT_MODE_LABEL %></h3></div></div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
                
            <%= form_tag("/CreatePaymentMode", method: "post", id: 'paymentModeSetupForm' , class: 'form-horizontal form-label-left') do %>
              
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Payment Mode</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :paymentModeType, params[:paymentModeType], class: 'form-control', :required => true, :maxlength => 100 %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <%= submit_tag "Add" , class: 'btn btn-success btn-round pull-left',:onclick => "return validate()" %>
                  <%= link_to 'Back', 'PaymentModes', class: "btn btn-default btn-round"%>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function validate(){
    if(!formValidation('paymentModeSetupForm'))return false;
  }
</script>