<%= form_for(@score, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @score.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h4>

      <ul>
      <% @score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :scorable, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
     <%=  f.select "scorable", options_for_select([ "Officer","Micro Franchisee", "Maintenance Officer" ], "Officer"),{}, {class: "form-control"}  %>
    </div>
  </div>

   <div class="form-group" >
    <%= f.label :metric, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :metric, class: "form-control" %>
    </div>
  </div>

   <div class="form-group">
    <%= f.label :option, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%=  f.select "option", options_for_select(["Choose Option","Yes/No", "Target" ], "Choose Option"),{}, {class: "form-control"}   %>
    </div>
  </div>

 
  <div id="option_score">
    <div class="form-group" >
      <%= f.label :target, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :target, class: "form-control" %>
      </div>
    </div>

     <div class="form-group" id="option_score">
      <%= f.label :interval, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%=  f.select "interval", options_for_select(["N/A","Daily","Weekly", "Monthly" ], "N/A"),{}, {class: "form-control"}   %>
      </div>
    </div>
  </div>



  <div class="form-group">
    <%= f.label :points, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :points, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $( document ).ready(function() {
      $('#option_score').hide(); 
      $('#score_option').change(function(){
          if($('#score_option').val() == 'Target') {
              $('#option_score').show(); 
          } else {
              $('#option_score').hide(); 
          } 
      });
  });
</script>
