<div class="nav-tabs-navigation cover">
    <div class="nav-tabs-wrapper">
	<%= tabs_tag(:builder => OfficersHelper::MenuTabBuilder,:open_tabs => {:id => "tabs" ,:class => "nav nav-tabs cover", 'data-tabs'.to_s => "tabs"}) do |tab| %>

	  <%= tab.officer_score "Officer Score", scores_path %>
	  <%= tab.maintenance_score "Maintenance Officer Score", maintenance_scores_path %>
	  <%= tab.franchisee_score "Microfranchise Score", franchisee_scores_path %>

	
	 <%= link_to new_score_path, class: 'btn btn-success pull-right' do %>
	    <span class="glyphicon glyphicon-plus"></span>
	    New Metric
	  <% end %>

	<% end %>
	</div>
</div>

<br/>




