<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Edit Score</h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>
            
            <div  action="" method="post" name="" id="" class="form-horizontal form-label-left">

              <div align="center" class="row" >
                <h3 id="op"></h3>
              </div>

              <div>
            

            <div class="pull-right">
      			  <%= link_to scores_path, class: 'btn btn-default' do %>
      			    <span class="glyphicon glyphicon-list-alt"></span>
      			    Back
      			  <% end %>
            </div>
      

           
                
              </div>


              <div class="row">
              </div>

                <%= render 'form' %>

              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</div>
