<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Metrics</h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>

           <div class="row">
               <% flash.each do |name, msg| %>
                  <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <%= msg %>
                  <% end %>
                <% end %>
              </div>
            
            <div  action="" method="post" name="" id="" class="form-horizontal form-label-left">

              <div align="center" class="row" >
                <h3 id="op"></h3>
              </div>

              <div>
                <%= render "tab" %>

             
                
              </div>

                    <div class="table-responsive">
                      <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                                <th>Metric</th>
                                <th>Option</th>
                                <th>Target</th>
                                <th>Interval</th>
                                <th>Points</th>
                                <th></th>
                            <th></th>
                          </tr>
                        </thead>

                        <tbody>
                          <%= content_tag_for(:tr, @scores) do |score| %>
                                <td><%= score.metric %></td>
                                <td><%= score.option %></td>
                                <td>
                                  <% if score.target != "" %>
                                    <%= score.target %>
                                  <%else%>
                                     N/A
                                  <%end%>
                                </td>
                                <td><%= score.interval %></td>
                                <td><%= score.points %></td>
                            <td><%= link_to 'Edit', edit_score_path(score) %></td>
                            <td><%= link_to 'Delete', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          <% end %>
                        </tbody>
                      </table>
                    </div>

              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</div>
