<div class="page-header">
  <%= link_to scores_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_score_path(@score), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show score</h1>
</div>

<dl class="dl-horizontal">
  <dt>Metric:</dt>
  <dd><%= @score.metric %></dd>

  <dt>Target:</dt>
  <dd><%= @score.target %></dd>

  <dt>Points:</dt>
  <dd><%= @score.points %></dd>

  <dt>Scorable:</dt>
  <dd><%= @score.scorable %></dd>

</dl>
