
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<script type="text/javascript">
function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

 function confirmDialogClicked(userAnswer){
        if(userAnswer==true){
        alert("You clicked Yes button")
        }else{
          alert("You clicked no button");          
        }
      }

</script>

<style>
  div.scroll
  {
    height:120PX;
    overflow-x: hidden;
    overflow-y:scroll;
  }
</style>


<div class="right_col" role="main">
  <div class="">
    <div class="flash">
          <% if !flash[:error].nil? %>
             <div class="alert-group">
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <strong><%= flash[:error] %></strong> 
                </div>
             </div>
          <% end %> 
      </div>
    <div class="page-title">
      <div class="title_left">
        <% if @edituserdetails.id != nil %>
            <h3>Modify User</h3>
        <% else %>
            <h3>New User</h3>
        <% end %>

      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <br/>
            
            <%= form_for(@edituserdetails, :html => {:class => 'form-horizontal form-label-left'}) do |f|  %>
                <% if user.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

                      <ul>
                        <% user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>

               <% @user_role= Role.all.order('id ASC')%>

                <div class="form-group text-center">
                     <% if !@user.image.present? || @user.id == nil %>
                      <%= image_tag('user.png', :alt => "Picture", :id => "blah", :class => 'img-responsive avatar-view')%> 
                     <%else%>
                      <%= image_tag(@user.image, :alt => "Picture", :id => "blah", :class => 'img-responsive avatar-view')%> 
                     <% end%> 
                    <div class="row">
                      <span id="fileselector">
                          <label class="btn btn-default" for="upload-file-selector">
                              <%= f.file_field :image , :onchange => "readURL(this);"%>
                          </label>
                      </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Role %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <%
                        @user_bar = params[:user]
                        if @user_bar.present? && @user_bar == 'agent'
                          select_list = {Micro_Franchisee: 'agent'}
                        else  
                          select_list = {Administrator: 'admin', Micro_Franchisee: 'agent', Sales: 'sales', Technician: 'maintainer', Content_Manager: 'content_manager' }
                        end  
                     %>  

                      <%= f.select :role, select_list, { prompt: "Select a role..." }, class: "form-control", :id => "role", disabled: (@user == current_user), :onchange => "return check_pass();",required: true%>
                  </div>
                </div>
         

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name<font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :name,:class=>'form-control' , :maxlength => 30 , required: true%>
                  </div>
                </div>


                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name<font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :last_name,:class=>'form-control' , :maxlength => 30 , required: true%>
                  </div>
                </div>

                 <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender<font color = "red">*</font></label>
                     <div class="radio col-md-3 col-sm-6 col-xs-12">
                          <label style="margin-right:50px"><%= f.radio_button(:gender,"male")%>Male</label>
                          <label><%= f.radio_button(:gender,"female")%>Female</label>
                    </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Date_Of_Birth %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.date_field :date_of_birth,:class=>'form-control'  , required: true, :id => 'dob'%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Email %><font color = "red" id="email-font">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%
                      @user_email = TxnManager.getUserEmail(@user)
                    %>
                    <%= f.text_field :email,:class=>'form-control',:placeholder=>'E-mail', :id => 'email', :value => @user_email ,:maxlength => 30%>
                  </div>
                </div>

 
              <% if @user.role == 'agent' || @user.id == nil
                  @disable_status = TxnManager.getNationalIdStatus(@user)
                  @disable_status_tin=TxnManager.getTinNoStatus(@user)
              %>

                <div class="form-group" id="form-group-national-id" style= "display:none">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">National ID<font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :national_id,:class=>'form-control' , :maxlength => 16 , :id => 'national_id' %>
                  </div>
                </div>

                <div class="form-group" id="form-group-business" style= "display:none">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Business Name</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :business_name,:class=>'form-control' , :maxlength => 30%>
                  </div>
                </div>
  
                <div class="form-group" id="form-group-tin" style= "display:none">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">TIN<font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :tin_no,:class=>'form-control' , :maxlength => 9 , :id => 'tin'%>
                  </div>
                </div>
              
              <% end%>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Phone %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :phone,:class=>'form-control',:id => 'phone', :maxlength => 9 , :onblur => "return phone_check();" ,required: true %>
                  </div>
                </div>

               

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Address %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :address,:class=>'form-control' , :maxlength => 80, required: true,:id => "address"%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :City %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <%=f.text_field :city,:class=>'form-control' , :maxlength => 30 , required: true, :id => "city"%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :District %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%=f.select :district,User.distts.keys.to_a, { prompt: "Select a district..." },class: "form-control", required: true,:id=>'district'%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Country %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%=f.select :country,User.cntries.keys.to_a, { prompt: "Select a country..." },class: "form-control", :id => "country", required: true%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Zip_Code %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :zip_code,:class=>'form-control', :id => 'zip_code',:maxlength => 30 ,:onblur => "return zip_code_check();" , required: true %>
                  </div>
                </div>

                <% Rails.logger.debug("****USER STATUS*********#{@user.status}")%>
                <% if @user.status == 'active' || @user.status == 'suspended'%>

                 <% status_list = {Active: 'active', Suspend: 'suspended'} %>
                 <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Status<font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <%=f.select :status, status_list, { prompt: "Select a status..." }, class: "form-control", disabled: (@user == current_user), required: true%>
                  </div>
                </div>
                <% else%>
                   <%= f.hidden_field :status, :value=>'active'%>
                <%end%>

          <%
              @user_bar = params[:user]
              user_manager = UserManager.new
              @status =  user_manager.getViewAdminRolesStatus(@user,@user_bar)
          %>          

           <% if @status == 1%>       
           
             <div class="form-group" id="form-group-role">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"> Admin Roles<font color = "red">*</font></label>
                <% @uv= RoleHistory.where(user_id: params[:id])%>
                <% if @uv.present? %>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="col-md-12 bss scroll">
                       <div class="row">
                        <div class="clearfix"></div> 
                              <% @user_role.each do |f| %>
                                <% if User.compare(params[:id], f[:id]) == true%>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                      <p style="font-size:12px"><%= check_box("puppy", "commands", {checked: true,:multiple => true}, f[:id], nil)%>   
                                      <%=f[:role_name] %></p>  
                                    </div>   
                                <% else%>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                      <p style="font-size:12px"><%= check_box("puppy", "commands", {:multiple => true}, f[:id], nil)%>   
                                      <%=f[:role_name] %></p>  
                                    </div>     
                              <% end%>
                            <%end %>
                      </div>      
                    </div>
                  </div>  
                <% else %>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="col-md-12 bss scroll">
                        <div class="row">
                            <% @user_role.each do |f| %>
                              <div class="col-md-4 col-sm-6 col-xs-12">
                                <p style="font-size:12px"><%= check_box("puppy", "commands", {:multiple => true}, f[:id], nil)%>   
                                <%=f[:role_name] %></p> 
                                <div class="clearfix"></div> 
                              </div>

                            <% end%>
                        </div>    
                      </div>      
                    </div>
                <% end%>
          </div>
          <% end%>
            
            <% if @serial_number.present? %>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Mobile IMEI Number<font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-group">
                       <input type="text" name="serial_number" class="form-control"  value='<%= @serial_number[:serial_number] %>'></input>
                       <% 
                          Log.logger.debug("**********Total Serail Number count ***********#{@serial_number_count}")
                        if @serial_number_count == 1 
                          Log.logger.debug("* ACtive Flag Value of user form is =#{@serial_number.active_flag} ")
                     
                          if @serial_number.active_flag == 1 
                              @display_activate = 'none'
                              @display_deactivate = 'table-cell'
                          else
                              @display_activate = 'table-cell'
                              @display_deactivate = 'none'
                          end 
                        
                        %>
                            <span class="input-group-btn" id="bu1" style="display: <%=@display_deactivate%>">
                              <button class="btn btn-danger" type="button" id="button2" style="margin-right:  0px!important;" onclick="butt2()">Deactivate!</button>
                            </span>
                     
                            <span class="input-group-btn" id="nb1" style="display: <%=@display_activate%>">
                              <button class="btn btn-success" type="button" id="button1" style="margin-right:  0px!important;" onclick="butt1()">Activate!</button>
                            </span>
                      <% else %>
                     
                          <span class="input-group-btn" id="nb">
                            <button class="btn btn-success" type="button" id="button1" style="margin-right:  0px!important;" onclick="butt3()">Activate!</button>
                          </span>

                          <span class="input-group-btn" id="bu" style="display: none">
                            <button class="btn btn-danger" type="button" id="button2" style="margin-right:  0px!important;" onclick="butt4()">Deactivate!</button>
                          </span>
                     
                      <%end%>
                    
                    </div>      
                  </div>
              </div>
            <%end%>

          <!-- end of role if -->

                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <%= f.submit  :onclick => "return check();" ,:class => "btn btn-success btn-round", id: 'button'%>
                  </div>
                </div>
            <% end %>
            <!-- </form> -->
            
            <script>
                // *****This function is used to activate the phone
              function butt1()
              {
                <% if @serial_number.present? %>
                  var number_id=<%= raw @serial_number[:id] %>
                  var user_id=<%= raw @serial_number[:user_id] %>
                <% else %>
                <% end %>

                $.get( "/imei_number_update", { name: number_id,user_id: user_id } ).done(function( data ) 
                                                {
                                                    $("#nb1").hide();
                                                    $("#bu1").show();
                                                });
              }

              // *****This function is used to deactivate the phone

              function butt2()
              {
                <% if @serial_number.present? %>
                  var number_id=<%= raw @serial_number[:id] %>
                  var user_id=<%= raw @serial_number[:user_id] %>
                <% else %>
                <% end %>

                $.get( "/imei_number_update_deactivate", { name: number_id,user_id: user_id } ).done(function( data ) 
                                                {
                                                    $("#nb1").show();
                                                    $("#bu1").hide();
                                                });
              }  


                // *****This function is used to activate the phone
              function butt3()
              {
                <% if @serial_number.present? %>
                  var number_id=<%= raw @serial_number[:id] %>
                  var user_id=<%= raw @serial_number[:user_id] %>
                <% else %>
                <% end %>

                $.get( "/imei_number_update", { name: number_id,user_id: user_id } ).done(function( data ) 
                                                {
                                                    $("#nb").hide();
                                                    $("#bu").show();
                                                });
              }

              // *****This function is used to deactivate the phone

              function butt4()
              {
                <% if @serial_number.present? %>
                  var number_id=<%= raw @serial_number[:id] %>
                  var user_id=<%= raw @serial_number[:user_id] %>
                <% else %>
                <% end %>

                $.get( "/imei_number_update_deactivate", { name: number_id,user_id: user_id } ).done(function( data ) 
                                                {
                                                    $("#nb").show();
                                                    $("#bu").hide();
                                                });
              }

            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
 function check()
  {
      
      fname = document.getElementById("user_name").value; 
      name_exp = /^[A-Za-z ]+$/

      if(fname == "")
      {
        alert("Enter first name");
        document.getElementById("user_name").focus();
        return false
      }
      if(!name_exp.test(fname))
      {
        alert("First name should contain only alphabetics");
        document.getElementById("user_name").focus();
        return false
      }


      user_last_name = document.getElementById("user_last_name").value; 
      if(user_last_name == "")
      {
        alert("Enter last name");
        document.getElementById("user_last_name").focus();
        return false
      }
      if(!name_exp.test(user_last_name))
      {
        alert("Last name should contain only alphabetics");
        document.getElementById("user_last_name").focus();
        return false
      }

      if(document.getElementById('user_gender_male').checked == false && document.getElementById('user_gender_female').checked == false)
      {
        alert("Select the gender");
        document.getElementById("user_last_name").focus();
        return false
      }  

      dob = document.getElementById("dob").value;
      if(dob == "")
      {
        alert("Select date of birth");
        document.getElementById("dob").focus();
        return false
      }
      
      role = document.getElementById("role").value;

       if (role == "admin")
       {
         email = document.getElementById("email").value;
         expersion = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
   
          if(!expersion.test(email))
          {
            alert("Enter valid email address");
            document.getElementById("email").focus();
            return false
          }
       }
       else if (role == "agent")
       {
          email = document.getElementById("email").value;
          if(email != "") 
          {
            expersion = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
   
            if(!expersion.test(email))
            {
              alert("Enter valid email address");
              document.getElementById("email").focus();
              return false
            }
          }

          national_id = document.getElementById("national_id").value; 
          if(national_id == "")
          {
            alert("Enter National ID");
            document.getElementById("national_id").focus();
            return false
          }

          tin = document.getElementById("tin").value; 
          if(tin == 0)
          {
            alert("Enter TIN");
            document.getElementById("tin").focus();
            return false
          }

       }
   
      phone = document.getElementById("phone").value
      phone_exp = /^[0-9]+$/
      
      if(!phone_exp.test(phone))
      {
        alert("Phone should contain only numeric value");
        document.getElementById("phone").focus();
        return false
      }

      address = document.getElementById("address").value; 
      if(address == "")
      {
        alert("Enter address");
        document.getElementById("address").focus();
        return false
      }

      city = document.getElementById("city").value; 
      if(city == "")
      {
        alert("Enter city");
        document.getElementById("city").focus();
        return false
      }

      district = document.getElementById("district").value; 
      if(district == "")
      {
        alert("Select district");
        document.getElementById("district").focus();
        return false
      }
      
      country = document.getElementById("country").value; 
      if(country == "")
      {
        alert("Select country");
        document.getElementById("country").focus();
        return false
      }

      zip_code = document.getElementById("zip_code").value
      phone_exp = /^[0-9]+$/
      
      if(!phone_exp.test(zip_code))
      {
        alert("Zip-code should contain only numeric value");
        document.getElementById("zip_code").focus();
        return false
      }
      
      if (role == "admin")
      {
        var status = 0;
      
        if(document.getElementById('puppy_commands_0').checked)
        {
          status=1;
        }  
        else
        {
          for(x=1; x < 21; x++)
          {
            if(document.getElementById('puppy_commands_'+x).checked)
            {
               status=1;
               break; 
            }
          }
        }
        if(status == 0)
        {
          alert("Select atleast one role");
          return false;
        }
      } 
       return true 
  }
</script>

<script>
$(document).ready(function(){

    if(<%=@user.role=="agent"%>)
    { 
        document.getElementById('email-font').style.display = "none";
    }


    if($("#role").val() == "agent")
    {
      document.getElementById('form-group-national-id').style.display = "block";
      document.getElementById('form-group-business').style.display = "block";
      document.getElementById('form-group-tin').style.display = "block";
      document.getElementById('form-group-role').style.display = "block";

    }

    $('#puppy_commands_0').click(function()
    {
       var total_roles = "<%= @user_role.count%>";
       var total_count = parseInt(total_roles);
        
       if($(this).is(':checked'))
       {
           for(x=1; x<parseInt(total_count); x++)
           {
              $('#puppy_commands_'+x).attr("disabled", "disabled");
           }
       }
       else
       { 
           for(x=1; x<parseInt(total_count); x++)
           {
              $('#puppy_commands_'+x).removeAttr("disabled");
           }
       }
    });

    //******************************************
    //This is for Micro signup only
    $('#puppy_commands_1').click(function()
    {
      if($(this).is(':checked'))
      {
        $('#puppy_commands_4').attr("disabled", "disabled");
      }
      else
      {
        $('#puppy_commands_4').removeAttr("disabled");
      }
    }); 
    //This is for all signup
    $('#puppy_commands_4').click(function()
    {
      if($(this).is(':checked'))
      {
        $('#puppy_commands_1').attr("disabled", "disabled");
      }
      else
      {
        $('#puppy_commands_1').removeAttr("disabled");
      }
    }); 

    //******************************************
    //This is for Micro suspend only
    $('#puppy_commands_2').click(function()
    {
      if($(this).is(':checked'))
      {
        $('#puppy_commands_5').attr("disabled", "disabled");
      }
      else
      {
        $('#puppy_commands_5').removeAttr("disabled");
      }
    }); 
    //This is for all suspend
    $('#puppy_commands_5').click(function()
    {
      if($(this).is(':checked'))
      {
        $('#puppy_commands_2').attr("disabled", "disabled");
      }
      else
      {
        $('#puppy_commands_2').removeAttr("disabled");
      }
    }); 

    //******************************************
    // This is for Micro Modify only
    $('#puppy_commands_19').click(function()
    {
      if($(this).is(':checked'))
      {
        $('#puppy_commands_20').attr("disabled", "disabled");
      }
      else
      {
        $('#puppy_commands_20').removeAttr("disabled");
      }
    }); 

    // THis is for all modify
    $('#puppy_commands_20').click(function()
    {
      if($(this).is(':checked'))
      {
        $('#puppy_commands_19').attr("disabled", "disabled");
      }
      else
      {
        $('#puppy_commands_19').removeAttr("disabled");
      }
    }); 




    $("#role").change(function(){
      if($(this).val() == "admin")
      {
        //$("#myModal").modal(); 
         document.getElementById('email-font').style.display = "block";
         document.getElementById('form-group-national-id').style.display = "none";
         document.getElementById('form-group-business').style.display = "none";
         document.getElementById('form-group-tin').style.display = "none";
         document.getElementById('form-group-role').style.display = "block";
      }
      else if($(this).val() == "agent") 
      {
         document.getElementById('email-font').style.display = "none";
         document.getElementById('form-group-national-id').style.display = "block";
         document.getElementById('form-group-business').style.display = "block";
         document.getElementById('form-group-tin').style.display = "block";
         document.getElementById('form-group-role').style.display = "none";
      }
      else
      {
         document.getElementById('form-group-national-id').style.display = "none";
         document.getElementById('form-group-business').style.display = "none";
         document.getElementById('form-group-tin').style.display = "none";
         document.getElementById('form-group-role').style.display = "none";
      }

    });



});
</script>


