
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Individual User Details</h3>
        
      </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <br/>
<table id="fixTable" class="table">
        <thead>
            <tr>
                <th class="text-left">Particular</th>
                <th class="text-left">Description</th>
            </tr>
        </thead>    
        <tbody>  

            <tr>
                <td class="text-left">First Name</td>
                <td class="text-left"><%= @userdetails.fname %></h5></td>
          </tr>



          <tr>
                <td class="text-left">Last Name</td>
                <td class="text-left"><%= @userdetails.lname %></h5></td>
          </tr>


          <tr>
                <td class="text-left">Status</td>
                <td class="text-left"><%= @userdetails.status %></h5></td>
          </tr>

           <tr>
  
                <td class="text-left">Phone</td>
                <td class="text-left"><%= @userdetails.phone %></h5></td>
          </tr>
    
      

          <tr>
                <td class="text-left">Email</td>
                <td class="text-left"><%= @userdetails.email %></h5></td>
          </tr>


          <tr>
                <td class="text-left">Gender</td>
                 <td class="text-left"><%= @userdetails.gender %></h5></td>
          </tr>

          <tr>
                <td class="text-left">Address</td>
                <td class="text-left"><%= @userdetails.address %></h5></td>
          </tr>

          <tr>
                <td class="text-left">National ID</td>
               
                <td class="text-left"><%= @userdetails.idnumber %></h5></td>
          </tr>

             <tr>
                <td class="text-left">Passport Number</td>
               
                <td class="text-left"><%= @userdetails.idnumber %></h5></td>
          </tr>

            <tr>
                  <td class="text-left">Tin Number</td>
                  <td class="text-left"><%= @userdetails.tinnumber %> | <a href="#">Insert Tin Number</a></h5></td>
            </tr>

            <tr>
                  <td class="text-left">Next of Kin</td>
                  <td class="text-left"><%= @userdetails.next_of_kin %></h5></td>
            </tr>

            <tr>
                  <td class="text-left">Telephone For Next of Kin</td>
                  <td class="text-left"><%= @userdetails.kin_telephone %></h5></td>
            </tr>
    

         
          <tr>
                <td class="text-left">Date of Registration</td>
                <td class="text-left"><%= @userdetails.registered_date %></h5></td>
          </tr>

          <tr>
                <td class="text-left">Document Status</td>
                <td class="text-left"><%= @userdetails.document_status %>  |
                  <a href="#">Upload ID/Passport</a>
                </h5></td>
          </tr>



        </tbody>
              
      </table>
      </div>
        
        <div class="text-center">
            <%= link_to 'Back', applicants_show_path , class: "btn btn-success btn-round" %>
          
        </div>
  </div>

</div>
</div>
</div>
  </div>
<script>

  $(document).ready(function() {
    $(":input").inputmask();
  });
  //jquery.inputmask

</script>
<script>

  $(document).ready(function() {
    $("applicant_approval").inputmask();
  });
  //jquery.inputmask

</script>
<footer>
  <div class="pull-right">

  </div>
  <div class="clearfix"></div>
</footer>