
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
       
        <h3>List of Pre-Applicants</h3>

      </div>
      <div class="title_right">
      </div>
      
    </div>
   

<style type="text/css">
#parent1 {
    height: 760px;
}
</style>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <div  class="table-responsive" id="parent1">           
              <table id="fixTable" class="table">
                <thead>
                  <tr>
                   <th class="text-left">#</th>
                   <th class="text-left">Names</th>
                   <th class="text-left">Phone</th>
                   <th class="text-left">Status</th>
                   <th class="text-center">Questions-(Score)</th>
                   <th class="text-center">Details</th>
                   <th class="text-center">Approve</th>
				  <th class="text-center">Reject</th>
                 
                  </tr>
                </thead>
                
                <tbody>
                  <% @applicants.each do |applicant| %>


              
                      <tr data-href= '<%= applicant%>' >
                        <td><%= applicant.id %></td>
                        <td class="text-left"><%= applicant.fname.to_s + " " + applicant.lname.to_s %></h5>
                        </td>

                      <td class="text-left"><%= applicant.phone %></td>
					  
						<% if applicant.status == 'Approved' %>
                      
                        <td class="text-left" style="color:green;"><%=applicant.status%></td>
						<%else%>
						<td class="text-left" style="color:red;"><%=applicant.status%></td>
						<%end%>
                         <td class="text-center">  
                           <a href="/questions/<%= applicant.sessionid_unique %>">Show Questions - (105)</a>
                         </td>

                        <td class="text-center">
                        <a href="/applicants/<%= applicant.id %>" 

                        class="btn btn-success btn-round" >More Details</a>

                        </td>
						
                        <td class="text-center">     
                           <a href="/editapplicantstatus/edit/<%= applicant.id %>" class="btn btn-info btn-round">Approve</a>
                        </td>
						
						<td class="text-center">     
                           <a href="/editapplicantstatus/reject/<%= applicant.id %>" class="btn btn-danger btn-round">Rejected</a>
                        </td>
						
                      </tr>
                  <% end %>
                </tbody>
              </table>
            </div>  
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

 function confirmDialogClicked(userAnswer){
        if(userAnswer==true){
        alert("You clicked Yes button")
        }else{
          alert("You clicked no button");          
        }
      }

//using the button as an updated
 $("#approve_applicant").click(function(){
  var checkedValue = $('#applicant_id:checked').val();
        alert(checkedValue);
$.ajax({
  method: "POST",
  url: "/editapplicantstatus",
  data: { checkedValue :checkedValue}
});

    });





</script>




<footer>
  <div class="pull-right">

  </div>
  <div class="clearfix"></div>
</footer>

