<%
	if params[:month] == nil
		params[:month] = Date::MONTHNAMES[Date.today.month]
	end

	if params[:year] == nil
		params[:year] = Date.today.strftime("%Y")
	end	
%>

<div class="right_col" role="main">
  	<div class=""><div class="page-title"><div class="title_left"><h3>Commission Payment</h3></div></div></div><div class="clearfix"></div>
 	
 	<div class="row">
	    <div class="col-md-12 col-sm-12 col-xs-12">
	        <div class="x_panel">
	        	<div class="x_content" style="margin-bottom: -30px;">
		          	<div class="form-group text-center">
			            
			            <%= form_tag("/search_commission_payment", method: "post", id: "commPayForm", class: 'form-horizontal form-label-left') do %>
			            
				            <div class="form-group">
					            <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="email">Select
					            </label>
					            <div class="col-md-6 col-sm-6 col-xs-12">
					       			<%= select_tag "user_type", options_for_select([ "All Users", "Single User"], params[:user_type]),:class=>'form-control col-md-7 col-xs-12',:id=>'user_select' %>
					            </div>
					        </div>

				        	<div class="form-group" id ="agent_phone_div" style="display: none;">
				                <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone<font color = "red">*</font></label>
				                <div class="col-md-6 col-sm-6 col-xs-12">
				                    <%= text_field_tag :agent_phone, params[:agent_phone], :class=>'form-control number',:maxlength => 9 , required: true%>
				                </div>
				            </div>

				            <div class="form-group">
		                      <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="email">Month
		                      </label>  
		                      <div class="col-md-6 col-sm-6 col-xs-12">
		                        <%= select_tag "month", options_for_select(Constants::MONTH_LIST, params[:month]),:class=>'form-control col-md-7 col-xs-12', id:'month'%>
		                      </div>
		                    </div>

		                    <div class="form-group">
		                      <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="email">Year
		                      </label>
		                      <div class="col-m. d-6 col-sm-6 col-xs-12">
		                        <%= select_tag "year", options_for_select(TxnHeader.getYearsList, params[:year]),:class=>'form-control col-md-7 col-xs-12', id:'year'%>
		                      </div>
		                    </div>
        	
				            <div class="form-group">
				            	<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 text-center" style="margin-top: 10px">
				              		<%= submit_tag "Show", class: 'btn btn-success btn-round',  id: 'show_button' %>
				            	</div>
				          	</div>

			            <% end %>
		          	</div>
	        	</div>
	      	</div>
    	</div>
    </div>	
</div>


<script type="text/javascript">
	$(document).ready(function(){

		var currentMonth = "<%=Date.today.month%>";
		var currentYear = "<%=Date.today.year%>";
		var selectedMonth = $('#month').val();
		var selectedYear = $('#year').val();
		var dat = new Date('1 ' + selectedMonth + selectedYear);
		var selectedMonthNumber = dat.getMonth()+1;

		if(selectedMonthNumber >= currentMonth && selectedYear >= currentYear){
			isButtonDisable(true);
		} else {
			isButtonDisable(false);
		}

		$('#month').change(function(e){
		 	setDisbale(currentMonth, currentYear);
		});

		$('#year').change(function(e){
			setDisbale(currentMonth, currentYear);
		});

	});

	function isButtonDisable(confirm){
		$('#show_button').prop("disabled", confirm);
	}


	function setDisbale(currentMonth, currentYear){
		selectedMonth = $('#month').val();
		selectedYear = $('#year').val();
		dat = new Date('1 ' + selectedMonth + selectedYear);
	 	selectedMonthNumber = dat.getMonth()+1;

	 	if(selectedMonthNumber >= currentMonth && selectedYear >= currentYear){
			isButtonDisable(true);
		} else {
			isButtonDisable(false);
		}
	}

</script>

<script type="text/javascript">
	$(document).ready(function(){	
		var controller_user_type = "<%=@user_type%>";
	
		if(controller_user_type == "All Users"){
			$("#agent_phone_div").hide();
			$('#agent_phone').removeAttr('required');
			return
		} else if(controller_user_type == "Single User"){
			$("#agent_phone_div").show();
			$('#agent_phone').prop('required', 'true');
			$('#agent_phone').val("<%=@phone%>");
			return
		}	
	});	
</script>


<script>
	$(document).ready(function(){
      
		var userType = $("#user_select").val();	
		managePhoneDiv(userType);

		$("#user_select").change(function(){
			managePhoneDiv(this.value);
		});

		$("#show_button").click(function(){
			 if(!formValidation('commPayForm'))return false;
		});	
    });


    function managePhoneDiv(userType){
    	if(userType == "All Users"){
			$("#agent_phone_div").hide();
			$('#agent_phone').removeAttr('required');
			return
		} else if(userType == "Single User"){
			$("#agent_phone_div").show();
			$('#agent_phone').prop('required', 'true');
			return
		}	
    }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>