<div class="right_col" role="main">
  
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Commission Payment</h3></div>
      <div class="title_right"><h3 style="font-size: 16px; float: right"><%= " Month : " + params[:month] + " " + params[:year] %></h3></div>
    </div>
  </div>
  
  <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel ">
          <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 bgx">

                <%= form_tag("/search_commission_payment", method: "post", id: "commPayForm", class: 'form-horizontal form-label-left') do %>

                  <div class="form-group">
                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">Select</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <%= select_tag "user_type", options_for_select([ "All Users", "Single User"], params[:user_type]),:class=>'form-control col-md-7 col-xs-12',:id=>'user_select'%>
                    </div>
                  </div>
        
                  <div class="form-group" id ="agent_phone_div" style="display: none;">
                    <label class="col-md-12 col-sm-12 col-xs-12">Phone</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <%= text_field_tag :agent_phone, params[:agent_phone], :class=>'form-control number',:maxlength => 9 , required: true%>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">Month</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <%= select_tag "month", options_for_select(Constants::MONTH_LIST, params[:month]),:class=>'form-control col-md-7 col-xs-12', id:'month'%>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">Year</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <%= select_tag "year", options_for_select(TxnHeader.getYearsList, params[:year]),:class=>'form-control col-md-7 col-xs-12', id:'year'%>
                    </div>
                  </div>
              
                  <div class="form-group">
                    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-2 text-center" style="margin-top: 10px">
                      <%= submit_tag "Show", class: 'btn btn-success btn-round',  id: 'show_button' %>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-1" style="margin-top: 10px">
                      <%= link_to 'Back', 'CommissionPayment', class: "btn btn-default btn-round"%>
                    </div>
                  </div>
                <% end %>
            </div>

            <%if @commission_list.present?%>

              <%= form_tag("/pay_commission", method: "post", class: 'form-horizontal form-label-left') do %>
           
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                          <div  class="table-responsive" id="parent1">
                            <table id="fixTable" class="table">

                              <thead>
                                <tr>
                                  <th class="text-left">S No</th>
                                  <th class="text-left">M F Name</th>
                                  <th class="text-left">M F Phone</th>
                                  <th class="text-center">Account Balance</th>
                                  <th class="text-center">Credit Balance</th>
                                  <th class="text-center">Penalty Balance</th>
                                  <th class="text-center">Commission Balance</th>
                                </tr>
                              </thead>
                                          
                              <tbody>
                                <%sNo = 1 %>
                                <%@commission_list.each do |commission|%>
                                  <input type="hidden" name="agent_ids[]" value="<%=commission[:user_id]%>">
                                  <input type="hidden" name="fromDate" value="<%=commission[:from_date]%>">
                                  <input type="hidden" name="toDate" value="<%=commission[:to_date]%>">
                                  <input type="hidden" name="commission_balance[]" value="<%=commission[:commission_balance]%>">
                                  
                                  <tr>
                                      <td class="text-left"><%=sNo%></td>
                                      <td class="text-left"><%=commission[:name]%>  <%=commission[:last_name]%></td>
                                      <td class="text-left"><%=commission[:phone]%></td>
                                      <td class="text-center"><%=Utility.getFormatedAmount(commission[:account_balance])%></td>
                                      <td class="text-center"><%=Utility.getFormatedAmount(commission[:credit_balance])%></td>
                                      <td class="text-center"><%=Utility.getFormatedAmount(commission[:penalty_balance])%></td>
                                      <td class="text-center"><%=Utility.getFormatedAmount(commission[:commission_balance])%></td>
                                  </tr>
                                  <%sNo = sNo.to_i + 1%>
                                <%end%>   
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                   <!--  <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 text-center" style="margin-top: 10px">
                        <input type="checkbox" id="remember" name="taxDeduct" value="true" style="margin:0 5px;">Deduct The Withholding Tax
                      </div>
                    </div> -->

                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 text-center" style="margin-top: 10px">
                        <%= submit_tag "Pay Commission", class: 'btn btn-success btn-round', id: 'payCommissionButton' %>
                      </div>
                    </div>

                  </div>
                </div>

              <% end%>
            <%end%> 

          </div>
        </div>
      </div>  
    </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){

    var currentMonth = "<%=Date.today.month%>";
    var currentYear = "<%=Date.today.year%>";
    var selectedMonth = $('#month').val();
    var selectedYear = $('#year').val();
    var dat = new Date('1 ' + selectedMonth + selectedYear);
    var selectedMonthNumber = dat.getMonth()+1;

    if(selectedMonthNumber >= currentMonth && selectedYear >= currentYear){
      isButtonDisable(true);
    } else {
      isButtonDisable(false);
    }

    $('#month').change(function(e){
      setDisbale(currentMonth, currentYear);
    });

    $('#year').change(function(e){
      setDisbale(currentMonth, currentYear);
    });


  });

  function isButtonDisable(confirm){
    $('#show_button').prop("disabled", confirm);
  }

  function setDisbale(currentMonth, currentYear){
    selectedMonth = $('#month').val();
    selectedYear = $('#year').val();
    dat = new Date('1 ' + selectedMonth + selectedYear);
    selectedMonthNumber = dat.getMonth()+1;

    if(selectedMonth >= currentMonth && selectedYear >= currentYear){
      isButtonDisable(true);
    } else {
      isButtonDisable(false);
    }
  }

</script>

<script type="text/javascript">
  $(document).ready(function(){ 
    var controller_user_type = "<%=@user_type%>";
  
    if(controller_user_type == "All Users"){
      $("#agent_phone_div").hide();
      $('#agent_phone').removeAttr('required');
      return
    } else if(controller_user_type == "Single User"){
      $("#agent_phone_div").show();
      $('#agent_phone').prop('required', 'true');
      $('#agent_phone').val("<%=@phone%>");
      return
    } 
  }); 
</script>


<script>
  $(document).ready(function(){
      
    var userType = $("#user_select").val(); 
    managePhoneDiv(userType);

    $("#user_select").change(function(){
      managePhoneDiv(this.value);
    });

    $("#show_button").click(function(){
       if(!formValidation('commPayForm'))return false;
    }); 
    });


    function managePhoneDiv(userType){
      if(userType == "All Users"){
      $("#agent_phone_div").hide();
      $('#agent_phone').removeAttr('required');
      return
    } else if(userType == "Single User"){
      $("#agent_phone_div").show();
      $('#agent_phone').prop('required', 'true');
      return
    } 
    }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>
