:javascript
  $(document).ready(function() {
    $(".js-example-basic-multiple").select2({theme: "bootstrap"});
  });

= form_for @booth do |f|
  .form-group.row
    = f.label :kiosk_name, class: "col-sm-2 form-control-label text-xs-right"
    .col-sm-10
      = f.text_field :kiosk_name, placeholder: "E-Mail", class: "form-control", required: true

  .form-group.row
    = f.label :role, class: "col-sm-2 form-control-label text-xs-right"
    .col-sm-10
      = f.select :role, User.roles.keys.to_a, { prompt: "Select a role..." }, class: "form-control", disabled: (@user == current_user), required: true
  .form-group.row
    = f.label :status, class: "col-sm-2 form-control-label text-xs-right"
    .col-sm-10
      = f.select :status, User.statuses.keys.to_a, { prompt: "Select a status..." }, class: "form-control", disabled: (@user == current_user), required: true

  .form-group.row
    = f.label :password, class: "col-sm-2 form-control-label text-xs-right"
    .col-sm-10
      = f.password_field :password, placeholder: "Password", class: "form-control", required: true

  .form-group.row
    = f.label :password_confirmation, class: "col-sm-2 form-control-label text-xs-right"
    .col-sm-10
      = f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control", required: true

  .form-group.row
    = f.label :name, class: "col-sm-2 form-control-label text-xs-right"
    .col-sm-10
      = f.text_field :name, placeholder: "Name", class: "form-control"
  .form-group.row
    = f.label :phone, class: "col-sm-2 form-control-label text-xs-right"
    .col-sm-10
      = f.text_field :phone, placeholder: "Phone", class: "form-control"
  .form-group.row
    = f.label :date_of_birth, class: "col-sm-2 form-control-label text-xs-right"
    .col-sm-10
      = f.date_field :date_of_birth, placeholder: "Phone", class: "form-control"
  .form-group.row
    = f.label :address, class: "col-sm-2 form-control-label text-xs-right"
    .col-sm-10
      = f.text_field :address, placeholder: "Address", class: "form-control"
  .form-group.row
    = f.label :zip_code, class: "col-sm-2 form-control-label text-xs-right"
    .col-sm-3
      = f.text_field :zip_code, placeholder: "Zip Code", class: "form-control"
    = f.label :city, class: "col-sm-2 form-control-label text-xs-right"
    .col-sm-5
      = f.text_field :city, placeholder: "City", class: "form-control"
  .form-group.row
    = f.label :country, class: "col-sm-2 form-control-label text-xs-right"
    .col-sm-10
      = f.text_field :country, placeholder: "Country", class: "form-control"

  %hr

  .row
    %h3 Kiosks which can be managed:
    - Kiosk.all.in_groups_of(6, false) do |kiosk|
      .row
        - kiosk.each do |k|
          .col-sm-4
            .form-group
              = check_box_tag "user[kiosk_ids][]", k.id, @user.kiosks.include?(k), id: "user_kiosk_ids_#{k.id}"
              = f.label :kiosks, k.description, class: "form-control-label", for: "user_kiosk_ids_#{k.id}"

  %hr

  .form-group.row
    .col-sm-12.text-xs-right
      = f.button submit: "", class: 'btn btn-primary'
