.form-inline
  = form_tag(users_path, :method => "get", id: "search-form") do
    .form-group
      = text_field_tag :search, params[:search], placeholder: "User", class: "form-control"
      = submit_tag "Search",  class: "btn btn-primary"
    = link_to "New User", new_user_path, class: "btn btn-success pull-xs-right"

- if @users.present?
  = will_paginate @users

.table-responsive
  %table.table.table-striped
    %tr
      %th E-Mail
      %th Role
      %th Kiosks
      %th Updated At
      %th Actions

    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.role
        %td= get_kiosk user
        %td= user.updated_at ? (I18n.localize user.updated_at, format: :long) : ""
        %td
          = link_to "Edit", edit_user_path(user), class: "btn btn-warning"
          = link_to "Delete", user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"

- if @users.present?
  = will_paginate @users
- else
  %center
    %p Nothing could be found.