<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Kiosk QR codes</h3>
      </div>
      
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div  class="table-responsive" id="parent">
               <table id="fixTable" class="table">

                <thead>
                  <tr>
                    <th class="text-center">Kiosk</th>
                    <th class="text-center">QR Code</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <% @booths.each do |booth|%>   
                    <tr>
                      <td class="text-center"><%=booth.booth_model%></td>
                      <td class="text-center">
                        <img class="qr-code" src="<%= generate_qr("KIOSK: #{booth.booth_model} \n http://13.84.48.214/") %>"/>
                      </td>
                      <td class="text-center">
                        <%= link_to 'Print', '#', class: "btn btn-success btn-round", onclick: 'window.print(); return false;' %>    
                      </td>
                    </tr>
                  <% end%>  
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        
<script>
  
  $(document).ready(function() {
    $(":input").inputmask();
  });

</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>


