<div class="right_col" role="main">
  <div class="">

    <div class="page-title">
      <div class="title_left"><h3><%=Constants::AGGREGATOR_SIGNUP_ROLE%></h3></div>

      <div class="title_right">
        <div class="text-right"><a href="/NewAggregatorSignup" class="btn btn-success btn-round"> New Aggregator Signup</a></div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div  class="table-responsive" id="parent">
               <table id="fixTable" class="table">

                <thead>
                  <tr>
                    <th class="text-left rowClass">Aggregator Name</th>
                    <th class="text-center rowClass">Contact Person Name</th>
                    <th class="text-center rowClass">Contact Person Phone</th>
                    <th class="text-center rowClass">Commission Include</th>
                    <th class="text-center rowClass"></th>
                  </tr>
                </thead>

                <tbody>
                  <% if @aggregatorList.present? %>
                    <% counter = 0 %>
                    <% @aggregatorList.each do |aggregator|%>   
                      <tr>
                        
                        <td class="text-left rowClass"><%= aggregator.business_name %>
                          <input type="hidden" id="aggID<%=counter%>" value = "<%=aggregator.id%>">
                          <input type="hidden" id="businessName<%=counter%>" value = "<%=aggregator.business_name%>">
                        </td>
                        
                        <td class="text-center rowClass"><%= aggregator.name %> <%= aggregator.last_name %>
                          <input type="hidden" id="contPerFName<%=counter%>" value = "<%=aggregator.name%>">
                          <input type="hidden" id="contPerLName<%=counter%>" value = "<%=aggregator.last_name%>">
                        </td>
                        
                        <td class="text-center rowClass"><%= aggregator.phone %>
                          <input type="hidden" id="contPerPhone<%=counter%>" value = "<%=aggregator.phone%>">
                        </td>
                        
                        <td class="text-center rowClass"><%= AggregatorManager.getCommIncludeDisValue(aggregator.is_comm_include) %>
                          <input type="hidden" id="isCommIncl<%=counter%>" value = "<%=AggregatorManager.getCommIncludeDisValue(aggregator.is_comm_include) %>">
                        </td>
                        
                        <td class="text-center rowClass"><button class="btn btn-success btn-round" onclick="sendPostRequest('<%=counter%>')">Edit</button></td>
                      
                      </tr>
                      <% counter = counter.to_i + 1 %>
                    <% end%>  
                  <% else %>
                      <tr><td class="text-left" colspan="3"><%= Constants::NO_AGGREGATOR_FOUND_LABEL %></td></tr>
                  <% end %>  
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  function sendPostRequest(counter){
    var aggregatorID = $('#aggID'+counter).val();
    var aggregatorName = $('#businessName'+counter).val();
    var contPerFName = $('#contPerFName'+counter).val();
    var contPerLName = $('#contPerLName'+counter).val();
    var contPerPhone = $('#contPerPhone'+counter).val();
    var isCommInclude = $('#isCommIncl'+counter).val();

    var name = ["isUpdate", "aggregatorID", "aggregatorName", "contPerFName", "contPerLName", "contPerPhone", "isCommInclude"];
    var values = ["true", aggregatorID, aggregatorName, contPerFName, contPerLName, contPerPhone, isCommInclude];
    openWindowWithPost("/NewAggregatorSignup", name, values);
  }

</script> 
<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>


