<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%=Constants::AGGREGATOR_SIGNUP_ROLE%></h3></div></div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
                
            <%= form_tag("/NewAggregatorCreate", method: "post", id: 'aggregatorSignupForm' , class: 'form-horizontal form-label-left') do %>
              
              <%= hidden_field_tag "isUpdate", params[:isUpdate] %>
              <%= hidden_field_tag "aggregatorID", params[:aggregatorID] %>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                  <%= text_field_tag :aggregatorName, params[:aggregatorName], :placeholder => 'Aggregator Name', class: 'form-control alpha', :required => true, :maxlength => 40 %>
                </div>
              </div>
             
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                  <%= text_field_tag :contPerFName, params[:contPerFName], :placeholder => 'Contact Person First Name', class: 'form-control alpha', :required => true, :maxlength => 40 %>
                </div>
              </div>
             
              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                  <%= text_field_tag :contPerLName, params[:contPerLName], :placeholder => 'Contact Person Last Name', class: 'form-control alpha', :required => true, :maxlength => 40 %>
                </div>
              </div>

              <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                  <%= text_field_tag :contPerPhone, params[:contPerPhone], :placeholder => 'Contact Person Phone', class: 'form-control number', :required => true, :maxlength => 13 %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                  <%= select_tag "isCommInclude", options_for_select(Constants::COMM_INCLUDE_SELECT_OPT,params[:isCommInclude]),:class=>'form-control', :required => true %>
                </div>
              </div><br />
              
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <%= submit_tag "Submit" , class: 'btn btn-success btn-round pull-left', :onclick => "return validate()" %>
                  <a href="/AggregatorSignup" class="btn btn-default btn-round">Back</a>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function validate(){
    if(!formValidation('aggregatorSignupForm'))return false;
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>