<style>
  div.scroll{
    height:120PX;
    overflow-x: hidden;
    overflow-y:scroll;
  }
  .userProfile {
    width: 160px!important;
    height: 160px!important;
  }
</style>

<%
  #This is used for if the admin has only MF signup role and when some causes page is render with info entered then get the status for the role show only MF signup
  urlBarStatus = params[:status]
  if session[:urlBarStatus]!=nil
    urlBarStatus = session[:urlBarStatus]
    session[:urlBarStatus] = nil
  end  
%>

<div class="right_col" role="main">
  <div class="">
    
    <div class="flash">
      <% if !flash[:error].nil? %>
         <div class="alert-group">
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <strong><%= flash[:error] %></strong> 
            </div>
         </div>
      <% end %> 
    </div>
    
    <div class="page-title">
      <div class="title_left"><h3><%=User.getPageHeaderForRegForm(@user)%></h3></div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">

            <%= form_for(@user, :html => {:class => 'form-horizontal form-label-left' ,:id => 'userRegisteredForm'}) do |f|  %>
                <% @user_role= Role.all.order('id ASC')%>
                <input type="hidden" name="urlBarStatus" value="<%=urlBarStatus%>">

                <div class="form-group text-center">
                  <% if !@user.image.present? || @user.id == nil %>
                    <%= image_tag('user.png', :alt => "Picture", :id => "userImage", :class => 'img-responsive avatar-view userProfile')%> 
                  <%else%>
                    <%= image_tag(@user.image, :alt => "Picture", :id => "userImage", :class => 'img-responsive avatar-view userProfile')%> 
                  <% end%> 

                  <div class="row">
                    <span id="fileselector">
                      <%= f.file_field :image , :onchange => "getImage(this);", :style => 'display:none', :id => "imageFile" %>
                      <input type="button" class="btn btn-success btn-round" value="Upload" id="uploadImageBtn">
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Role %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.select :role, User.getRoleList(urlBarStatus), { prompt: "Select a role..." }, class: "form-control", :id => "role", disabled: (@user == current_user),required: true%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name<font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :name,:class=>'form-control alpha' , :maxlength => 30 , required: true%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name<font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :last_name,:class=>'form-control alpha' , :maxlength => 30 , required: true%>
                  </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender<font color = "red">*</font></label>
                     <div class="radio col-md-3 col-sm-6 col-xs-12">
                          <label style="margin-right:50px"><%= f.radio_button(:gender,"male")%>Male</label>
                          <label><%= f.radio_button(:gender,"female")%>Female</label>
                    </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Date_Of_Birth %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.date_field :date_of_birth,:class=>'form-control', required: true, :id => 'dob'%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Email %>
                    <font color = "red" id="email-font" style="margin-top: -24px; margin-right: -5px;">*</font>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <% if @user.id == nil%>
                      <%= f.text_field :email,:class=>'form-control',:placeholder=>'E-mail', :id => 'email', :maxlength => 30, required: true%>
                    <% else %>
                      <%= f.text_field :email,:class=>'form-control',:placeholder=>'E-mail', :value => TxnManager.getUserEmail(@user), :id => 'email', :maxlength => 30,required: true%>
                    <% end %>
                  </div>
                </div>
 
                <% if @user.role == 'agent' || @user.id == nil %>

                  <div class="form-group" id="form-group-national-id" style= "display:none">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">National ID<font color = "red">*</font></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :national_id,:class=>'form-control number' , :maxlength => 16 , :id => 'national_id', required: true %>
                    </div>
                  </div>

                  <div class="form-group" id="form-group-business" style= "display:none">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Business Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :business_name,:class=>'form-control' , :maxlength => 30 ,:id => "businessName", required: true%>
                    </div>
                  </div>
    
                  <div class="form-group" id="form-group-tin" style= "display:none">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">TIN<font color = "red">*</font></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= f.text_field :tin_no, :class=>'form-control number', :maxlength => 9 , :id => 'tin', required: true%>
                    </div>
                  </div>

                <% end%>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Phone %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :phone,:class=>'form-control number',:id => 'phone', :maxlength => 9 , :onblur => "return phone_check();" ,required: true %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Address %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :address,:class=>'form-control' , :maxlength => 80, required: true,:id => "address"%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :City %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <%=f.text_field :city,:class=>'form-control alpha' , :maxlength => 30 , required: true, :id => "city"%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :District %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %>
                      <%=f.select :district, User.rwandaDistts.keys.to_a, { prompt: "Select a district..." }, class: "form-control", required: true, :id=>'district'%>
                    <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>  
                      <%=f.select :district, User.ugandaDistts.keys.to_a, { prompt: "Select a district..." }, class: "form-control", required: true, :id=>'district'%>
                    <% end %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Country %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%=f.select :country,User.cntries.keys.to_a, { prompt: "Select a country..." },class: "form-control", :id => "country", required: true%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Zip_Code %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :zip_code,:class=>'form-control number', :id => 'zip_code',:maxlength => 10 ,:onblur => "return zip_code_check();" , required: true %>
                  </div>
                </div>

                <% if @user.status == 'active' || @user.status == 'suspended'%>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Status<font color = "red">*</font></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%=f.select :status, User.getUserStatusList(), { prompt: "Select a status..." }, class: "form-control", disabled: (@user == current_user), required: true%>
                    </div>
                  </div>
                <% else%>
                  <%= f.hidden_field :status, :value=>'active'%>
                <%end%>
                 
                <div class="form-group" id="form-group-role">
                  
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" style="display: <%=User.getAdminRoleDisplayStyle(current_user.id, params[:id])%>;"> Admin Roles<font color = "red">*</font></label>
                   
                    <% @uv= RoleHistory.where(user_id: params[:id])%>
                    
                    <% if @uv.present? %>
                     
                      <div class="col-md-6 col-sm-6 col-xs-12" style="display: <%=User.getAdminRoleDisplayStyle(current_user.id, params[:id])%>;">
                        <div class="col-md-12 bss scroll">
                          <div class="row">
                            <div class="clearfix"></div> 
                            <% @user_role.each do |f| %>
                                <% if User.compare(params[:id], f[:id]) == true%>
                                  <div class="col-md-4 col-sm-6 col-xs-12">
                                    <p style="font-size:12px"><%= check_box("puppy", "commands", {checked: true,:multiple => true}, f[:id], nil)%>    
                                    <%=f[:role_name] %></p>  
                                  </div>   
                                <% else%>
                                  <div class="col-md-4 col-sm-6 col-xs-12">
                                    <p style="font-size:12px"><%= check_box("puppy", "commands", {:multiple => true}, f[:id], nil)%>    
                                    <%=f[:role_name] %></p>  
                                  </div>     
                                <% end%>
                            <%end %>
                          </div>      
                        </div>
                      </div>  

                    <% else %>
                      
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="col-md-12 bss scroll">
                          <div class="row">
                            <% @user_role.each do |f| %>
                              <div class="col-md-4 col-sm-6 col-xs-12">
                                <p style="font-size:12px"><%= check_box("puppy", "commands", {:multiple => true}, f[:id], nil)%> <%=f[:role_name] %></p> 
                                <div class="clearfix"></div> 
                              </div>
                            <% end%>
                          </div>    
                        </div>      
                      </div>

                    <% end%>

                  </div>
            
                  <% if @serialNumber.present? %>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Mobile IMEI Number<font color = "red">*</font></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="input-group">
                            <input type="text" class="form-control" value='<%= @serialNumber.serial_number %>'></input>
                              <% 
                                if @serialNumber.active_flag == 1 
                                  displayActivate = 'none'
                                  displayDeactivate = 'table-cell'
                                else
                                  displayActivate = 'table-cell'
                                  displayDeactivate = 'none'
                                end 
                              %>
                              <span class="input-group-btn" id="activateSpan" style="display: <%=displayActivate%>">
                                <button onclick="return activatePhone('<%=@serialNumber.id%>', '<%=@serialNumber.user_id%>')" class="btn btn-success" style="margin-right: 0px!important;">Activate</button>
                              </span>

                              <span class="input-group-btn" id="deActivateSpan" style="display: <%=displayDeactivate%>">
                                <button onclick="return deActivatePhone('<%=@serialNumber.id%>', '<%=@serialNumber.user_id%>')" class="btn btn-danger" style="margin-right: 0px!important;">Deactivate</button>
                              </span>
                          </div>      
                        </div>
                      </div>
                    <%end%>

                  <div class="ln_solid"></div>

                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                      <%= f.submit  :onclick => "return check();" ,:class => "btn btn-success btn-round", id: 'button'%>
                    </div>
                  </div>

              <% end %>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function getImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
          $('#userImage')
              .attr('src', e.target.result)
              .width(200)
              .height(200);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
            
<script type="text/javascript">
  function activatePhone(id, userID){
    $.post("/ActivatePhone", {primaryKey: id, userID: userID}).done(function(data){
      $("#activateSpan").hide();
      $("#deActivateSpan").show();
    });
    return false;
  }

  function deActivatePhone(id, userID){
    $.post("/DeActivatePhone", {primaryKey: id, userID: userID}).done(function(data){
      $("#activateSpan").show();
      $("#deActivateSpan").hide();
    });
    return false;
  }  
</script>
         
<script type="text/javascript">

  var totalRoles = "<%=User.getTotalRolesCount%>"; //This makes the global variable bcoz used in the adminRolesCheck.js file

  function check(){

    var role = $("#role").val();
    var email = $("#email").val();
    //This is used to ignore the common validation in text field if the role is admin bcoz in case of admin  national_id,tin and businessName is not required
    if(role == "<%=Constants::ADMIN_DB_LABEL%>"){
    
      $('#national_id').removeAttr('required');
      $('#tin').removeAttr('required');
      $('#businessName').removeAttr('required');

    } else if(role == "<%=Constants::AGENT_DB_LABEL%>"){
     
      $('#national_id').prop('required', 'true');
      $('#tin').prop('required', 'true');
      $('#businessName').prop('required', 'true');
      if(email == ""){
        $('#email').removeAttr('required');
      }
    
    }
    
    if(!formValidation('userRegisteredForm'))return false;

    if(document.getElementById('user_gender_male').checked == false && document.getElementById('user_gender_female').checked == false){
      getWarningAlert("Select the gender");
      return false;
    }  

    if (role == "<%=Constants::ADMIN_DB_LABEL%>"){
       if(!matchEmailForamt(email)){
          getWarningAlert("<%=(I18n.t :EMAIL_VALID_MSG)%>");
          $("#email").focus();
          return false;
       }
    } else if (role == "<%=Constants::AGENT_DB_LABEL%>"){
        if(email != ""){
          if(!matchEmailForamt(email)){
            getWarningAlert("<%=(I18n.t :EMAIL_VALID_MSG)%>");
            $("#email").focus();
            return false;
          }
        }
     }
    
    var phone = $("#phone").val();
    if(phone.length != "<%=Constants::PHONE_NUMBER_LENGTH%>"){
      getWarningAlert("<%=(I18n.t :PHONE_LENGTH_VALID_MSG)%>");
      $("#phone").focus();
      return false;
    }

    if (role == "<%=Constants::ADMIN_DB_LABEL%>"){
       if(!isAnyoneRoleSelect()){
        getWarningAlert("Select atleast one role for the admin");
        return false;
       }
    } 
    return true;
  }

  function matchEmailForamt(email){
    expersion = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
    if(!expersion.test(email)){
      return false;
    } else {
      return true;
    }
  }

  function isAnyoneRoleSelect(){
    var status = 0;
    if(document.getElementById('puppy_commands_0').checked){
      status=1;
    } else {
      for(x=1; x < totalRoles; x++){
        if(document.getElementById('puppy_commands_'+x).checked){
           status=1;
           break; 
        }
      }
    }

    if(status == 0){
      return false;
    } else {
      return true;
    }
  }
</script>

<script>
$(document).ready(function(){

    $("#uploadImageBtn").click(function(){
        $("#imageFile").click();
    });

    // This is used when we change the role
    $("#role").change(function(){
      if($(this).val() == "<%=Constants::ADMIN_DB_LABEL%>"){
        manageDivs("<%=Constants::ADMIN_DB_LABEL%>");
      } else if($(this).val() == "<%=Constants::AGENT_DB_LABEL%>") {
        manageDivs("<%=Constants::AGENT_DB_LABEL%>");
      } else {
        manageDivs("");
      }
    });

    // This is used when we use render to the same page and user will update
    if($("#role").val() == "<%=Constants::ADMIN_DB_LABEL%>" ){
      manageDivs("<%=Constants::ADMIN_DB_LABEL%>");
    } else if($("#role").val() == "<%=Constants::AGENT_DB_LABEL%>") {
      manageDivs("<%=Constants::AGENT_DB_LABEL%>");
    } else {
      manageDivs("");
    }
   
});
</script>