<style>
  div.scroll{
    height:120PX;
    overflow-x: hidden;
    overflow-y:scroll;
  }
  .userProfile {
      width: 160px!important;
      height: 160px!important;
  }
</style>

<div class="right_col" role="main">
  <div class="">

    <div class="page-title">
      <div class="title_left"><h3><%=User.getPageHeaderForNewForm(params[:status])%></h3></div>
    </div>
  
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">

            <%= form_for(@user, :html => {:class => 'form-horizontal form-label-left'}) do |f|  %>
               
                <div class="form-group text-center">
                  <% if !@user.image.present? || @user.id == nil %>
                    <%= image_tag('user.png', :alt => "Picture", :class => 'img-responsive avatar-view userProfile')%> 
                  <%else%>
                    <%= image_tag(@user.image, :alt => "Picture", :class => 'img-responsive avatar-view userProfile')%> 
                  <% end%> 
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Role %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.select :role, User.getRoleList(params[:user]), { prompt: "Select a role..." }, class: "form-control", :id => "role", disabled: (@user == current_user), :onchange => "return check_pass();",required: true,:disabled => true%>
                  </div>
                </div>
         

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name<font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :name,:class=>'form-control' , :maxlength => 30 , required: true,:disabled => true%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name<font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :last_name,:class=>'form-control' , :maxlength => 30 , required: true,:disabled => true%>
                  </div>
                </div>

                 <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender<font color = "red">*</font></label>
                     <div class="radio col-md-3 col-sm-6 col-xs-12">
                        <label style="margin-right:50px"><%= f.radio_button(:gender,"male",:disabled => true)%>Male</label>
                        <label><%= f.radio_button(:gender,"female",:disabled => true)%>Female</label>
                    </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Date_Of_Birth %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.date_field :date_of_birth,:class=>'form-control'  , required: true,:disabled => true%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Email %></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :email,:class=>'form-control',:placeholder=>'E-mail', :id => 'email', :value => TxnManager.getUserEmail(@user) ,:maxlength => 30,:disabled => true%>
                  </div>
                </div>

              <% if @user.role == 'agent' || @user.id == nil %>

                <div class="form-group" id="form-group-national-id">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">National ID</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :national_id,:class=>'form-control' , :maxlength => 30 , :disabled => @disable_status,:disabled => true %>
                  </div>
                </div>

                <div class="form-group" id="form-group-business">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Business_Name%></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :business_name,:class=>'form-control' , :maxlength => 30,:disabled => true%>
                  </div>
                </div>
  
                <div class="form-group" id="form-group-tin">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">TIN<font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :tin_no,:class=>'form-control' , :maxlength => 30 , required: true, :disabled => @disable_status_tin,:disabled => true%>
                  </div>
                </div>
              
              <% end%>
                

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Phone %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :phone,:class=>'form-control',:id => 'phone', :maxlength => 9 , :onblur => "return phone_check();" ,required: true,:disabled => true %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Address %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :address,:class=>'form-control' , :maxlength => 80, required: true,:disabled => true %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :City %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                   <%=f.text_field :city,:class=>'form-control' , :maxlength => 30 , required: true, :id => "city",:disabled => true%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :District %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %>
                      <%=f.select :district, User.rwandaDistts.keys.to_a, { prompt: "Select a district..." }, class: "form-control", disabled: (@user == current_user), required: true, :id=>'district', :disabled => true%>
                    <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>  
                      <%=f.select :district, User.ugandaDistts.keys.to_a, { prompt: "Select a district..." }, class: "form-control", disabled: (@user == current_user), required: true, :id=>'district', :disabled => true%>
                    <% end %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Country %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%=f.select :country,User.cntries.keys.to_a, { prompt: "Select a country..." },class: "form-control", :id => "country", disabled: (@user == current_user),required: true,:disabled => true%>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Zip_Code %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= f.text_field :zip_code,:class=>'form-control', :id => 'zip_code',:maxlength => 30 ,:onblur => "return zip_code_check();" , required: true,:disabled => true%>
                  </div>
                </div>

                <% if @user.status == 'active' || @user.status == 'suspended'%>
                 <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :Status %><font color = "red">*</font></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <%=f.select :status, User.getUserStatusList(), { prompt: "Select a status..." }, class: "form-control", disabled: (@user == current_user), required: true,:disabled => true%>
                  </div>
                </div>
                <% else%>
                  <%= f.hidden_field :status, :value=>'active'%>                
                <%end%>

                <% if @user.role == "admin"%>
                  <% user_role= Role.all.order('id ASC') %>
                  <div class="form-group" id="form-group-role">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12"> Admin Roles<font color = "red">*</font></label>
                      
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="col-md-12 bss scroll">
                        <div class="row">
                          <div class="clearfix"></div> 
                          
                          <% user_role.each do |f| %>
                            <% if User.compare(params[:id], f[:id]) == true%>
                              <div class="col-md-4 col-sm-6 col-xs-12">
                                <p style="font-size:12px"><%= check_box("puppy", "commands", {checked: true,:multiple => true}, f[:id], nil)%><%=f[:role_name] %></p>  
                              </div>   
                            <% else%>
                              <div class="col-md-4 col-sm-6 col-xs-12">
                                <p style="font-size:12px"><%= check_box("puppy", "commands", {:multiple => true}, f[:id], nil)%>   
                                    <%=f[:role_name] %></p>  
                              </div>     
                            <% end%>
                          <%end %>
                        </div>      
                      </div>
                    </div> 
                  </div>    
                <% end %>        

                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <% if params[:status] == "delete"%>
                    <a href="/TerminateUser?id=<%=@user.id%>" class="btn btn-success btn-round"> Terminate </a>
                  <% else %>
                    <%= link_to 'Suspend', users_suspend_account_path(:id => @user.id), class: "btn btn-success btn-round"  %>
                  <% end%> 
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

