<style type="text/css">
  #parent1 {
    height: 560px;
  }
  .suspendClass{
    background: #F0AC49;
  }
  .terminateClass{
    background: #D9534F;
  }
  .searchTable {
    background: #eee;
    width: 100%;
    border-radius: 4px 4px 0 0;
  }
  td, th {
    padding: 19px 0 0px 15px;
    vertical-align: bottom;
  }
  .form-control {
    margin-bottom: 16px;
    margin-top: 0px;
  }
</style>

<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3>Users</h3></div></div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">

            <table class="searchTable">
              <tbody>
                <tr>
                  <%= form_tag("/UserSearch", method: "post", id: 'searchByPhoneForm') do %>
                   
                    <td><%= text_field_tag :details, params[:details], class: 'form-control', :list => 'usersList', :placeholder=>'Enter Phone Or Name to Search' %></td>
                    
                    <td><%= text_field_tag :dateRange, params[:dateRange], class: 'form-control daterangepicker', :placeholder=>'Select Dates' %></td>
                  
                   <td><%= submit_tag "Search", class: 'btn btn-success btn-round', :style => "margin-bottom: 16px;" %></td>
                    
                    <datalist id="usersList">
                     
                      <% @activeUsers.each do |activeUser| %>
                        <option value="<%=User.getNameDisValue(activeUser)%> - <%=activeUser.phone%>">
                      <% end %> 

                      <% @suspendUsers.each do |suspendUser| %>
                        <option value="<%=User.getNameDisValue(suspendUser)%> - <%=suspendUser.phone%>">
                      <% end %> 

                      <% @terminateUsers.each do |terminateUser| %>
                        <option value="<%=User.getNameDisValue(terminateUser)%> - <%=terminateUser.phone%>">
                      <% end %> 

                    </datalist>

                  <% end %>
                </tr>
              </tbody>
            </table>

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Active</a></li>
                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Suspended</a></li>
                <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Terminated</a></li>
              </ul>

              <div id="myTabContent" class="tab-content">

                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                  <div  class="table-responsive" id="parent1">
                    <table id="fixTable" class="table">
                      <thead>
                        <tr>
                          <th class="text-left">Name</th>
                          <th class="text-center">Phone</th>
                          <th class="text-left">Role</th>
                          <th class="text-center">Update date</th>
                          <th class="text-center">Action</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        <% @activeUsers.each do |activeUser| %>
                          <tr>
                            <td class="text-left" <%= User.getOnClickEvent(activeUser).html_safe %> ><%= User.getNameDisValue(activeUser) %></h5></td>
                            <td class="text-center"><%= activeUser.phone %></td>
                            <td class="text-left"><%= User.getRoleDisValue(activeUser.role) %></td>
                            <td class="text-center"><%= Utility.getFormatedDate(activeUser.updated_at.to_s) %></td>
                            <td class="text-center">
                              <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, activeUser, :title => "Details" %>
                              <%= link_to '<i class="fa fa-pause" aria-hidden="true"></i>'.html_safe, '#', :onclick => "suspendUser(#{activeUser.id})", :style => "margin-left: 10px;", :title => "Suspend" %>
                              <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, '#', :onclick => "terminateUser(#{activeUser.id})", :style => "margin-left: 10px;", :title => "Terminate" %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
                
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                  <div class="table-responsive" id="parent1">
                    <table id="fixTable" class="table">
                      <thead>
                        <tr>
                          <th class="text-left suspendClass">Name</th>
                          <th class="text-center suspendClass">Phone</th>
                          <th class="text-left suspendClass">Role</th>
                          <th class="text-center suspendClass">Update date</th>
                          <th class="text-center suspendClass">Details</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        <% @suspendUsers.each do |suspendUser| %>
                          <tr>
                            <td class="text-left" <%= User.getOnClickEvent(suspendUser).html_safe %> ><%= User.getNameDisValue(suspendUser) %></h5></td>
                            <td class="text-center"><%= suspendUser.phone %></td>
                            <td class="text-left"><%= User.getRoleDisValue(suspendUser.role) %></td>
                            <td class="text-center"><%= Utility.getFormatedDate(suspendUser.updated_at.to_s) %></td>
                            <td class="text-center"><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, suspendUser %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>  
                </div>
                
                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                  <div class="table-responsive" id="parent1"> 
                    <table id="fixTable" class="table">
                      <thead>
                        <tr>
                          <th class="text-left terminateClass">Name</th>
                          <th class="text-center terminateClass">Phone</th>
                          <th class="text-left terminateClass">Role</th>
                          <th class="text-center terminateClass">Update date</th>
                          <th class="text-center terminateClass">Details</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        <% @terminateUsers.each do |terminateUser| %>
                          <tr>
                            <td class="text-left" <%= User.getOnClickEvent(terminateUser).html_safe %> ><%= User.getNameDisValue(terminateUser) %></h5></td>
                            <td class="text-center"><%= terminateUser.phone %></td>
                            <td class="text-left"><%= User.getRoleDisValue(terminateUser.role) %></td>
                            <td class="text-center"><%= Utility.getFormatedDate(terminateUser.updated_at.to_s) %></td>
                            <td class="text-center"><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, terminateUser %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>  
                </div>
                
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">

  var suspendUserID = '';
  var terminateUserID = '';
  
  function suspendUser(activeUserID){
    suspendUserID = activeUserID;
    getConfirmAlert("<%=(I18n.t :USER_SUSPEND_CONFIRM_MSG)%>", suspendUserConfimed);
  }

  function suspendUserConfimed(userAnswer){
    if(userAnswer == true){
      var name = ["id"];
      var values = [suspendUserID];
      openWindowWithPost("/SuspendUser", name, values);
    }
  }

  function terminateUser(activeUserID){
    terminateUserID = activeUserID;
    getConfirmAlert("<%=(I18n.t :USER_TERMINATE_CONFIRM_MSG)%>", terminateUserConfimed);
  }

  function terminateUserConfimed(userAnswer){
    if(userAnswer == true){
      var name = ["id"];
      var values = [terminateUserID];
      openWindowWithPost("/TerminateUser", name, values);
    }
  }

  function viewProfile(agentID){
    var name = ["id"];
    var values = [agentID];
    openWindowWithPost("/MFProfile", name, values);
  }
</script>