<%
  if @isSearchNameViewDisplay
    titleRight = "<div class=\"title_right\"><h3 style=\"font-size: 16px; float: right\">" + params[:dateRange] + "</h3></div>"
  else
    titleRight = ""
  end
%>

<style>
  .userProfile {
      width: 160px!important;
      height: 160px!important;
  }
</style>

<div class="right_col" role="main">
  <div class="">
   
    <div class="page-title">
      <div class="title_left"><h3>User Details</h3></div>
      <%= titleRight.html_safe %>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">

            <% if !@isSearchNameViewDisplay %>
              
              <div class="form-group text-center">
                <% if !@user.image.present?%>
                  <%= image_tag('user.png', :class => 'img-responsive avatar-view userProfile')%> 
                <%else%>
                  <%= image_tag(@user.image, :class => 'img-responsive avatar-view userProfile')%> 
                <% end%> 
              </div>

              <table id="fixTable" class="table">
                <tbody>  
                  
                  <tr>
                    <td class="text-left">Phone</td>
                    <td class="text-left"><%= @user.phone %></h5></td>
                  </tr>
                
                  <tr>
                    <td class="text-left">Status</td>
                    <td class="text-left"><%= TxnManager.get_user_status(@user.status) %></h5></td>
                  </tr>
                  
                  <tr>
                    <td class="text-left">First Name</td>
                    <td class="text-left"><%= @user.name %></h5></td>
                  </tr>

                  <tr>
                    <td class="text-left">Last Name</td>
                    <td class="text-left"><%= @user.last_name %></h5></td>
                  </tr>

                  <tr>
                    <td class="text-left">Role</td>
                    <td class="text-left"><%= User.getRoleDisValue(@user.role) %></h5></td>
                  </tr>

                  <tr>
                    <td class="text-left">Gender</td>
                    <td class="text-left"><%= TxnManager.get_user_gender(@user.gender) %></h5></td>
                  </tr>

                  <tr>
                    <td class="text-left">Date of birth</td>
                    <td class="text-left"><%= @user.date_of_birth %></h5></td>
                  </tr>

                  <tr>
                    <td class="text-left">Email</td>
                    <td class="text-left"><%=TxnManager.getUserEmail(@user)%></h5></td>
                  </tr>

                  <% if @user.role == 'agent'%>
                    <tr>
                      <td class="text-left">National ID</td>
                      <td class="text-left"><%= @user.national_id %></h5></td>
                    </tr>

                    <tr>
                      <td class="text-left">Business Name</td>
                      <td class="text-left"><%= @user.business_name %></h5></td>
                    </tr>

                    <tr>
                      <td class="text-left">TIN</td>
                      <td class="text-left"><%= @user.tin_no %></h5></td>
                    </tr>
                  <% end %>  
                 
                  <tr>
                    <td class="text-left">Address</td>
                    <td class="text-left"><%= @user.address %></h5></td>
                  </tr>

                  <tr>
                    <td class="text-left">City</td>
                    <td class="text-left"><%= @user.city %></h5></td>
                  </tr>

                  <tr>
                    <td class="text-left">District</td>
                    <td class="text-left"><%= @user.district %></h5></td>
                  </tr>

                  <tr>
                    <td class="text-left">Country</td>
                    <td class="text-left"><%= @user.country %></h5></td>
                  </tr>

                  <tr>
                    <td class="text-left">Zip Code</td>
                    <td class="text-left"><%= @user.zip_code %></h5></td>
                  </tr>
                 
                </tbody>
              </table>
            
            <% else %>  
              <div  class="table-responsive" id="parent1">
                <table id="fixTable" class="table">
                  <thead>
                    <tr>
                      <th class="text-left">Name</th>
                      <th class="text-left">Phone</th>
                      <th class="text-left">Role</th>
                      <th class="text-left">Status</th>
                      <th class="text-center">Registered date</th>
                      <th class="text-center">Details</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <% @user.each do |user| %>
                      <tr>
                        <td class="text-left"><%= User.getNameDisValue(user) %></h5></td>
                        <td class="text-left"><%= user.phone %></h5></td>
                        <td class="text-left"><%= User.getRoleDisValue(user.role) %></td>
                        <td class="text-left"><%= Utility.getStatusDisplayValue(user.status) %></td>
                        <td class="text-center"><%= Utility.getFormatedDate(user.created_at.to_s) %></td>
                        <td class="text-center"><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, user %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>

          </div>
        
          <div class="text-center"><%= link_to 'Back', users_path , class: "btn btn-success btn-round" %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>