%nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  .container
    = link_to '/Dashboard', class: 'navbar-brand' do
      = image_tag 'ared_logo_only.png', class: 'logo'
 
    %ul.nav.navbar-nav
      - navigation_points.each do |point|
        - if point[:roles].include?(current_user.role.to_sym)
          %li.nav-item{ class: point[:active] ? 'active' : nil }
            = link_to point[:path], class: 'nav-link' do
              = point[:name]

    %ul.nav.navbar-nav.pull-xs-right
      = link_to 'Dashboard' , "/Dashboard"
      = link_to "Logout", sessions_path, method: :delete, class: "nav-item nav-link"

