<div class="right_col" role="main">
  <div class="">
    
    <div class="page-title">
      <div class="title_left"><h3><%= Constants::TAX_CONFIG_ROLE %></h3></div>
      <div class="title_right"><div class="text-right"><a href="/TaxSetup" class="btn btn-success btn-round"> New Tax Setup</a></div></div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div  class="table-responsive" id="parent">
               <table id="fixTable" class="table">

                <thead>
                  <tr>
                    <th class="text-left">Particulars</th>
                    <th class="text-center">Percentage</th>
                    <th class="text-center">Effective date</th>
                  </tr>
                </thead>

                <tbody>
                  <% @taxConfiguration.each do |taxConfig|%>   
                    <tr>
                      <th class="text-left"><%= taxConfig.service %></th>
                      <th class="text-center"><%= Utility.getFormatedAmount(taxConfig.percentage) %></th>
                      <th class="text-center"><%=  Utility.getFormatedDate(taxConfig.effective_date.to_s) %></th>
                    </tr>
                  <% end%>  
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>