<%
  if !params[:effective_date].present?
    params[:effective_date] = Time.now.strftime("%Y-%m-%d")
  end
%>

<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%= Constants::TAX_CONFIG_ROLE %></h3></div></div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
                
            <%= form_tag("/CreateTaxSetup", method: "post", id: 'taxSetupForm', class: 'form-horizontal form-label-left') do %>
              
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Service</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :service, params[:service], class: 'form-control alpha disable', :required => true, :value => Constants::TAX_LABEL %>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Percentage (%)</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :percentage, params[:percentage], class: 'form-control decimal',:maxlength => 5, :required => true %>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Effective Date</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= date_field :effective_date, params[:effective_date_new], :class=>'form-control', :value => params[:effective_date], :required => true %>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Effective Time</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :effectiveTime, params[:effectiveTime], :class=>'form-control timepicker', :required => true %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <%= submit_tag "Create" , class: 'btn btn-success btn-round pull-left',:onclick => "return check()" %>
                  <%= link_to 'Back', 'TaxConfiguration', class: "btn btn-default btn-round"%>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag('wickedpicker.js') %>
<script type="text/javascript">
  var options = { 
    <% if params[:effectiveTime].present? %>
      now: "<%= params[:effectiveTime] %>",
    <% else %>
      now: "<%= Utility.getCurrentActualTime %>", 
    <% end %>  
    twentyFour: true,
    upArrow: 'wickedpicker__controls__control-up',
    downArrow: 'wickedpicker__controls__control-down',
    close: 'wickedpicker__close',
    hoverState: 'hover-state',
    title: '', 
    showSeconds: true, 
    secondsInterval: 1, 
    minutesInterval: 1,
    beforeShow: null,
    show: null,
    clearable: false,
  }; 
  $('.timepicker').wickedpicker(options);
</script>

<script>
  function check(){
    if(!formValidation('taxSetupForm'))return false;
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>