<style type="text/css">
  .swal2-modal .swal2-styled{
    margin: 0px!important;
  }
</style>
<div class="right_col" role="main">
  <div class="">

    <div class="page-title">
      <div class="title_left"><h3>Service fee setup</h3></div>
    </div>
  
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
                
            <%= form_for(@service_fee, :html => {:class => 'form-horizontal form-label-left' , :id => 'serviceFeeSetupForm'}) do |f|  %>
             
             <%
                if @service_fee.effective_date != nil
                  effectiveDate = @service_fee.effective_date
                else 
                  effectiveDate = Date.today
                end  
              %>

              <% if service_fee.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(service_fee.errors.count, "error") %> prohibited this service_fee from being saved:</h2>
                  <ul>
                  <% service_fee.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
                     
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= f.label :service %></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  
                  <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %>
                    <%= f.select(:service, Constants::SERVICE_FEE_SETUP_SER_TYPE_OPT,{ prompt: Constants::SELECT_SERVICE_LABEL },:class=>'form-control', required: true,:id => "service")  %>        
                  <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>  
                    <%= f.select(:service, UgandaConstants::SERVICE_FEE_SETUP_SER_TYPE_OPT,{ prompt: Constants::SELECT_SERVICE_LABEL },:class=>'form-control', required: true,:id => "service")  %> 
                  <% end %>
                
                </div>
              </div>

              <div class="form-group" id="company" style="display: none;">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"> <%= f.label :company %></label>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                  <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %>
                    <%= f.select(:company, Constants::SERVICE_FEE_SETUP_SUB_TYPE_OPT,{ prompt: Constants::SELECT_COMPANY_LABEL },:class=>'form-control',:id => "companyId", :required => true)  %>
                  <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %> 
                    <%= f.select(:company, UgandaConstants::SERVICE_FEE_SETUP_SUB_TYPE_OPT,{ prompt: Constants::SELECT_COMPANY_LABEL },:class=>'form-control',:id => "companyId", :required => true)  %>
                  <% end %> 
                </div>
              </div>

              <div class="form-group" id="ratePerMBDiv" style="display: none;">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"> Rate Per MB </label>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                  <%= f.text_field :rate ,:class=>'form-control decimal', required: true, :maxlength => 5, :id => "rate_per_mb"%> 
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                  <hr style="background: #E6E9ED!important">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3 col-sm-offset-3">
                  <label class="control-label">Percentage amount (%)</label>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <label class="control-label">Fixed amount</label> 
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="full-name">Total commission
                </label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <%= f.text_field :total_comm_per ,:class=>'form-control decimal', required: true,:maxlength => 5, :id => "total_comm_per"%>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <%= f.text_field :total_comm_fix ,:class=>'form-control decimal',:maxlength => 9, required: true,:id => "total_comm_fix"%>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="full-name">Our commission
                </label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <%= f.text_field :our_comm_per ,:class=>'form-control decimal', required: true, :maxlength => 5, :id => "our_comm_per"%>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <%= f.text_field :our_comm_fix ,:class=>'form-control decimal', :maxlength => 9, required: true,:id => "our_comm_fix"%>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="full-name">Agent commission
                </label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <%= f.text_field :agent_comm_per ,:class=>'form-control decimal', required: true, :maxlength => 5, :id => "agent_comm_per"%>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <%= f.text_field :agent_comm_fix ,:class=>'form-control decimal',:maxlength => 9, required: true,:id => "agent_comm_fix"%>
                </div>
              </div>
          
              <div class="form-group">
               <div class="col-md-12 col-sm-12 col-xs-12 ">
                <hr style="background: #E6E9ED!important">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Effective date</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.date_field :effective_date,:class=>'form-control', required: true , :value => effectiveDate%>
                </div>
              </div>
                      
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Who will pay the commission</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="radio">
                    <label style="margin-right:50px"><%= f.radio_button(:who_will_pay,"ARED")%>ARED</label>
                    <label><%= f.radio_button(:who_will_pay,"Partner")%>Partner</label>
                  </div>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <%= f.submit 'Create', :class => "btn btn-success btn-round" , :id => "createButton"%>
                  <%= link_to 'Back', service_fees_path, class: "btn btn-success btn-round" %>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function() {
    //This is for the update service
    var service = "<%=@service_fee.service%>";
    setData(service);

    $("#service").change(function(e) {
      var service = $(this).val();
      setData(service);
    });

    $("#createButton").click(function(e){

      if($("#service").val() != "<%=Constants::MTOPUP_LABEL%>"){
        $('#company').prop('required', 'true');
      } else {
        $('#company').removeAttr('required');
      }
      
      if(!formValidation('serviceFeeSetupForm'))return false;

      var total_comm_per = $('#total_comm_per').val();
      var our_comm_per   = $('#our_comm_per').val();
      var agent_comm_per = $('#agent_comm_per').val();
      
      if(Number(parseFloat(total_comm_per)).toFixed(2) != Number(parseFloat(our_comm_per) + parseFloat(agent_comm_per)).toFixed(2)){
        getWarningAlert("<%=(I18n.t :SERVICE_FEE_TOTAL_PER_SUM_NOT_MATCH)%>");
        $('#total_comm_per').focus();
        return false;
      }

      var total_comm_fix  = $('#total_comm_fix').val();
      var our_comm_fix    = $('#our_comm_fix').val();
      var agent_comm_fix  = $('#agent_comm_fix').val();
      if(Number(parseFloat(total_comm_fix)).toFixed(2) != Number(parseFloat(our_comm_fix) + parseFloat(agent_comm_fix)).toFixed(2)){
        getWarningAlert("<%=(I18n.t :SERVICE_FEE_TOTAL_FIX_SUM_NOT_MATCH)%>");
        $('#total_comm_fix').focus();
        return false;
      }

      var first_radio = $("#service_fee_who_will_pay_ared").is(':checked'); 
      var second_radio = $("#service_fee_who_will_pay_partner").is(':checked');
      if(first_radio==false && second_radio==false){
        getWarningAlert("<%=(I18n.t :SERVICE_FEE_RADIO_NOT_SELECT)%>");
        return false;
      }

    });

  });

  function setData(service){
    if(service == "<%=Constants::MTOPUP_LABEL%>"){
      
      $("#company").show();
      $('#companyId').prop('required', 'true');

      $("#ratePerMBDiv").hide();
      $('#rate_per_mb').removeAttr('required');
        
    } else if (service == "<%=Constants::INTERNET_LABEL%>"){
        
      $("#ratePerMBDiv").show();
      $('#rate_per_mb').prop('required', 'true');

      $("#company").hide();
      $('#companyId').val(service)
      $('#companyId').removeAttr('required');
      
    } else {
      
      if ((service == "<%=UgandaConstants::ELECTRICITY_LABEL%>" || service == "<%=UgandaConstants::NATIONAL_WATER_BILL_LABEL%>") && "<%=Properties::COUNTRY_NAME%>" == "<%=Constants::LOGIN_COUNTRY_LIST[2]%>"){
        getMessageAlert("<%=(PaywayUtility.getServiceFeeMesage).html_safe%>");
        $('#total_comm_fix').val(0);
        $('#our_comm_fix').val(0); 
        $('#agent_comm_fix').val(0); 
      }
      $("#company").hide();
      $('#companyId').val(service)
      $('#companyId').removeAttr('required');

      $("#ratePerMBDiv").hide();
      $('#rate_per_mb').removeAttr('required');
        
    }
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>