<div class="right_col" role="main">
  <div class="">
   
    <div class="page-title">
      <div class="title_left"><h3>Service fee</h3><p id="notice"><%= notice %></p></div>
      <div class="title_right"><div class="text-right"><%= link_to 'New Service Fee', new_service_fee_path, class: "btn btn-success btn-round"%></div></div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div  class="table-responsive" id="parent">
               
              <table id="fixTable" class="table">
                <thead>
                  <tr>
                    <th class="text-left">Service</th>
                    <th class="text-left">Company</th>
                    <th class="text-center">Effective date</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <% @service_fees.each do |service_fee| %>
                    <tr>
                      <td class="text-left"><%= Utility.getServiceTypeDisplayValue(service_fee.service)%></h5></td>
                      <td class="text-left"><%= Utility.getServiceTypeDisplayValue(service_fee.company) %></td>
                      <td class="text-center"><%= service_fee.effective_date %></td>
                      <td class="text-center">
                       
                        <%= link_to 'Show',  service_fee, class: "btn btn-success btn-round" %>

                        <% if ServiceFee.isUpdateDeleteEnable(service_fee.effective_date) %>
                          <%= link_to 'Update', edit_service_fee_path(service_fee), class: "btn btn-warning btn-round"  %>
                          <%= link_to 'Delete', service_fee, method: :delete, class: "btn btn-danger btn-round" %>
                        <% else %>
                            <span style="color:#ccc" class="btn btn-default btn-round"> Update </span>
                            <span style="color:#ccc" class="btn btn-default btn-round">Delete</span>
                        <% end %>

                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>