<div class="right_col" role="main">
  <div class="">
    
    <div class="page-title"><div class="title_left"><h3>Service fees</h3></div></div>
    
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <br/>

            <table id="fixTable" class="table">
              <thead>
                <tr>
                  <th class="text-left">Particular</th>
                  <th class="text-left">Description</th>
                </tr>
              </thead> 

              <tbody> 
                <tr>
                  <td class="text-left">Service</td>
                  <td class="text-left"><%= Utility.getServiceTypeDisplayValue(@service_fee.service) %></h5></td>
                </tr>
                      
                <tr>
                  <td class="text-left">Company</td>
                  <td class="text-left"><%= Utility.getServiceTypeDisplayValue(@service_fee.company) %></h5></td>
                </tr>

                <% if @service_fee.service.eql? Constants::INTERNET_LABEL%>
                  <tr>
                    <td class="text-left">Rate Per MB</td>
                    <td class="text-left"><%= Utility.getFormatedAmount(@service_fee.rate) %></h5></td>
                  </tr>
                <% end %>  

                <tr>
                  <td class="text-left">Total commission Percentage amount (%)</td>
                  <td class="text-left"><%= Utility.getFormatedAmount(@service_fee.total_comm_per) %></h5></td>
                </tr>

                <tr>
                  <td class="text-left">Total commission Fixed amount</td>
                  <td class="text-left"><%= Utility.getFormatedAmount(@service_fee.total_comm_fix) %></h5></td>
                </tr>

                <tr>
                  <td class="text-left">Our commission Percentage amount (%)</td>
                  <td class="text-left"><%= Utility.getFormatedAmount(@service_fee.our_comm_per) %></h5></td>
                </tr>

                <tr>
                  <td class="text-left">Our commission Fixed amount</td>
                  <td class="text-left"><%= Utility.getFormatedAmount( @service_fee.our_comm_fix) %></h5></td>
                </tr>

                <tr>
                  <td class="text-left">Agent commission Percentage amount (%)</td>
                  <td class="text-left"><%= Utility.getFormatedAmount(@service_fee.agent_comm_per) %></h5></td>
                </tr>

                <tr>
                  <td class="text-left">Agent commission Fixed amount</td>
                  <td class="text-left"><%= Utility.getFormatedAmount(@service_fee.agent_comm_fix) %></h5></td>
                </tr>

                <tr>
                  <td class="text-left">Effective date</td>
                  <td class="text-left"><%= @service_fee.effective_date %></h5></td>
                </tr>

                <tr>
                  <td class="text-left">Who will pay the commission</td>
                  <td class="text-left"><%= @service_fee.who_will_pay %></h5></td>
                </tr>
              </tbody>
            </table>

          </div>
          
          <div class="text-center">
            <% if ServiceFee.isUpdateDeleteEnable(@service_fee.effective_date) %>
              <%= link_to 'Update', edit_service_fee_path(@service_fee), class: "btn btn-warning btn-round" %>
            <% end %>  
            <%= link_to 'Back', service_fees_path , class: "btn btn-success btn-round" %>
          </div>
      
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>