<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%= Constants::GENERATE_API_KEY_ROLE %></h3></div></div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
          <div class="x_content" style="padding: 0px!important;">
            
            <div class="search">
              <% if @apiKeys.present? %>
                <p style="margin: 0px;">Last time you generated the API key on <%= Utility.getFormatedDate(@apiKeys.created_at.to_s) %></p>
              <% else %>
                <p style="margin: 0px;">No API Key found</p>
              <% end %>
            </div> 

            <div style="margin-top: 30px;">
              <%= form_tag("/APIKeyGenerated", method: "post", id: 'auditLogsForm', class: 'form-horizontal form-label-left') do %>

                <div class="col-md-12 text-center">
                  <%= submit_tag Constants::GENERATE_API_KEY_ROLE, class: 'btn btn-success btn-round', :onclick => "return validate()", style: "margin: 0px;" %>
                </div>

              <% end %>
            </div>  

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>