<div class="page-header">
  <%= link_to new_agent_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Agent
  <% end %>
  <h1>Listing agents</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Photo</th>
            <th>Officer</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @agents) do |agent| %>
            <td><%= agent.name %></td>
            <td><%= agent.phone %></td>
            <td><%= agent.location %></td>
            <td><%= agent.latitude %></td>
            <td><%= agent.longitude %></td>
            <td><%= agent.photo %></td>
            <td><%= agent.officer %></td>
            <td><%= link_to 'Show', agent %></td>
        <td><%= link_to 'Edit', edit_agent_path(agent) %></td>
        <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
