<div class="page-header">
  <%= link_to agents_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_agent_path(@agent), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show agent</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @agent.name %></dd>

  <dt>Phone:</dt>
  <dd><%= @agent.phone %></dd>

  <dt>Location:</dt>
  <dd><%= @agent.location %></dd>

  <dt>Latitude:</dt>
  <dd><%= @agent.latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @agent.longitude %></dd>

  <dt>Photo:</dt>
  <dd><%= @agent.photo %></dd>

  <dt>Officer:</dt>
  <dd><%= @agent.officer %></dd>

</dl>
