<style>
  body {
    font-family: arial;
  }

  page {
    background: white;
    display: block;
    margin: 0 auto;
  }

  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }

  .pageboarder{
    width: 95%;
    height: 96%;
    margin: auto;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-size: 12px;
  }

  .pageboarder img{
    float:left;
  }

  .compayno{
    float:right;
    font-size: 14px;
  }

  .payee{
    float: left;
    width: 100%;
    position: relative;
  }

  .payee h3{
    margin-bottom: 0px; 
    font-size: 16px;
  }

  .payee p{
    margin-top:0px; 
    font-size: 15px;
  }

  .clearfix{
    clear:both;
  }

  .date{
    position: absolute;
    top:5px;
    right: 0px;
    width: 250px;
    text-align: right;
  }
</style>

<% commissionArray = PdfDownloadManager.downloadPDF(params) %>
<% counter = 0 %>
  
<% 
  commissionArray.each do |commission|
    counter = counter + 1
    currentAgent = commission[:currentAgent]
    commPaidDate = Utility.getFormatedDate(commission[:commPaidDate].to_s)
    fromDate = commission[:fromDate]
    toDate = commission[:toDate]
    commPaymentNo = commission[:commPaymentNo]
    totalComm = commission[:totalComm]
    pendingCredit = commission[:pendingCredit]
    penalty = commission[:penalty]
    taxPercentage = commission[:taxPercentage]
    taxAmount = commission[:taxAmount]
    paidComm = commission[:paidComm]
    txnHeader = commission[:txnHeader]
    txnHeaderSales = commission[:txnHeaderSales]

    pageBreakClass = (counter > 1) ? "page-break-before  : always;" : "" 
%>
  
  <body>
    
    <div style="page-break-before: always; page-break-after: always;">
      
      <img src="<%=Rails.root%>/app/assets/images/pdfLogo.png" alt="M-SHIRIKI_Logo">
      
      <div class="compayno"><p>Commission Payment No:<%=commPaymentNo%></p></div>
      
      <div class="clearfix"></div>
      
      <div class="payee">
        <h3>African Renewable Energy Distributor Ltd.</h3>
        <p>Tax ID : 102880508 <br />KN 4 AV 76 <br />kigali <br /> Rwanda
        </p>
      </div>
      
      <div class="payee">
        <div class="date"><strong>Date</strong> : <%=commPaidDate%></div>
        <h3 style="margin-top:0px;">Bill To.</h3>
        <p><%=currentAgent.name%> <%=currentAgent.last_name%><br /><%=currentAgent.address%>, <%=currentAgent.city%><br /><%=currentAgent.country%><br /> TIN:<%=currentAgent.tin_no%></p>
      </div>

      <p style="margin-top:0px; font-size: 16px;">Statment period from <%=fromDate%> to <%=toDate%></p>
      <h4 style="margin-bottom: 5px; font-size: 14px">Float Purchase</h4>
      <table style="width: 100%;">
        
        <tr>
          <th>#</th>
          <th align="left">Description</th>
          <th align="left">Mode of payment</th>
          <th align="right">Amount RWF</th>
        </tr>
        
        <% if txnHeader.present? %>
          
          <% count = 1 %> 
          <% totalFloatPurchase = 0 %>
          
          <% txnHeader.each do|header| %>
            <tr>
              <td><%= count %></td>
              <td><%= Constants::COMM_PDF_REPORT_CASH_DEPOSIT_LABLE %></td>
              <td><%= header["description"] %></td>
              <td align="right"><%= Utility.getFormatedAmount(header["amount"]) %></td>
            </tr>
            <% count = count + 1 %> 
            <% totalFloatPurchase = totalFloatPurchase.to_f + header["amount"].to_f %> 
          <% end %>  
        
          <tr>
            <td colspan="3" align="right"><strong>Total Float Purchase (<%=Utility.getCurrencyLabel%>)</strong></td>
            <td align="right"><strong><%=Utility.getFormatedAmount(totalFloatPurchase)%></strong></td>
          </tr>

        <% else %>
         
          <tr>
            <td colspan="4">No Float Purchaes</td>
          </tr>

        <% end %>

      </table>
     

      <h4 style="margin-bottom: 5px; font-size: 14px"> Sales and Commissions</h4>
      <table style="width: 100%">
        <tr>
          <th align="left" width="350px">Service Sold  </th>
          <th align="right" width="150px">Amount <%=Utility.getCurrencyLabel%></th>
          <th align="right">Agent Commission <%=Utility.getCurrencyLabel%></th>
        </tr>

        <% if txnHeaderSales.present? %>
          
          <% totalSales = 0 %>
          <% totalCommission = 0 %>
          
          <% txnHeaderSales.each do|header| %>

            <tr>
              <td><%= header['service_type'] %></td>
              <td align="right"><%= Utility.getFormatedAmount(header['turnover']) %></td>
              <td align="right"><%= Utility.getFormatedAmount(header['commission']) %></td>
            </tr>

            <% totalSales = totalSales.to_f + header['turnover'].to_f %>
            <% totalCommission = totalCommission.to_f + header['commission'].to_f %>
          <% end %>  
          
            <tr>
              <td align="right"><strong>Total</strong></td>
              <td align="right"><strong><%= Utility.getFormatedAmount(totalSales) %></strong></td>
              <td align="right"><strong><%= Utility.getFormatedAmount(totalCommission) %></strong></td>
            </tr>

        <% else %>
         
          <tr>
            <td colspan="4">No Sales</td>
          </tr>

        <% end %> 

      </table>
      
      <table style="width: 100%; margin-top: 25px;">
        <tr>
          <th align="left" colspan="2">Total monthly commission to be paid </th>
        </tr>
        <tr>
          <td width="515px">Commission Accumulated  </td>
          <td align="right"><%=Utility.getFormatedAmount(totalComm)%></td>
        </tr>
        <tr>
          <td width="515px">Pending Credit</td>
          <td align="right"><%=Utility.getFormatedAmount(pendingCredit)%></td>
        </tr>
        <tr>
          <td width="515px">Penalties</td>
          <td align="right"><%=Utility.getFormatedAmount(penalty)%></td>
        </tr>
        <tr>
          <td width="515px">Tax (<%=Utility.getFormatedAmount(taxPercentage)%>%) </td>
          <td align="right"><%=Utility.getFormatedAmount(taxAmount)%></td>
        </tr>
        <tr>
          <td width="515px" align="right"><strong>Total commission paid (<%=Utility.getCurrencyLabel%>)</strong></td>
          <td align="right"><strong><%=Utility.getFormatedAmount(paidComm)%></strong></td>
        </tr>
      </table>

    </div>

  </body>  

<% end %> 