<div class="right_col" role="main">
  <div class="">

    <div class="page-title">
      <div class="title_left">
        <h3 style="text-align: center;"><%= params[:agentName] %></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            
            <table id="fixTable" class="table" width="100%">
              <tbody>      
                <tr>
                  <td style="text-align: center;"><img class="qr-code" src="<%= KioskMaster.generateQRCode(params[:qrCodeText], 7) %>"/></td>
                </tr>

                <tr>
                  <td style="text-align: center;"><%= params[:kioskModel] %>-<%= params[:kioskSerialNumber] %></td>
                 </tr> 
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>