<% 
  totalTurnoverObj = UserProfile.fetchTotalTurnoverData(@response.totalTurnover)

  totalAgentCommObj = UserProfile.getGraphData(@response.totalCommission)
  totalServicesComm = Utility.getFormatedAmount(totalAgentCommObj.totalValue)

  totalTransactionCountObj = UserProfile.getGraphData(@response.totalTransactionCount)
  txnCountSum = Utility.getFormatedAmount(totalTransactionCountObj.totalValue)

  totalTransactionAmtObj = UserProfile.getGraphData(@response.totalAgentTxnsAmount)
  totalTxnAmountSum = Utility.getFormatedAmount(totalTransactionAmtObj.totalValue)

  currentAgent = @response.user
  agentAccountAge = @response.date
  maxLoanCapacity = Utility.getAgentMaxLoanCapacity(currentAgent)
  agentLoanAmount = Utility.getAgentLoanBalance(currentAgent)    
  commissionBalance = Utility.getAgentCommissionBalance(currentAgent) 
%>

<style type="text/css">
  .userProfile {
      width: 160px!important;
      height: 160px!important;
  }

  .marginRight{
    margin-right: 15px;
  }
</style> 

<div class="right_col" role="main">
  
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>User Profile</h3></div>
      <div class="title_right">
        <div class="col-md-12  form-group">
          <div class="input-group pull-right" style="margin: 0px;"><%= link_to 'Back', users_path , class: "btn btn-default btn-round", style: "margin: 0px;" %></div>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox profle">
              <li class="marginRight">Account Age: <strong><%= agentAccountAge %></strong></li>
              <li class="marginRight">Acc Balance: <strong><%= Utility.getCurrencyLabel %> <%= Utility.getFormatedAmount(Utility.getAgentAccountBalance(currentAgent))%></strong></li>
              <li class="marginRight">Govt Acc Balance: <strong><%= Utility.getCurrencyLabel %> <%= Utility.getFormatedAmount(Utility.getAgentGovtAccountBalance(currentAgent))%></strong></li>
              <li class="marginRight">Commission Balance: <strong><%= Utility.getCurrencyLabel %> <%= Utility.getFormatedAmount(commissionBalance) %></strong></li>
              <li class="marginRight">Credit Balance: <strong><%= Utility.getCurrencyLabel %> <%= Utility.getFormatedAmount(agentLoanAmount) %></strong></li>
              <li class="marginRight">Penalty: <strong><%= Utility.getCurrencyLabel %> <%= Utility.getFormatedAmount(Utility.getAgentPenaltyBalance(currentAgent)) %></strong></li>
            </ul>
          <div class="clearfix"></div>
        </div>

        

        <div class="x_content">

          <div class="col-md-3 col-sm-3 col-xs-12 text-center">
            <div class="profile_img">
              <div id="crop-avatar">
                <% if currentAgent.image.present?%>
                   <%= image_tag(currentAgent.image, :alt => "Picture",:class => 'user-profile img-responsive avatar-view userProfile')%>
                <% else %>
                   <%= image_tag('user.png', :alt => "Picture",:class => 'user-profile img-responsive avatar-view userProfile')%>
                <% end%>
              </div>
            </div>

 				    <h4><strong><%= Utility.getAgentFullName(currentAgent)%></strong></h4>
            <p><i class="fa fa-phone user-profile-icon"></i> <%=currentAgent.phone%></p>                      
              
            <ul class="list-unstyled user_data">
           		<li><i class="fa fa-map-marker user-profile-icon"></i> <%=currentAgent.address%></li>
              <li><i class="fa fa-briefcase user-profile-icon"></i> Status: <%=TxnManager.get_user_status(currentAgent[:status])%></li>
          	</ul>
                 
      			<%=link_to  'Edit Profile',{:controller => "users", :action => "edit", :id => currentAgent[:id] },class: "btn btn-success btnprofile col-md-12" %>
	        </div>


          <div class="col-md-9 col-sm-9 col-xs-12">
            
            <div class="x_panel">
              <div class="profile_title">
                <div class="col-md-6"><h2>Total Turnover</h2></div>
              </div>
              <div class="x_content"><div id="totalTurnoverGraph" style="height:350px;"></div></div>
            </div>

	          <div class="row">
              
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                	<div class="x_title"><h4>Total Commission Amount <span class="subamount pull-right"><%= Utility.getCurrencyLabel %> <%= totalServicesComm %></span> </h4>
  						      <div class="clearfix"></div>
                	</div>
                	<div class="x_content"><div id="totalCommissionAmountGraph" style="height:350px;"></div></div>
                </div>
              </div>

            	<div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                	<div class="x_title"><h4>Total Transaction Count <span class="subamount pull-right"><%= txnCountSum %></span></h4>
                    	<div class="clearfix"></div>
                	</div>
                  <div class="x_content"><div id="totalTransactionCountGraph" style="height:350px;"></div></div>
                </div>
            	</div>

            	<div class="col-md-6 col-sm-6 col-xs-12">
              	<div class="x_panel">
              		<div class="x_title"><h4>Total Transaction Amount <span class="subamount pull-right"><%= Utility.getCurrencyLabel %> <%= totalTxnAmountSum %></span></h4>
                    <div class="clearfix"></div>
              		</div>
                	<div class="x_content"><div id="totalTxnAmountGraph" style="height:350px;"></div></div>
              	</div>
            	</div>

          		<div class="col-md-6 col-sm-4 col-xs-12">
              	<div class="x_panel">
              		<div class="x_title"><h4>Account Summary</h4>
                	  <div class="clearfix"></div>
              		</div>
                	<div class="x_content"><div id="accountSummaryGraph" style="height:350px;"></div></div>
              	</div>
            	</div>

            </div> <!-- end of <div class="row"> -->

          </div> <!-- end of <div class="col-md-9 col-sm-9 col-xs-12"> -->
      
        </div> <!-- end of <div class="x_content"> -->
                
      </div> 
    </div>
  </div>

</div>

<script>
  var theme = {
      color: [
          '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
          '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
      ],

      title: {
          itemGap: 8,
          textStyle: {
              fontWeight: 'normal',
              color: '#408829'
          }
      },

      dataRange: {
          color: ['#1f610a', '#97b58d']
      },

      toolbox: {
          color: ['#408829', '#408829', '#408829', '#408829']
      },

      tooltip: {
          backgroundColor: 'rgba(0,0,0,0.5)',
          axisPointer: {
              type: 'line',
              lineStyle: {
                  color: '#408829',
                  type: 'dashed'
              },
              crossStyle: {
                  color: '#408829'
              },
              shadowStyle: {
                  color: 'rgba(200,200,200,0.3)'
              }
          }
      },

      dataZoom: {
          dataBackgroundColor: '#eee',
          fillerColor: 'rgba(64,136,41,0.2)',
          handleColor: '#408829'
      },
      grid: {
          borderWidth: 0
      },

      categoryAxis: {
          axisLine: {
              lineStyle: {
                  color: '#408829'
              }
          },
          splitLine: {
              lineStyle: {
                  color: ['#eee']
              }
          }
      },

      valueAxis: {
          axisLine: {
              lineStyle: {
                  color: '#408829'
              }
          },
          splitArea: {
              show: true,
              areaStyle: {
                  color: ['rgba(250,250,250,0.1)', 'rgba(200,200,200,0.1)']
              }
          },
          splitLine: {
              lineStyle: {
                  color: ['#eee']
              }
          }
      },
      timeline: {
          lineStyle: {
              color: '#408829'
          },
          controlStyle: {
              normal: {color: '#408829'},
              emphasis: {color: '#408829'}
          }
      },

      k: {
          itemStyle: {
              normal: {
                  color: '#68a54a',
                  color0: '#a9cba2',
                  lineStyle: {
                      width: 1,
                      color: '#408829',
                      color0: '#86b379'
                  }
              }
          }
      },
      map: {
          itemStyle: {
              normal: {
                  areaStyle: {
                      color: '#ddd'
                  },
                  label: {
                      textStyle: {
                          color: '#c12e34'
                      }
                  }
              },
              emphasis: {
                  areaStyle: {
                      color: '#99d2dd'
                  },
                  label: {
                      textStyle: {
                          color: '#c12e34'
                      }
                  }
              }
          }
      },
      force: {
          itemStyle: {
              normal: {
                  linkStyle: {
                      strokeColor: '#408829'
                  }
              }
          }
      },
      chord: {
          padding: 4,
          itemStyle: {
              normal: {
                  lineStyle: {
                      width: 1,
                      color: 'rgba(128, 128, 128, 0.5)'
                  },
                  chordStyle: {
                      lineStyle: {
                          width: 1,
                          color: 'rgba(128, 128, 128, 0.5)'
                      }
                  }
              },
              emphasis: {
                  lineStyle: {
                      width: 1,
                      color: 'rgba(128, 128, 128, 0.5)'
                  },
                  chordStyle: {
                      lineStyle: {
                          width: 1,
                          color: 'rgba(128, 128, 128, 0.5)'
                      }
                  }
              }
          }
      },
      gauge: {
          startAngle: 225,
          endAngle: -45,
          axisLine: {
              show: true,
              lineStyle: {
                  color: [[0.2, '#86b379'], [0.8, '#68a54a'], [1, '#408829']],
                  width: 8
              }
          },
          axisTick: {
              splitNumber: 10,
              length: 12,
              lineStyle: {
                  color: 'auto'
              }
          },
          axisLabel: {
              textStyle: {
                  color: 'auto'
              }
          },
          splitLine: {
              length: 18,
              lineStyle: {
                  color: 'auto'
              }
          },
          pointer: {
              length: '90%',
              color: 'auto'
          },
          title: {
              textStyle: {
                  color: '#333'
              }
          },
          detail: {
              textStyle: {
                  color: 'auto'
              }
          }
      },
      textStyle: {
          fontFamily: 'Arial, Verdana, sans-serif'
      }
   };
 </script>
 
<script type="text/javascript">

    var totalTurnoverGraph = echarts.init(document.getElementById('totalTurnoverGraph'), theme);

	  totalTurnoverGraph.setOption({
	    
      title: {
	      text: '<%= Utility.getCurrencyLabel %>' + " " + '<%= totalTxnAmountSum %>',
	      subtext: ' '
	    },
	    
      tooltip: {
	      trigger: 'axis'
	    },
	    
      legend: {
	      x: 150,
	      y: 30,
	      data: [
          <% for i in 0..Utility.getServiceTypes.size.to_i - 1 %>
            '<%=Utility.getServiceTypeDisplayValue(Utility.getServiceTypes[i])%>',
          <% end %>
	      ]
      },
	  
      toolbox: {
	      show: true,
	      feature: {
	        magicType: {
	          show: true,
	          title: {
	            line: 'Line',
	            bar: 'Bar',
	            stack: 'Stack',
	            tiled: 'Tiled'
	          },
	          type: ['line', 'bar', 'stack']
	        },
	        restore: {
	          show: true,
	          title: "Restore"
	        },
	        saveAsImage: {
	          show: true,
	          title: "Save Image"
	        }
	      }
	    },
	    
      calculable: true,
	    
      xAxis: [{
	      type: 'category',
	      boundaryGap: false,
	      data: <%= raw totalTurnoverObj.xAxisLabelValue %>
	    }],
	    
      yAxis: [{
	      type: 'value'
	    }],
	    
      series: [ 
        <% for i in 0..Utility.getServiceTypes.size.to_i - 1 %>

          {
    	      name: '<%=Utility.getServiceTypeDisplayValue(Utility.getServiceTypes[i])%>',
            
    	      type: 'line',
    	      smooth: true,
    	      itemStyle: {
    	        normal: {
    	          areaStyle: {
    	            type: 'default'
    	          }
    	        }
    	      },

            data: <%= UserProfile.fetchTotalTurnoverIndvSerData(@response.totalTurnoverIndServ, totalTurnoverObj.xAxisLabelValue, Utility.getServiceTypes[i]) %>
    	    },

        <% end %>  
      ]

	  });

</script>

<script type="text/javascript">
    
    var totalCommissionAmountGraph = echarts.init(document.getElementById('totalCommissionAmountGraph'), theme);

    totalCommissionAmountGraph.setOption({
     
      tooltip: 
      {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
      },
      
      legend: 
      {
        x: 'center',  
        y: 'bottom',
        data: <%= raw totalAgentCommObj.serviceName %>
      },
      
      toolbox: 
      {
        show: true,
        feature: 
        {
          magicType: 
          {
            show: true,
            type: ['pie', 'funnel']
          },
          
          restore: 
          {
            show: true,
            title: "Restore"
          },
          saveAsImage: 
          {
            show: true,
            title: "Save Image"
          }
        }
      },
      calculable: true,
      
      series: 
      [{
        name: 'Total Commission Amount',
        type: 'pie',
        radius: [25, 90],
        center: ['50%', 170],
        roseType: 'area',
        x: '50%',
        max: 40,
        sort: 'ascending',
        data:
        [
          <%for i in 0..totalAgentCommObj.serviceName.size.to_i - 1%>  
            {
              value: <%= totalAgentCommObj.serviceValue[i] %>,
              name: '<%= totalAgentCommObj.serviceName[i] %>'
            },
          <%end%> 
        ]
      }]
    });
    var dataStyle = {
      normal: {
        label: {
          show: true
        },
        labelLine: {
          show: true
        }
      }
    };

    var placeHolderStyle = {
      normal: {
        color: 'rgba(0,0,0,0)',
        label: {
          show: false
        },
        labelLine: {
          show: false
        }
      },
      emphasis: {
        color: 'rgba(0,0,0,0)'
      }
    };

</script>

<script type="text/javascript">

  var totalTransactionCountGraph = echarts.init(document.getElementById('totalTransactionCountGraph'), theme);
  
  totalTransactionCountGraph.setOption({
    tooltip: {
      trigger: 'item',
      formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
      x: 'center',
      y: 'bottom',
      data: <%= raw totalTransactionCountObj.serviceName %>
    },
    toolbox: {
      show: true,
      feature: {
        magicType: {
          show: true,
          type: ['pie', 'funnel']
        },
        restore: {
          show: true,
          title: "Restore"
        },
        saveAsImage: {
          show: true,
          title: "Save Image"
        }
      }
    },
    calculable: true,
    series: [{
      name: 'Total Transation Count',
      type: 'pie',
      radius: [25, 90],
      center: ['50%', 170],
      roseType: 'area',
      x: '50%',
      max: 40,
      sort: 'ascending',
      data:
      [
        <%for i in 0..totalTransactionCountObj.serviceName.size.to_i - 1%>  
          {
            value: <%= totalTransactionCountObj.serviceValue[i] %>,
            name: '<%= totalTransactionCountObj.serviceName[i] %>'
          },
        <%end%> 
      ]
    }]
  });
</script> 

<script type="text/javascript">

  var totalTxnAmountGraph = echarts.init(document.getElementById('totalTxnAmountGraph'), theme);
  
  totalTxnAmountGraph.setOption({
    
    tooltip: {
      trigger: 'item',
      formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    
    calculable: true,
    legend: {
      x: 'center',
      y: 'bottom',
      data: <%= raw totalTransactionAmtObj.serviceName %>
    },
    
    toolbox: {
      show: true,
      feature: {
        magicType: {
          show: true,
          type: ['pie', 'funnel'],
          option: {
            funnel: {
              x: '25%',
              width: '50%',
              funnelAlign: 'center',
              max: 1548
            }
          }
        },
        restore: {
          show: true,
          title: "Restore"
        },
        saveAsImage: {
          show: true,
          title: "Save Image"
        }
      }
    },
    
    series: [{
      name: 'Total Transation Amount',
      type: 'pie',
      radius: ['35%', '55%'],
      itemStyle: {
        normal: {
          label: {
            show: true
          },
          labelLine: {
            show: true
          }
        },
        emphasis: {
          label: {
            show: true,
            position: 'center',
            textStyle: {
              fontSize: '14',
              fontWeight: 'normal'
            }
          }
        }
      },
      data:
       [
        <%for i in 0..totalTransactionAmtObj.serviceName.size.to_i - 1%>  
          {
            value: <%= totalTransactionAmtObj.serviceValue[i] %>,
            name: '<%= totalTransactionAmtObj.serviceName[i] %>'
          },
        <%end%> 
      ]
    }]
  });
</script>

<script type="text/javascript">
  var dataStyle = {
    normal: {
      label: {
        show: true
      },
      labelLine: {
        show: true
      }
    }
  };

  var placeHolderStyle = {
    normal: {
      color: 'rgba(0,0,0,0)',
      label: {
        show: false
      },
      labelLine: {
        show: false
      }
    },
    emphasis: {
      color: 'rgba(0,0,0,0)'
    }
  };


  var accountSummaryGraph = echarts.init(document.getElementById('accountSummaryGraph'), theme);

  accountSummaryGraph .setOption({
    
    title: {
      text: '',
      sublink: '',
      x: 'center',
      y: 'center',
      itemGap: 20,
      textStyle: {
        color: 'rgba(30,144,255,0.8)',
        fontFamily: '微软雅黑',
        fontSize: 35,
        fontWeight: 'bolder'
      }
    },
    
    tooltip: {
      show: true,
      formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    
    legend: {
      orient: 'vertical',
      x: 170,
      y: 45,
      itemGap: 12,
      //data: ['User Amount', 'Loan', 'Penalty'],
      //data: val_pro
    },
    
    toolbox: {
      show: true,
      feature: {
        mark: {
          show: true
        },
        dataView: {
          show: false,
          title: "Text View",
          lang: [

            "Close",
            "Refresh",
          ],
          readOnly: false
        },
        restore: {
          show: true,
          title: "Restore"
        },
        saveAsImage: {
          show: true,
          title: "Save Image"
        }
      }
    },
    
    series: [{
      name: 'Account Summary',
      type: 'pie',
      clockWise: false,
      radius: [105, 130],
      itemStyle: dataStyle,
      data: [{
        value: <%=TxnHeader.my_money(Utility.getAgentAccountBalance(currentAgent))%>,
        name: 'Account Balance'
      }, 
      {
        // value: %= 100 - @percentage_user_amount%>,
        // name: 'invisible',
        // itemStyle: placeHolderStyle
      }]
    }, {
      name: 'Account Summary',
      type: 'pie',
      clockWise: false,
      radius: [80, 105],
      itemStyle: dataStyle,
      data: [

      <% if agentLoanAmount !=0 %>
        {
          value: <%=maxLoanCapacity %>,
          name:  'Maximum Credit Capacity'
         }, {
           value: <%=agentLoanAmount%>,
           name: 'Credit Balance',
           itemStyle: placeHolderStyle
         }
       <% end%> 
      ]
    }, {
      name: 'Account Summary',
      type: 'pie',
      clockWise: false,
      radius: [25, 80],
      itemStyle: dataStyle,
      data: [
        <% if Utility.getAgentPenaltyBalance(currentAgent) !=0 %>
        {
          value: <%=TxnHeader.my_money(Utility.getAgentPenaltyBalance(currentAgent))%>,
          name: 'Pending Penalty'
        }, 
        {
          value: <%= 2500 - Utility.getAgentPenaltyBalance(currentAgent).to_f %>,
          name: '',
          itemStyle: placeHolderStyle
        }
        <% end%>
      ]
    }]
  });
</script>
<!-- ***************End  OF Account Summary Graph************************* -->

<!-- footer content -->
<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>