<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%= Constants::SERVICE_SETTING_ROLE %></h3></div></div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div  class="table-responsive" id="parent">
             
              <table id="fixTable" class="table">

                <thead>
                  <tr>
                    <th class="text-left">Service Name</th>
                    <th class="text-right">Threshold Amount</th>
                    <th class="text-center"></th>
                    <th class="text-right">Our System Balance</th>
                    <th class="text-right">Aggregator Balance</th>
                    <th class="text-center">Current Status</th>
                    <th class="text-left">New Status</th>
                  </tr>
                </thead>
              
                <tbody>
                  <% counter = 0 %>
                  <% counter2 = 1000 %>
                  <% @services_available.each do |available_service| %>
                   
                    <tr>
                      <td class="text-left"><%= Utility.getServiceTypeDisplayValue(available_service.service) %>
                        <input type="hidden" id="serviceID<%=counter%>" value="<%= available_service.id %>"> 
                        <input type="hidden" id="serviceName<%=counter%>" value="<%= available_service.service %>"> 
                        <input type="hidden" id="serviceEmails<%=counter%>" value="<%= available_service.emails %>"> 
                      </td>

                      <td class="text-right"><%= Utility.getFormatedAmount(available_service.threshold_amount)%>
                        <input type="hidden" id="thresholdAmt<%=counter%>" value="<%=available_service.threshold_amount%>">
                      </td>                        

                      <td class="text-center"><button class="btn btn-warning btn-round" type="button" onclick="setThreshold(<%=counter%>)">Set Threshold</button></td>

                      <td class="text-right"><%= Utility.getFormatedAmount(AppUtility.getAggregatorBalance(available_service.service))%></h5></td>

                      <td class="text-right"><%= Utility.getFormatedAmount(available_service.balance)%></h5></td>

                      <td class="text-center"><span id="current_status<%=counter%>"><%= ServiceSetting.getServiceSettingStatus(available_service.status)%></span></h5></td>
                     
                      <td class="text-left">
                        <span id="spanButton<%=counter%>" style="display: <%=ServiceSetting.isEnableButtonShow(available_service.status)%>">
                        	<button class="btn btn-success btn-round" type="button" id="button<%=counter%>"  onclick="enableService(<%=available_service.id%>,'<%=available_service.service%>',<%=counter%>,<%=counter2%>)">Enable</button>
                        </span>
                 
                        <span id="spanButton<%=counter2%>" style="display: <%=ServiceSetting.isDisableButtonShow(available_service.status)%>">
                          <button class="btn btn-danger btn-round" type="button" id="button<%=counter%>" onclick="disableService(<%=available_service.id%>,'<%=available_service.service%>',<%=counter%>,<%=counter2%>)">Disable</button>
                        </span>
                      </td>

                      <%counter  = counter.to_i + 1%>
                      <%counter2 = counter2.to_i + 1%>
                    </tr>
                  <% end %>

                </tbody>
              
              </table>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 
    function enableService(id,service_name,count,count2){
  		var spanButtonEnable = 'spanButton' + count;
  		var spanButtonDisable = 'spanButton' + count2;
  		var currentStatusText = 'current_status' + count;
  		var id=id;
      var service=service_name;
      
      $.post("/EnableServiceSettings", { id: id,service: service } ).done(function(data){
                                      $("#"+spanButtonEnable).hide();
                                      $("#"+spanButtonDisable).show();
                                      $("#"+currentStatusText).text("Enable");
                                  });
    }

    function disableService(id,service_name,count,count2){
  		var spanButtonEnable = 'spanButton' + count;
  		var spanButtonDisable = 'spanButton' + count2;
		  var currentStatusText = 'current_status' + count;
  		var id=id;
      var service=service_name;

  		$.post("/DisableServicesSettings", { id: id,service: service } ).done(function(data){	
	          			  $("#"+spanButtonEnable).show();
	                  $("#"+spanButtonDisable).hide();
	                  $("#"+currentStatusText).text("Disable");
	              });
    }  

    function setThreshold(rowNumber){
      var serviceID = $("#serviceID"+rowNumber).val();
      var serviceName = $("#serviceName"+rowNumber).val();
      var thresholdAmt = $("#thresholdAmt"+rowNumber).val();
      var serviceEmails = $("#serviceEmails"+rowNumber).val();
      
      var name = ["isDataPresent", "serviceID", "serviceName", "thresholdAmt", "email"];
      var values = [true, serviceID, serviceName, thresholdAmt, serviceEmails];
      openWindowWithPost("/ViewThreshold", name, values);
    }

    
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>

