<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3>Set Service Threshold</h3></div></div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
                
            <%= form_tag("/SetThreshold", method: "post", id: 'setThresholdForm', name: 'setThresholdForm', class: 'form-horizontal form-label-left') do %>

              <%= hidden_field_tag "serviceID", params[:serviceID] %>
            
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Service</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :serviceName, params[:serviceName], :class=>'form-control readonly', :placeholder => 'Service', :maxlength => 15 , required: true%>   
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Threshold Amount</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :thresholdAmt, params[:thresholdAmt], :class=>'form-control decimal', :placeholder => 'Threshold Amount', :maxlength => 15 , required: true%>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Notifications Email</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :email, params[:email], :class=>'form-control', :placeholder => 'Use comma(,) seperator for add multiple emails', required: true%>
                </div>
              </div>
             
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <%= submit_tag "Submit" , class: 'btn btn-success btn-round pull-left', :onclick => "return validate()" %>
                  <%= link_to 'Back', 'ServiceSettings', class: "btn btn-default btn-round"%>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function validate(){
    if(!formValidation('setThresholdForm'))return false; // form does not submit
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>