<p>Dear <%= @officer.name %>, This is to inform you that your account with ARED has been suspended.</p>

<p>Please reference 1 should you need to contact us. We appreciate your business.</p>

<p>ARED</p>
<p>KN 3 Rd, Kigali, Rwanda</p>
<p>(+250) 737-666-436 </p>
<p>(+250) 787 666 436</p>
<p>Info@a-r-e-d.com</p>











