<style type="text/css">
  .form-class{
    margin-top: -18px;
    margin-bottom: -18px;
  }
</style>
<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%=Constants::THIRD_PARTY_CONFIG_ROLE%></h3></div><div class="title_right"></div></div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">

            <%= form_tag("/ThirdPartyConfigSave", method: "post", id: 'thirdPartyConfigForm') do %>
              
              <div  class="table-responsive" id="parent" style="height: 330px;">
                <table id="fixTable" class="table">

                  <thead>
                    <tr>
                      <th class="text-left">Aggregator Name</th>
                      <th class="text-center">Username</th>
                      <th class="text-center">Password</th>
                      <th class="text-center">Connection Timeout(secs)</th>
                    </tr>
                  </thead>
                
                  <tbody>
                    <% count = 0 %>
                    <% @thirdpartyConfigs.each do |party| %>
                      <% count = count + 1 %>
                      <tr>
                        
                        <td class="text-left"><%= hidden_field_tag "partyName"+count.to_s, party.party_name %><%= party.party_name %></h5></td>
                        
                        <td class="text-center" style="width: 20%"><%= text_field_tag 'username'+count.to_s, nil,:class=>'form-control',:value => party.username, :style=>'text-align: right', :required => true%></h5></td>
                        
                        <td class="text-center" style="width: 20%"><%= text_field_tag 'password'+count.to_s, nil,:class=>'form-control',:value =>party.password, :style=>'text-align: right', :required => true%></td>

                        <td class="text-center" style="width: 20%"><%= text_field_tag 'connTime'+count.to_s, nil,:class=>'form-control',:value =>party.connection_timeout, :style=>'text-align: right', :required => true%></td>
                      
                      </tr>
                    <% end %>
                    <%= hidden_field_tag "count",count %>
                  </tbody>
                
                </table>
              </div>
              
              <div class="col-md-12 text-center">
                <%= submit_tag Constants::SAVE_BTN_LABEL, :onclick => "return validate()" , class: 'btn btn-success btn-round' %>
              </div> 
            
            <% end %>

          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

<script type="text/javascript">
  function validate(){
    if(!formValidation('thirdPartyConfigForm')) return false;
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>

