<%= form_for([@country,@district], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @district.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@district.errors.count, "error") %> prohibited this district from being saved:</h4>

      <ul>
      <% @district.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

   <%= f.nested_fields_for :towns do |builder| %>
     <%= render "town_fields", :f => builder %>
   <% end %>
   <%= f.add_nested_fields_link :towns %>
 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>
