 <div class="form-group">
    <%= f.label :name ,"Town name", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.remove_nested_fields_link "Remove Town" unless f.object.persisted? %>
  </div>

  <% if f.object.persisted?  %>
	  <div class="form-group">
	   <%= f.label :_destroy, "Remove Town" %>
	   <%= f.check_box :_destroy %>
	  </div>
  <%end%>



