<div class="page-header">
  <%= link_to new_district_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New District
  <% end %>
  <h1>Listing districts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Country</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @districts) do |district| %>
            <td><%= district.name %></td>
            <td><%= district.country %></td>
            <td><%= link_to 'Show', district %></td>
        <td><%= link_to 'Edit', edit_district_path(district) %></td>
        <td><%= link_to 'Destroy', district, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
