<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3><%#= @maintenance_officer.name.titleize %></h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>
            
            <div  action="" method="post" name="" id="" class="form-horizontal form-label-left">

              <div align="center" class="row" >
                <h3 id="op"></h3>
              </div>

              <div>




              <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>Account</th>
                              <th>Password</th>
                              <th>Photo</th>
                              <th>Location</th>
                        </tr>
                      </thead>

                      <tbody>
                             <tr>   
                                         <td><%= @maintenance_officer.name.titleize %></td>
                                         <td><%= @maintenance_officer.email %></td>
                                         <td><%= @maintenance_officer.phone %></td>
                                         <td><%= @maintenance_officer.account %></td>
                                         <td><%= @maintenance_officer.password %></td>
                                         <td><%= image_tag(@maintenance_officer.photo_url,size: '100x100') if @maintenance_officer.photo_url %></td>
                                         <td><%= @maintenance_officer.location %></td>
                                   </tr>
                      </tbody>
                    </table>
                  </div>


               

            
			  
                
              </div>


              <div class="row">
                
                
              </div>


	            <%= form_tag(deploy_maintenance_officer_maintenance_officer_path(@maintenance_officer)) do%>
					 <div class="form-group">
					    <div class="col-sm-10">
					      <% country_options = options_from_collection_for_select(Country.all, 'id', 'name') %>
                          <%= select_tag :country, country_options ,:class => "form-control border-input" , :prompt => "--select county--" %>
					    </div>
					  </div>

					  <div class="form-group">
					    <div class="col-sm-10">
					      <% district_options = options_from_collection_for_select(District.all, 'id', 'name') %>
                          <%= select_tag :district, district_options ,:class => "form-control border-input", :prompt => "--select district--" %>
					    </div>
					  </div>

					  <div class="form-group">
					    <div class="col-sm-10">
					      <% town_options = options_from_collection_for_select(Town.all, 'id', 'name') %>
                          <%= select_tag :town, town_options ,:class => "form-control border-input" ,:prompt => "--select town--" %>
                         </div>
					  </div>

	                  <%= submit_tag "Deploy Maintenance Officer", class: "btn btn-success" %>
	            <% end %>


              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  $(document).ready(function(){
      $("#country").change(function(){
        $.ajax({
          url: '/listingdistricts',
          type: "GET",
          data: {id: $('#country option:selected').val()},
            })
      });
  });
</script>


<script type="text/javascript">
    $(document).ready(function(){
       $("#district").change(function(){
        $.ajax({
          url: '/listingtowns',
          type: "GET",
          data: {id: $('#district option:selected').val()},
            })
      });
    });
</script>
