

<div class="right_col" role="main">
  
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Maintenance Officer Profile</h3></div>
      <div class="title_right">
        <div class="col-md-12  form-group">
          <div class="input-group pull-right" style="margin: 0px;"><%= link_to 'Back', deployed_officers_path, class: "btn btn-default btn-round", style: "margin: 0px;" %></div>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox profle">
             
            </ul>
          <div class="clearfix"></div>
        </div>

        

        <div class="x_content">
           <% flash.each do |name, msg| %>
                  <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <%= msg %>
                  <% end %>
                <% end %>
              </div>

          <div class="col-md-3 col-sm-3 col-xs-12 text-center">

            <div class="profile_img">
              <div id="crop-avatar">
                <% if  @maintenance_officer.photo_url.present?%>
                   <%= image_tag( @maintenance_officer.photo_url :alt => "Picture",:class => 'user-profile img-responsive avatar-view userProfile')%>
                <% else %>
                   <%= image_tag('user.png', :alt => "Picture",:class => 'user-profile img-responsive avatar-view userProfile')%>
                <% end%>
              </div>
            </div>

            <h4><strong><%= @maintenance_officer.name.titleize %></strong></h4>
              
            <ul class="list-unstyled user_data">
              <table class="table">
                <tr><td style="text-align: left;">Email:</td><td style="text-align: left;"><%= @maintenance_officer.email %></td></tr>
                <tr><td style="text-align: left;">Phone:</td><td style="text-align: left;"><%= @maintenance_officer.phone %></td></tr>
                <tr><td style="text-align: left;">Account:</td><td style="text-align: left;"><%= @maintenance_officer.account %></td></tr>
                <tr><td style="text-align: left;">Password:</td><td style="text-align: left;"><%= @maintenance_officer.password %></td></tr>
                <tr><td style="text-align: left;">Location:</td><td style="text-align: left;"><%= @maintenance_officer.location %></td></tr>
                <tr><td style="text-align: left;">Deployed</td><td style="text-align: left;"><%= @maintenance_officer.deployments.last.location %></td></tr>
              </table>



              
              <div class="row">
                <div class="col-md-6">
                  <%=link_to  'Edit',edit_officer_path(@maintenance_officer),class: "btn btn-success btnprofile col-md-12" %>
                </div>
                <div class="col-md-6">
                  <%= link_to "Delete", @maintenance_officer,class: "btn btn-danger btnprofile col-md-12", method: :delete, data: { confirm: "You sure?" } %>
                </div>
              </div>

              <div class="row">
                <%=link_to  'Reset Password',password_reset_officer_path(@maintenance_officer),class: "btn btn-success btnprofile col-md-12" %>
              </div>





                 
            
          </div>


          <div class="col-md-9 col-sm-9 col-xs-12">
            
            <div class="x_panel">
              <div class="profile_title">
                <div class="col-md-6"><h2>Handled Requests</h2></div>
              </div>
              <div class="x_content">
                
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover officers">
                    <thead>
                      <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Location</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @maintenance_officer.agents.each do |agent| %>
                           <tr> <td><%= agent.name.titleize %></td>
                                       <td><%= agent.phone %></td>
                                       <td><%= agent.location %></td>
                                       <td><%= agent.latitude %></td>
                                       <td><%= agent.longitude %></td>
                                       <td><%= link_to 'Reviews',officer_agent_reviews_path(@maintenance_officer,agent),class: "btn btn-primary" %></td>
                                   <td><%= link_to 'Edit', edit_agent_path(agent),class: "btn btn-info" %></td>
                                   <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td></tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>

              </div></div>
            </div>

            <div class="row">
              
             

             
             
              

            </div> <!-- end of <div class="row"> -->

          </div> <!-- end of <div class="col-md-9 col-sm-9 col-xs-12"> -->
      
        </div> <!-- end of <div class="x_content"> -->
                
      </div> 
    </div>
  </div>

</div>


