<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Officers</h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>

           <div class="row">
               <% flash.each do |name, msg| %>
                  <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <%= msg %>
                  <% end %>
                <% end %>
              </div>
            
            <div  action="" method="post" name="" id="" class="form-horizontal form-label-left">

              <div align="center" class="row" >
                <h3 id="op"></h3>
              </div>

              <div>
                <%= render "tab" %>

             
                
              </div>

                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover officers">
                      <thead>
                        <tr>
                          <th></th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>Account</th>
                              <th>Password</th>
                              <th>Photo</th>
                              <th>Location</th>
                              <th></th>
                          <th></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @maintenance_officers.each_with_index do |officer,index| %>
                             <tr>   
                                         <td><%= index + 1 %></td>
                                         <td><%= officer.name.titleize %></td>
                                         <td><%= officer.email %></td>
                                         <td><%= officer.phone %></td>
                                         <td><%= officer.account %></td>
                                         <td><%= officer.password %></td>
                                         <td><%= image_tag(officer.photo_url,size: '100x100') if officer.photo_url %></td>
                                         <td><%= officer.location %></td>
                                         <td><%= link_to 'Terminate',terminate_maintenance_officer_path(officer) ,class: "btn btn-success"%></td>
                                     <td><%= link_to 'Re-activate', reactivate_maintenance_officer_path(officer),class: "btn btn-success" %></td>
                                     </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</div>