<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%=Constants::AGGREGATOR_DEPOSIT_ROLE%></h3></div></div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
                
            <%= form_tag("/AggregatorDepositAmt", method: "post", name: 'aggregatorDepositForm', id: 'aggregatorDepositForm', class: 'form-horizontal form-label-left') do %> 
            
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= select_tag "aggregatorName", options_for_select(AggregatorManager.getAllAggregatorName,params[:aggregatorName]),:class=>'form-control', :required => true %>   
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :amount, params[:amount], :class=>'form-control number', :placeholder => 'Amount', :maxlength => 15 , required: true%>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= select_tag "description", options_for_select(Constants::PAYMENT_MODE_SELECT_OPT,params[:description]),:class=>'form-control', :required => true %>   
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :extRef, params[:extRef], :class=>'form-control' , :placeholder => 'Reference number', :maxlength => 50 , required: true%>
                </div>
              </div>
             
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <%= submit_tag "Submit" , class: 'btn btn-success btn-round pull-left', :onclick => "return validate()" %> 
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var formObj = document.aggregatorDepositForm;

  function validate(){
    if(!formValidation('aggregatorDepositForm')){
      return false; // form does not submit
    } else {
      getConfirmAlert("<%=(I18n.t :AGGREGATOR_DEPOSIT_CONF_MSG)%>", nextAction);
      return false; // form does not submit
    }
  }

  function nextAction(userAnswer){
    if(userAnswer == true){
      formObj.submit();
    }
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>