<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Free Websites</h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>

          <!-- op container -->
          <div align="center" class="row" >
            <h3 id="op"></h3>
          </div>

          <!-- website name -->
          <div class="row" align="center" style="margin-bottom: 10px;">
            <div class="form-group text-center">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                <input type="text" id="val_name" name=""  maxlength="" class="form-control" placeholder="Website name">
                <span class="fa fa-globe form-control-feedback right" aria-hidden="true"></span>
              </div>
            </div>
          </div>

          <!-- website url -->
          <div class="row" align="center" style="margin-bottom: 10px;">
            <div class="form-group text-center">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                <input type="text" id="val_url" name=""  maxlength="" class="form-control" placeholder="Website URL">
                <span class="fa fa-link form-control-feedback right" aria-hidden="true"></span>
              </div>
            </div>
          </div>    
              
          <!-- add button -->
          <div class="row" align="center">
            <button  onclick="" id="add"   class="btn btn-round btn-success">Add</button>
          </div>
            

          <!-- table container -->
          <div  class="table-responsive" id="table_op">ts
          </div>

          <!-- ard modal --> 
          <div class="margin-bottom-40">
              
              <!-- modal button -->
                  <!-- <button class="btn-u" data-toggle="modal" data-target="#responsive">Modal Button</button> -->
          
              <!-- modal section -->
              <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
          
                              <!-- modal close button -->
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          
                              <!-- modal header -->
                              <h4 class="modal-title" id="myModalLabel"></h4>
          
                          </div>
                          <div class="modal-body">
                              <!-- website name -->
                              <div class="row" align="center" style="margin-bottom: 10px;">
                                <div class="form-group text-center">
                                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                    <input type="text" id="val_name" name=""  maxlength="" class="form-control" placeholder="Website name">
                                    <span class="fa fa-globe form-control-feedback right" aria-hidden="true"></span>
                                  </div>
                                </div>
                              </div>

                              <!-- website url -->
                              <div class="row" align="center" style="margin-bottom: 10px;">
                                <div class="form-group text-center">
                                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                    <input type="text" id="val_url" name=""  maxlength="" class="form-control" placeholder="Website URL">
                                    <span class="fa fa-link form-control-feedback right" aria-hidden="true"></span>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" id="" class="btn btn-round btn-success">Submit</button>
                              <button type="button" id="" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End ard modal  -->

          


        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

  // read websites
  function freewebsites_read(){
      // $.get(
      //   "http://13.84.48.214:8080/ard/internet_websites.php",
      //   {},
      //   function (data, status) {
      //         $("#table_op").html(data);
      //     }
      //   );
      var action = "readall";
      $.ajax({  
          url:"http://13.84.48.214:8080/ard/internet_websites.php",  
          // url:"http://13.84.48.214:8080/ard/internet_bandwidth.php", 
          method:"post",  
          // dataType: "jsonp",
          data:{action:action}, 
          success:function(data)  
          {  
                $('#table_op').html(data);  
          },
          error: function (jqXhr, textStatus, errorThrown) {
              // console.log(data);
              // $('#table_op').html(jqXhr + textStatus + errorThrown);
              $('#table_op').html("No records");
          } 
      });  
    }

  // function freewebsites_clearaddfields(){
  //     $("#val_name").val("");
  //     $("#val_url").val("");
  //   }

  // // add
  // function freewebsites_add(){
  //   // pull in values/variables
  //   var action = 'add';
  //   var val_name = $("#val_name").val();
  //   var val_url = $("#val_url").val();
  //   // var variable = $("#variable").val();

  //   if ((!val_name) || (!val_url)) {
  //       $('#op').html("<div class='animated pulse alert alert-danger' > <p>Please fill out all the fields</p></div>");  
  //     } else {
      
      
  //       $.ajax({  
  //           url:"http://13.84.48.214:8080/ard/internet_websites.php",  
  //           method:"post",  
  //           data:{
  //             action:action,
  //             val_name:val_name,
  //             val_url:val_url
  //             },  
  //           dataType:"text",  
  //           success:function(data)  
  //           {  
  //             // refresh data
  //               freewebsites_read() ;
    
  //               // alert user that record has been added
  //               $('#op').html("<div class='animated pulse alert alert-success' > <p>you have successfuly added a new record</p></div>");  
    
  //               // clear the fields
  //               freewebsites_clearaddfields();
  //           },
  //           error: function (jqXhr, textStatus, errorThrown) {
  //               //$('#_op').html(jqXhr + textStatus + errorThrown);
  //               alert("Error!");
  //           } 
  //       });  
  //     }
  // }

  // // edit
  //   // get details
  //   function freewebsites_getone(id){
  //     // Add User ID to the hidden field for future usage. this will be on the modal
  //       $("#modal_val_id").val(id);
  //       $.post("http://13.84.48.214:8080/ard/internet_websites.php", {
  //               id: id
  //           },
  //           function (data, status) {
  //               // PARSE json data
  //               var user = JSON.parse(data);
  //               // Assing existing values to the modal popup fields
  //               $("#ctgr_update_name").val(user.name);
                
  //               // if using mdl
  //               //$("#ctgr_update_name").parent().addClass("is-dirty");
                
               
  //           }
  //       );
  //       // Open modal popup
  //       //$("#update_modal").modal("show");
  //       document.getElementById('_update_modal').style.display='block';
  //   }

  //   // update details
  //   function freewebsites_edit(){
  //     // get values
  //       var variable = $("#variable").val();
        
     
  //       // get hidden field value
  //       var _update_id = $("#_hidden_record_id").val();
     
  //       // Update the details by requesting to the server using ajax
  //       $.post("_updateUserDetails.php", {
  //           //record id
  //               _update_id: _update_id,
    
  //               //variables
  //               variable: variable,
                
  //           },
  //           function (data, status) {
  //               // hide modal popup
                
  //               document.getElementById('_update_modal').style.display='none';
  //               // reload Users by using readRecords();
  //               _readRecords();
  //           }
  //       );
  //   }

  // // delete
  //   function freewebsites_delete(id){
  //     var conf = confirm("Are you sure, do you really want to delete User?");
  //       if (conf == true) {
  //           $.post("_deleteUser.php", {
  //                   id: id
  //               },
  //               function (data, status) {
  //                   // reload Users by using readRecords();
  //                   _readRecords();
  //               }
  //           );
  //       }
  //   }


  $(document).ready(function(){
   

    freewebsites_read();

    $('#add').click(function(){
      // var type = 'websites';
      var action = 'update';
      var val_name = $("#val_name").val();
      var val_url = $("#val_url").val();

      if ((!val_name) || (!val_url)) {
        $('#op').html("<div class='animated pulse alert alert-danger' > <p>Please fill out all the fields</p></div>");  
      } else {
        $.ajax({  
          url:"http://13.84.48.214:8080/ard/internet_websites.php",  
          method:"post",  
          data:{action:action, val_name:val_name, val_url:val_url},  
          dataType:"text",  
          success:function(data)  
          {  
              if (data == 1) {
                $('#op').html("<div class='animated pulse alert alert-success' > <p>Website details added.</p></div>");    
                $("#val_name").val("");
                $("#val_url").val("");              
              }  
                
          },
          error: function (jqXhr, textStatus, errorThrown) {
              // console.log(data);
              $('#op').html(jqXhr + textStatus + errorThrown);
          } 
        });  
      }
      

      // alert("hey");  
      return false;
    });
  });

</script>

