<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Free Internet Settings</h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>
            
            <div   name="" id="" class="form-horizontal form-label-left">

              <div align="center" class="row" >
                <h3 id="op"></h3>
              </div>

              <div align="center" class="row" >
                <h3 id="op"></h3>
              </div>

              <div align="center" class="row" >
                <h2><span>Current free internet settings : <b><span id="current_free_internet"></span></b> Min per Ad watched</span></h2>
              </div>

              <div align="center" class="row" >
                <button onclick="" id="logs" data-toggle="modal" data-target="#responsive"  class="btn btn-round btn-success "> Logs</button>
              </div>

              

              <div class="form-group text-center">
                <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 col-sm-offset-3">
                  <input type="text" id="val" name=""  maxlength="" class="form-control number" placeholder=" Min per Ad watched">
                  <span class="fa fa-television form-control-feedback right" aria-hidden="true"></span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <button  onclick="" id="update"   class="btn btn-round btn-success pull-left">Update</button>
                </div>
              </div>

              <!-- modal -->
              <div class="margin-bottom-40">
                  
                  <!-- modal button -->
                      <!-- <button class="btn-u" >Modal Button</button> -->
              
                  <!-- modal section -->
                  <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
              
                                  <!-- modal close button -->
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              
                                  <!-- modal header -->
                                  <h4 class="modal-title" id="myModalLabel">Free Internet Logs</h4>
              
                              </div>
                              <div class="modal-body">
                                  <!-- modal row 1 -->
                                  <div class="row">
                                      <div class="col-md-12" id="free_internet_logs">
                                          
                                          
                                      </div>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" id="" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End ard modal  -->

            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

  function get_current_free_internet(){
    var action = 'readcurrent';

    $.ajax({  
        url:"http://13.84.48.214:8080/ard/internet_free.php",  
        method:"post",  
        data:{action:action},  
        dataType:"text",  
        success:function(data)  
        {  
          $('#current_free_internet').html(data);  
        },
        error: function (jqXhr, textStatus, errorThrown) {
          $('#current_free_internet').html(jqXhr + textStatus + errorThrown);
        } 
    });  

    // $('#current_tariff').html("26");

  }

  function free_internet_logs(){
    var action = 'readall';
       $.ajax({
          url:"http://13.84.48.214:8080/ard/internet_free.php",
          method:"post",
          data:{action:action},
          dataType:"text",
          success:function(data)
          {
            $('#free_internet_logs').html(data);
            // if (data == 1) {
            //   $('#op').html("<div class='animated pulse alert alert-success' > <p>Internet Tariff updated sucessfully</p></div>");
            //     // $("#val").val("");
            //   get_current_tariff();
            // } else {
            //   $('#op').html("<div class='animated pulse alert alert-danger' > <p>Error </p></div>");
            //    // $('#op').html("<div class='animated pulse alert alert-danger' > <p>Error " + data + "</p></div>");
            // }

          },
          error: function (jqXhr, textStatus, errorThrown) {
              // console.log(data);
              $('#op').html(jqXhr + textStatus + errorThrown);
          }
        });
  }


  $(document).ready(function(){

    get_current_free_internet();
    free_internet_logs();


    $('#update').click(function(){
      // var type = 'free';
      var action = 'update';
      var val = $("#val").val();

      if (val == "") {
        $('#op').html("<div class='animated pulse alert alert-danger' > <p>Please enter a value</p></div>");  
      } else {
        $.ajax({  
          url:"http://13.84.48.214:8080/ard/internet_free.php",  
          method:"post",  
          data:{action:action, val:val},  
          dataType:"text",  
          success:function(data)  
          {  
                // $('#op').html(data);  
                // $("#val").val("");

            if (data == 1) {
              $('#op').html("<div class='animated pulse alert alert-success' > <p>Free Internet Settings updated sucessfully</p></div>");
                // $("#val").val("");
              get_current_free_internet();
              free_internet_logs();
            }
          },
          error: function (jqXhr, textStatus, errorThrown) {
              // console.log(data);
              $('#op').html(jqXhr + textStatus + errorThrown);
          } 
        });  
      }
      

      // alert("hey");  
      return false;
    });
  });

</script>

