
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Internet Bandwidth statistics</h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>
          <div id="op"></div>
          <div class="row">
            Display from 
            <input id="date_from" type="text" name=""  class="form-control " placeholder=""> 
            to 
            <input id="date_to" type="text" name=""  class="form-control " placeholder="">
            <br>
            <button id="search" class="btn btn-round btn-success pull-left">Search</button>
          </div>

          <div class="row">
            <!-- <h3>Total : <b>300 GB</b></h3> -->
          </div>
            
          <div  class="table-responsive" id="op_table">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  
<script type="text/javascript">

  $("#date_from").datepicker();
  $("#date_to").datepicker();

  function read_stats(){

      $.ajax({  
          url:"http://13.84.48.214:8080/ard/internet_bandwidth_stats.php",  
          method:"post",  
          data:{},  
          dataType:"text",  
          success:function(data)  
          {  
                $('#op_table').html(data);  
          },
          error: function (jqXhr, textStatus, errorThrown) {
              // console.log(data);
              $('#op_table').html(jqXhr + textStatus + errorThrown);
          } 
      });  
    }

  $(document).ready(function(){
    read_stats();

    $('#submit').click(function(){
      var date_from = $('#date_from').val();
      var date_to = $('#date_to').val();
      $.ajax({  
          url:"http://13.84.48.214:8080/ard/internet_bandwidth_stats.php",  
          method:"post",  
          data:{date_from:date_from, date_to:date_to},  
          dataType:"text",  
          success:function(data)  
          {  
                $('#op_table').html(data);  
          },
          error: function (jqXhr, textStatus, errorThrown) {
              // console.log(data);
              $('#op_table').html(jqXhr + textStatus + errorThrown);
          } 
      });  
      return false;
    });
    
  });
</script>