
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Internet Online/Offline Statistics</h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>

          <!-- output -->
          <div id="op"></div>
          
          <!-- table -->
          <div  class="table-responsive" id="parent">
            <table id="fixTable" class="table">

              <thead>
                <tr>
                  <th class="text-left">#</th>
                  <th class="text-center">Kiosk Router Id</th>
                  <th class="text-center">Online/offline</th>
                  <th class="text-center"></th>
                  
                </tr>
              </thead>

              <tbody>
                  <tr>
                    <th class="text-left">1</th>
                    <th class="text-center"> rt-2345234</th>
                    <th class="text-center"><span class="label label-success">Online</span></th>
                    <th class="text-center"><button id="" class="btn btn-round btn-success" data-toggle="modal" data-target="#responsive">View</button></th>
                    
                  </tr>
                  <tr>
                    <th class="text-left">2</th>
                    <th class="text-center">rt-754645</th>
                    <th class="text-center"><span class="label label-danger">Offline</span> </th>
                    <th class="text-center"><button id="" class="btn btn-round btn-success" data-toggle="modal" data-target="#responsive">View</button></th>
                    
                  </tr>
                  <tr>
                    <th class="text-left">3</th>
                    <th class="text-center">rt-92456</th>
                    <th class="text-center"><span class="label label-success">Online</span> </th>
                    <th class="text-center"><button id="" class="btn btn-round btn-success" data-toggle="modal" data-target="#responsive">View</button></th>
                    
                  </tr>
              </tbody>

            </table>
          </div>

          <!-- modal -->
          <!-- ard modal -->
          <div class="margin-bottom-40">
              
              <!-- modal button -->
                  <!-- <button class="btn-u" data-toggle="modal" data-target="#responsive">Modal Button</button> -->
          
              <!-- modal section -->
              <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
          
                              <!-- modal close button -->
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          
                              <!-- modal header -->
                              <h4 class="modal-title" id="myModalLabel"></h4>
          
                          </div>
                          <div class="modal-body">
                              <!-- modal row 1 -->
                              <div class="row">
                                  <div class="container">
 

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Table</a></li>
    <li><a data-toggle="tab" href="#menu1">Chart</a></li>
   <!--  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li> -->
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Table</h3>
      <hr>
      <div  class="table-responsive" id="table_container">
        <table id="fixTable" class="table">
      
          <thead>
            <tr>
              <th class="text-left">#</th>
              <th class="text-center">Status</th>
              <th class="text-center">Date Time</th>
            </tr>
          </thead>
      
          <tbody>
            <tr>
              <th class="text-left"></th>
              <th class="text-center"><span class="label label-success">Online</span></th>
              <th class="text-center">10-Jan-2018 10:15 am</th>
            </tr>
            <tr>
              <th class="text-left"></th>
              <th class="text-center"><span class="label label-danger">Offline</span></th>
              <th class="text-center">10-Jan-2018 03:15 pm</th>
            </tr>
            <tr>
              <th class="text-left"></th>
              <th class="text-center"><span class="label label-success">Online</span></th>
              <th class="text-center">10-Jan-2018 05:15 pm</th>
            </tr> 
          </tbody>
      
        </table>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Chart</h3>
      <hr>

    </div>
   <!--  <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div> -->
  </div>
</div>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" id="" class="btn btn-danger" data-dismiss="modal">Close</button>
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End ard modal  -->

        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script type="text/javascript">
  
    // $(function(){

    //     //get the line chart canvas
    //     var ctx = $("#online_status_graph");

    //     //line chart data
    //     var data = {
    //         labels: ["match1", "match2", "match3", "match4", "match5"],
    //         datasets: [
    //             {
    //                 label: "Onine status",
    //                 data: [0,1, 0, 0,1, 1],
    //                 backgroundColor: "blue",
    //                 borderColor: "lightblue",
    //                 fill: false,
    //                 lineTension: 0,
    //                 radius: 5
    //             }
    //         ]
    //     };

    //     //options
    //     var options = {
    //         responsive: true,
    //         scales: {
    //             yAxes: [{
    //                 ticks: {
    //                     max: 1,
    //                     min: 0,
    //                     stepSize: 10
    //                 }
    //             }]
    //         },
    //         title: {
    //             display: true,
    //             position: "top",
    //             text: "Line Graph",
    //             fontSize: 18,
    //             fontColor: "#111"
    //         },
    //         legend: {
    //             display: true,
    //             position: "bottom",
    //             labels: {
    //                 fontColor: "#333",
    //                 fontSize: 16
    //             }
    //         },
    //         animation: {
    //             duration: 0, // general animation time
    //         },
    //         hover: {
    //             animationDuration: 0, // duration of animations when hovering an item
    //         },
    //         responsiveAnimationDuration: 0, // animation duration after a resize
    //     };

    //     //create Chart class object
    //     var chart = new Chart(ctx, {
    //         type: "line",
    //         data: data,
    //         options: options
    //     });
    //});
</script>
  
<script type="text/javascript">

  // $("#date_from").datepicker({
  //   onClose : function(selectedDate){
  //     $("#date_to").datepicker("option", "minDate", selectedDate);
  //   }
  // });
  // $("#date_to").datepicker({
  //   onClose : function(selectedDate){
  //     $("#date_from").datepicker("option", "maxDate", selectedDate);
  //   }
  // });

  $(document).ready(function(){
    

        //get the line chart canvas
        var ctx = $("#online_status_graph");

        //line chart data
        var data = {
            labels: ["match1", "match2", "match3", "match4", "match5"],
            datasets: [
                {
                    label: "Onine status",
                    data: [0,1, 0, 0,1, 1],
                    backgroundColor: "blue",
                    borderColor: "lightblue",
                    fill: false,
                    lineTension: 0,
                    radius: 5
                }
            ]
        };

        //options
        var options = {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        max: 1,
                        min: 0,
                        stepSize: 10
                    }
                }]
            },
            title: {
                display: true,
                position: "top",
                text: "Line Graph",
                fontSize: 18,
                fontColor: "#111"
            },
            legend: {
                display: true,
                position: "bottom",
                labels: {
                    fontColor: "#333",
                    fontSize: 16
                }
            },
            animation: {
                duration: 0, // general animation time
            },
            hover: {
                animationDuration: 0, // duration of animations when hovering an item
            },
            responsiveAnimationDuration: 0, // animation duration after a resize
        };

        //create Chart class object
        var chart = new Chart(ctx, {
            type: "line",
            data: data,
            options: options
        });
  });
</script>
