
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Tokens</h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>
          <div id="op"></div>
          <div class="row" align="center">
            

          <!--   <div class="form-group row">
              <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Create</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select name="" id="" class="form-control col-md-7 col-xs-12">
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div> -->
            <br>
            <div class="form-group row">
              <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">Start Date</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input name="" id="date_from" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <br>
            <div class="form-group row">
              <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right" for="">End Date</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input name="" id="date_to" class="form-control col-md-7 col-xs-12">
              </div>
            </div>


            <div class="form-group">
              <button id="submit" class="btn btn-round btn-success pull-left">Submit</button>  
            </div>
            
            
          </div>

          
            
          <div  class="" id="op_table">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  
<script type="text/javascript">

  $("#date_from").datepicker();
  $("#date_to").datepicker();

  function read_tokens(){
      // $.get(
      //   "http://13.84.48.214:8080/ard/internet_tokens.php",
      //   {},
      //   function (data, status) {
      //         $("#op_table").html(data);
      //     }
      //   );

      $.ajax({  
          url:"http://13.84.48.214:8080/ard/internet_tokens.php",  
          method:"post",  
          data:{},  
          dataType:"text",  
          success:function(data)  
          {  
                $('#op_table').html(data);  
          },
          error: function (jqXhr, textStatus, errorThrown) {
              // console.log(data);
              $('#op_table').html(jqXhr + textStatus + errorThrown);
          } 
      });  
    }

  $(document).ready(function(){
    read_tokens();
    
    // $("#date_from").keyup(function(){
    //   $("#op").html($(this).val());
    // });

    $('#submit').click(function(){
      var date_from = $('#date_from').val();
      var date_to = $('#date_to').val();
      $.ajax({  
          url:"http://13.84.48.214:8080/ard/internet_tokens.php",  
          method:"post",  
          data:{date_from:date_from, date_to:date_to},  
          dataType:"text",  
          success:function(data)  
          {  
                $('#op_table').html(data);  
          },
          error: function (jqXhr, textStatus, errorThrown) {
              // console.log(data);
              $('#op_table').html(jqXhr + textStatus + errorThrown);
          } 
      });  
      return false;
    });
  });
</script>
