<div class="right_col" role="main">
 
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3><%=Constants::TAX_REPORT_LABEL%></h3></div>
      <div class="title_right"><h3 style="font-size: 16px; float: right"><%= " Month : " + params[:month] + " " + params[:year] %></h3></div>
    </div>
  </div>
 
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel ">
        <div class="x_content">
          <div class="col-md-12 col-sm-12 col-xs-12 bgx">
              <%= form_tag("/TaxDetails", method: "post", class: 'form-label-left') do %> 

                <%= hidden_field_tag "transactionType", Constants::TAX_REPORT_LABEL%>

                <div class="form-group">
                  <label class="col-md-1 col-sm-1 col-xs-12" style="margin-top: 10px;">Month</label>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                     <%= select_tag "month", options_for_select(Constants::MONTH_LIST, params[:month]), :class=>'form-control col-md-7 col-xs-12'%>
                  </div>

                  <label class="col-md-1 col-sm-1 col-xs-12" style="margin-top: 10px;">Year</label>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <%= select_tag "year", options_for_select(TxnHeader.getYearsList, params[:year]), :class=>'form-control col-md-7 col-xs-12'%>
                  </div>
            
                  <div class="col-md-1 col-sm-4 col-xs-12  text-left">
                    <%= submit_tag "Show", class: 'btn btn-success btn-round' %> 
                  </div>

                  <div class="col-md-1 col-sm-4 col-xs-12  text-left">
                    <a class='btn btn-success btn-round' href="/TransactionHistory">Back</a>
                  </div>

                </div>
              <% end %> 
          </div>

          <%if @profitLoseList.present?%>

            <%total = 0%>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 bgx1">  
                  <div class="x_panel" style="margin-top: 10px;">
                    <div class="x_title">
                      <div class="table-responsive" id="parent1">
                        <table id="fixTable" class="table">
                          <thead>
                            <tr>
                              <th class="text-left">S No</th>
                              <th class="text-left">Date</th>
                              <th class="text-left">Time</th>
                              <th class="text-left">M F Name</th>
                              <th class="text-left">M F Phone</th>
                              <th class="text-center">Gross Commission</th>
                              <th class="text-center">Withholding Tax(%)</th>
                              <th class="text-center">Withholding Amount</th>
                            </tr>
                          </thead>
                                      
                          <tbody>
                          <% sNo =1%>
                            <% @profitLoseList.each do |profitLose| %>
                              <%total = TxnHeader.my_money(total).to_f + TxnHeader.my_money(profitLose[:total_tax]).to_f%>
                              <tr>
                                  <td class="text-left"><%= sNo %></td>
                                  <td class="text-left"><%= profitLose[:txn_date].strftime("%Y-%m-%d") %></td>
                                  <td class="text-left"><%= profitLose[:txn_date].strftime("%H:%M") %></td>
                                  <td class="text-left"><%= profitLose[:name]%>  <%=profitLose[:last_name] %></td>
                                  <td class="text-left"><%= profitLose[:phone] %></td>
                                  <td class="text-center"><%= Utility.getFormatedAmount(profitLose[:total_comm]) %></td>
                                  <td class="text-center"><%= Utility.getFormatedAmount(profitLose[:tax_percentage]) %></td>
                                  <td class="text-center"><%= Utility.getFormatedAmount(profitLose[:total_tax]) %></td>
                              </tr>
                             <%sNo =sNo.to_i + 1%> 
                            <%end%>   
                          </tbody>

                          <tfoot style="position: relative; top: 20px;">
                            <tr>
                              <th>Total</th>
                              <th class="text-left"></th>
                              <th class="text-left"></th>
                              <th class="text-left"></th>
                              <th class="text-left"></th>
                              <th class="text-left"></th>
                              <th class="text-left"></th>
                              <th class="text-center"><%= Utility.getFormatedAmount(total) %></th>
                            </tr>
                          </tfoot>
                        
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <%end%> 
        </div>
      </div>
    </div>  
  </div>
</div>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>
