<style>
  #commReportForm, #revenueReportForm, #creditReportForm {
    display: inline-block;
    position: absolute;
    top: 11px;
    width: 80%;
    left: 146px;
  }

  .searchboxClass {
    width: 96px;
  }
</style>

<div class="right_col" role="main">
  
  <div class="page-title"><div class="title_left"><h3>Credit User</h3></div></div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
        <div class="x_content" style="padding: 0px!important;">

          <%= render file: "/mf_commission_report/menu.html.erb"%>
          
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_title" style="padding: 0px!important;">
                <div class="table-responsive" id="parent2" style="margin-top: 15px;">

                  <table id="fixTable" class="table">
                    
                    <thead>
                      <tr>
                        <th class="text-left rowClass">Date</th>
                        <th class="text-left rowClass">M F Name</th>
                        <th class="text-left rowClass">M F Phone</th>
                        <th class="text-right rowClass">Credit Amount</th>
                        <th class="text-right rowClass">Penalty Charge</th>
                        <th class="text-center rowClass">Effective Days</th>
                        <th class="text-center rowClass">Status</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                        <% totalCredit = 0 %>
                        <% totalPenalty = 0 %>
                        <% for indexValue in 1..@totalRecords%>        
                          
                          <tr>
                              <td class="text-left rowClass"><%= Utility.getFormatedDateWithoutSec(@details["agentCreditDate"+indexValue.to_s].to_s) %></td>

                              <td class="text-left rowClass"><%= @details["agentName"+indexValue.to_s] + " (" + (TxnManager.get_user_gender_short(@details["agentGender"+indexValue.to_s])).to_s + ")" %></h5></td>

                              <td class="text-left rowClass"><%= @details["agentPhone"+indexValue.to_s] %></td>
                              
                              <td class="text-right rowClass"><%= Utility.getFormatedAmount(@details["agentCreditBalance"+indexValue.to_s]) %></td>
                            
                              <td class="text-right rowClass"><%= Utility.getFormatedAmount(@details["agentPenaltyBalance"+indexValue.to_s]) %></td>
                               
                              <td class="text-center rowClass"><%= @details["effectiveDays"+indexValue.to_s] %></td>
                            
                              <td class="text-center rowClass" style="color:<%=Utility.getStatusColorValue(@details["agentStatus"+indexValue.to_s])%>"><%= Utility.getStatusDisplayValue(@details["agentStatus"+indexValue.to_s]) %></td>

                              <% totalCredit = totalCredit.to_f + @details["agentCreditBalance"+indexValue.to_s].to_f%>
                              <% totalPenalty = totalPenalty.to_f + @details["agentPenaltyBalance"+indexValue.to_s].to_f%>
                          </tr>

                        <%end%>  
                    </tbody>

                    <tfoot style="position: relative; top: 20px;">
                      <tr >
                        <th>Total</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <th class="text-right rowClass"><%= Utility.getFormatedAmount(totalCredit) %></th>
                        <th class="text-right rowClass"><%= Utility.getFormatedAmount(totalPenalty) %></th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                      </tr>
                    </tfoot>

                  </table>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>  

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>
