<style>
  #commReportForm, #revenueReportForm, #creditReportForm {
    display: inline-block;
    position: absolute;
    top: 11px;
    width: 80%;
    left: 146px;
  }

  .searchboxClass {
    width: 96px;
  }
</style>

<div class="right_col" role="main">
  
  <div class="page-title">
    <div class="title_left"><h3><%=Constants::REVENUE_REPORT_LABEL%></h3></div>
    <div class="title_right"><h3 style="font-size: 16px; float: right"><%= params[:monthRevReport].to_s + ", " + params[:yearRevReport].to_s %></h3></div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
        <div class="x_content" style="padding: 0px!important;">

          <%= render file: "/mf_commission_report/menu.html.erb"%>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_title" style="padding: 0px!important;">

                <% totalTurnover = 0 %>
                <% totalRevenue = 0 %>
               
                <% if params[:viewTypeRevReport].eql? Constants::VIEW_TABLE_LABEL %> <!-- if view in the form of table -->

                  <div class="table-responsive" id="parent2" style="margin-top: 15px;">
                    <table id="fixTable" class="table">
                      
                      <thead>
                        <tr>
                          <th class="text-left rowClass">Service</th>
                          <th class="text-right rowClass">Turnover (<%= Utility.getCurrencyLabel %>)</th>
                          <th class="text-right rowClass">ARED Revenue (<%= Utility.getCurrencyLabel %>)</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                          
                          <% counter = 0 %>

                          <% @txnHeader.each do |header|%>     
                            
                            <% counter = counter + 1 %>
                            
                            <tr onclick="setDataForNextDetails('<%=counter%>')">

                              <% serviceType = Utility.getServiceTypeDisplayValue(header['service_type']) %>  
                             
                              <td class="text-left rowClass"><%= serviceType %><input type="hidden" id="serviceType<%=counter%>" value = "<%=serviceType%>"></td>
                              
                              <td class="text-right rowClass"><%= Utility.getFormatedAmount(header['turnover']) %></td>
                            
                              <td class="text-right rowClass"><%= Utility.getFormatedAmount(header['revenue']) %></td>
                         
                            </tr>

                            <% totalTurnover = totalTurnover.to_f + header['turnover'].to_f %>
                            <% totalRevenue  = totalRevenue.to_f + header['revenue'].to_f %>

                          <%end%>  

                      </tbody>

                      <tfoot style="position: relative; top: 20px;">
                        <tr >
                          <th class="rowClass">Total</th>
                          <th class="text-right rowClass"><%= Utility.getFormatedAmount(totalTurnover) %></th>
                          <th class="text-right rowClass"><%= Utility.getFormatedAmount(totalRevenue) %></th>
                        </tr>
                      </tfoot>

                    </table>
                  </div>  
                <% elsif params[:viewTypeRevReport].eql? Constants::VIEW_GRAPH_LABEL %>  

                  <div id="revenueServiceGraph" style="height:505px!important; margin-top: 15px;"></div>

                <% end %>  
               
              </div>
            </div>
          </div>
          

        </div>
      </div>
    </div>
  </div>

</div> 

<script type="text/javascript">

  function setDataForNextDetails(counter){

    var serviceType = $('#serviceType'+counter).val();
  
    if(serviceType == "<%=Constants::AIRTIME_LABEL%>"){
     
      var name = ["reportType", "serviceTypeRevReport", "subTypeRevReport", "viewTypeRevReport","monthRevReport", "yearRevReport"];
      
      var values = ["<%=Constants::REVENUE_REPORT_LABEL%>", "<%=Constants::MTOPUP_LABEL%>", "<%=params[:subTypeRevReport]%>", "<%=params[:viewTypeRevReport]%>", "<%=params[:monthRevReport]%>", "<%=params[:yearRevReport]%>"];
      
      openWindowWithPost("/AredRevenueReport", name,values);
    
    }
    
  }

</script>

<script type="text/javascript">

  var graphNames = [];
  var graphValues = [];
  "<%counter = 0%>";

  if("<%=@txnHeader.present?%>"){

    "<%@txnHeader.each do |header|%>"
      "<% counter = counter + 1%>"
      graphNames["<%=counter%>"] = "<%=Utility.getServiceTypeDisplayValue(header['service_type'])%>";
      graphValues["<%=counter%>"] = "<%=header['revenue']%>";
    "<% end %>"

    var revenueServiceGraph = echarts.init(document.getElementById('revenueServiceGraph'));
   
    revenueServiceGraph.setOption({
      
      color: [
          '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
          '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
      ],

      tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
      },

      legend: {
        x: 'center',
        y: 'top',
        data: graphNames
      },
      
      toolbox: {
        show: true,
        feature: {
          magicType: {
            show: true,
            type: ['pie', 'funnel']
          },
          restore: {
            show: true,
            title: "Restore"
          },
          saveAsImage: {
            show: true,
            title: "Save Image"
          }
        }
      },
      calculable: true,
      series: [{
        name: "<%=Utility.getServiceTypeDisplayValue(params[:serviceTypeRevReport])%>",
        type: 'pie',
        radius: [20, 120],
        center: ['50%', 200],
        roseType: 'area',
        x: '50%',
        max: 40,
        sort: 'ascending',
        data:
        [
          <%for i in 1..counter%>  
            {
              value: graphValues[<%=i%>],
              name: graphNames[<%=i%>]
            },
          <%end%> 
        ]
      }]
    });
  }
</script> 
<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>
