<style type="text/css">
  .user-profile.img-responsive.avatar-view{
      width: 50px;
  }
</style>

<div class="right_col" role="main">
  
  <div class="">
    <div class="page-title"><div class="title_left"><h3><%=Constants::CREDIT_SUSPEND_ROLE%></h3></div></div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content">
            
            <%= form_tag("/CreditSuspendPhone", method: "post", id: 'searchByPhoneForm', class: 'form-horizontal form-label-left') do %>
              <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 col-sm-offset-3">
                <%= text_field_tag :phone, params[:phone], class: 'form-control number',:placeholder=>'Phone',:maxlength => 15, :required => true %>
                <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <%= submit_tag "Search", :onclick => "return phoneCheck()" , class: 'btn btn-success btn-round pull-left' %>
              </div>
            <% end %>

            <div class="col-md-1 text-center col-md-offset-5"> <p> OR </p> </div>
          
            <%= form_tag("/CreditSuspendName", method: "post", id: 'searchByNameForm', class: 'form-horizontal form-label-left') do %>
              <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 col-sm-offset-3">
                <%= text_field_tag :name, params[:name], class: 'form-control alpha',:placeholder=>'Name',:maxlength => 50, :required => true %>
                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <%= submit_tag "Search" ,:onclick => "return nameCheck()", class: 'btn btn-success btn-round pull-left' %>
              </div>
            <% end %>

        </div>
      </div>

      <%if @user.present? %>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                
                <% if @isSearchViewDisplay %>
                  
                  <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <table id="fixTable" class="table">
                      <thead>
                        <tr>
                          <th class="text-left"></th>
                          <th class="text-left">Full Name</th>
                          <th class="text-center">Phone Number</th>
                          <th class="text-right">TIN</th>
                          <th class="text-right"></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @user.each do |agent| %>
                          <tr>
                              <% if !agent.image.present?%>
                                <td class="text-left"><%= image_tag('user.png', :alt => "Picture",:class => 'user-profile img-responsive avatar-view')%></td> 
                              <% else%>
                                <td class="text-left"><%= image_tag(agent.image, :alt => "Picture",:class => 'user-profile img-responsive avatar-view')%></td>
                              <% end%> 
                              <td class="text-left"><%=agent.name%> <%=agent.last_name%></td>
                              <td class="text-center"><%=agent.phone %></td>
                              <td class="text-right"><%=agent.tin_no%></td>
                              <td class="text-right"><%=link_to 'Select',{:controller => "credit_suspend", :action => "index", :user => agent },class: "btn btn-success btn-round" %></td> 
                          </tr>
                        <% end %> <!-- This end is of for loop -->
                      </tbody>
                    </table>
                  </div> 

                <% else %> 
                  <%= form_tag("/CreditSuspendConfirm", method: "post", name: 'creditSetupForm', class: 'form-horizontal form-label-left') do %>
                    
                    <input type="hidden" name="agentID" value="<%=@user.id%>">
                    <input type="hidden" name="blockedStatus" value="">
                    
                    <div  class="table-responsive" id="parent" style="height: 100px;">
                      <table id="fixTable" class="table">

                        <thead>
                          <tr>
                            <th class="text-left">MF Name</th>
                            <th class="text-left">Phone</th>
                            <th class="text-center">TIN</th>
                            <th class="text-center">Current Credit Status</th>
                          </tr>
                        </thead>
                      
                        <tbody>
                            <%currentCreditStatus = CreditSuspend.getCurrnetCreditStatus(@user.id)%>
                            <tr>
                              <td class="text-left"><%=@user.name%> <%=@user.last_name%></h5></td>
                              <td class="text-left"><%=@user.phone%></h5></td>
                              <td class="text-center"><%=@user.tin_no%></h5></td>
                              <td class="text-center" style="color: <%=CreditSuspend.getColor(currentCreditStatus)%>"><%=currentCreditStatus%></h5></td>
                            </tr>
                        </tbody>
                      
                      </table>
                    </div>
                    
                    <div class="col-md-12 text-center">
                      <% if currentCreditStatus.eql? Constants::ACTIVE_VIEW_LABEL %>
                        <%= submit_tag Constants::SUSPEND_BTN_LABEL, :onclick => 'setBlockedStatus(1)', class: 'btn btn-danger btn-round' %>
                      <% else %>
                        <%= submit_tag Constants::ACTIVE_BTN_LABEL, :onclick => 'setBlockedStatus(0)', class: 'btn btn-success btn-round' %>
                      <% end %>  
                    </div> 
                  <!--  -->
                  <% end %>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      <%end %>

    </div>
  </div>
</div>  

<script type="text/javascript">

  function phoneCheck(){
    if(!formValidation('searchByPhoneForm'))return false;
  }

  function nameCheck(){ 
    if(!formValidation('searchByNameForm'))return false;
  }

  function setBlockedStatus(blockedStatus){
    var formObj = document.creditSetupForm
    formObj.blockedStatus.value = blockedStatus;
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>