<body role="login">

  <div class="container" >
    
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  vertical-center-row">
        <div class="panel panel-default login">
          <div class="panel-body">
           
            <%= form_tag("", :method => "post", :name => "forgotPasswordForm", :id => "forgotPasswordForm") do %>
                <fieldset>
                
                  <div class="row">
                    <div class="center-block"> <%= image_tag "toplogo.png", class: 'profile-img img-responsive' %></div><hr>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                     
                      <div class="form-group">
                        <label><%=Constants::EMAIL_LABEL%>:</label>
                        <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
                          <%= text_field_tag :email, params[:email], :class => "form-control", :maxlength => 35, :required => true%>
                        </div>
                      </div>

                      <div class="form-group">
                        <label><%=Constants::COUNTRY_LABEL%>:</label>
                        <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-globe"></i> </span>
                          <%= select_tag "country", options_for_select(Constants::LOGIN_COUNTRY_LIST), :class => "form-control", :required => true%>
                        </div>
                      </div>

                      <div style="line-height: 34px;">
                        <i class="glyphicon glyphicon-arrow-left" style="color: #4d554f;"></i> <%= link_to Labels::BACK_TO_LOGIN_LABEL, root_path, :style => "color: #4d554f;" %>
                        <%= submit_tag Labels::SUBMIT_BUTTON_LABEL, :onclick => "return setFormAction()", :class => "btn btn-success" %>
                      </div>

                    </div>
                  </div>

                </fieldset>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    
  </div>

  <script type="text/javascript">
    var formObject = document.forgotPasswordForm
    
    function setFormAction(){
      
      if(!formValidation('forgotPasswordForm'))return false;
      
      var country = formObject.country.value;

      if(country == "<%=Constants::LOGIN_COUNTRY_LIST[0]%>"){
        
        formObject.action = "<%=Properties::KENYA_APP_FORGOT_ACTION_PATH%>";
      
      } else if(country == "<%=Constants::LOGIN_COUNTRY_LIST[1]%>"){
        
        formObject.action = "<%=Properties::RWANDA_APP_FORGOT_ACTION_PATH%>";
      
      } else if(country == "<%=Constants::LOGIN_COUNTRY_LIST[2]%>"){
      
        formObject.action = "<%=Properties::UGANDA_APP_FORGOT_ACTION_PATH%>";
      
      }

    }

    function setDefaultCountry(){
      var hostName = window.location.hostname;
      if (hostName == "<%=Properties::RWANDA_WEB_HOST_NAME%>"){
        formObject.country.value = "<%=Constants::LOGIN_COUNTRY_LIST[1]%>"
      } else if (hostName == "<%=Properties::UGANDA_WEB_HOST_NAME%>"){
        formObject.country.value = "<%=Constants::LOGIN_COUNTRY_LIST[2]%>"
      }
    }

    setDefaultCountry();
  </script>

</body>