<body role="login">

  <div class="container" >
    
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  vertical-center-row">
        <div class="panel panel-default login">
          <div class="panel-body">
           
            <%= form_tag("/SetNewPassword", :method => "post", :id => "setForgotPasswordForm") do %>

                <%= hidden_field_tag "forgotID", params[:forgotID] %>

                <fieldset>
                
                  <div class="row">
                    <div class="center-block"> <%= image_tag "toplogo.png", class: 'profile-img img-responsive' %></div><hr>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                     
                      <div class="form-group">
                        <label><%=Labels::NEW_PASSWORD_LABEL%>:</label>
                        <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
                          <%= password_field_tag :newPassword, params[:newPassword], :class => "form-control", :maxlength => 35, :required => true%>
                        </div>
                      </div>

                      <div class="form-group">
                        <label><%=Labels::CONFIRM_PASSWORD_LABEL%>:</label>
                        <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
                          <%= password_field_tag :confirmPassword, params[:confirmPassword], :class => "form-control", :maxlength => 35, :required => true%>
                        </div>
                      </div>

                      <div class="form-group">
                        <%= submit_tag Labels::SUBMIT_BUTTON_LABEL, :onclick => "return validateForm()", :class => "btn btn-success" %>
                      </div>

                    </div>
                  </div>

                </fieldset>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    
  </div>

  <script type="text/javascript">
    function validateForm(){
      if(!formValidation('setForgotPasswordForm'))return false;

      var newPassword = $("#newPassword").val();
      var confirmPassword = $("#confirmPassword").val();
      var passExpression = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/
      
      if(newPassword.length < 8){
          getWarningAlert("New Password should contain atleast eight characters");
          $("#newPassword").focus();
        return false;
      } 

      if(!passExpression.test(newPassword)){
          getWarningAlert("New Password should contain atleast one number, one letter and one special character");
          $("#newPassword").focus();
        return false;
      }
      
      if(newPassword != confirmPassword){
          getWarningAlert("New and Confirm Password does not match");
          $("#confirmPassword").focus();
        return false;
      }
      return true;
    }
  </script>

</body>