<%= form_for(@country, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @country.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h4>

      <ul>
      <% @country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <h3 style="text-align: center;">Add Districts</h3>

   <%= f.nested_fields_for :districts do |builder| %>
     <%= render "district_fields", :f => builder %>
   <% end %>
   <%= f.add_nested_fields_link :districts %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>
