<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3><%= @country.name.titleize %> Districts</h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>

           <div class="row">
              <% flash.each do |name, msg| %>
                  <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <%= msg %>
                  <% end %>
                <% end %>
              </div>
            
            <div  action="" method="post" name="" id="" class="form-horizontal form-label-left">

              <div align="center" class="row" >
                <h3 id="op"></h3>
              </div>

              <div>
            

            <div class="pull-right">
              <%= link_to countries_path, class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-list-alt"></span>
                Back
              <% end %>
              <%= link_to edit_country_path(@country), class: 'btn btn-success' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                Edit Country
              <% end %>
            </div>
      

           
                
              </div>


              <div class="row">
                
                
              </div>


                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover officers">
                    <thead>
                      <tr>
                            <th>Name</th>
                            <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @country.districts.each do |district| %>
                           <tr>
                             <td><%= district.name.titleize %></td>
                             <td><%= link_to 'Edit & Add Towns', edit_country_district_path(@country,district),class: "btn btn-info" %></td>
                             <td><%= link_to 'Delete', country_district_path(@country,district), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
                            </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>

              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</div>
