.tree
  li
    position: relative
    list-style-type: none
    margin: 10px
    &::before
      position: absolute
      top: -7px
      left: -20px
      border-bottom: 1px solid #ccc
      border-left: 1px solid #ccc
      border-radius: 0 0 0 0px
      width: 20px
      height: 15px
      content: ""
    &::after
      position: absolute
      top: 8px
      left: -20px
      border-top: 1px solid #ccc
      border-left: 1px solid #ccc
      border-radius: 0px 0 0 0
      width: 20px
      height: 100%
      content: ""
    &:last-child
      &::after
        display: none
      &:before
        border-radius: 0 0 0 5px

ul.tree > li:first-child
  &::before
    display: none
  &::after
    border-radius: 5px 0 0 0

.tree li span
  border: 1px #ccc solid
  border-radius: 5px
  padding: 2px 5px
  &:hover, &:focus
    border: 1px solid #000
    background: #ccc
    color: #000
    + ul li span
      border: 1px solid #000
      background: #ccc
      color: #000
  &:hover + ul li::after, &:focus + ul li::after, &:hover + ul li::before
    border-color: #000

  &:focus + ul
    li::before .tree li a:hover + ul::before, &::before .tree li a:hover + ul ul::before, ul::before
      border-color: #000

.tree-new-area
  @extend .small !optional
  margin-left: 5px
  cursor: pointer
  line-height: 13px

.tree-input
  border: 0
  border-bottom: 1px solid grey
  &:focus
    outline: none
