<div class="page-header">
  <%= link_to towns_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_town_path(@town), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show town</h1>
</div>

<dl class="dl-horizontal">
  <dt>District:</dt>
  <dd><%= @town.district %></dd>

</dl>
