<% params[:kioskAcctualModel] = params[:kioskModel].to_s + "-" + params[:kioskSerialNumber].to_s %>
<% params[:assignTo] = params[:agentID] %>
<% buttonLabel = params[:userAction].to_i == Constants::KIOSK_ASSIGN_STATUS ? Labels::ASSIGN_BUTTON_LABEL : Labels::DEASSIGN_BUTTON_LABEL %>
<% pageLabel = params[:userAction].to_i == Constants::KIOSK_ASSIGN_STATUS ? Labels::ASSIGN_NEW_KIOSK_LABLE : Labels::DE_ASSIGN_KIOSK_LABLE %>
<% disabledStatus = params[:userAction].to_i == Constants::KIOSK_ASSIGN_STATUS ? false : true %>
<% assignementHistoryResponse = KioskAgent.getAssignementHistory(params[:koiskMasterID]) %>
<% agentsList = params[:userAction].to_i == Constants::KIOSK_ASSIGN_STATUS ? KioskAgent.getAssignKioskAgentsList : KioskAgent.getDeAssignKioskAgentsList %>

<style type="text/css">
  .history {
    position: absolute;
    right: -115px;
    top: 10px;
    text-decoration: underline;
  }
</style>

<div class="right_col" role="main">
  <div class="">

    <div class="page-title">
      <div class="title_left"><h3><%= pageLabel %></h3></div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content" style="margin-bottom: -20px;">
                
            <%= form_tag("/AssignedNewKiosk", :method => "post", :id => 'assignNewKioskForm', :class => 'form-horizontal form-label-left') do %>
              
              <%= hidden_field_tag :userAction, params[:userAction] %>
              <%= hidden_field_tag :koiskMasterID, params[:koiskMasterID] %>
              <%= hidden_field_tag :kioskModel, params[:kioskModel] %>
              <%= hidden_field_tag :kioskSerialNumber, params[:kioskSerialNumber] %>
              <%= hidden_field_tag :functionalStatus, params[:functionalStatus] %>
              <%= hidden_field_tag :qrCodeNo, params[:qrCodeNo] %>
              <%= hidden_field_tag :agentID, params[:agentID] %>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Kiosk Model</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :kioskAcctualModel, params[:kioskAcctualModel], class: 'form-control', :required => true, :disabled => true %>
                  <% if  params[:userAction].to_i == Constants::KIOSK_ASSIGN_STATUS %>
                    <%= link_to Labels::ASSIGNEMENT_HISTORY_LABEL, '#', :onclick => "getAssignementHistory()", :class => "history" %>
                  <% end %>  
                </div>
              </div>
             
              <% if  params[:userAction].to_i == Constants::KIOSK_ASSIGN_STATUS %>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Assign Date</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= text_field_tag :assignDate, Date.today, :class => 'form-control', :required => true, :disabled => true %>
                  </div> 
                </div>
              <% end %>  

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Assign To</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= select_tag "assignTo", options_for_select(agentsList, params[:assignTo]), :class=>'form-control', :required => true, :disabled => disabledStatus %>
                </div> 
              </div>

              <% if  params[:userAction].to_i == Constants::KIOSK_ASSIGN_STATUS %>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Print QR Code</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= check_box_tag "isPrintQRCode", Constants::BOOLEAN_TRUE_LABEL, false, :class=>'form-control', :style => "float: left; width: 25px; height: 25px;" %>
                  </div> 
                </div>
              <% end %>  

              <% if  params[:userAction].to_i == Constants::KIOSK_DEASSIGN_STATUS %>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Condition</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= select_tag "functionalStatus", options_for_select(Constants::KIOSKS_CONDITIONS_OPT, params[:functionalStatus]), :class=>'form-control', :required => true %>
                  </div> 
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Comments</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= text_area_tag :comments, params[:comments], class: 'form-control', :required => true %>
                  </div> 
                </div>
              <% end %>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <%= submit_tag buttonLabel, :class => 'btn btn-success btn-round pull-left', :onclick => "return validate()" %>
                  <%= link_to Labels::BACK_BUTTON_LABEL, 'AssignKiosk', :class => "btn btn-default btn-round" %>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="assignementHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  vertical-align-center">
      <div class="modal-content" style="width: 60%">
          
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= Labels::ASSIGNEMENT_HISTORY_LABEL %></h4>
        </div>
        
        <div class="modal-body">
          <div class="table-responsive" style="height: 250px;">
             
            <table id="fixTable" class="table">
              
              <thead>
                <tr>
                  <th class="text-left rowClass" width="10%">From Date</th>
                  <th class="text-left rowClass" width="10%">To Date</th>
                  <th class="text-left rowClass" width="25%">MF Assigned</th>
                  <th class="text-left rowClass" width="15%">Status</th>
                  <th class="text-left rowClass">Comments</th>
                </tr>
              </thead>

              <tbody>
                <% if assignementHistoryResponse.Response_Code == Constants::SUCCESS_RESPONSE_CODE %>
                    <% assignementHistoryResponse.object.each do |kiosk|%>
                    <tr>
                      <td class="text-left noBreak rowClass"><%= Utility.getFormatedDateNoTime(kiosk.created_at.to_s) %></h5></td>
                      <td class="text-left noBreak rowClass"><%= Utility.getFormatedDateNoTime(kiosk.updated_at.to_s) %></h5></td>
                      <td class="text-left noBreak rowClass"><%= Utility.getAgentFullName(Utility.getCurrentAgent(kiosk.agent_id)) %></h5></td>
                      <td class="text-left noBreak rowClass" style="color: <%= KioskMaster.getKioskStatusColor(kiosk.functional_status) %>;"><%= KioskMaster.getKioskStatus(kiosk.functional_status) %></h5></td>
                      <td class="text-left noBreak rowClass"><%= kiosk.comments %></h5></td>
                    </tr>  
                    <% end %>
                <% else %>
                  <tr><td colspan="6" class="text-left"><%= Constants::NO_RECORD_FOUND_LABEL %></h5></td></tr>
                <% end %>
               
              </tbody>

            </table>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-round btn-success" data-dismiss="modal" onclick=confirmDialogClicked(false)>OK</button>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  function validate(){
    if(!formValidation('assignNewKioskForm'))return false;
  }
  <% if params[:isPrintQRCode].present? %>
    $("#isPrintQRCode").prop("checked", true);
  <% end %>

  function getAssignementHistory(){
    $("#assignementHistory").modal(); 
  }
</script>