<style type="text/css">
  .btn-new {
    margin-left: 15px;
    height: 30px;
    line-height: 15px;
    top: 5px;
    z-index: 0;
  }
  .form-control-new{
    width: 180px;
    margin-right: 10px;
  }

  .searchbox{
    width: 19%!important;
  }

  label{
    margin-bottom: 0px!important;
  }
</style>
<div class="right_col" role="main">
  <div class="">
   
    <div class="page-title">
      <div class="title_left"><h3 style="float:left;"><%= Constants::KIOSKS_ROLE %></h3></div>
      <div class="title_right">
      
        <div class="text-right"></div>

        <%= link_to Labels::ADD_NEW_KIOSK_LABLE, 'NewKiosk', class: "btn btn-success btn-round", :style => "position: relative; float: right;" %>

        <%= form_tag("/SearchKiosk", :method => "post", :id => "searchKioskForm", :style => "float: right;", :class => "form-horizontal form-label-left") do %>
          <div style="display: inline-flex; float: right;">
            <%= text_field_tag :kioskID, params[:kioskID], :class => "form-control form-control-new", :required => true, :placeholder => "Search Kiosk ID", :maxlength => 20 %>
            <%= submit_tag Labels::SEARCH_BUTTON_LABEL, :class => "btn btn-success btn-round ", :onclick => "return validateSearch()" %> 
           <span style="font-size: 22px; padding: 0 8px 0 4px; color: #ccc;">|</span> 
          </div>
        <% end %>

      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
          <div class="x_content" style="padding: 0px!important;">

            <div class="search" style="margin-bottom: 15px;"> 

              <div class="searchbox">
                <label>Total Kiosks: <%= KioskMaster.getTotalKiosks %></label>
              </div>

              <% onFieldKiosks = KioskMaster.getTotalOnFieldKiosks.to_i %>
              <div class="searchbox">
                <label>On Field Kiosks: <%= onFieldKiosks %></label>
              </div>

              <div class="searchbox">
                <label>Functional in-Store: <%= (KioskMaster.getTotalFunctionalKiosks.to_i) - (onFieldKiosks.to_i) %></label>
              </div>

              <div class="searchbox">
                <label>Non-Functional in-Store: <%= KioskMaster.getTotalNonFunctionalKiosks %></label>
              </div>

              <div class="searchbox" style="text-align: right;">
                <label>Terminated Kiosks: <%= KioskMaster.getTotalTerminatedKiosks %></label>
              </div>
              
            </div> 

            <div class="table-responsive" id="parent">
               
              <table id="fixTable" class="table">
                
                <thead>
                  <tr>
                    <th class="text-left">Koisk ID</th>
                    <th class="text-left">Purchase Date</th>
                    <th class="text-left">Assigned To</th>
                    <th class="text-center">Assigned Date</th>
                    <th class="text-center">Action</th>
                    <th class="text-center">Print QR Code</th>
                  </tr>
                </thead>

                <tbody>
                  <% if @kiosksList.present? %>
                    
                    <% @kiosksList.each do |koisk| %>
                      <% koiskAssignedResponse = KioskAgent.getAssignedAgent(koisk.id) %>
                      <tr>
                        <td class="text-left"><%= koisk.model_no %>-<%= koisk.serial_no %></h5></td>
                        <td class="text-left"><%= Utility.getFormatedDateNoTime(koisk.purchase_date.to_s) %></td>
                        
                        <% if koiskAssignedResponse.Response_Code == Constants::SUCCESS_RESPONSE_CODE %>
                          <% currentAgent = koiskAssignedResponse.user %>
                          <td class="text-left"><%= Utility.getAgentFullName(currentAgent) %></td>
                          <td class="text-center"><%= Utility.getFormatedDateNoTime(koiskAssignedResponse.date.to_s) %></td>
                          <td class="text-center"><%= button_tag Labels::DEASSIGN_BUTTON_LABEL, :class => "btn btn-danger btn-round btn-new", onclick: "deAssignKiosk(#{koisk.id}, '#{koisk.model_no}', '#{koisk.serial_no}', #{currentAgent.id})" %></td>
                        <% else %>
                          <td class="text-left">N/A</td>
                          <td class="text-center">N/A</td>
                          <td class="text-center"><%= button_tag Labels::ASSIGN_BUTTON_LABEL, :class => "btn btn-success btn-round btn-new", onclick: "assignKiosk(#{koisk.id}, '#{koisk.model_no}', '#{koisk.serial_no}', #{koisk.functional_status}, '#{koisk.qr_code_no}')" %></td>
                        <% end %>  
                        
                        <td class="text-center">




                          <%= link_to "Print Qr Code",printcode_path(koisk.id),:class => "btn btn-warning btn-round btn-new", target: :_blank  %></td>
                      </tr>
                    <% end %>

                  <% else %>  
                    <tr><td colspan="6" class="text-left"><%= Constants::NO_RECORD_FOUND_LABEL %></h5></td></tr>
                  <% end %>
                </tbody>

              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  function assignKiosk(koiskMasterID, kioskModel, kioskSerialNumber, functionalStatus, qrCodeNo){
    var name = ["userAction", "koiskMasterID",  "kioskModel", "kioskSerialNumber", "functionalStatus", "qrCodeNo"];
    var values = ["<%= Constants::KIOSK_ASSIGN_STATUS%>", koiskMasterID, kioskModel, kioskSerialNumber, functionalStatus, qrCodeNo];
    openWindowWithPost("/AssignNewKiosk", name, values);
  }

  function deAssignKiosk(koiskMasterID, kioskModel, kioskSerialNumber, agentID){
    var name = ["userAction", "koiskMasterID",  "kioskModel", "kioskSerialNumber", "agentID"];
    var values = ["<%= Constants::KIOSK_DEASSIGN_STATUS%>", koiskMasterID, kioskModel, kioskSerialNumber, agentID];
    openWindowWithPost("/AssignNewKiosk", name, values);
  }

  function reGenerateKioskQR(koiskMasterID, kioskModel, kioskSerialNumber, agentID){
    var name = ["koiskMasterID",  "kioskModel", "kioskSerialNumber", "agentID"];
    var values = [koiskMasterID, kioskModel, kioskSerialNumber, agentID];
    openWindowWithPost("/ReGenerateKioskQRCode", name, values);
  } 
</script>

<script type="text/javascript">
  
  function validateSearch(){
    if(!formValidation('searchKioskForm'))return false;
  }

  <% if params[:downloadStatus].present? %>
    $(window).load(function() {
      var name = ["kioskModel", "kioskSerialNumber", "agentName", "qrCodeText"];
      var values = ["<%= params[:kioskModel] %>", "<%= params[:kioskSerialNumber] %>", "<%= params[:agentName] %>", "<%= params[:qrCodeText] %>"];
      openWindowWithPost("/DownloadKioskQRCode", name, values);
    });
  <% end %>

</script>