<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%= Labels::ADD_NEW_KIOSK_LABLE %></h3></div></div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content" style="margin-bottom: -20px;">
                
            <%= form_tag("/CreateKiosk", :method => "post", :id => 'addNewKioskForm', :class => 'form-horizontal form-label-left') do %>
              
              <%= hidden_field_tag :kioskModel, params[:kioskModel] %>
              <%= hidden_field_tag :kioskSerialNumber, params[:kioskSerialNumber] %>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Kiosk Model</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :kioskAcctualModel, params[:kioskAcctualModel], class: 'form-control', :required => true, :disabled => true %>
                </div>
              </div>
             
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Purchase Date</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= date_field_tag :purchaseDate, params[:purchaseDate], :class => 'form-control', :required => true, :value => params[:purchaseDate] %>
                </div> 
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Kiosks Quantity</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= text_field_tag :kiosksQuantity, params[:kiosksQuantity], class: 'form-control number', :required => true, :maxlength => 8 %>
                </div> 
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Kiosks Serial Number</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p id="setSerialNumberLabel" style="margin: 0px; line-height: 35px;"></p>
                </div> 
              </div>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <%= submit_tag Labels::SAVE_BUTTON_LABEL, :class => 'btn btn-success btn-round pull-left', :onclick => "return validate()" %>
                  <%= link_to Labels::BACK_BUTTON_LABEL, 'AssignKiosk', :class => "btn btn-default btn-round" %>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  
  function validate(){
    if(!formValidation('addNewKioskForm'))return false;
  }

  <% if params[:isPrintQRCode].present? %>
    $("#isPrintQRCode").prop("checked", true);
  <% end %>

  $("#kiosksQuantity").keyup(function(){
    setSerialNumber();
  });

  function setSerialNumber(){
    var kioskQuantity = $("#kiosksQuantity").val() == "" ? 0 : parseInt($("#kiosksQuantity").val());
    var kioskSerailNumber = parseInt("<%=params[:kioskSerialNumber]%>");

    var text = "<%=params[:kioskModel]%>" + "-" + convertToTenDigit(kioskSerailNumber)
    text = text + "  To  "
    text = text + "<%=params[:kioskModel]%>" + "-" + convertToTenDigit(kioskSerailNumber + kioskQuantity)
    $("#setSerialNumberLabel").text(text);
  }

  function convertToTenDigit(number){
      numberLength = parseInt(number.toString().length);
      appendUpTo = 10 - numberLength;
      actualNumber = number;
      for(i = 0;i<appendUpTo;i++){
        actualNumber = "0" + actualNumber;
      }
    return actualNumber;
  }

</script>