<%= form_for(@review, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @review.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h4>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :agent, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :agent, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :officer, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :officer, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :agent_present, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :agent_present, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :uniform, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :uniform, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :wifi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :wifi, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :replaced, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :replaced, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :clean, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :clean, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :issue, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :issue, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :summary_type, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :summary_type, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :summary_text, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :summary_text, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
