

<div class="right_col" role="main">

 <div class="page-title"><div class="title_left"><h3><%= @agent.name.titleize %> Reviews</h3></div></div>
  <div class="clearfix"></div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
                  <th>Officer</th>
                  <th>Agent present</th>
                  <th>Uniform</th>
                  <th>Wifi</th>
                  <th>Replaced</th>
                  <th>Clean</th>
                  <th>Issue</th>
                  <th>Summary type</th>
                  <th>Summary text</th>
            </tr>
          </thead>

          <tbody>
            <% @reviews.each  do |review| %>
                 <tr>
                             <td><%= link_to review.officer.name.titleize,review.officer %></td>
                             <td><%= review.agent_present %></td>
                             <td><%= review.uniform %></td>
                             <td><%= review.wifi %></td>
                             <td><%= review.replaced %></td>
                             <td><%= review.clean %></td>
                             <td><%= review.issue %></td>
                             <td><%= review.summary_type %></td>
                             <td><%= review.summary_text %></td>
            <% end %>
          </tbody>
        </table>
      </div>

</div>