<div class="page-header">
  <%= link_to reviews_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_review_path(@review), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show review</h1>
</div>

<dl class="dl-horizontal">
  <dt>Agent:</dt>
  <dd><%= @review.agent %></dd>

  <dt>Officer:</dt>
  <dd><%= @review.officer %></dd>

  <dt>Agent present:</dt>
  <dd><%= @review.agent_present %></dd>

  <dt>Uniform:</dt>
  <dd><%= @review.uniform %></dd>

  <dt>Wifi:</dt>
  <dd><%= @review.wifi %></dd>

  <dt>Replaced:</dt>
  <dd><%= @review.replaced %></dd>

  <dt>Clean:</dt>
  <dd><%= @review.clean %></dd>

  <dt>Issue:</dt>
  <dd><%= @review.issue %></dd>

  <dt>Summary type:</dt>
  <dd><%= @review.summary_type %></dd>

  <dt>Summary text:</dt>
  <dd><%= @review.summary_text %></dd>

</dl>
