<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%= Constants::MF_SUGGESTIONS_ROLE %></h3></div></div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
          <div class="x_content" style="padding: 0px!important;">

            <div class="search">
              <%= form_tag("/MFFeedbacks", method: "post", id: 'suggestionsForm', class: 'form-horizontal form-label-left') do %>
              
                <div class="searchbox">
                  <label>Select</label>
                  <%= select_tag "suggestionType", options_for_select(Constants::SUGGESTION_TYPES_LIST,params[:suggestionType]),:class=>'form-control', :required => true %>
                </div>

                <div class="searchbox">
                  <label>From</label>
                  <%= date_field :from_date, params[:from_date1], :class=>'form-control', :value => params[:from_date], :required => true %>
                </div>

                <div class="searchbox">
                  <label>To</label>
                  <%= date_field :to_date, params[:to_date1], :class=>'form-control', :value => params[:to_date], :required => true %>
                </div>
               
                <div class="searchbox">
                  <%= submit_tag "Submit" , class: 'btn btn-success btn-round', :onclick => "return validate()", style: "margin: 0px;" %>
                </div>

              <% end %>
            </div>  

            <% if @suggestionList.present? %>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="">
                    <div class="x_title" style="padding: 0px!important;">
                      <div class="table-responsive" id="parent2" style="margin-top: 15px;">
                          
                        <table id="fixTable" class="table">
                          <thead>
                            <tr>
                              <th class="text-left rowClass">Date</th>
                              <th class="text-left rowClass">MF Name</th>
                              <th class="text-center rowClass">MF Phone</th>
                              <th class="text-center rowClass">Type</th>
                              <th class="text-center rowClass">Feedback</th>
                            </tr>
                          </thead>
                                
                          <tbody>
                            <% @suggestionList.each do |suggestion| %>
                              <tr>
                                <td class="text-left rowClass"><%= Utility.getFormatedDateWithoutSec(suggestion['created_at'].to_s) %></td>
                                <td class="text-left rowClass"><%= suggestion['name'] %> <%= suggestion['last_name'] %></td>
                                <td class="text-center rowClass"><%= suggestion['phone'] %></td>
                                <td class="text-center rowClass"><%= suggestion['type'] %></td>
                                <td class="text-left rowClass"><%= Suggestion.parseSuggestion(suggestion['user_comments']) %></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <% end %> 

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function validate(){
    if(!formValidation('suggestionsForm'))return false; // form does not submit
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>