<%shownDate = "( From " + Utility.getFormatedDateNoTime(params[:from_date].to_s) + " To " + Utility.getFormatedDateNoTime(params[:to_date].to_s) + " )"%>
<style type="text/css">
  .formClass{
    margin-bottom: -15px;
  }
</style>


<div class="right_col" role="main">
  <div class="">

    <div class="page-title">
      <div class="title_left"><h3><%=Constants::TRACK_CUSTOMER_ROLE%></h3></div>
      <div class="title_right"><h3 style="font-size: 16px; float: right"><%=shownDate%></h3></div>
    </div>

    <div class="clearfix"></div>
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
          <div class="x_content" style="padding: 0px!important;">
            
            <div class="search"> 
              <%= form_tag '/TrackCustomer', :method => 'post', :id=>"trackCustomerForm", :class=>"form-horizontal form-label-left formClass"  do %>
              
                <div class="searchbox">
                  <label>Service</label>
                  <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %>
                    <%= select_tag "transactionType", options_for_select(Constants::ANALYTIC_REPORTS_SEL_SERVICE_OPT, params[:transactionType]),:class=>'form-control', :id=>'serviceSelected' %>
                  <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>
                    <%= select_tag "transactionType", options_for_select(UgandaConstants::ANALYTIC_REPORTS_SEL_SERVICE_OPT, params[:transactionType]),:class=>'form-control', :id=>'serviceSelected' %>
                  <% end %>
                </div>
              
                <div class="searchbox">
                  <label>Company</label>
                  <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %>
                    <%= select_tag "operator", options_for_select(Constants::ANALYTIC_REPORTS_SEL_SUB_TYPE_OPT, params[:operator]),:class=>'form-control', :id => "operatorList" %>
                  <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>
                    <%= select_tag "operator", options_for_select(UgandaConstants::ANALYTIC_REPORTS_SEL_SUB_TYPE_OPT, params[:operator]),:class=>'form-control', :id => "operatorList" %>
                  <% end %>
                </div>

                <div class="searchbox">
                  <label>User Type</label>
                  <%= select_tag "userTypeCommReport", options_for_select(Constants::ANALYTIC_REPORTS_SEL_USER_TYPE_OPT, params[:userTypeCommReport]),:class=>'form-control' %>
                </div>

                <div class="searchbox">
                  <label>Phone</label>
                  <%= text_field_tag :phoneCommReport, params[:phoneCommReport], :class =>'form-control number', :maxlength => 9, :placeholder => "Phone number", :id => "phoneDivCommReport" %>
                </div>
          
                <div class="searchbox">
                  <label>From</label>
                  <%= date_field :from_date, params[:from_date1], :class=>'form-control', :value => params[:from_date], :required => true %>
                </div>

                <div class="searchbox">
                  <label>To</label>
                  <%= date_field :to_date, params[:to_date1], :class=>'form-control', :value => params[:to_date], :required => true  %>
                </div>
          
                <div class="searchbox">
                  <%= submit_tag "Show", class: 'btn btn-success btn-round', onclick: "return validate()", style: "margin: 0px;" %>
                </div>

              <% end %>
            </div>  
           

            <% if @txnHeader.present? %>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="">
                    <div class="x_title" style="padding: 0px!important;">
                      <div class="table-responsive" id="parent2" style="margin-top: 15px;">
                          
                        <table id="fixTable" class="table">
                            
                          <thead>
                            <tr>
                              <th class="text-left rowClass">Customer Number</th>
                              <th class="text-left rowClass">Service Type</th>
                              <th class="text-left rowClass">Sub Type</th>
                              <th class="text-right rowClass">Sum of Txn Amount</th>
                              <th class="text-right rowClass">Total Txn Count</th>
                            </tr>
                          </thead>
                                
                          <tbody>
                            <% @txnHeader.each do |header| %>
                              <tr>
                                <td class="text-left rowClass"><%= header['account_id'] %></td>
                                <td class="text-left rowClass"><%= Utility.getServiceTypeDisplayValue(header['service_type']) %></td>
                                <td class="text-left rowClass"><%= Utility.getServiceTypeDisplayValue(header['sub_type']) %></td>
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(header['amount']) %></td>
                                <td class="text-right rowClass"><%= header['count'] %></td>
                              </tr>
                            <% end %>
                          </tbody>
                           
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <% end %> 

          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

<%= javascript_include_tag('txnReport.js') %>
<%= javascript_include_tag('analytics.js') %>
<script type="text/javascript">
  function validate(){
    if(!formValidation('trackCustomerForm'))return false;
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>