<div class="right_col" role="main">
  <div class="">

    <div class="page-title">
      <div class="title_left"><h3><%=Constants::LEASING_FEE_ROLE%></h3></div>

      <div class="title_right">
        <div class="text-right"><a href="/NewLeasingFeeSetup" class="btn btn-success btn-round"> New Leasing Fee Setup</a></div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div  class="table-responsive" id="parent">
               <table id="fixTable" class="table">

                <thead>
                  <tr>
                    <th class="text-left">ID</th>
                    <th class="text-right">Leasing Fee (<%= Utility.getCurrencyLabel %>)</th>
                    <th class="text-center">Applicable From</th>
                  </tr>
                </thead>

                <tbody>
                  <% if @leasingFees.present? %>
                    <% @leasingFees.each do |fee|%>   
                      <tr>
                        <th class="text-left"><%= fee.id %></th>
                        <th class="text-right"><%= Utility.getFormatedAmount(fee.fee_amount) %></th>
                        <th class="text-center"><%= Utility.getFormatedDateNoTime(fee.applicable_from.to_s) %></th>
                      </tr>
                    <% end%>  
                  <% else %>
                      <tr><th class="text-left" colspan="3"><%= Constants::NO_RECORD_FOUND_LABEL %></th></tr>
                  <% end %>  
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>


