<div class="right_col" role="main">
  <div class="">

    <div class="page-title"><div class="title_left"><h3><%=Constants::LEASING_FEE_ROLE%></h3></div></div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
                
            <%= form_tag("/CreateLeasingFeeSetup", method: "post", id: 'leasingFeeSetupForm' , class: 'form-horizontal form-label-left') do %>
              
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Amount</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= text_field_tag :amount, params[:amount], class: 'form-control number', :required => true, :maxlength => 8 %>
                </div>
              </div>
             
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 text-right">Applicable From</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= date_field :applicable_from, params[:applicable_from1], :class=>'form-control', :value => params[:applicable_from], :required => true %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                  <%= submit_tag "Create" , class: 'btn btn-success btn-round pull-left',:onclick => "return validate()" %>
                  <%= link_to 'Back', 'LeasingFeeSetup', class: "btn btn-default btn-round"%>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function validate(){
    if(!formValidation('leasingFeeSetupForm'))return false;
    

       
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>