<style type="text/css">
  .formClass{
    margin-bottom: -18px;
  }
</style>

<div class="right_col" role="main">
 
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3><%=Constants::COMM_PAYMENT_REPORT_LABEL%></h3></div>
      <div class="title_right"><h3 style="font-size: 16px; float: right"><%= " Month : " + params[:month] + " " + params[:year] %></h3></div>
    </div>
  </div>
 
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
        <div class="x_content" style="padding: 0px!important;">
         
          
          <div class="search">
            <%= form_tag("/CommissionPaymentDetails", method: "post", class: 'form-label-left formClass') do %>

              <%= hidden_field_tag "transactionType", Constants::COMM_PAYMENT_REPORT_LABEL %>

              <div class="searchbox">
                <label>Month</label>
                <%= select_tag "month", options_for_select(Constants::MONTH_LIST, params[:month]),:class=>'form-control' %>
              </div>

              <div class="searchbox">  
                <label>Year</label>
                <%= select_tag "year", options_for_select(TxnHeader.getYearsList, params[:year]),:class=>'form-control'%>
              </div>
          
              <div class="searchbox" style="width: 67px!important;">  
                <%= submit_tag "Show", class: 'btn btn-success btn-round', style: "margin: 0px;" %>
              </div>

              <div class="searchbox" style="width: 67px!important;"> 
                <a href="/TransactionHistory" class='btn btn-success btn-round', style="margin: 0px;">Back</a>
              </div>
            <% end %>
          </div>  
          

          <% if @profitLoseList.present? %>
            
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                
                <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                  <a id ="pdfLink" onclick="sendPostRequest()"><%=image_tag('pdf.png',:class => 'pdf')%></a>
                </div>
                
                <div class="">
                  <div class="x_title" style="padding: 0px!important;">
                    <div class="table-responsive" id="parent1" style="margin-top: 15px;">
                      <table id="fixTable" class="table">
                        <thead>
                          <tr>
                            <th class="text-left noBreak rowClass">Date</th>
                            <th class="text-left noBreak rowClass">MF Phone</th>
                            <th class="text-left  rowClass">MF Name</th>
                            <th class="text-center noBreak rowClass">Acc Balance</th>
                            <th class="text-right rowClass">Credit</th>
                            <th class="text-right rowClass">Penalty</th>
                            <th class="text-right noBreak rowClass">Gross Comm</th>
                            <th class="text-right noBreak rowClass">Withholding Tax(%)</th>
                            <th class="text-right noBreak rowClass">Withholding Amount</th>
                            <th class="text-right noBreak rowClass">Net Comm</th>
                            <th class="text-right noBreak rowClass">Paid Comm</th>
                          </tr>
                        </thead>
                                    
                        <tbody>
                          <%  
                            total = 0
                            userID = Array.new
                            commissionBalance = Array.new
                            loanBalance = Array.new
                            penaltyBalance = Array.new
                            taxPercentage = Array.new
                            taxAmount = Array.new
                            headerId = Array.new
                            i = 0
                            counter = 0
                            commPaidDate = Constants::BLANK_VALUE
                          %>
                          <%@profitLoseList.each do |profitLose|%>
                            <%
                              commPaidDate = profitLose[:txn_date]
                              userID[i] = profitLose[:user_id]
                              commissionBalance[i] = TxnHeader.my_money(profitLose[:total_comm]).to_f
                              loanBalance[i] = TxnHeader.my_money(profitLose[:loan]).to_f
                              penaltyBalance[i] = TxnHeader.my_money(profitLose[:penalty]).to_f
                              taxPercentage[i] = TxnHeader.my_money(profitLose[:tax_percentage]).to_f
                              taxAmount[i] = TxnHeader.my_money(profitLose[:total_tax]).to_f
                              headerId[i] = profitLose[:header_id]
                              i=i+1
                            %>
                            
                            <tr>
                                <td class="text-left noBreak rowClass"><%=profitLose[:txn_date].strftime("%Y-%m-%d %H:%M")%></td>
                                <td class="text-left rowClass"><%=profitLose[:phone]%></td>
                                <td class="text-left noBreak rowClass overflowClass" title="<%=profitLose[:name]%>  <%=profitLose[:last_name]%>"><%=profitLose[:name]%>  <%=profitLose[:last_name]%></td>
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(profitLose[:acc_balance]) %></td>
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(profitLose[:loan]) %></td>
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(profitLose[:penalty]) %></td>
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(profitLose[:total_comm]) %></td>
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(profitLose[:tax_percentage]) %></td>
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(profitLose[:total_tax]) %></td>
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount((profitLose[:total_comm].to_f - profitLose[:total_tax].to_f)) %></td>
                                <td class="text-right rowClass"><%= Utility.getFormatedAmount(CommissionManager.getReportPaidCommisson(profitLose[:loan],profitLose[:penalty],(profitLose[:total_comm].to_f - profitLose[:total_tax].to_f))) %></td>
                            </tr>

                            <%total = total.to_f + ((profitLose[:total_comm].to_f - profitLose[:total_tax].to_f)).to_f%>


                          <%end%>
                          <% counter = i %>   
                        </tbody>

                        <tfoot style="position: relative; top: 20px;">
                          <tr>
                            <th>Total</th>
                            <th class="text-left"></th>
                            <th class="text-right"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-right"><%= Utility.getFormatedAmount(total)%></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                          </tr>
                        </tfoot>
                      
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          <% end %> 

        </div>
      </div>
    </div>  
  </div>
</div>

<!-- This is used to disable the anchor tag after one click -->
<script type="text/javascript">
  $(document).ready(function(){ 
    $("#pdfLink").hover(function() {
      $(this).css('cursor','pointer');
    }, function() {
        $(this).css('cursor','auto');
    });
  });
</script>

<script type="text/javascript">
  function sendPostRequest(){
    var name = ["commPaidDate",  "userId", "commissionBalance", "loanBalance", "penaltyBalance", "taxPercentage", "taxAmount", "headerId", "counter", "month", "year"];
    var values = ["<%=commPaidDate%>", <%=userID%>, <%=commissionBalance%>, <%=loanBalance%>,  <%=penaltyBalance%>, <%=taxPercentage%>, <%=taxAmount%>, <%=headerId%>, <%=counter%>, "<%=params[:month]%>", "<%=params[:year]%>"];
    openWindowWithPost("/PDFDownload", name,values);
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>
