%html
%head
  %title AredAdmin
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body
  = flash_messages
  - if current_user
    = render 'backend/shared/navi'
    .container
      .page-header
        %h1
          = controller_name.capitalize
          %small
            \-
            = action_name.capitalize
      = yield
  - else
    = yield

  = yield :javascript
