   
    <footer>
      <div class="pull-right"></div>
      <div class="clearfix"></div>
    </footer>

    <script type="text/javascript">
      // This variable used in the analytic.js file
      var singleUserType = "<%=Constants::CREDIT_REPORT_USER_TYPE_OPT[2]%>"; 
      var revenueReportLabel = "<%=Constants::REVENUE_REPORT_LABEL%>";
      var creditReportLabel = "<%=Constants::MF_CREDIT_REPORT_LABEL%>";
      var airtimeLabel = "<%=Constants::MTOPUP_LABEL%>";

      //These variables are used in the txnReport.js file
      var taxReportLabel = "<%=Constants::TAX_REPORT_LABEL%>";
      var commPayReportLabel = "<%=Constants::COMM_PAYMENT_REPORT_LABEL%>";
      var penaltyReportLabel = "<%=Constants::PENALTY_REPORT_LABEL%>";
      var pandLreportForm = "<%=Constants::PROFIT_AND_LOSS_REPORT_LABEL%>";
      var txnType = "<%=params[:transactionType]%>";
      var whichUser = "<%=params[:whichUser]%>";
    </script>
    
    <%= javascript_include_tag('adminRolesCheck.js') %>
    <%= javascript_include_tag('application.js') %>
    <%= javascript_include_tag('bootstrap.min.js') %>
    <%= javascript_include_tag('fastclick.js') %>
    <%= javascript_include_tag('nprogress.js') %>
    <%= javascript_include_tag('Chart.min.js') %>
    <%= javascript_include_tag('jquery.sparkline.min.js') %>
    <%= javascript_include_tag('raphael.min.js') %>
    <%= javascript_include_tag('morris.min.js') %>
    <%= javascript_include_tag('gauge.min.js') %>
    <%= javascript_include_tag('bootstrap-progressbar.min.js') %>
    <%= javascript_include_tag('jquery.flot.js') %>
    <%= javascript_include_tag('jquery.flot.pie.js') %>
    <%= javascript_include_tag('jquery.flot.time.js') %>
    <%= javascript_include_tag('jquery.flot.stack.js') %>
    <%= javascript_include_tag('jquery.flot.resize.js') %>
    <%= javascript_include_tag('jquery.flot.orderBars.js') %>
    <%= javascript_include_tag('jquery.flot.spline.min.js') %>
    <%= javascript_include_tag('curvedLines.js') %>
    <%= javascript_include_tag('date.js') %>
    <%= javascript_include_tag('moment.min.js') %>
    <%= javascript_include_tag('daterangepicker.js') %>
    <%= javascript_include_tag('custom.min.js') %>
    <%= javascript_include_tag('tableHeadFixer.js') %>
    

    <!-- This is used to display the custom alert that is come from the server side -->
    <script>
      var message = "<%=DashboardManager.getDisplayMessage()%>";
    
      if(message != ""){
        var mesData = message.split("|",2);
        if(mesData[1] == "true"){
          getSuccessAlert(mesData[0]);
        } else {
          getErrorAlert(mesData[0]); 
        }  
      }
    </script>
   
    <script>
      $(document).ready(function(){
        $("#fixTable").tableHeadFixer({'foot' : true, 'head' : true}); 
        $('.daterangepicker').daterangepicker();
      });
    </script>
    
    <script type="text/javascript">
      window.location.hash = "noback";//code for disabling back button IE, firefox
      window.location.hash = "noback_again";
      window.onhashchange = function(){ window.location.hash="noback"; }

      function preventBack(){window.history.forward();}//no back in Chrome
      setTimeout("preventBack()", 0);
      window.onunload=function(){null};
    </script>
  
  </body>
</html>