<!DOCTYPE html>

<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%=favicon_link_tag 'logod.png'%>
    <title><%=Constants::APP_TITLE%></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'bootstrap', 'font-awesome.min', 'style', 'custom.css','nprogress.css', 'sweetalert2.css', 'selectivity-full.css', 'wickedpicker.css', 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css',  media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-flash-1.5.4/datatables.min.css"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"/>



    



    <script src="http://www.google.com/jsapi"></script>
    <%= javascript_include_tag('jquery.min.js') %>
    <%= javascript_include_tag('sweetalert2.js') %>
    <%= javascript_include_tag('userCustom.js') %>
    <%= javascript_include_tag('selectivity-full.js') %>
    <%= javascript_include_tag('echarts.min.js') %>
  </head>

  <body class="nav-md">

    <div class="container body">
      <div class="main_container">

        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
           
            <div class="navbar nav_title" style="border: 0;">
              <a href="/Dashboard" class="site_title"><%= image_tag "logod.png"%><span><i style="border:0;">M-Shiriki</i></span></a>
            </div>
            <div class="clearfix"></div>

            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  
                  <li><a href="/Dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>

                  <% rolesCategory = Role.getUniqueRoleCategory(current_user.id.to_s) %>

                  <% if rolesCategory.present? %>
                             
                    <% rolesCategory.each do |roleCat| %>

                      <li>
                        <a><i class="<%=Role.getRoleCategoryIconClass(roleCat['role_type'])%>"></i> <%=roleCat['role_type']%> <span class="fa fa-chevron-down"></span></a>
                          
                        <ul class="nav child_menu">
                    
                          <% rolesList = Role.getCategoryRoles(roleCat['role_type']) %>
                          
                          <% rolesList.each do |role| %>

                            <% if role['controller'].present? %>
                              <% if role['role_sub_name'].present?%> <!-- This is used to set the status in the tag -->
                                <li><%=link_to role['role_name'], :controller => role['controller'], :action => role['action'], :status => role['role_sub_name']%></li>
                              <% else %>
                                <li><%=link_to role['role_name'], :controller => role['controller'], :action => role['action']%></li>
                              <% end%>  
                            <% else %>
                                <li><a href="/<%=role['route']%>"><%=role['role_name']%></a></li>
                            <% end %>  
                          <%end%>
                    
                        </ul>
                      </li>
                    
                    <%end%>  <!-- End of the loop -->

                  <% end %> <!-- End of the if statement -->

                  <li>
                    <a><i class="fa fa-globe"></i>  <span class="fa fa-chevron-down"></span>Internet</a>
                    <ul class="nav child_menu">
                      <li><a href="/internet/tariff_settings">tarrif settings</a></li>
                      <li><a href="/internet/free_internet_settings">free internet settings</a></li>
                      <li><a href="/internet/free_website">free websites</a></li>
                      <li><a href="/internet/bandwidth">bandwidth</a></li>
                      <li><a href="/internet/internet_bandwidth_stats">internet bandwidth statistics</a></li>
                      <li><a href="/internet/online_offline_stats">online/offline statistics</a></li>
                      <li><a href="/internet/tokens">token management</a></li>
                    </ul>
                  </li>

                  <li>
                    <a><i class="fa fa-laptop"></i>  <span class="fa fa-chevron-down"></span>Intranet</a>
                    <ul class="nav child_menu">
                      <li><a>Content Management System</a>
                        <ul class="nav child_menu">
                          <li><a href="/intranet/cms_content_uploader">Content Uploader</a></li>
                          <li><a href="/intranet/cms_surveys">Surveys</a></li>
                          <li><a href="/intranet/cms_categories">Categories</a></li>
                          <li><a href="/intranet/cms_client_feedback">Client Feedback</a></li>
                        </ul>
                      </li>
                      <li><a>Kiosk Management System </a>
                        <ul class="nav child_menu">
                          <li><a href="/intranet/kms_kiosk_list">Kiosk</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <a><i class="fa fa-mobile"></i>  <span class="fa fa-chevron-down"></span>Field Officers</a>
                    <ul class="nav child_menu">
                      <li><%= link_to "Officers",officers_path %></li>
                      <li><%= link_to "Maintenance Officers",maintenance_officers_path %></li>
                      <li><%= link_to "Regions",countries_path %></li>
                      <li><%= link_to "Scores",scores_path %></li>
                    </ul>
                  </li>

                  
                </ul>
              </div>
            </div>
          </div>
        </div>      
        
        <div class="top_nav">
          <div class="nav_menu">
            <nav>

              <div class="nav toggle"><a id="menu_toggle"><i class="fa fa-bars"></i></a></div>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <%= image_tag User.getLoggedinAdminImage(current_user) %>
                    <%= current_user.name%> <%= current_user.last_name%> <span class=" fa fa-angle-down" style="display: inline-block;"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><%= link_to "Profile",:controller => "users", :action => "edit", :id => current_user.id %></li>
                    <li><%= link_to "Change password", change_pin_path %></li> 
                    <li><%= link_to "Logout", :logout, method: :post %></li>
                  </ul>
                </li>
              </ul>

            </nav>
          </div>
        </div> 


        <%= yield %>
        
      </div>
    </div>
<%= render file: "/layouts/footer.html.erb"%>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-flash-1.5.4/datatables.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>


<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>













<script type="text/javascript">
    $('.officers').DataTable( {
        dom: 'Blfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
</script>

