<!DOCTYPE html>
<html>
  
  <head>

    <%= favicon_link_tag 'logod.png' %>
    <title><%=Constants::APP_TITLE%></title>
    
    <%= stylesheet_link_tag "application", 'bootstrap.css' , 'style.css' , 'sweetalert2.css' , :media => "all" %>
    <%= javascript_include_tag('application.js') %>
    <%= javascript_include_tag('jquery.min.js') %>
    <%= javascript_include_tag('sweetalert2.js') %>
    <%= javascript_include_tag('userCustom.js') %>
    
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <div class="flash">
        <% if !notice.nil? %>
          <p class="notice"><%= notice %></p>
        <% end %> 

        <% if !alert.nil? %>
           <div class="alert-group col-md-4 col-md-offset-4">
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong><%= alert %></strong> 
                  <strong><%= flash[:error] %></strong>
              </div>
           </div>
        <% end %> 
        <% if !error.nil? %>
         <div class="alert-group col-md-4 col-md-offset-4">
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <strong><%= flash[:error] %></strong>
              </div>
           </div>
        <% end %>   
    </div>
    
    <%= yield %>

     <script>
      var message = "<%=DashboardManager.getDisplayMessage()%>";
      if(message != ""){
        var mesData = message.split("|",2);
        if(mesData[1]== "true"){
          getSuccessAlert(mesData[0]);
        } else {
          getErrorAlert(mesData[0]); 
        }  
      }
    </script>

    <!-- This is used to disable the back button of the browser-->
    <script type="text/javascript">
      window.location.hash = "noback";//code for disabling back button IE, firefox
      window.location.hash = "noback_again";
      window.onhashchange = function(){ window.location.hash="noback"; }

      function preventBack(){window.history.forward();}//no back in Chrome
      setTimeout("preventBack()", 0);
      window.onunload=function(){null};
    </script>

  </body>
</html>
