<% 
  if params[:whichUser].eql? Constants::SINGLE_USER_RADIO_LABEL
    isSingleUser = Constants::BOOLEAN_TRUE_LABEL  
    phone = params[:user_phone]
    name = Utility.getAgentFullNameFromPhone(phone)
    title = name + " "+ phone +"  (" + " " + Date.parse(params[:from_date].to_s).strftime('%v') + " " +  "to" +" " + Date.parse(params[:to_date].to_s).strftime('%v') + " " +  ")" 
  elsif params[:whichUser].eql? Constants::ALL_USER_RADIO_LABEL
    isSingleUser = Constants::BOOLEAN_FALSE_LABEL
    title = Date.parse(params[:from_date].to_s).strftime('%v') + " " +  "to" +" " + Date.parse(params[:to_date].to_s).strftime('%v')
  else
    title = Constants::BLANK_VALUE
  end  

  if params[:from_date].present?
    if params[:from_date].to_s.include? "&amp;quot;"
      params[:from_date] = params[:from_date].to_s.remove('&amp;quot;')
      params[:from_date] = params[:from_date].tr('[]', '').split(',').map(&:to_s)
      params[:to_date]  = params[:to_date].to_s.remove("&amp;quot;")
      params[:to_date] = params[:to_date].tr('[]', '').split(',').map(&:to_s)
    end  
  else
    params[:from_date] = Date.today
    params[:to_date]  = Date.today
  end 

  unless params[:month].present?
    params[:month] = Date::MONTHNAMES[Date.today.month]
  end

  unless params[:year].present?
    params[:year] = Date.today.strftime("%Y")
  end 
%>

<style type="text/css">
  #taxReportFrom, #commissionPaymentReportForm, #penaltyReportForm, #profitAndLossReportForm {
    position: absolute;
    top: 11px;
    width: 80%;
    left: 179px;
  }
</style>

<div class="right_col" role="main">
  
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3><%=Constants::TXN_REPORT_ROLE%></h3></div>
      <div class="title_right"><h3 style="font-size: 16px; float: right"><%= title %></h3></div>
    </div>
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="display: inherit!important; padding: 0px!important; border: 0px!important;">
        <div class="x_content" style="padding: 0px!important;">

          <div class="search">

            <%= form_tag("/TransactionHistory", method: "post", class: "form-horizontal form-label-left", id: "TxnReportForm") do %>

              <div class="searchbox" style="width: 150px!important;">
                <label>Transaction Type</label>
                <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %> 
                  <%= select_tag "transactionType", options_for_select(Constants::TXN_REPORT_SELECT_OPT, params[:transactionType]),:class=>'form-control',:id=>'serviceSelected'%>
                <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>
                  <%= select_tag "transactionType", options_for_select(UgandaConstants::TXN_REPORT_SELECT_OPT, params[:transactionType]),:class=>'form-control',:id=>'serviceSelected'%>
                <% end %>  
              </div>

              <div id ="previousForm" style="display: inline-block;">
                
                <div class="searchbox">
                  <label>Operator</label>
                  <% if Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[1] %> 
                    <%= select_tag "operator", options_for_select(Constants::OPERATOR_LIST, params[:operator]),:class=>'form-control', :id => "operatorList" %>
                  <% elsif Properties::COUNTRY_NAME.eql? Constants::LOGIN_COUNTRY_LIST[2] %>
                    <%= select_tag "operator", options_for_select(UgandaConstants::OPERATOR_LIST, params[:operator]),:class=>'form-control', :id => "operatorList" %>
                  <% end %>   
                </div>

                <div class="searchbox">
                  <label>Select User</label>
                  <%= select_tag "whichUser", options_for_select(Constants::ANALYTIC_REPORTS_SEL_USER_TYPE_OPT, params[:whichUser]), :class=>'form-control', :id=>'txnReportUserType' %>
                </div>
                
                <div class="searchbox" id= "phoneDivTxnReport">
                  <label>Phone</label>
                  <%= text_field_tag :user_phone, params[:user_phone], :class =>'form-control number', :maxlength => 11, :placeholder => "Phone number" %>
                </div>

                <div class="searchbox" style="width: 80px!important;">
                  <label>From</label>
                  <%= date_field :from_date, params[:from_date2], :class=>'form-control', :value => params[:from_date], :required => true %>
                </div>

                <div class="searchbox" style="width: 80px!important;">
                  <label>To</label>
                  <%= date_field :to_date, params[:to_date2], :class=>'form-control', :value => params[:to_date], :required => true  %>
                </div>
      
                <div class="searchbox" style="width: 67px!important;">
                  <%= submit_tag "Show", class: 'btn btn-success btn-round', onclick: "return validateTxnReportForm()", style: "margin: 0px;"%>
                </div>

              </div> 

            <% end %>
          
            <div id="taxReportFrom" style="display: none;">
              <%= form_tag("/TaxDetails", method: "post", class: 'form-horizontal form-label-left') do %>

                <%= hidden_field_tag "transactionType", Constants::TAX_REPORT_LABEL%>
                
                <div class="searchbox">
                  <label>Month</label>  
                  <%= select_tag "month", options_for_select(Constants::MONTH_LIST, params[:month]),:class=>'form-control'%>
                </div>

                <div class="searchbox">
                  <label>Year</label>
                  <%= select_tag "year", options_for_select(TxnHeader.getYearsList, params[:year]),:class=>'form-control'%>
                </div>
      
                <div class="searchbox">
                  <%= submit_tag "Show", class: 'btn btn-success btn-round', style: "margin: 0px;" %>
                </div>
                
              <% end %>
            </div>

            <div id ="commissionPaymentReportForm" style="display: none;">
              <%= form_tag("/CommissionPaymentDetails", method: "post", class: "form-horizontal form-label-left") do %>

                <%= hidden_field_tag "transactionType", Constants::COMM_PAYMENT_REPORT_LABEL %>
                      
                <div class="searchbox">
                  <label>Month</label>  
                  <%= select_tag "month", options_for_select(Constants::MONTH_LIST, params[:month]),:class=>'form-control' %>
                </div>

                <div class="searchbox">
                  <label>Year</label>
                  <%= select_tag "year", options_for_select(TxnHeader.getYearsList, params[:year]),:class=>'form-control' %>
                </div>
      
                <div class="searchbox">
                  <%= submit_tag "Show", class: 'btn btn-success btn-round', style: "margin: 0px;" %>
                </div>

              <% end %>
            </div>
        
            <div id="penaltyReportForm" style="display: none;">
              <%= form_tag("/PenaltyDetails", method: "post", id:"pReportForm", class: 'form-horizontal form-label-left') do %>
                 
                <%= hidden_field_tag "transactionType", Constants::PENALTY_REPORT_LABEL%>   
                
                <div class="searchbox">
                  <label>From</label>
                  <%= date_field :from_date,params[:from_date2],:class=>'form-control', :required => true, :value => params[:from_date] %>
                </div>

                <div class="searchbox">
                  <label">To</label>
                   <%= date_field :to_date, params[:to_date2], :class=>'form-control', :required => true, :value => params[:to_date] %>
                </div>
      
                <div class="searchbox">
                  <%= submit_tag "Show", class: 'btn btn-success btn-round', :onclick => "return validateOtherForm('pReportForm')", style: "margin: 0px;" %>
                </div>

              <% end %>
            </div>
       
            <div id="profitAndLossReportForm" style="display: none;">
              <%= form_tag("/ProfitLoseDetails", method: "post", id:"pAndLReportForm", class: 'form-horizontal form-label-left') do %>
                    
                <%= hidden_field_tag "transactionType", Constants::PROFIT_AND_LOSS_REPORT_LABEL%> 

                <div class="searchbox">
                  <label>From</label>
                  <%= date_field :from_date, params[:from_date3], :class=>'form-control', :required => true, :value =>params[:from_date]%>
                </div>

                <div class="searchbox">
                  <label>To</label>
                  <%= date_field :to_date, params[:to_date3], :class=>'form-control', :required => true, :value => params[:to_date] %>
                </div>
      
                <div class="searchbox">
                  <%= submit_tag "Show", class: 'btn btn-success btn-round', :onclick => "return validateOtherForm('pAndLReportForm')", style: "margin: 0px;" %>
                </div>

              <% end %>
            </div> 

          </div>
          
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="" >
                <div class="x_title" style="padding: 0px!important;">
                  <div  class="table-responsive" id="parent2" style="margin-top: 15px;">
                      
                    <table id="fixTable" class="table">

                      <thead>
                        <tr>
                          <th class="text-left rowClass">#</th>
                          <th class="text-left rowClass">Transaction date</th>
                          <th class="text-left noBreak rowClass">Txn ID</th>
                          
                          <% if !isSingleUser or (params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL)%>
                            <th class="text-left noBreak rowClass">User Phone</th>
                            <th class="text-left rowClass">Name</th>
                          <% end %>

                          <th class="text-left rowClass">Service</th>
                          <th class="text-left noBreak rowClass">Client Phone</th>
                          
                          <% if !(params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL) %>
                            <th class="text-right noBreak rowClass">Total Amount</th>
                          <% else %>
                            <th class="text-right noBreak rowClass">Fee</th>
                          <% end %>  
                          
                          <% if isSingleUser and !(params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL) %>
                            <th class="text-left noBreak rowClass">Previous Balance</th>
                            <th class="text-left noBreak rowClass">Post Balance</th>
                          <% end %>

                          <% if !(params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL) %>
                            <th class="text-left rowClass">Description</th>
                          <% else %>  
                            <th class="text-right rowClass">Credit Amount</th>
                          <% end %>
                          <th class="text-center rowClass">Action</th>
                        </tr>
                      </thead>
                            
                      <tbody>
                        <% sNo = 0 %>
                        <% totalAmount = 0 %>

                        <% if @txnHistory.present? %>
                          <% @txnHistory.each do |txnHis| %>
                            <%
                              if !isSingleUser
                                if !(params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL)
                                  txnDate = Utility.getFormatedDateWithoutSec(txnHis["txn_date"].to_s)
                                  agent = Utility.getCurrentAgent(txnHis["agent_id"])
                                  subType = Utility.getTxnhisSubtypeDetails(txnHis)
                                  description = Utility.getTxnDescription(txnHis)
                                  colorValue = Utility.getColorValue(subType,description)
                                else
                                  txnDate = Utility.getFormatedDateWithTimeZone(txnHis["txn_date"].to_s)
                                  subType = Constants::CREDIT_FEE_VIEW_LABEL 
                                end  
                              else
                                txnDate = Utility.getFormatedDateWithTimeZone(txnHis["txn_date"].to_s)
                                if !(params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL)
                                  subType = Utility.getTxnhisSubtypeDetails(txnHis)
                                  description = txnHis["description"]
                                  colorValue = Utility.getColorValue(subType, description)
                                else
                                  subType = Constants::CREDIT_FEE_VIEW_LABEL
                                end  
                              end  
                              totalAmount = totalAmount.to_f + TxnHeader.my_money(txnHis["amount"]).to_f
                              sNo = sNo.to_i + 1
                            %>
                            <tr>
                              
                              <td class="text-left rowClass" style="width: 46px;"><%= sNo %></td>
                              <td class="text-left noBreak rowClass" style="width: 125px;"><%= txnDate %></td>
                              
                              <% if !(params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL) %>
                                <td class="text-left rowClass" style="width: 46px;"><%= txnHis["id"] %><input type="hidden" id="txnID<%=sNo%>" value="<%=txnHis["id"]%>"></td>
                              <% else %>
                                <td class="text-left rowClass" style="width: 46px;"></td>
                              <% end %>  

                              <% if !isSingleUser or (params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL) %>
                                <% if !(params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL) %>
                                  <td class="text-left rowClass" style="width: 77px;"><%= agent.phone %></td>
                                  <td class="text-left noBreak rowClass" style="width: 96px;"><%= User.getNameDisValue(agent) %></td>
                                <% else %>  
                                  <td class="text-left rowClass" style="width: 77px;"><%= txnHis["phone"] %></td>
                                  <td class="text-left noBreak rowClass" style="width: 96px;"><%= txnHis["name"] %> <%= txnHis["last_name"] %></td>
                                <% end %>
                              <% end %>  
                              
                              
                              <td class="text-left noBreak rowClass overflowClass" title="<%=subType%>" style="color:<%=colorValue%>; width: 220px;"><%= subType %></td>
                              
                              <% if !(params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL) %>  
                                <td class="text-left rowClass" style="width: 96px;"><%= txnHis["account_id"] %></td> 
                              <% else %>
                                <td class="text-left rowClass" style="width: 96px;"> </td> 
                              <% end %>  
                              
                              <td class="text-right rowClass" style="width: 96px;"><%= Utility.getFormatedAmount(txnHis["amount"]) %></td>

                              <% if isSingleUser && !(params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL) %>
                                <td class="text-right noBreak rowClass" style="width: 96px;"><%= Utility.getFormatedAmount(txnHis["previous_balance"]) %></td>
                                <td class="text-right noBreak rowClass" style="width: 96px;"><%= Utility.getFormatedAmount(txnHis["post_balance"]) %></td>
                              <% end %>  

                              <% if !(params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL) %>
                                <td class="text-rigth noBreak rowClass overflowClass" title="<%=description%>"><%= description %></td>
                                
                                <% if TxnHeader.isTxnRollbackEnable(txnHis) %>
                                  <td class="text-center rowClass" style="width: 46px;">
                                    <i onclick="initiateRollback('<%=sNo%>')" data-toggle="tooltip" data-placement="top" title="Initiate Rollback" class="fa fa-undo"></i>
                                  </td> 
                                <% else %>
                                  <td class="text-center rowClass" style="width: 46px;"></td>
                                <% end %>
                              <% else %>
                                <td class="text-right noBreak rowClass overflowClass" style="width: 100px;"><%= Utility.getFormatedAmount(txnHis["loan_amount"].to_f - txnHis["amount"].to_f) %></td>
                                 <td class="text-center rowClass" style="width: 46px;"></td>
                              <% end %>  

                            </tr>
                          <% end %>
                        <% end %>   
                      </tbody>

                      <tfoot style="position: relative; top: 20px;">
                        <tr>
                          <th>Total</th>
                          <th class="text-right"></th>
                          <th class="text-right"></th>
                          <th class="text-right"></th>
                          <th class="text-right"></th>
                          <% if isSingleUser && !(params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL) %>
                            <th class="text-right"><%= Utility.getFormatedAmount(totalAmount) %></th>
                          <% else %>
                            <th class="text-right"></th>
                          <% end %>  
                          <th class="text-right"></th>
                          <% if isSingleUser && !(params[:transactionType].eql? Constants::CREDIT_FEE_VIEW_LABEL) %>
                            <th class="text-right"></th>
                          <% else %>
                            <th class="text-right"><%= Utility.getFormatedAmount(totalAmount)%></th>
                          <% end %>  
                          <th class="text-right"></th>
                          <th class="text-right"></th>
                        </tr>
                      </tfoot>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
          

        </div>
      </div>
    </div>
  </div>

</div>

<%= javascript_include_tag('txnReport.js') %>

<script type="text/javascript">
  function initiateRollback(serialNo){
    var txnID = $("#txnID"+serialNo).val();
    var name = ["txnID", "transactionType", "operator", "whichUser", "user_phone", "from_date", "to_date"];
    var values = [txnID, "<%=params[:transactionType]%>", "<%=params[:operator]%>", "<%=params[:whichUser]%>", "<%=params[:user_phone]%>", "<%=params[:from_date]%>", "<%=params[:to_date]%>"];
    openWindowWithPost("/InitiatedTxnRollback", name,values);
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>