<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3><%=Constants::TXN_ROLLBACK_INITIATE_ROLE%></h3></div>
    </div> 
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <div class="x_panel">
        <div class="x_content"><br/>
            
            <form  action="/InitiatedTxnRollback" method="post" name="initiateTxnForm" id="initiateTxnForm" class="form-horizontal form-label-left">

              <div class="form-group text-center">
                <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 col-sm-offset-3">
                  <input type="text" name="txnID" required="required" maxlength="10" class="form-control number" placeholder="<%=Constants::TXN_REFERENCE_LABEL%>">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <input type="submit" onclick="return validateInitiateForm()" id="searchBtn" value="<%=Constants::SEARCH_BTN_LABEL%>" class="btn btn-round btn-success pull-left">
                </div>
              </div>

            </form>

        </div>
      </div>

      <%if @txnDetails.present? %>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    
                  <%= form_tag("/InitiatedTxnRollbackConfirm", method: "post", id: 'initiatedTxnForm', class: 'form-horizontal form-label-left') do %>

                    <input type="hidden" name="txnID" value="<%=@txnDetails['id']%>">
                    <input type="hidden" name="txnAmount" value="<%=@txnDetails['amount']%>">
                    <input type="hidden" name="agentID" value="<%=@txnDetails['agent_id']%>">
                    <input type="hidden" name="serviceType" value="<%=@txnDetails['service_type']%>">
                    <input type="hidden" name="transactionType" value="<%=params[:transactionType]%>">
                    <input type="hidden" name="operator" value="<%=params[:operator]%>">
                    <input type="hidden" name="whichUser" value="<%=params[:whichUser]%>">
                    <input type="hidden" name="user_phone" value="<%=params[:user_phone]%>">
                    <input type="hidden" name="from_date" value="<%=params[:from_date]%>">
                    <input type="hidden" name="to_date" value="<%=params[:to_date]%>">
                      
                    <table class="table">
                      <thead>
                        <tr>
                          <th colspan=2 style="color : #fff; background-color: rgb(26, 187, 156); position: relative; top: 0px; font-size: 15px;">Transaction Detail</th>
                        </tr>
                      </thead>
                              
                      <tbody>
                        <tr><td>Transaction ID</td><td><%=@txnDetails['id']%></td></tr>
                        <tr><td>Transaction date</td><td><%=Utility.getFormatedDate(@txnDetails['txn_date'])%></td></tr>
                        <tr><td>MF Full Name</td><td><%=@txnDetails['name']%> <%=@txnDetails['last_name']%></td></tr>
                        <tr><td>MF Phone</td><td><%=@txnDetails['phone']%></td></tr>
                        <tr><td>MF TIN Number</td><td><%=@txnDetails['tin_no']%></td></tr>
                        <tr><td>Transaction Type</td><td><%=Utility.getServiceTypeDisplayValue(@txnDetails['service_type'])%></td></tr>
                        <tr><td>Transaction Sub Type</td><td><%=Utility.getServiceTypeDisplayValue(@txnDetails['sub_type'])%></td></tr>
                        <tr><td>Amount</td><td><%=TxnHeader.my_money(@txnDetails['amount'])%></td></tr>
                        <tr><td>Remarks</td><td><input type="text" name="description" style="width: 100%;" required="required"></td></tr>
                        <tr><td></td><td></td></tr>
                      </tbody>
                    </table>

                    <div class="col-md-12 text-center">
                      <%= submit_tag Constants::INITIATE_BTN_LABEL, :onclick => "return validate();", :id => "submitBtn", class: 'btn btn-success btn-round' %>
                      <button onclick="return backToReport()" class="btn btn-default btn-round">Back</button>
                    </div> 
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      <%end %>

    </div>
  </div>
</div>

<script type="text/javascript">
	function validateInitiateForm(){
		if(!formValidation('initiateTxnForm')) return false;
	}

  function validate(){
    if(!formValidation('initiatedTxnForm')){
      return false;
    } else {
      return true;
    }
  }

  function pageValueLoad(){
    var formObj = document.initiateTxnForm;
    var txnID = "<%=params[:txnID]%>";
    if(txnID!=""){
      formObj.txnID.value = txnID;
    }
  }
  pageValueLoad();

  function backToReport(){
    var name = ["transactionType", "operator", "whichUser", "user_phone", "from_date", "to_date"];
    var values = ["<%=params[:transactionType]%>", "<%=params[:operator]%>", "<%=params[:whichUser]%>", "<%=params[:user_phone]%>", "<%=params[:from_date]%>", "<%=params[:to_date]%>"];
    openWindowWithPost("/TransactionHistory", name,values);
    return false;
  }
</script>

<footer>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
</footer>